@(title: String, maybeUser: Option[model.User], scripts: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>it4all: @title</title>

            <!-- JQuery, Bootstrap (CSS und JS) -->
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/dist/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/octicons/build/font/octicons.css")">

        <script src="@routes.Assets.versioned("lib/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.versioned("lib/popper.js/umd/popper.js")"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/dist/js/bootstrap.js")"></script>

        @scripts
    </head>

    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center mb-3">
            <a class="navbar-brand" href="@routes.FrontendController.index">it4all<sup>BETA</sup></a>


            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="@routes.FrontendController.index()">Aufgabenbereiche</a>
                </li>
            </ul>

            <span class="navbar-text"><strong>@title</strong></span>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.uni-wuerzburg.de/sonstiges/impressum/">
                        Impressum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://www.uni-wuerzburg.de/sonstiges/datenschutz/">
                        Datenschutz</a>
                </li>

                @maybeUser match {
                    case Some(user) => {

                        @if(user.isAdmin) {
                            <li class="nav-item">
                                <a class="nav-link" href="@routes.AdminController.index()">
                                    <span class="octicon octicon-gist-secret"></span>
                                    Administrator
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" href="@routes.LoginController.logout">
                                <span class="octicon octicon-sign-out"></span>
                                Logout <code>@user.username</code>
                            </a>
                        </li>
                    }

                    case None => {
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.LoginController.loginForm">
                                <span class="octicon octicon-sign-in"></span>
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@routes.LoginController.register">
                                <span class="octicon octicon-person"></span>
                                Registrieren
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>

        @content

    </body>
</html>
