@(user: model.User, question: model.questions.CompleteQuestion, answer: model.questions.UserAnswer)

@main("Freitextfrage: Antwort", user) {
    <div class="container">
        <div class="page-header">
            <h1>@question.text</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <pre>@answer.text</pre>
            </div>

            <div class="col-md-6">
            @for(ans <- question.answers) {
                <p>@ans.text</p>
            }
            </div>
        </div>

        <hr>

        <div class="alert alert-info">
            Ihre Antwort wurde gespeichert und wird von einem Administrator bewertet werden. Sie k&ouml;nnen
            nun <a class="alert-link" href="@controllers.exCollections.routes.QuestionController.index()">
            weitere Fragen</a> beantworten.</div>

    </div>
}