@(user: model.User, id: Int)

@main("Neue Freitextfrage erstellen", user) {
    <div class="container">
        <div class="page-header">
            <h1>Neue Freitextfrage erstellen</h1>
        </div>

        <form class="form-horizontal" method="post" action="@controllers.questions.routes.QuestionController.newQuestion(true)">

            @views.html.admin.exStdFields.render(user, null, 3)

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Frage erstellen</button>
                </div>
            </div>
        </form>
    </div>
}