@(user: model.User, quiz: model.questions.Quiz, question: model.questions.CompleteQuestion, oldAnswer: model.questions.UserAnswer)

@main("Frage", user) {
    <div class="container">
        <div class="page-header">
            <h1>@question.text</h1>
        </div>

        <form class="form-horizontal" method="post" action="@controllers.exCollections.routes.QuestionController.correct(question.id, question.id)">


            <div id="answerDiv">
                @question.ex.questionType match {
                    case model.questions.QuestionEnums.QuestionType.CHOICE => {
                        @for(ans <- question.answersForTemplate) {
                            <div>
                                <label for="@ans.id">
                                    <input type="checkbox" id="@ans.id" name="@ans.id"> @ans.text
                                </label>
                            </div>
                        }
                    }
                    case model.questions.QuestionEnums.QuestionType.FILLOUT => {
                        @for(ans <- question.answersForTemplate) {
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input id="@ans.id" name="@ans.id" class="form-control" placeholder="Antwort...">
                                </div>
                            </div>
                        }
                    }
                    case model.questions.QuestionEnums.QuestionType.FREETEXT => {
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="answer" rows="20"
                                placeholder="Freitextantwort..." required>@if(oldAnswer != null) {@oldAnswer.text}</textarea>
                            </div>
                        </div>
                    }
                }
                <hr>

                <input class="btn btn-block btn-primary" type="submit" value="Kontrollieren">
            </div>
        </form>
    </div>
}