@(user: model.User, quiz: model.questions.Quiz, questionId: Int)

    @question = @{
        null
    }
    @*quiz.questions.get(questionId)*@
    @*

    @isMultiple = @{
    question.questionType == model.questions.QuestionType.MULTIPLE
    }
    *@
    @main("Auswahlfragen", user) {
        <script src="@routes.Assets.versioned("javascripts/choicequestions.js")"></script>

        <div class="container">
            <div class="page-header">
                <h1>Quiz &quot;@quiz.title&quot;</h1>
            </div>

            <ul class="pagination pagination-sm">
                @*@for(i <- 0 until quiz.questions.size()) {
                <li @if(i == questionId) {
                    class="active"}><a href="@controllers.exes.routes.QuestionController.quizQuestion(quiz.id, i + 1)">@{
                    i + 1
                }</a>
                </li>
            }
            </ul>

            <h2>@question.text</h2>

            <form class="form-horizontal" method="post" action="@controllers.exes.routes.QuestionController.quizCorrection(quiz.id, question.id)">
                <div id="answerDiv">
                @for(ans <- question.answersForTemplate()) {
                    <div class="@question.questionType.divClass()">
                        <label for="@ans.key.id">

                            <input type="@question.questionType.inputType()" name="@if(isMultiple) {@ans.key.id} else {ans}" id="@ans.id"
                            @if(!isMultiple) {required}
                            value="@ans.id">@ans.text </input>
                        </label>
                    </div>
                }
                </div>

                <hr>

                <p>Bewertung:
                    @for(i <- 1 until 6) {
                        <button type="button" class="btn btn-default" onclick="setStars(@i);">
                            <span id="star@i" class="glyphicon glyphicon-star-empty"></span>
                        </button>
                    }
                    <input type="number" hidden name="stars" id="stars" value="-1">
                </p>

                <hr>

                <input class="btn btn-block btn-primary" type="submit" value="Kontrollieren">
                <ul class="pager">
                    @if(question.id - 1 > 0) {
                        <li class="previous"><a href="@controllers.exes.routes.QuestionController.quizQuestion(quiz.id, question.id - 1)">
                            Vorherige Aufgabe</a></li>
                    }
                    @if(question.id < quiz.questions.size()) {
                        <li class="next"><a href="@controllers.exes.routes.QuestionController.quizQuestion(quiz.id, question.id + 1)">
                            N&auml;chste Aufgabe</a></li>
                    }
                    *@
                </ul>
            </form>
        </div>
    }