<div class="container is-fluid">

  <div class="columns">
    <div class="column is-half-desktop">
      <it4all-exercise-files-editor [exerciseFileFragments]="exerciseFiles" [mode]="'python'"></it4all-exercise-files-editor>
    </div>

    <div class="column is-half-desktop">

      <it4all-tabs>
        <it4all-tab [title]="'Aufgabenstellung'">
          <div class="notification is-light-grey" [innerHTML]="exerciseFragment.text"></div>

          <hr>

          <div class="columns">
            <div class="column">
              <button class="button is-link is-fullwidth" [class.is-loading]="isCorrecting" (click)="correct()">
                Korrektur
              </button>
            </div>
            <div class="column">
              <a routerLink="../.." class="button is-dark is-fullwidth">Bearbeiten beenden</a>
            </div>
          </div>
        </it4all-tab>

        <it4all-tab [title]="correctionTabTitle">
          <div class="notification danger" *ngIf="isCorrecting">
            Die Korrektur läuft gerade...
          </div>

          <div class="overflowHiddenDiv" *ngIf="resultQuery && correctionResult">

            <it4all-solution-saved [solutionSaved]="correctionResult.solutionSaved"></it4all-solution-saved>

            <br>

            <!-- TODO: points nofitication programming! -->
            <!--            <it4all-points-notification [result]="result"></it4all-points-notification>-->

            <div class="columns is-multiline" *ngIf="simplifiedResults && simplifiedResults.length > 0">
              <div class="column is-half-desktop" *ngFor="let simplifiedResult of simplifiedResults">
                <it4all-programming-simplified-result [result]="simplifiedResult">
                </it4all-programming-simplified-result>
              </div>
            </div>

            <div class="content" *ngIf="unitTestResults && unitTestResults.length > 0">
              <ul *ngFor="let unitTestResult of unitTestResults">
                <it4all-programming-unit-test-result [unitTestResult]="unitTestResult">
                </it4all-programming-unit-test-result>
              </ul>
            </div>

            <it4all-programming-normal-result *ngIf="normalResult" [normalResult]="normalResult">
            </it4all-programming-normal-result>
          </div>
        </it4all-tab>

        <it4all-tab [title]="sampleSolutionsTabTitle">
          <div class="buttons">
            <button class="button is-primary is-fullwidth" (click)="toggleSampleSolutions()">
              Musterlösung {{ displaySampleSolutions ? 'ausblenden' : 'anzeigen'}}
            </button>
          </div>

          <div class="overflowHiddenDiv" *ngIf="displaySampleSolutions">
            <!-- TODO: tabs for multiple sample solutions? -->

            <div *ngFor="let sampleSolutionFiles of sampleSolutionFilesList; let last = last">
              <ng-container *ngFor="let sampleSolFile of sampleSolutionFiles">
                <it4all-exercise-file-card [exerciseFile]="sampleSolFile"></it4all-exercise-file-card>

                <br *ngIf="!last">
              </ng-container>
            </div>

          </div>
        </it4all-tab>
      </it4all-tabs>

    </div>
  </div>

</div>
