<div class="container is-fluid">

  <div class="columns">
    <div class="column is-half-desktop">
      <it4all-exercise-files-editor
        [exerciseFiles]="exerciseFiles"
        [mode]="'python'">
      </it4all-exercise-files-editor>
    </div>

    <div class="column is-half-desktop">

      <it4all-tabs>
        <it4all-tab [title]="'Aufgabenstellung'">
          <div class="notification is-light-grey" [innerHTML]="exercise?.text"></div>

          <hr>

          <div class="columns">
            <div class="column">
              <button class="button is-link is-fullwidth" [class.is-loading]="isCorrecting" (click)="correct()">
                Korrektur
              </button>
            </div>
            <div class="column">
              <a routerLink="../.." class="button is-dark is-fullwidth">Bearbeiten beenden</a>
            </div>
          </div>
        </it4all-tab>

        <it4all-tab [title]="correctionTabTitle">
          <div class="notification danger" *ngIf="isCorrecting">
            Die Korrektur läuft gerade...
          </div>

          <div class="overflowHiddenDiv" *ngIf="result">

            <it4all-solution-saved [saved]="result.solutionSaved"></it4all-solution-saved>

            <br>

            <!-- TODO: points nofitication programming! -->
            <!--            <it4all-points-notification [result]="result"></it4all-points-notification>-->

            <div class="columns is-multiline" *ngIf="result.simplifiedResults">
              <div class="column is-half-desktop" *ngFor="let simplifiedResult of result.simplifiedResults">
                <it4all-programming-simplified-result [result]="simplifiedResult">
                </it4all-programming-simplified-result>
              </div>
            </div>

            <div class="content" *ngIf="result.unitTestResults">
              <ul *ngFor="let unitTestResult of result.unitTestResults">
                <li>
                  <p [class.has-text-danger]="!unitTestResult.successful"
                     [class.has-text-success]="unitTestResult.successful">
                    Der {{unitTestResult.testConfig.id}}. Test war
                    <ng-container *ngIf="!unitTestResult.successful">nicht</ng-container>
                    erfolgreich.
                  </p>
                  <p *ngIf="!unitTestResult.successful">{{unitTestResult.testConfig.description}}</p>
                </li>
              </ul>
            </div>

            <div class="notification" *ngIf="result.normalResult"
                 [class.is-success]="result.normalResult.success === 'COMPLETE'"
                 [class.is-danger]="result.normalResult.success !== 'COMPLETE'">
              <pre>{{result.normalResult.logs}}</pre>
            </div>

          </div>
        </it4all-tab>

        <it4all-tab [title]="sampleSolutionsTabTitle">
          <div class="buttons">
            <button class="button is-primary is-fullwidth" (click)="toggleSampleSolutions()">
              Musterlösung {{ displaySampleSolutions ? 'ausblenden' : 'anzeigen'}}
            </button>
          </div>

          <div class="overflowHiddenDiv" *ngIf="displaySampleSolutions">
            <!-- TODO: tabs for multiple sample solutions? -->

            <div *ngFor="let sampleSolutionFiles of sampleSolutionFilesList; let last = last">
              <ng-container *ngFor="let sampleSolFile of sampleSolutionFiles">
                <it4all-exercise-file-card [exerciseFile]="sampleSolFile"></it4all-exercise-file-card>

                <br *ngIf="!last">
              </ng-container>
            </div>

          </div>
        </it4all-tab>
      </it4all-tabs>

    </div>
  </div>

</div>
