@import model.tools.bool.{CreationQuestion, BoolToolMain, BoolConsts, BoolExParts}

@(user: model.User, question: CreationQuestion, toolMain: BoolToolMain)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@variables = @{
    question.variables.toSeq :+ BoolConsts.SolVariable
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/bool/boolCreation.js")');</script>
}

@title = @{
    "Erstellen einer Booleschen Funktion"
}

@correctionUrl = @{
    coll.routes.RandomExerciseController.correctLive(toolMain.urlPart, BoolExParts.FormulaCreation.urlName)
}

@main(title, Some(user), scripts) {

    @core.helperTemplates.modal("Bearbeitunginformationen", "infoModal", "lg") {
        @views.html.toolViews.bool.boolCreateInfo.render()
    }


    <div class="container">

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            @for(variable <- variables) {
                                <th class="text-center">@variable</th>
                            }
                            <th class="text-center" id="learnerFormula">@BoolConsts.SolVariable&#39;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="valueTableBody">
                    @for(assignment <- question.solutions) {
                        <tr>
                            @for(variable <- variables) {
                                <td class="text-center" data-variable="@variable" data-value="@assignment(variable)">@assignment.asChar(variable)</td>
                            }
                        <td class="text-center" id="@assignment.identifier">--</td>
                        <td class="text-center correctnessHook">&nbsp;</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3"></div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-1" for="@BoolConsts.solutionName">@BoolConsts.SolVariable = </label>
            <div class="col-sm-11">
                <input class="form-control" name="@BoolConsts.solutionName" id="@BoolConsts.solutionName" placeholder="Ihre Lösung"
                autocomplete="off" required>
            </div>
        </div>

        @helper.CSRF.formField

        <div class="btn-group d-flex">
            <button class="btn btn-info w-100" data-toggle="modal" data-target="#infoModal">
                <span class="octicon octicon-info"></span>
            </button>

            <button data-href="@correctionUrl" class="btn btn-primary w-100" id="testBtn">Prüfen</button>

            <button class="btn btn-success w-100" id="sampleSolBtn">Zeige Musterlösung</button>

            <a href="@coll.routes.RandomExerciseController.newExercise(toolMain.urlPart, BoolExParts.FormulaCreation.urlName)"
            class="btn btn-secondary w-100">Nächste Aufgabe</a>
        </div>

        <div id="messageDiv"></div>

    </div>
}
