@(user: model.User, result: model.nary.NAryConvResult)

@title = @{
    "Zahlenumwandlung"
}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/snippets/followLinkOnEnter.js")"></script>
}

@main(title, user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>@title von @result.startingBase.systemName nach @result.targetBase.systemName</h1>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="form-group">
                    <div class="input-group">
                        <input title="" value="@result.startingValue" readonly class="form-control text-right" name="value">
                        <span class="input-group-addon"><sub>@result.startingBase.base</sub></span>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">--></span>
                        <input title="" readonly class="form-control text-right" value="@result.learnerSolution">
                        <span class="input-group-addon"><sub>@result.targetBase.base</sub></span>
                    </div>
                </div>

                <a href="@controllers.exes.routes.NaryController.newNaryConversionQuestion" id="theLink"
                class="btn btn-primary btn-block">N&auml;chste Aufgabe</a>

            </div>
        </div>

        <hr>

        @if(result.checkSolution) {
            <div class="alert alert-success text-center">
                <span class="glyphicon glyphicon-ok"></span> Ihre L&ouml;sung ist richtig.</div>
        } else {
            <div class="alert alert-danger text-center">
                <p><span class="glyphicon glyphicon-remove"></span> Ihre L&ouml;sung ist leider falsch.</p>
                <p>Die richtige Antwort lautet
                    <span class="number">@result.targetNumber.toString <sub>@result.targetBase.base</sub>.</span>
                </p>
            </div>
        }
    </div>
}


