@import model.nary.{NAryNumber, NAryResult, NumberBase}

@(user: model.User, startingNumber: NAryNumber, toNB: NumberBase)

@title = @{
    "Zahlenumwandlung"
}

@scripts = {
    <style>
            textarea {
                resize: none;
            }
    </style>
}

@main(title, user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>@title vom @startingNumber.base.systemName in das @toNB.systemName</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <p><em class="text-info">
                    Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.</em></p>

                <form role="form" action="@controllers.exes.routes.NaryController.checkNaryConversionSolution" method="post">

                    <div class="form-group">
                        <div class="input-group">
                            <input value="@startingNumber" title="Vorgegebene Zahl" readonly class="form-control text-right" name="@NAryResult.VALUE_NAME">
                            <span class="input-group-addon">@startingNumber.base.dispBase</span>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">--></span>
                            <input pattern="@toNB.htmlPattern" autocomplete="off" autofocus class="form-control text-right" name="@NAryResult.LEARNER_SOL" placeholder="Ihre L&ouml;sung" required>
                            <span class="input-group-addon">@toNB.dispBase</span>
                        </div>
                    </div>

                    <input hidden title="hidden" name="@NAryResult.STARTING_NB" value="@startingNumber.base">
                    <input hidden title="hidden" name="@NAryResult.TARGET_NB" value="@toNB">

                    <button class="btn btn-primary btn-block">Pr&uuml;fen</button>
                </form>

            </div>
        </div>

        <hr>

        <h3>Platz f&uuml;r Notizen</h3>

        <em class="text-info">Notizen werden f&uuml;r die Korrektur nicht beachtet.</em>

        <textarea title="Platz f&uuml;r Notizen" placeholder="Platz f&uuml;r Notizen" class="form-control" rows="10"></textarea>

    </div>
}
