@import model.nary.{NAryResult, NumberBase, NAryNumber}

@(user: model.User, startingNumber: NAryNumber, verbose: Boolean)

@title = @{
    "Zweierkomplement"
}

@scripts = {
    <style>
            textarea {
                resize: none;
            }
    </style>
}

@main(title, user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>@title von @startingNumber</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <p><em class="text-info">Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.</em></p>

                <form role="form" action="@controllers.exes.routes.NaryController.checkTwoComplementSolution(verbose)" method="post">

                    <div class="form-group">
                        <div class="input-group">
                            <input value="@startingNumber" title="Vorgegebene Zahl" readonly class="form-control text-right" name="@NAryResult.VALUE_NAME">
                            <span class="input-group-addon">@startingNumber.base.dispBase</span>
                        </div>
                    </div>

                    <hr>

                    @if(verbose) {
                        <fieldset>
                            <legend>Bin&auml;rdarstellung von @Math.abs(startingNumber.decimalValue)</legend>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">--></span>
                                    <input pattern="@NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                    class="form-control text-right" name="@NAryResult.BINARY_ABS" placeholder="Ihre L&ouml;sung" required>
                                    <span class="input-group-addon"><sub>2</sub></span>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Invertierung aller Bits</legend>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">--></span>
                                    <input pattern="@NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                    class="form-control text-right" name="@NAryResult.INVERTED_ABS" placeholder="Ihre L&ouml;sung" required>
                                    <span class="input-group-addon"><sub>2</sub></span>
                                </div>
                            </div>
                        </fieldset>
                    }

                    <fieldset>
                        <legend>Zweierkomplement</legend>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">--></span>
                                <input pattern="@NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                class="form-control text-right" name="@model.core.StringConsts.FORM_VALUE" placeholder="Ihre L&ouml;sung" required>
                                <span class="input-group-addon"><sub>2</sub></span>
                            </div>
                        </div>
                    </fieldset>

                    <button class="btn btn-primary btn-block">Pr&uuml;fen</button>
                </form>

            </div>
        </div>

        <hr>

        <h3>Platz f&uuml;r Notizen</h3>

        <em class="text-info">Notizen werden f&uuml;r die Korrektur nicht beachtet.</em>

        <textarea title="Platz f&uuml;r Notizen" placeholder="Platz f&uuml;r Notizen" class="form-control" rows="10"></textarea>

    </div>
}
