@import model.{User, CompleteExInColl}
@import model.toolMains.{CollectionToolMain, ToolList}

@(user: User, collectionId: Int, completeExercises: Seq[CompleteExInColl],
        toolMainObject: CollectionToolMain, toolList: ToolList)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/admin/collExAdmin.js")');</script>
}

@admin.adminMain("Aufgabenübersicht", user, toolList, Some(toolMainObject), scripts) {

    <a href="@routes.MainExerciseController.adminIndex(toolMainObject.urlPart)" class="btn btn-primary btn-block">
        Zurück zur Administratorseite</a>

    <input hidden id="toolType" value="@toolMainObject.urlPart" title="hidden">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Aktionen</th>
                <th>Titel</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
        @for(exercise <- completeExercises) {
            <tr id="tr1_@exercise.id">
                <td>@exercise.id</td>
                <td>
                    <div class="input-group">
                        <select title="Status ändern" name="state_@exercise.id" class="form-control" id="state_@exercise.id" data-val="@exercise.state" data-id="@exercise.id">
                        @for(exState <- model.ExerciseState.values) {
                            <option @{
                                if(exState == exercise.state) "selected" else ""
                            }>@exState </option>
                        }
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="scb_@exercise.id" disabled data-id="@exercise.id"
                            data-url="@coll.routes.CollectionController.adminChangeExerciseState(toolMainObject.urlPart, collectionId, exercise.id)">
                                <span class="octicon octicon-cloud-upload"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td>
                    <a class="btn btn-secondary" title="Aufgabe @exercise.id bearbeiten" id="edit_@exercise.id"
                    href="@coll.routes.CollectionController.editExerciseForm(toolMainObject.urlPart, collectionId, exercise.id)">
                        <span class="octicon octicon-pencil"></span>
                    </a>
                    <button class="btn btn-danger" title="Aufgabe @exercise.id löschen" id="del_@exercise.id"
                    data-url="@coll.routes.CollectionController.adminDeleteExercise(toolMainObject.urlPart, collectionId, exercise.id)">
                        <span class="octicon octicon-x"></span>
                    </button>
                </td>
                <td>@exercise.title</td>
                <td>@exercise.author</td>
            </tr>
        }
        </tbody>
    </table>

}