@(user: model.User, collWrappers: Seq[model.CompleteCollection], toolObject: model.toolMains.CollectionToolMain)

@scripts = {
    @* Javascript Routes *@
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

    <script src="@routes.Assets.versioned("javascripts/admin/collExAdmin.js")"></script>
}

@main("Aufgabenübersicht", Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Verfügbare @toolObject.collectionPluralName</h1>
        </div>

        <a href="@routes.MainExerciseController.adminIndex(toolObject.urlPart)" class="btn btn-primary btn-block">
            Zurück zur Administratorseite</a>

        <hr>

        <div id="messages"></div>

        <input hidden id="toolType" value="@toolObject.urlPart" title="hidden">

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Aktionen</th>
                    <th>Titel</th>
                    <th>Autor</th>
                    <th>Aufgaben</th>
                </tr>
            </thead>
            <tbody>
            @for(collection <- collWrappers.map(_.coll)) {
                <tr id="tr1_@collection.id">
                    <td>@collection.id</td>
                    <td>
                        <div class="input-group">
                            <select onchange="updateStateChangeButton(@collection.id)" name="state_@collection.id" class="form-control" id="state_@collection.id"
                            title="Status der Aufgabe" data-val="@collection.state">
                            @for(exState <- model.ExerciseState.values) {
                                <option @{
                                    if(exState == collection.state) "selected" else ""
                                }>@exState </option>
                            }
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="scb_@collection.id" onclick="changeState(@collection.id)" disabled>
                                    <span class="glyphicon glyphicon-upload"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-default" title="Aufgabe @collection.id bearbeiten" id="edit_@collection.id"
                        href="@routes.CollectionController.adminEditCollectionForm(toolObject.urlPart, collection.id)"><span class="glyphicon glyphicon-wrench"></span>
                        </a>
                        <button class="btn btn-default" title="Aufgabe @collection.id löschen" id="del_@collection.id" onclick="deleteCollection(@collection.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>@collection.title</td>
                    <td>@collection.author</td>
                    <td>
                        <a href="@routes.CollectionController.adminExercisesInCollection(toolObject.urlPart, collection.id)"
                        class="btn btn-primary btn-block">Zu den Aufgaben</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}