@(user: model.User, toolMainObject: model.toolMains.CollectionToolMain, collWrapper: model.CompleteCollectionWrapper, isCreation: Boolean, renderedRest: Html)

@main(s"${toolMainObject.toolname}: Aufgabe ${if(isCreation) "erstellen" else "bearbeiten"}", Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@if(isCreation) {Erstellen} else {Bearbeiten} eines @toolMainObject.collectionSingularName</h1>
        </div>

        <form class="form" method="post" role="form" action="@routes.CollectionController.adminEditCollection(toolMainObject.urlPart, collWrapper.coll.coll.id)">

            <fieldset>
                <legend>Standardangaben</legend>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="@model.core.CoreConsts.idName">ID:</label>
                        <input type="number" class="form-control from-control-static" name="@model.core.CoreConsts.idName"
                        id="@model.core.CoreConsts.idName" required value="@collWrapper.coll.coll.id">
                    </div>
                    <div class="col-sm-6">
                        <label for="@model.core.CoreConsts.authorName">Autor:</label>
                        <input class="form-control" name="@model.core.CoreConsts.authorName" id="@model.core.CoreConsts.authorName" required
                        value="@collWrapper.coll.coll.author" title="Dieser Wert kann nicht geändert werden." readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="@model.core.CoreConsts.titleName">Titel:</label>
                        <input class="form-control" name="@model.core.CoreConsts.titleName" id="@model.core.CoreConsts.titleName" required
                        value="@collWrapper.coll.coll.title">
                    </div>
                    <div class="col-sm-6">
                        <label for="@model.core.CoreConsts.stateName">Status:</label>
                        <div >
                            <select class="form-control" name="@model.core.CoreConsts.stateName" id="@model.core.CoreConsts.stateName" required>
                            @for(state <- model.Enums.ExerciseState.values) {
                                <option @state.isSelected(collWrapper.coll.coll.state)>@state </option>
                            }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="@model.core.CoreConsts.textName">Text:</label>
                    <textarea class="form-control" rows="5" name="@model.core.CoreConsts.textName" id="@model.core.CoreConsts.textName" required>@collWrapper.coll.coll.text</textarea>
                </div>

            </fieldset>

            @renderedRest

            <hr>

            <button class="btn btn-primary btn-block">Aufgabe bearbeiten</button>
        </form>

    </div>
}

