@(user: model.User, readAndSaveResult: model.core.ReadAndSaveResult[_ <: model.CompleteCollection],
        toolMainObject: model.toolMains.CollectionToolMain, toolList: model.toolMains.ToolList)


@collWrappers = @{
    // FIXME: remove cast ...
    readAndSaveResult.successes.map(_.ex)
}

@title = @{
    "Import: " + toolMainObject.collectionSingularName
}

@admin.adminMain(title, user, toolList, Some(toolMainObject)) {
    @for(collWrapper <- collWrappers) {
        <h2>@toolMainObject.collectionSingularName: &quot;@collWrapper.coll.title&quot;</h2>

        <div class="row">
            <div class="col-sm-2"><b>ID</b>: @collWrapper.coll.id</div>
            <div class="col-sm-4"><b>Autor</b>: @collWrapper.coll.author</div>
            <div class="col-sm-2"><b># Aufgaben</b>: @collWrapper.exercises.size</div>
            <div class="col-sm-4"><b>Status</b>: @collWrapper.coll.state</div>
        </div>

        <div class="row">
            <div class="col-sm-2"><b>Text:</b></div>
            <div class="col-sm-10">@collWrapper.coll.text</div>
        </div>

        @collWrapper.renderRest

        @for(exerciseTuple <- collWrapper.exercises.grouped(2)) {
            <hr>
            <div class="row">
            @for(exercise <- exerciseTuple) {
                <div class="col-sm-6">
                    <h3>@exercise.ex.title</h3>

                    @exercise.preview

                </div>
            }

            </div>
        }

    }
}
