@import model.{User, ExerciseCollection, Exercise}
@import model.toolMains.{ToolList, CollectionToolMain}

@(user: User, readAndSaveResult: model.core.ReadAndSaveResult[(_ <: ExerciseCollection, Seq[_ <: Exercise])],
        toolMainObject: model.toolMains.CollectionToolMain, toolList: model.toolMains.ToolList)


@title = @{
    "Import: " + toolMainObject.collectionSingularName
}

@admin.adminMain(title, user, toolList, Some(toolMainObject)) {
    @for((exerciseCollection, exercises) <- readAndSaveResult.successes.map(_.ex)) {
        <h2>@toolMainObject.collectionSingularName: &quot;@exerciseCollection.title&quot;</h2>

        <div class="row">
            <div class="col-sm-2"><b>ID</b>: @exerciseCollection.id</div>
            <div class="col-sm-4"><b>Autor</b>: @exerciseCollection.author</div>
            <div class="col-sm-2"><b># Aufgaben</b>: @exercises.size</div>
            <div class="col-sm-4"><b>Status</b>: @exerciseCollection.state</div>
        </div>

        <div class="row">
            <div class="col-sm-2"><b>Text:</b></div>
            <div class="col-sm-10">@exerciseCollection.text</div>
        </div>

        @* FIXME: exerciseCollection.renderRest *@

        @for(exerciseTuple <- exercises.grouped(2)) {
            <hr>
            <div class="row">
            @for(exercise <- exerciseTuple) {
                <div class="col-sm-6">
                    <h3 class="text-center">@exercise.title</h3>

                    @exercise.preview

                </div>
            }

            </div>
        }

    }
}
