@import model.{User, ExerciseCollection}
@import model.toolMains.{ToolList, CollectionToolMain}
@import model.core.ReadAndSaveResult

@(user: User, readCollections: ReadAndSaveResult[_ <: ExerciseCollection], toolMain: CollectionToolMain, toolList: ToolList)

@title = @{
    s"Eingelesene Sammlungen Tool '${toolMain.toolname}'"
}

@admin.adminMain(title, user, toolList, Some(toolMain)) {

    @for(readCollection <- readCollections.successes) {
        <div class="card mb-3">
            <div class="card-header">@{
                readCollection.ex.id
            }. @readCollection.ex.title</div>
            <div class="card-body">

                <p>@readCollection</p>

            </div>
        </div>
    }

}
