@import model.core.ReadAndSaveResult
@import model.toolMains.{CollectionToolMain, ToolList}
@import model.{ExerciseCollection, User}

@(user: User, readCollections: ReadAndSaveResult[_ <: ExerciseCollection], toolMain: CollectionToolMain, toolList: ToolList)

@title = @{
    s"Eingelesene Sammlungen Tool '${toolMain.toolname}'"
}

@admin.adminMain(title, user, toolList, Some(toolMain)) {

    @for(readCollection <- readCollections.successes) {
        <div class="card mb-3">
            <div class="card-header">@{
                s"${readCollection.ex.id}. ${readCollection.ex.title}"
            }</div>
            <div class="card-body">
                <p>Titel: @readCollection.ex.title</p>
                <p>Beschreibung: @readCollection.ex.text</p>
            </div>
        </div>
    }

}
