@import model.{User, Exercise, ExerciseCollection}
@import model.toolMains.{ToolList, CollectionToolMain}
@import model.core.ReadAndSaveResult

@(user: User, collection: ExerciseCollection, readAndSaveResults: ReadAndSaveResult[_ <: Exercise], toolMain: CollectionToolMain, toolList: ToolList,
        exerciseRestPreview: Exercise => Html)

@title = @{
    s"Eingelesene Aufgaben für Sammlung '${collection.title}' im Tool '${toolMain.toolname}'"
}


@admin.adminMain(title, user, toolList, Some(toolMain)) {

    <div class="mb-3">
        <a href="@coll.routes.CollectionAdminController.adminCollection(toolMain.urlPart, collection.id)"
        class="btn btn-primary btn-block">Zurück zur Sammlung</a>
    </div>

    <hr>

    @for(readExerciseSuccess <- readAndSaveResults.successes; readExercise = readExerciseSuccess.read; saved = readExerciseSuccess.saved) {
        <div class="card">
            <div class="card-header @if(saved) {text-success} else {text-danger}">@{
                s"${readExercise.id}. ${readExercise.title}"
            }</div>
            <div class="card-body">
                <div class="row my-3">
                    <div class="col-md-3">Autor:</div>
                    <div class="col-md-9">@readExercise.author</div>
                </div>
                <div class="row my-3">
                    <div class="col-md-3">Text:</div>
                    <div class="col-md-9">@readExercise.text</div>
                </div>
                <div class="row my-3">
                    <div class="col-md-3">Status:</div>
                    <div class="col-md-9">@readExercise.state</div>
                </div>

                @exerciseRestPreview(readExercise)
            </div>
        </div>
    }

}
