@import model.core.ReadAndSaveResult
@import model.toolMains.{CollectionToolMain, ToolList}
@import model.{ExerciseCollection, User}

@(user: User, readCollections: ReadAndSaveResult[_ <: ExerciseCollection], toolMain: CollectionToolMain, toolList: ToolList)

@title = @{
    s"Eingelesene Sammlungen Tool '${toolMain.toolname}'"
}

@readResultsPerRow = @{
    2
}

@admin.adminMain(title, user, toolList, Some(toolMain)) {

    @for(readCollectionGroup <- readCollections.successes.grouped(readResultsPerRow)) {
        <div class="row mb-3">
        @for(readCollectionResult <- readCollectionGroup; readCollection = readCollectionResult.ex; collectionSaved = readCollectionResult.saved) {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header @if(collectionSaved) {text-success} else {text-danger}">@{
                        s"${readCollection.id}. ${readCollection.title}"
                    }</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">Autor:</div>
                            <div class="col-md-8">@readCollection.author</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Beschreibung:</div>
                            <div class="col-md-8">@readCollection.text</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Kurzname:</div>
                            <div class="col-md-8"><code>@readCollection.shortName</code></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Gespeichert:</div>
                            <div class="col-md-8"><code>@collectionSaved</code></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    }

    <hr>

    <a href="@coll.routes.CollectionAdminController.adminIndex(toolMain.urlPart)"
    class="btn btn-primary btn-block">Zurück zur Adminstratorseite</a>

}
