@import model.programming.{ProgCompleteEx, ProgLanguage, ProgToolMain}

@(user: model.User, completeEx: ProgCompleteEx, language: ProgLanguage, definitionRest: String, toolObject: ProgToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/umlActivity/activity.css")">

    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            // Parameters for Task
            const EXERCISE_PARAMETERS = {
                methodDisplay: '@Html(language.activityDiagramDisplay(completeEx))',
                methodDeclaration: '@Html(language.activityDiagramDeclaration(completeEx))',
                methodName: '@completeEx.functionName',
                methodParameters: '@Html( model.programming.ProgLanguages.StandardLanguage.buildParams(completeEx))',
                output: {
                    outputType: '@completeEx.outputType.typeName',
                    output: 'solution',
                    defaultValue: '@Html(completeEx.outputType.defaultValue( model.programming.ProgLanguages.StandardLanguage))'
                }
            };

            SystemJS.import('@routes.Assets.versioned("app/uml/umlActivity/umlActivityDrawing.js")');
            SystemJS.import('@routes.Assets.versioned("app/programming/progClassDiagram.js")');
            SystemJS.import('@routes.Assets.versioned("app/uml/umlActivity/converter.js")').then((x) => {
                $('#newGenerationButton').on('click', () => x.newGenerate(EXERCISE_PARAMETERS));
            });
            SystemJS.import('@routes.Assets.versioned("app/uml/umlActivity/activityCorrection.js")');
    </script>

}

@main("Uml Aktivitätsdiagramm", Some(user), scripts) {

    @core.helperTemplates.modal("Bedienungsanleitung", "instructionsModal", "lg") {
        @views.html.idExercises.umlActivity.activityInstructions.render()
    }

    @core.helperTemplates.modal("TODO", "definitionRest", "lg") {
        <div class="card bg-light">
            <div class="card-body">
                <pre>@definitionRest</pre>
            </div>
        </div>
    }

    @completeEx.maybeClassDiagramPart match {
        case None => {}
        case Some(classDiagPart@_) => {
            @core.helperTemplates.modal("Klassendiagramm", "classDiagramModal", "lg") {
                <div id="classdiagram" data-url="@exes.routes.ExerciseController.progClassDiagram(completeEx.id)"></div>
            }
        }
    }

    <input title="hidden" hidden id="defaultSolution" value="@Html(completeEx.outputType.defaultValue(model.programming.ProgLanguages.StandardLanguage))">

    <div class="container-fluid" id="fullsc">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" id="buttonsDiv">
                    <button class="btn btn-info" data-toggle="modal" data-target="#instructionsModal">
                        Bearbeitungshinweise
                    </button>

                    <a class="btn btn-outline-secondary" data-elemname="elementActionInput">@*Einfacher *@Aktion</a>
                    @*<button name="elementActionSelect">Auswahlaktionsknoten</button>*@
                    @*<button name="elementActionSelect">Deklarationsaktionsknoten</button>*@

                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" data-elemname="elementFor" id="loopButton">Schleifen</button>

                        <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>

                        <div class="dropdown-menu">
                            @*<a class="dropdown-item" data-elemname="elementFor">For-Each (Ext)</a>*@
                            @*<a class="dropdown-item" data-elemname="uml.ForLoopEmbed">For-Each (Emb)</a>*@
                            <a class="dropdown-item" data-elemname="uml.ForLoopText">For-Each (Text)</a>

                            @*<a class="dropdown-item" data-elemname="elementWhileDo">While-Do (Ext)</a>*@
                            <a class="dropdown-item" data-elemname="uml.WhileLoopText">While-Do (Text)</a>

                            @*<a class="dropdown-item" data-elemname="elementDoWhile">Do-While</a>*@
                        </div>
                    </div>

                    <a class="btn btn-outline-secondary" data-elemname="uml.IfElseText">If-Else</a>

                    @*<a class="btn btn-outline-secondary" data-elemname="elementEdit">*@
                    @*Bearbeitungsknoten</a>*@

                    @*<a class="btn btn-outline-secondary" data-elemname="uml.Edit">*@
                    @*Bearbeitungsknoten 2</a>*@

                    @*<button class="btn btn-outline-secondary" onclick="toggleFullscreen()">*@
                    @*Toggle Fullscreen <span class="glyphicon glyphicon-resize-full" id="fullscBtnSpan"></span>*@
                    @*</button>*@
                </div>

                <div id="leftblock">
                    <div id="umlActivityPaper"></div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="card">
                    <div class="card-body text-justify">@Html(completeEx.text)</div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="btn-group d-flex">
                        <button class="btn btn-info w-100" data-toggle="modal" data-target="#definitionRest">
                            Rest der Definition</button>
                        @completeEx.maybeClassDiagramPart match {
                            case None => {}
                            case Some(classDiagPart@_) => {
                                <button class="btn btn-info w-100" data-toggle="modal" data-target="#classDiagramModal">Klassendiagramm</button>
                            }
                        }
                    </div>
                </div>


                <div class="card card-default">
                    <div class="card-header text-center">
                        <a data-toggle="collapse" href="#configSection">Ansicht &amp; Zeichenfläche</a>
                    </div>

                    <div id="configSection" class="card-collapse collapse">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="text-center">Ansicht</h4>

                                    <button class="btn btn-outline-secondary btn-block" id="otop">
                                        <span class="octicon octicon-arrow-up"></span>
                                    </button>

                                    <div class="btn-group d-flex">
                                        <button class="btn btn-outline-secondary w-100" id="oleft">
                                            <span class="octicon octicon-arrow-left"></span>
                                        </button>

                                        <button class="btn btn-secondary w-100" id="viewreset">Reset</button>

                                        <button class="btn btn-outline-secondary w-100" id="oright">
                                            <span class="octicon octicon-arrow-right"></span>
                                        </button>
                                    </div>

                                    <button class="btn btn-outline-secondary btn-block" id="obot">
                                        <span class="octicon octicon-arrow-down"></span>
                                    </button>

                                </div>

                                <div class="col-sm-6">
                                    <h4 class="text-center">Zeichenfläche</h4>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <button class="form-control" id="paperminus">-</button>
                                            <span class="input-group-text">Größe</span>
                                            <button class="form-control" id="paperplus">+</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <button class="form-control" id="zoomminus">-</button>
                                            <span class="input-group-text">Zoom</span>
                                            <button class="form-control" id="zoomplus">+</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">

                    @helper.CSRF.formField

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <select class="form-control" id="langSelect" onchange="changeProgLanguage()" title="test">
                                @for(lang <- model.programming.ProgLanguages.values) {
                                    <option value="@lang.entryName" @{
                                        if(lang == model.programming.ProgLanguages.StandardLanguage) "selected" else ""
                                    }>@lang.languageName</option>
                                }
                                </select>
                                <div class="input-group-append">
                                    <button id="newGenerationButton" class="btn btn-info">-Code generieren</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button id="testBtn" title="Generieren Sie zuerst den Code!" disabled class="btn btn-success btn-block">
                                Aufgabe verifizieren</button>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary btn-block" href="@routes.MainExerciseController.index(toolObject.urlPart)">
                                Bearbeitung beenden</a>
                        </div>
                    </div>

                </div>

                <div class="card card-default" id="actionInputEditSection" hidden>
                    <div class="card-header">
                        <span class="text-center">Aktionsknoten bearbeiten</span>
                    </div>

                    <div class="card-body">
                        <textarea id="actionInputEditor" title="Editor..."></textarea>
                    </div>

                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button class="btn btn-danger w-100" id="actionInputResetBtn">Zurücksetzen</button>
                            <button class="btn btn-primary w-100" id="actionInputButton" data-cellId="--">
                                Änderungen annehmen</button>
                        </div>
                    </div>
                </div>

                <div class="card card-default" id="forLoopEditSection" hidden>
                    <div class="card-header text-center">For-Schleife bearbeiten</div>

                    <div class="card-body">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">for</span>
                                </div>
                                <input class="form-control" id="forLoopVariableInput" placeholder="Name der Iterationsvariable">
                                <span class="input-group-text">in</span>
                                <input class="form-control" id="forLoopCollectionInput" placeholder="Element der Iteration">
                                <div class="input-group-append">
                                    <span class="input-group-text">do:</span>
                                </div>
                            </div>
                        </div>

                        <textarea id="forLoopTextEditor" title="Editor..."></textarea>
                    </div>

                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button id="forLoopTextResetBtn" class="btn btn-danger w-100">Zurücksetzen</button>
                            <button id="forLoopTextSubmitBtn" class="btn btn-primary w-100" data-cellId="--">
                                Änderungen annehmen</button>
                        </div>
                    </div>
                </div>

                <div class="card card-default" id="whileTextEditSection" hidden>
                    <div class="card-header text-center">While-Schleife bearbeiten</div>

                    <div class="card-body">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">while</span>
                                </div>
                                <input class="form-control" id="whileTextConditionInput" placeholder="Bedingung der Iteration">
                                <div class="input-group-append">
                                    <span class="input-group-text">do:</span>
                                </div>
                            </div>
                        </div>

                        <textarea id="whileLoopTextEditor" title="Editor..."></textarea>
                    </div>

                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button id="whileTextResetBtn" class="btn btn-danger w-100">Zurücksetzen</button>
                            <button id="whileTextSubmitBtn" class="btn btn-primary w-100" data-cellId="--">
                                Änderungen annehmen</button>
                        </div>
                    </div>
                </div>

                <div class="card card-default" id="ifElseTextEditSection" hidden>
                    <div class="card-header text-center">Schleife bearbeiten</div>

                    <div class="card-body">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">if</span>
                                </div>
                                <input class="form-control" id="ifElseTextConditionInput" placeholder="Bedingung">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <span><b>then:</b></span>
                                <textarea id="ifTextEditor" title="Editor..."></textarea>
                            </div>
                            <div class="col-sm-6">
                                <span class="text-center"><b>else:</b></span>
                                <textarea id="elseTextEditor" title="Editor..."></textarea>
                            </div>
                        </div>


                    </div>

                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button id="ifElseTextResetBtn" class="btn btn-danger w-100">Zurücksetzen</button>
                            <button id="ifElseTextSubmitBtn" class="btn btn-primary w-100" data-cellId="--">
                                Änderungen annehmen</button>
                        </div>
                    </div>
                </div>


                <div id="generationAlerts"></div>

                <section id="generatedCodeSection" hidden>
                    <h2>Generierter Code</h2>

                    <div id="generationMsgSection"></div>

                    <div class="card bg-light">
                        <div class="card-body">
                            <pre id="preCode" hidden></pre>
                        </div>
                    </div>

                    <input hidden id="toolType" value="@toolObject.urlPart" title="hidden">
                    <input hidden type="number" id="exerciseId" value="@completeEx.id" title="hidden">
                    <input hidden id="exercisePart" value="@model.programming.ProgExParts.ActivityDiagram.urlName" title="hidden">

                    <hr>
                </section>

                <section id="correctionSection" hidden>
                    <h2>Korrektur</h2>
                    <div id="correction"></div>
                </section>

            </div>
        </div>
    </div>

}
