@(user: model.User, toolMain: model.bool.BoolToolMain, learningPaths: Seq[model.learningPath.LearningPath])

@main("Zahlensysteme", Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>Boolesche Algebra</h1>
        </div>

        @if(learningPaths.nonEmpty) {
            <section>
                <h2>Lernpfade</h2>

                @for(learningPath <- learningPaths) {
                    <a href="@routes.MainExerciseController.learningPath(toolMain.urlPart, learningPath.id)"
                    class="btn btn-primary btn-block">Lernpfad: @learningPath.title</a>
                }
            </section>

            <hr>
        }

        <section>
            <h2>Übungsaufgaben</h2>

                <!-- Fill out truth tabels -->
            <div class="form-group">
                <a href="@routes.RandomExerciseController.newExercise(toolMain.urlPart, model.bool.TableFillout.urlName)"
                class="btn btn-primary btn-block">Wahrheitstabellen ausfüllen</a>
            </div>

                <!-- Creation of a bool formula -->
            <div class="form-group">
                <a href="@routes.RandomExerciseController.newExercise(toolMain.urlPart, model.bool.FormulaCreation.urlName)"
                class="btn btn-primary btn-block">Erstellen einer Booleschen Formel</a>
            </div>
        </section>

        <hr>

        <div class="form-group">
            <a class="btn btn-primary btn-block" href="@routes.MainExerciseController.evaluate(toolMain.urlPart)">
                Dieses Tool evaluieren</a>
        </div>

    </div>
}
