@(user: model.User)

@scriptsBefore = {
    <!-- Important: Order of Scripts -->
    @*<script src="@routes.Assets.versioned("lib/lodash/lodash.js")"></script>*@
    @*<script src="@routes.Assets.versioned("lib/backbonejs/backbone.js")"></script>*@
    @*<script src="@routes.Assets.versioned("lib/jointjs/dist/joint.js")"></script>*@
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            SystemJS.import('@routes.Assets.versioned("app/bool/boolDrawing.js")');
    </script>
    @* @core.helperTemplates.fullScreenScripts.render() *@

    @*<script src="@routes.Assets.versioned("javascripts/bool/boolDrawing.js")"></script>*@
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bool/boolDrawing.css")">

    <noscript>
        <p>
            JavaScript ist deaktiviert oder steht nicht zur Verfügung. Um die Anwendung nutzen zu können, müssen
            Sie JavaScript zulassen.
        </p>
    </noscript>
}

@main("Boolesche Algebra: Gatter", Some(user), scripts, scriptsBefore) {
    <div class="container-fluid" id="fullsc">

        <div class="row">
            <div class="col-md-8" id="leftblock">

                <div class="form-group" id="creationButtonsDiv">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementAND">AND</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementOR">OR</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementNOT">NOT</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementNAND">NAND</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementXOR">XOR</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementXNOR">XNOR</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default" name="elementNOR">NOR</button>
                        </div>
                    </div>
                </div>

                <div id="paper"></div>
            </div>

            <div class="col-md-4">

                <h2>Boolesche Gatter </h2>
                <p>Diese Applikation erm&ouml;glicht das Zeichnen von booleschen Formeln als Gatterstrukturen.</p>

                <hr>

                <h4>Zeichenfl&auml;che</h4>

                <div class="form-group">
                    <button type="button" class="btn btn-default btn-block" onclick="toggleFullscreen()">
                        Toggle Fullscreen <span class="glyphicon glyphicon-resize-full" id="fullscBtnSpan"></span></button>
                </div>

                <hr>

                <h3>Ergebnis</h3>

                <div class="form-group">
                    <button class="btn btn-block btn-primary" id="generateFormula">Formel generieren</button>
                </div>

                <div id="preCode"></div>
            </div>
        </div>
    </div>
}