@(user: model.User, question: model.bool.CreationQuestion, toolMain: model.bool.BoolToolMain)

@variables = @{
    question.variables ++ Option(model.bool.BoolConsts.SolVariable)
}

@varSize = @{
    12 / 3
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            SystemJS.import('@routes.Assets.versioned("app/bool/boolCreation.js")');
    </script>
}

@title = @{
    "Erstellen einer Booleschen Funktion"
}

@main(title, Some(user), scripts) {

    @core.helperTemplates.modal("Bearbeitunginformationen", "infoModal", "lg") {
        @views.html.randomExercises.bool.boolCreateInfo.render()
    }


    <div class="container">

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <table class="table">
                    <thead>
                        <tr>
                            @for(variable <- variables) {
                                <th class="text-center">@variable</th>
                            }
                            <th class="text-center" id="learnerFormula">@model.bool.BoolConsts.SolVariable &#39;</th>
                        </tr>
                    </thead>
                    <tbody id="valueTableBody">
                    @for(assignment <- question.solutions) {
                        <tr>
                            @for(variable <- variables) {
                                <td class="text-center" data-variable="@variable" data-value="@assignment(variable)">@assignment.asChar(variable)</td>
                            }
                        <td class="text-center" id="@assignment.identifier">--</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="col-sm-3"></div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-1" for="@model.bool.BoolConsts.LearnerSol">
                @model.bool.BoolConsts.SolVariable = </label>
            <div class="col-sm-11">
                <input class="form-control" name="@model.bool.BoolConsts.LearnerSol" id="@model.bool.BoolConsts.LearnerSol" placeholder="Ihre Lösung"
                autocomplete="off" required>
            </div>
        </div>

        <div class="btn-group d-flex">
            <button class="btn btn-info w-100" data-toggle="modal" data-target="#infoModal">
                <span class="octicon octicon-info"></span>
            </button>

            <button data-url="@routes.RandomExerciseController.correctLive(toolMain.urlPart,
                model.bool.BoolExParts.FormulaCreation.urlName)"
            class="btn btn-primary w-100" id="testBtn">Prüfen</button>

            <button class="btn btn-success w-100" id="sampleSolBtn">Zeige Musterlösung</button>

            <a href="@routes.RandomExerciseController.newExercise(toolMain.urlPart,
                model.bool.BoolExParts.FormulaCreation.urlName)" class="btn btn-secondary  w-100">
                Nächste Aufgabe</a>
        </div>

        <div id="messageDiv"></div>

    </div>
}
