@(user: model.user.User, questions: List[model.Question])

@main("Auswahlfragen", user) {
<div class="container">
  @for(question <- questions) {
  <div class="panel panel-default">
    <div class="panel-heading">Aufgabe @question.id</div>
    <div class="panel-body">
      <p>Aufgabentext: @question.text</p>
      <p>Typ: @question.questionType</p>
      <table class="table">
        <thead>
          <tr>
            <th>QuestionId</th>
            <th>ID</th>
            <th>Korrekt</th>
            <th>Text</th>
          </tr>
        </thead>
        <tbody>
        @for(ans <- question.answers) {
          <tr>
            <td>@ans.key.questionId</td>
            <td>@ans.key.id</td>
            <td>@ans.correctness</td>
            <td>@ans.text</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  }
</div>
}