@(user: model.user.User, quizzes: List[model.Quiz])

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Quiz&uuml;bersicht</h1>
  </div>
  
  @if(quizzes.isEmpty()) {
  <div class="alert alert-info">Bisher gibt es keine Quizze. Sie k&ouml;nnen
    <a class="alert-link" href="@controllers.choice.routes.QuestionAdmin.newQuizForm()">hier</a> eines erstellen.</div>
  } else {
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Autor</th>
        <th>Titel</th>
        <th>Text</th>
        <th># Antworten</th>
        <th>&Oslash; Bewertungen</th>
        <th>Quizzes</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    @for(quiz <- quizzes) {
      <tr>
        <td>@quiz.id</td>
        <td>@quiz.title</td>
        <td>@quiz.text</td>
        <td>@quiz.questions.size()</td>
        <td>@@if(quiz.getAverageRating().isPresent()) {@@quiz.getAverageRating().getAsDouble()} else {--}</td>
      </tr>
    }    
    </tbody>
  </table>
  }
</div>
}