@(results: List[model.result.ElementResult])

@for(result <- results.asInstanceOf[List[model.result.JsWebTestResult]]) {
<div class="panel panel-@result.getBSClass()">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#col@result.getTask().key.taskId">Test @result.getTask().key.taskId</a>
    </h4>
  </div>
    
  <div id="col@result.getTask().key.taskId" class="panel-collapse collapse @if(result.getSuccess() != model.exercise.Success.COMPLETE) {in}">
    <div class="panel-body">
      
    @for(conResult <- result.preconditionResults) {
    <div class="alert alert-@conResult.getBSClass()">
      <p>Vorbedingung konnte @if(conResult.getSuccess() != model.exercise.Success.COMPLETE) {nicht} verifiziert werden.</p>
      <p>@conResult.condition.getDescription()</p>
      @if(conResult.getSuccess() != model.exercise.Success.COMPLETE) {
      <p>Element hatte aber folgenden Wert: @conResult.gottenValue</p>
      }
    </div>
    }
    
    <div class="alert alert-@if(result.actionPerformed) {success} else {danger}">
      Aktion konnte @if(!result.actionPerformed) {nicht} erfolgreich ausgeführt werden.
    </div>
    
    @for(conResult <- result.postconditionResults) {
    <div class="alert alert-@conResult.getBSClass()">
      <p>Vorbedingung konnte @if(conResult.getSuccess() != model.exercise.Success.COMPLETE) {nicht} verifiziert werden.</p>
      <p>@conResult.condition.getDescription()</p>
      @if(conResult.getSuccess() != model.exercise.Success.COMPLETE) {
      <p>Element hatte aber folgenden Wert: @conResult.gottenValue</p>
      }
    </div>
    }
    
    
    </div>
  </div>
</div>
}