@(user: model.user.User)

@main("Web-Playground", user) {        
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Editor</div>
        <div class="panel-body">
          @editor(controllers.web.Web.STANDARD_HTML_PLAYGROUND, "html", 40, 50, true)
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Vorschau</div>
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="about:blank" id="preview"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
