@(user: model.user.User, exercises: List[model.WebExercise])

@main("Web: Aufgaben", user) {
<div class="container">
  <div class="page-header">
    <h1>Verf&uuml;gbare Aufgaben</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Aufgabe</th>
        <th>Überschrift</th>
        <th>HTML-Teil</th>
        <th>JS-Teil</th>
      </tr>
    </thead>
    <tbody>
    @for(exercise <- exercises) {
      <tr>
        <td>@exercise.getId</td>
        <td>@exercise.getTitle</td>
        <td>@if(exercise.getHtmlTasks.size() > 0) {
          <a href="@web.routes.WebController.exercise(exercise.getId, controllers.web.WebController.HTML_TYPE)"
          class="btn btn-primary btn-block">Html-Teil</a>}
        </td>
        <td>@if(exercise.getJsTasks.size() > 0) {
          <a href="@web.routes.WebController.exercise(exercise.getId, controllers.web.WebController.JS_TYPE)"
          class="btn btn-primary btn-block">Js-Teil</a>}
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
}