@(user: model.user.User, exercise: model.WebExercise, exType: String, oldSolution: String, title: String)

@main(title, user) {
<div class="container-fluid">
  <form method="post" onsubmit="prepareFormForSubmitting();"
  @if("html".equals(exType)) {
	action="@web.routes.Web.correctWeb(exercise.id)"
  } else {
    action="@web.routes.Web.correctJs(exercise.id)"
  }>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        
        <h2>Aufgabenstellung</h2>
        
        <hr>

        <p>@exercise.text</p>
        @if(exType.equals("html")) {
        <p>@exercise.htmlText</p>
        } else {
        <p>@Html(exercise.jsText)</p>
        }
        
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" class="btn btn-primary"
            @if("html".equals(exType)) {
              onclick="testTheSolution('@web.routes.Web.correctWebLive(exercise.id)')"
            } else {
              onclick="testTheSolution('@web.routes.Web.correctJsLive(exercise.id)')"
            }>L&ouml;sung testen</button>
          </div>
          <div class="btn-group">
            <input type="submit" class="btn btn-success" value="L&ouml;sung abgeben">
          </div>
        </div>
      
        <hr>
      
        <div id="correction">
        @if("html".equals(exType)) {
      	 @for(task <- exercise.htmlTasks) {
          <div class="panel panel-default"><div class="panel-body">@{task.key.taskId}. @task.text</div></div>
          }
        } else {
      	  @for(task <- exercise.jsTasks) {
          <div class="panel panel-default"><div class="panel-body">@{task.key.taskId}. @task.text</div></div>
          }
        }
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6">
        @editor(oldSolution, "html", 25, 45, true)
      </div>
      
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">Live-Vorschau</div>
          <div class="panel-body">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="about:blank" id="preview"></iframe>
            </div>
          </div>
          <div class="panel-footer">
            <div class="alert alert-info">Die Vorschau wird bei &Auml;nderungen in der L&ouml;sung automatisch aktualisiert.</div>
          </div>
        </div>
      </div>
      
    </div>
  </form>

</div>
}