@(user: model.user.User, exercises: List[model.html.WebExercise])

@main("SQL", user) {
<div class="container">
  <div class="page-header">
    <h1>Erstellte Aufgaben:</h1>
  </div>
  @for(ex <- exercises) {
  <div class="panel panel-default">
    <div class="panel-heading">Aufgabe @ex.getId: @ex.title</div>
    <div class="panel-body">
      <p>@ex.getText</p>
      <h2>HTML-Tasks</h2>
      @for(task <- ex.htmlTasks) {
      <p>@task.getId(): @task.getDescription</p>
      }
      <h2>CSS-Tasks</h2>
      @for(task <- ex.cssTasks) {
      <p>@task.getId(): @task.getDescription</p>
      }
    </div>
  </div>
  }
</div>
}
