<div class="container">

  <ng-container *ngIf="lessonQuery; else loadingDataBlock">

    <h1 class="title is-3 has-text-centered">Lektion: {{lessonQuery.me.tool.lesson.title}}</h1>

    <ng-container *ngFor="let content of contents">

      <ng-container *ngIf="content.priorSolved">

        <it4all-lesson-text-content
          *ngIf="asLessonTextContentFragment(content.contentFragment)"
          [content]="content.contentFragment">
        </it4all-lesson-text-content>

        <it4all-lesson-questions-content
          *ngIf="asMultipleChoiceQuestionContentFragment(content.contentFragment)"
          [content]="content.contentFragment">
        </it4all-lesson-questions-content>

      </ng-container>

      <br>

    </ng-container>

  </ng-container>

  <div class="buttons">
    <button class="button is-link is-fullwidth" (click)="update()">Nächster Inhalt</button>
  </div>

</div>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>
