@(user: model.User, questionList: List[model.questions.Question], quizzes: List[model.questions.Quiz])

@main("Auswahlfragen", user) {
    <script>
            function update(input) {
                var otherInput = document.getElementById(input.id + "_hidden");
                otherInput.checked = !input.checked;
            }
    </script>
    <div class="container">
        <div class="page-header">
            <h1>Zuweisung der Fragen</h1>
        </div>

        <form action="@controllers.questions.routes.QuestionAdmin.assignQuestions()" method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Fragen-ID u. Text / Quiz</th>
                        @for(quiz <- quizzes) {
                            <th>@quiz.title</th>
                        }
                    </tr>
                </thead>
                <tbody>
                @for(question <- questionList) {
                    <tr>
                        <th title="@question.text">@{
                            question.id
                        }.
                            @question.title</th>
                        @for(quiz <- quizzes) {
                            <td>
                                <input type="checkbox" onchange="update(this);"
                                @@if(quiz.questions.contains(question)) {checked}
                                name="@{
                                    quiz.id
                                }_@question.id" id="@{
                                    quiz.id
                                }_@{
                                    question.id
                                }" value="on">
                                <input type="checkbox" hidden
                                @@if(!quiz.questions.contains(question)) {checked}
                                name="@{
                                    quiz.id
                                }_@question.id" id="@{
                                    quiz.id
                                }_@{
                                    question.id
                                }_hidden" value="off">
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>

            <hr>

            <button class="btn btn-primary btn-block">Zuweisen</button>
        </form>

    </div>
}