<div class="container">
  <h1 class="title is-3 has-text-centered">Administration Tool {{tool.name}}</h1>

  <div class="buttons">
    <a href="" class="button is-primary is-fullwidth" routerLink="../index">Zurück zur Administrationsstartseite</a>
  </div>

  <h2 class="subtitle is-3">Vorhandene Sammlungen: {{collectionCount}}</h2>

  <div class="buttons">
    <a routerLink="collections" class="button is-link is-fullwidth">Zur Administration der Sammlungen</a>
  </div>

  <h2 class="subtitle is-3">Vorhandene Lektionen: {{lessonCount}}</h2>

  <div class="buttons">
    <a routerLink="lessons" class="button is-link is-fullwidth">Zur Administration der Lektionen</a>
  </div>

</div>
