<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-quarter-desktop">
      <h2 class="subtitle is-4 has-text-centered">Aufgabentext</h2>

      <div class="notification is-light-grey">
        {{exerciseFragment.text}}
      </div>

      <div class="columns">
        <div class="column">
          <button class="button is-link is-fullwidth" (click)="correct()" [disabled]="corrected">Korrektur</button>
        </div>
        <div class="column">
          <a class="button is-dark is-fullwidth" routerLink="../..">Bearbeiten beenden</a>
        </div>
      </div>

    </div>
    <div class="column">

      <div class="columns is-multiline">
        <div class="column is-one-third-desktop" *ngFor="let clazz of data">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{clazz.name}}</p>
            </header>
            <div class="card-content">
              <p *ngFor="let a of clazz.attributes">
                <label class="checkbox" [ngClass]="memberColor(a)">
                  <input type="checkbox"> {{a.display}}
                </label>
              </p>

              <hr>

              <p *ngFor="let m of clazz.methods">
                <label class="checkbox" [ngClass]="memberColor(m)">
                  <input type="checkbox"> {{m.display}}
                </label>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
