@(toolMain: model.nary.NaryToolMain)

@newExUrl(part: model.nary.NaryExPart) = @{
    routes.RandomExerciseController.newExercise(toolMain.urlPart, part.urlName)
}

<script>
        $(() => {
            $('#convButton').click(function () {
                window.location = '@newExUrl(model.nary.NaryExParts.NaryConversionExPart)?fromBase=' + $('#convFromBase').val() + '&toBase=' + $('#convToBase').val();
            });

            $('#addButton').click(function () {
                window.location = '@newExUrl(model.nary.NaryExParts.NaryAdditionExPart)?base=' + $('#addBase').val();
            });

            $('#twoCompButton').click(function () {
                window.location = '@newExUrl(model.nary.NaryExParts.TwoComplementExPart)?verbose=' + $('#twoComp').val();
            });
        });
</script>

    <!-- Conversion -->
<div class="form-group">

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Umwandlung von</span>
        </div>
        <select title="Startsystem Umwandlung" class="form-control" id="convFromBase">
            <option value="RANDOM">Zufälligem System</option>
            @for(base <- model.nary.NumberBase.values) {
                <option value="@base.entryName">@base.systemName</option>
            }
        </select>
        <span class="input-group-text">nach</span>
        <select title="Zielsystem Umwandlung" class="form-control" id="convToBase">
            <option value="RANDOM">Zufälligem System</option>
            @for(base <- model.nary.NumberBase.values) {
                <option value="@base.entryName">@base.systemName</option>
            }
        </select>
        <button class="form-control btn-primary" id="convButton">Go! </button>
    </div>

</div>

    <!-- Addition -->
<div class="form-group">

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Addition in</span>
        </div>
        <select title="System Addition" class="form-control" id="addBase">
            <option value="RANDOM">Zufälligem System</option>
            @for(base <- model.nary.NumberBase.values) {
                <option value="@base.entryName">@base.systemName</option>
            }
        </select>
        <button class="form-control btn-primary" id="addButton">Go! </button>
    </div>

</div>

    <!-- Zweierkomplement -->
<div class="form-group">

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Umwandlung in das Zweierkomplement </span>
        </div>
        <select title="Zweierkomplement" class="form-control" id="twoComp">
            <option value="true">mit Zwischenschritten</option>
            <option value="false">ohne Zwischenschritte</option>
        </select>
        <button class="form-control btn-primary" id="twoCompButton">Go! </button>
    </div>

</div>
