@(user: model.User, startingNumber: model.nary.NAryNumber, verbose: Boolean, toolMain: model.nary.NaryToolMain)


@title = @{
    "Zahlensysteme: Zweierkomplement"
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            SystemJS.import('@routes.Assets.versioned("app/nary/twoComp.js")');
    </script>

    <style>
            textarea {
                resize: none;
            }
    </style>
}

@main(title, Some(user), scripts) {
    <div class="container">
        <h1>@title von @startingNumber</h1>

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">

                <input hidden id="toolType" value="@toolMain.urlPart" title="hidden">
                <input hidden id="exerciseType" value="@model.nary.NaryExParts.TwoComplementExPart.urlName" title="hidden">

                <p><em class="text-info">
                    Binärzahlen bitte in 8-Bit-Darstellung mit führenden Nullen angeben.</em></p>

                <div class="form-group">
                    <div class="input-group">
                        <input value="@startingNumber" type="number" title="Vorgegebene Zahl" readonly class="form-control text-right"
                        name="@model.nary.NaryConsts.valueName" id="@model.nary.NaryConsts.valueName">
                        <div class="input-group-append">
                            <span class="input-group-text">@startingNumber.base.dispBase</span>
                        </div>
                    </div>
                </div>

                @if(verbose) {
                    <fieldset>
                        <legend>Binärdarstellung von @Math.abs(startingNumber.decimalValue)</legend>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">--></span>
                                </div>
                                <input pattern="@model.nary.NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                class="form-control text-right" name="@model.nary.NaryConsts.BinaryAbs"
                                id="@model.nary.NaryConsts.BinaryAbs" placeholder="Ihre Lösung" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><sub>2</sub></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Invertierung aller Bits</legend>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">--></span>
                                </div>
                                <input pattern="@model.nary.NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                class="form-control text-right" name="@model.nary.NaryConsts.InvertedAbs"
                                id="@model.nary.NaryConsts.InvertedAbs" placeholder="Ihre Lösung" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><sub>2</sub></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }

                <fieldset>
                    <legend>Zweierkomplement</legend>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">--></span>
                            </div>
                            <input pattern="@model.nary.NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                            class="form-control text-right" name="@model.nary.NaryConsts.solutionName"
                            id="@model.nary.NaryConsts.solutionName" placeholder="Ihre Lösung" required>
                            <div class="input-group-append">
                                <span class="input-group-text"><sub>2</sub></span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <hr>

                <div class="btn-group d-flex">
                    <button id="testBtn" class="btn btn-primary w-100">Testen</button>
                    <a href="@routes.RandomExerciseController.newExercise(toolMain.urlPart,
                        model.nary.NaryExParts.TwoComplementExPart.urlName)?verbose=@verbose"
                    class="btn btn-secondary  w-100">Nächste Aufgabe</a>
                </div>

            </div>

            <div class="col-sm-3"></div>
        </div>

        <hr>

        <h3>Platz für Notizen</h3>

        <em class="text-info">Notizen werden für die Korrektur nicht beachtet.</em>

        <textarea title="Platz für Notizen" placeholder="Platz für Notizen" style="resize: none;" class="form-control" rows="10"></textarea>

    </div>
}
