# Server
logs
target

RUNNING_PID

.cache-main
.cache-tests

helper_scripts/__pycache__/

project/project
project/target

public

data/

.idea/*
!.idea/dictionaries

# Client folder
ui/coverage
ui/dist
ui/node_modules
ui/out-tsc

