# Allgemein / SBT
logs
target
RUNNING_PID
.cache-main
.cache-tests
project/project
project/target
tmp
dist
.history

# IntelliJ IDEA
.idea/

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
