# Allgemein / SBT
logs
target
RUNNING_PID
.cache-main
.cache-tests
project/project
project/target
tmp
dist
.history

# Js mapping files
**/*.js.map

# Node modules
node_modules/

# Ignore saved files, except folder data/web
data/*
!data/.gitkeep
!data/web/

data/web/*
!data/web/.gitkeep


# IntelliJ IDEA
.idea/
venv/

# Eclipse
.settings
.cache
.project
.classpath
.scala_dependencies
bin
