@(str: String, content: Html, name: String)

<a data-toggle="modal" data-target="#@name.toLowerCase">@str ...</a>
<div id="@name.toLowerCase" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@name</h4>
            </div>
            <div class="modal-body">
            @content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Schlie&szlig;en</button>
            </div>
        </div>

    </div>
</div>