@(firstTabId: String, secondTabId: String, firstTabContent: Html, secondTabContent: Html)

<!-- Main Page-->
<div id="fullsc" class="container-fluid">

    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" id="@{
            firstTabId
        }Toggle" href="#@firstTabId">Zeichenfläche</a>
        </li>
        <li><a data-toggle="tab" id="@{
            secondTabId
        }Toggle" href="#@secondTabId">Resultate</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="@firstTabId" class="tab-pane fade in active">@firstTabContent</div>

        <div id="@secondTabId" class="tabl pane fade">@secondTabContent</div>
    </div>

</div>