<div class="container">
  <ng-container *ngIf="exercise; else loadingDataBlock">

    <h1 class="title is-3 has-text-centered">Aufgabe &quot;{{exercise.title}}&quot;</h1>

    <div class="my-3">
      <it4all-breadcrumbs [parts]="breadCrumbs"></it4all-breadcrumbs>
    </div>

    <div class="notification is-light-grey" [innerHTML]="exercise.text"></div>

    <div class="columns">
      <div class="column" *ngFor="let part of entryParts">
        <a class="button is-link is-fullwidth" [routerLink]="['parts', part.id]">{{part.name}}</a>
      </div>
    </div>

  </ng-container>
</div>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>
