<div class="container">
  <ng-container *ngIf="exerciseOverviewQuery; else loadingDataBlock">

    <h1 class="title is-3 has-text-centered">Aufgabe &quot;{{exerciseOverviewQuery.tool.collection.exercise.title}}&quot;</h1>

    <div class="buttons">
      <a class="button is-primary is-fullwidth" [routerLink]="['../..']">Zurück zur Sammlung</a>
    </div>

    <br>

    <div class="notification is-light-grey" [innerHTML]="exerciseOverviewQuery.tool.collection.exercise.text"></div>

    <div class="columns">
      <ng-container *ngFor="let part of parts">
        <div class="column">
          <a class="button is-link is-fullwidth" [routerLink]="['parts', part.id]">
            {{part.name}}
          </a>
        </div>
      </ng-container>
    </div>

  </ng-container>
</div>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>
