<ng-container *ngIf="exerciseOverviewQuery">
  <div class="container">
    <h1 class="title is-3 has-text-centered">Aufgabe &quot;{{exerciseOverviewQuery.tool.collection.exercise.title}}&quot;</h1>

    <div class="buttons">
      <a class="button is-primary is-fullwidth" [routerLink]="['../..']">Zurück zur Sammlung</a>
    </div>

    <br>

    <div class="notification is-light-grey" [innerHTML]="exerciseOverviewQuery.tool.collection.exercise.text"></div>

    <div class="columns">
      <ng-container *ngFor="let part of tool.parts">
        <div class="column" *ngIf="!part.disabled && tool.exerciseHasPart(exerciseOverviewQuery.tool.exerciseContent, part)">
          <a class="button is-link is-fullwidth"
             [routerLink]="['/tools', tool.id, 'collections', collectionId, 'exercises', exerciseId, 'parts', part.id]">
            {{part.name}}
          </a>
        </div>
      </ng-container>
    </div>

  </div>
</ng-container>
