<div class="container">
  <h1 class="title is-3 has-text-centered">Lektionen für {{tool.name}}</h1>

  <ng-container *ngIf="lessons; else loadingLessonsBlock">
    <div class="columns is-multiline" *ngIf="lessons.length > 0; else noLessonsFoundBlock">
      <div class="column is-half-desktop" *ngFor="let lesson of lessons">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">{{lesson.id}}. {{lesson.title}}</p>
          </header>
          <div class="card-content">{{lesson.description}}</div>
          <div class="card-footer">
            <a href="" class="card-footer-item" [routerLink]="['/lessons', tool.id, 'lessons', lesson.id]">
              Lektion beginnen</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingLessonsBlock>
    <div class="notification is-info">
      <p class="has-text-centered">Lade Lektionen...</p>
      <br>
      <progress class="progress"></progress>
    </div>
  </ng-template>

  <ng-template #noLessonsFoundBlock>
    <div class="notification is-danger has-text-centered">Es konnten keine Lektionen gefunden werden!</div>
  </ng-template>
</div>
