<it4all-files-exercise
  [exerciseFiles]="exerciseFileFragments"
  [isCorrecting]="isCorrecting"
  [sampleSolutions]="sampleSolutions"
  (correct)="correct()"
  defaultMode="'python'">

  <div class="content" exText>
    <div class="mb-3" [innerHTML]="exerciseFragment.text"></div>

    <p>Es werden folgende Testfälle ausgeführt:</p>

    <div *ngFor="let singleTestConfig of contentFragment.testConfig.tests">
      {{singleTestConfig.id}}. <code>{{singleTestConfig.testName}}</code>:
      <span [innerHTML]="singleTestConfig.description"></span>
    </div>
  </div>

  <ng-container correctionContent *ngIf="resultQuery">

    <div class="my-3">
      <it4all-solution-saved [solutionSaved]="correctionResult.solutionSaved"></it4all-solution-saved>
    </div>

    <div class="my-3">
      <it4all-points-notification [points]="abstractResult.points" [maxPoints]="abstractResult.maxPoints">
      </it4all-points-notification>
    </div>

    <div *ngFor="let testResult of result.testResults" class="my-3">
      <div class="message" [ngClass]="testResult.successful ? 'is-success' : 'is-danger'">
        <header class="message-header">{{testResult.testName}}</header>
        <div class="message-body">
          <pre>{{testResult.stderr.join("\n")}}</pre>
        </div>
      </div>

    </div>
  </ng-container>

</it4all-files-exercise>
