<div [ngClass]="isCorrect ? 'has-text-dark-success' : 'has-text-danger'">
  Die Definition des Element
  <code>{{match.userArg ? match.userArg.elementName : match.sampleArg.elementName}}</code>
  {{matchWord}}

  <ul *ngIf="match.maybeAnalysisResult && !isCorrect">
    <li [ngClass]="match.maybeAnalysisResult.contentCorrect ? 'has-text-success': 'has-text-danger'">
      Der Inhalt des Elements war {{match.maybeAnalysisResult.contentCorrect ? '' : 'nicht'}} korrekt.
      <ng-container *ngIf="!match.maybeAnalysisResult.contentCorrect">
        Erwartet wurde
        <code>{{match.maybeAnalysisResult.correctContent}}</code>
      </ng-container>
    </li>
    <li [ngClass]="match.maybeAnalysisResult.attributesCorrect ? 'has-text-success' : 'has-text-danger'">
      Die Attribute des Elements waren {{match.maybeAnalysisResult.attributesCorrect ? '' : 'nicht'}}
      korrekt.
      <ng-container *ngIf="!match.maybeAnalysisResult.attributesCorrect">
        Erwartet wurde
        <code>{{match.maybeAnalysisResult.correctAttributes}}</code>
      </ng-container>
    </li>
  </ul>

</div>
