<div class="field has-addons">
  <div class="control">
    <div class="button is-static">
      <label for="{{naryNumberInput.fieldId}}">{{naryNumberInput.labelContent}}</label>
    </div>
  </div>
  <div class="control is-expanded">
    <input class="input has-text-right" id="{{naryNumberInput.fieldId}}" [value]="getSummandNary()"
           [placeholder]="getPlaceholder()" readonly>
  </div>
  <div class="control">
    <div class="button is-static">
      <sub>{{naryNumberInput.numberingSystem.radix}}</sub>
    </div>
  </div>
</div>
