<div class="container">
  <ng-container *ngIf="collectionOverviewQuery; else loadingDataBlock">
    <h1 class="title is-3 has-text-centered">Sammlung &quot;{{collectionOverviewQuery.tool.collection.title}}&quot;</h1>

    <div class="buttons">
      <a class="button is-primary is-fullwidth" routerLink="..">Zurück zur Sammlungübersicht</a>
    </div>

    <br>

    <h2 class="subtitle is-3 has-text-centered">Aufgaben</h2>

    <div class="columns is-multiline" *ngIf="exercises.length > 0; else noExercisesFoundBlock">
      <div *ngFor="let exercise of exercises" class="column is-one-quarter-desktop is-half">
        <it4all-exercise-link-card [exercise]="exercise"></it4all-exercise-link-card>
      </div>
    </div>

  </ng-container>
</div>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>


<ng-template #noExercisesFoundBlock>
  <div class="notification is-danger has-text-centered">
    Es konnten keine Aufgaben für diese Sammlung gefunden werden!
  </div>
</ng-template>

