@(user: model.User, learningPaths: Seq[model.learningPath.LearningPath], toolMain: model.toolMains.FileExerciseToolMain)

@title= @{
    toolMain.toolname
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        @if(learningPaths.nonEmpty) {
            <section>
                <h2>Lernpfade</h2>

                @for(learningPath <- learningPaths) {
                    <a href="@routes.MainExerciseController.learningPath(toolMain.urlPart, learningPath.id)"
                    class="btn btn-primary btn-block">Lernpfad @learningPath.title</a>
                }
            </section>


            <hr>
        }

        <div class="form-group">
            <a class="btn btn-primary btn-block" href="@routes.FileExerciseController.exerciseList(toolMain.urlPart)">
                Zu den Übungsaufgaben</a>
        </div>

    </div>
}