@(completeEx: model.programming.ProgCompleteEx)

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4"><b>ID:</b></div>
            <div class="col-md-8">@completeEx.ex.id</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Titel:</b></div>
            <div class="col-md-8">@completeEx.ex.title</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Autor:</b></div>
            <div class="col-md-8">@completeEx.ex.author</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Text:</b></div>
            <div class="col-md-8">@Html(completeEx.ex.text)</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Status:</b></div>
            <div class="col-md-8">@completeEx.ex.state</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Name der Fkt.:</b></div>
            <div class="col-md-8">@completeEx.ex.functionName</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b># Inputs:</b></div>
            <div class="col-md-8">@completeEx.inputCount</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>OutputType:</b></div>
            <div class="col-md-8">@completeEx.ex.outputType</div>
        </div>

        <hr>

        <p><b>Musterl&ouml;sung</b></p>
        <div class="row">
            <div class="col-md-4"><b>Sprache:</b></div>
            <div class="col-md-8">@completeEx.sampleSolution.language.name</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>L&ouml;sung:</b></div>
            <div class="col-md-8"><pre>@completeEx.sampleSolution.solution</pre></div>
        </div>
    </div>

    <div class="col-md-6">
        <p><b>Mustertestdaten</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    @for(index <- 0 until completeEx.inputCount) {
                        <th>Inp. @index</th>
                    }
                    <th>Out</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Typ</td>
                    @for(inputType <- completeEx.inputTypes) {
                        <td>@inputType.inputType.typeName</td>
                    }
                    <td>@completeEx.ex.outputType.typeName</td>
                </tr>

                @for(td <- completeEx.sampleTestData) {
                    <tr>
                        <td>@td.testData.id</td>
                        @for(input <- td.inputs) {
                            <td>@input.input</td>
                        }
                        <td>@td.testData.output</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
