@(completeEx: model.programming.ProgCompleteEx)

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6"><b>ID:</b></div>
            <div class="col-md-6">@completeEx.ex.id</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b>Titel:</b></div>
            <div class="col-md-6">@completeEx.ex.title</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b>Autor:</b></div>
            <div class="col-md-6">@completeEx.ex.author</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b>Status:</b></div>
            <div class="col-md-6">@completeEx.ex.state</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b>Name der Fkt.:</b></div>
            <div class="col-md-6">@completeEx.ex.functionName</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b># Inputs:</b></div>
            <div class="col-md-6">@completeEx.ex.inputCount</div>
        </div>
    </div>

    <div class="col-md-4">
        <p><b>Musterl&ouml;sung</b></p>
        <div class="row">
            <div class="col-md-3"><b>Sprache:</b></div>
            <div class="col-md-9">@completeEx.sampleSolution.language</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>L&ouml;sung:</b></div>
            <div class="col-md-9"><pre>@completeEx.sampleSolution.solution</pre></div>
        </div>
    </div>

    <div class="col-md-4">
        <p><b>Mustertestdaten</b></p>
        @*id - inputs - output*@
        <table class="table">
        @for(td <- completeEx.sampleTestData) {
                <tr>
                    <td>@td.sampleTestData.id</td>
                    @for(input <- td.inputs) {
                        <td>@input.input</td>
                    }
                    <td>@td.sampleTestData.output</td>
                </tr>

        }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-2"><b>Text:</b></div>
    <div class="col-md-10">@completeEx.ex.text</div>
</div>