@(compResult: model.programming.ProgCompleteResult)

    @for(resultTuples <- compResult.results.grouped(2)) {
        <div class="row">
        @for(res <- resultTuples) {
            <div class="col-md-6">
                <div class="alert alert-@res.getBSClass">
                @res match {
                    case se: model.programming.ExecutionFailed => {
                        <p>Test von <code>@se.evaluated</code> war @if(!res.isSuccessful) {nicht } erfolgreich.<p>
                        <p>Erwartet: <code>@se.completeTestData.testData.output</code></p>
                        <p>Bekommen: <code>@se.result</code></p>

                        @se.printConsoleOut
                    }
                    case er: model.programming.ExecutionResult => {
                        <p>Test von <code>@er.evaluated</code> war @if(!res.isSuccessful) {nicht } erfolgreich.<p>
                        <p>Erwartet: <code>@er.completeTestData.testData.output</code></p>
                        <p>Bekommen: <code>@er.result</code></p>

                        @er.printConsoleOut
                    }
                    case ee: model.programming.ExecutionException => {
                        <p>Es gab einen Fehler bei der Ausf&uuml;hrung ihres Codes:</p>
                        <pre>@ee.result</pre>

                        @ee.printConsoleOut
                    }
                    case se: model.programming.SyntaxError => {
                        <p>Ihr Code hat einen Syntaxfehler:<p>
                        <pre>@se.reason</pre>
                    }
                }
                </div>
            </div>
        }
        </div>
    }