@(exercise: model.programming.ProgExercise)

@stdLanguage = @{
    model.programming.AvailableLanguages.stdLang
}

<script src="@routes.Assets.versioned("javascripts/programming.js")"></script>

<script>
        function changeProgLanguage(theUrl) {
            $.ajax({
                type: 'GET',
                url: theUrl,
                data: "language=" + $('#langSelect').val(),
                async: true,
                success: function (response) {
                    document.getElementById("language").value = language;
                    editor.setValue(response, 1000000);
                }
            });
        }
</script>

<div class="input-group">
    <span class="input-group-addon">Sprache</span>
    <select class="form-control" id="langSelect" onchange="changeProgLanguage('@controllers.programming.routes.ProgController.getDeclaration()');">
    @for(language <- model.programming.AvailableLanguages.values) {
        <option value="@language"
        @if(language == stdLanguage) {selected}>@language.name </option>
    }
    </select>
</div>
