@(user: model.User, fileContent: String, classTest: model.programming.ClassTest)

@main("Test: Prog neu", user) {
    <div class="container-fluid">
        <div class="page-header">
            <h1>Test neues Prog-Format</h1>
        </div>

        <div class="row">
            <div class="col-md-6">
                <pre>@fileContent</pre>
            </div>


            <div class="col-md-6">
                <pre>@model.programming.NewProgYamlProtocol.ClassTestYamlFormat.write(classTest).print(net.jcazevedo.moultingyaml.Auto)</pre>
            </div>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Feld</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@classTest.className</td>
                </tr>
                <tr>
                    <th>Beschreibung</th>
                    <td>@classTest.description</td>
                </tr>
                <tr>
                    <th>Konstruktorargumente</th>
                    <td>
                    @classTest.constructorArguments.map(arg => arg.memberName + ": " + arg.memberDataType.typeName).mkString(", ")
                    </td>
                </tr>
                <tr>
                    <th>Konstruktortests</th>
                    <td>
                    @for(test <- classTest.constructorTests) {
                        <p>@{
                            classTest.className
                        }(@test.args.sortBy(_.memberName).map(t => t.memberName + " = " + t.memberValue).mkString(", ")) &harr;
                            @test.result.sortBy(_.memberName).map(r => r.memberName + " = " + r.memberValue).mkString(", ")</p>
                    }
                    </td>
                </tr>
                <tr>
                    <th>Functionstests</th>
                    <td>
                    @for(test <- classTest.functionTests) {
                        <p>@test</p>
                    }
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

}