<div class="container is-fluid">
  <div class="columns">
    <div class="column is-two-thirds-desktop">

      <div id="paper" (dragover)="paperOnDragover($event)" (drop)="paperOnDrop($event)"></div>

      <br>

      <div class="columns">
        <div class="column" *ngFor="let gateType of gateTypes">
          <button (click)="toggleGateButton($event, gateType)"
                  draggable="true" (dragstart)="gateButtonOnDragstart($event, gateType)"
                  class="button is-fullwidth" [class.is-primary]="elementToCreate === gateType">
            {{gateType}}
          </button>
        </div>
      </div>

    </div>
    <div class="column is-one-third-desktop">

      <!-- TODO: Wertetabelle -->
      <table class="table is-bordered is-striped is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered" *ngFor="let variable of formula.getVariables()">{{variable.variable}}</th>
            <th class="has-text-centered">{{formula.left.variable}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of formula.getAssignments()">
            <td class="has-text-centered" *ngFor="let variable of formula.getVariables()">
              {{displayAssignmentValue(assignment, variable)}}
            </td>
            <td class="has-text-centered">{{formula.getValueFor(assignment) ? '1' : '0'}}</td>
          </tr>
        </tbody>
      </table>

      <button class="button is-link is-fullwidth" (click)="updateCreatedFormula()">Formel aktualisieren</button>

    </div>
  </div>
</div>
