@(user: model.user.User)

@statistics = {
<li>Es existieren insgesamt @model.ProgExercise.finder.all().size() Augaben</li>
}

@calls = @{new model.AdminRoutesObject(
  programming.routes.ProgController.index(),
  programming.routes.ProgAdmin.newExerciseForm(),
  programming.routes.ProgAdmin.exportExercises(),
  programming.routes.ProgAdmin.importExercises(),
  programming.routes.ProgAdmin.getJSONSchemaFile(),
  programming.routes.ProgAdmin.uploadFile()
)}

@admin.adminMain(user, "Prog", statistics, calls) { }
