@(user: model.user.User)

@statistics = {
<li>Es existieren insgesamt @model.ProgExercise.finder.all().size() Augaben</li>
}

@strs = @{scala.collection.Map(
  "app" -> "Programmierung",
  "pluralName" -> "Aufgaben"
)}

@calls = @{scala.collection.Map(
  "index" -> programming.routes.ProgAdmin.index(),
  "newExerciseForm" -> programming.routes.ProgAdmin.newExerciseForm(),
  "export" -> programming.routes.ProgAdmin.exportExercises(),
  "import" -> programming.routes.ProgAdmin.importExercises(),
  "jsonSchema" -> programming.routes.ProgAdmin.getJSONSchemaFile(),
  "upload" -> programming.routes.ProgAdmin.uploadFile()
)}

@admin.exerciseAdminMain(user, strs, statistics, calls) { }
