@(exercises: List[model.ProgExercise])

<a href="@programming.routes.ProgAdmin.adminIndex" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

<hr>

@for(exercise <- exercises) {
<div class="panel panel-default">
  <div class="panel-heading">Aufgabe @exercise.getId: @exercise.getTitle</div>
  <div class="panel-body">
    <p>Aufgabentext: @exercise.getText</p>
    
    <p>Mögliche Lösungen</p>
    
    <table class="table">
      <thead>
        <tr>
          <th>Sprache</th>
          <th>L&ouml;sung</th>
        </tr>
      </thead>
      <tbody>
      @for(lang <- model.AvailableLanguages.values) {
        <tr>
          <td>@lang.getName</td>
          <td><pre>@exercise.getSampleSolution(lang)</pre></td>
        </tr>
      }
      </tbody>
    </table>
    


    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          @for(input <- 0 until exercise.getInputCount) {
          <th>Input</th>
          }
  		<th>Output</th>
        </tr>
      </thead>
      <tbody>
      @for(testdata <- exercise.sampleTestData) {
        <tr>
          <td>@testdata.key.testId</td>
          @for(input <- testdata.getInput) {
        	<td>@input</td>
          }
          <td>@testdata.output</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
}