/* You can add global styles to this file, and also import other style files */

@import "node_modules/bulma/bulma.sass"

/* Imports for codemirror, TODO: which theme?*/
@import "~codemirror/lib/codemirror"
@import "~codemirror/theme/eclipse"


/* for boolDrawing */

.live
  background: green

.is-light-grey
  background: #cdcdcd

.is-light-danger
  background: #ff9999

.has-text-dark-warning
  color: #ffb83d

.has-text-dark-success
  color: #228b22

