@(user: model.user.User, question: model.question.FreetextQuestion)

@main("Frage", user) {
<div class="container">
  <h2>@question.text</h2>

  <form class="form-horizontal" method="post" action="@questions.routes.QuestionController.questionResult(question.id)">
  
    <div class="form-group">
      <div class="col-sm-12">
        <textarea class="form-control" name="answer" rows="20" placeholder="Freitextantwort..." required></textarea>
      </div>
    </div>
    
    <hr>

    <input class="btn btn-block btn-primary" type="submit" value="Kontrollieren">
  </form>
</div>
}




 
