@()

@import model.question.Question

<div class="form-group">
  <label class="control-label col-sm-2" for="numOfAnswers">Anzahl Antworten:</label>
  <div class="col-sm-10">
    <input class="form-control" type="number" name="numOfAnswers" id="numOfAnswers" onchange="onAnswerNumChange();"
      min="@Question.MIN_ANSWERS" max="@Question.MAX_ANSWERS" value="@Question.STD_ANSWERS" required>
  </div>
</div>

@for(i <- 0 until Question.MAX_ANSWERS) {
<div class="form-group">
  <label class="control-label col-sm-2">@{i + 1}. Antwort:</label>
  <div class="col-sm-10" id="answerDiv">
    <input class="form-control" name="@i" id="@i" placeholder="@{i + 1}. Antwort">
  </div>
</div>
}