@(user: model.user.User, question: model.question.Question, oldAnswer: model.UserAnswer)

@main("Frage", user) {
<div class="container">
  <div class="page-header">
    <h1>@question.text</h1>
  </div>

  <form class="form-horizontal" method="post" action="@questions.routes.QuestionController.questionResult(question.id)">
  
  
    <div id="answerDiv">
@question.questionType match {
  case model.question.Question.QType.CHOICE => {
	@for(ans <- question.getAnswersForTemplate()) {
	    <div>
    	  <label for="@ans.key.id">
          <input type="checkbox" id="@ans.key.id" name="@ans.key.id"> @ans.asText</input>
        </label>
      </div>
    }
  }
  case model.question.Question.QType.FILLOUT => {
    @for(ans <- question.getAnswersForTemplate()) {
      <div class="form-group">
        <div class="col-sm-12">
          <input id="@ans.key.id" name="@ans.key.id" class="form-control" placeholder="Antwort..."></input>
        </div>
      </div>
    }
  }
  case model.question.Question.QType.FREETEXT => {
      <div class="form-group">
        <div class="col-sm-12">
        <textarea class="form-control" name="answer" rows="20"
          placeholder="Freitextantwort..." required>@if(oldAnswer != null) {@oldAnswer.text}</textarea>
      </div>
    </div>
  }
}
    <hr>

    <input class="btn btn-block btn-primary" type="submit" value="Kontrollieren">
  </form>
</div>
}