@(user: model.user.User, question: model.question.Question)

@import model.question._

@main(question.questionType.getName(), user) {
<div class="container">
  <div class="page-header">
    <h1>@question.questionType.getName()</h1>
  </div>
  
  <h2>@question.text</h2>

  <form class="form-horizontal" method="post" action="@questions.routes.QuestionController.questionResult(question.id)">

@question.questionType match {
  case QuestionType.CHOICE => {
  	<div id="answerDiv">
    @for(ans <- question.getAnswersForTemplate()) {
      <div>
        <label for="@ans.key.id">
          <input type="checkbox" id="@ans.key.id" name="@ans.key.id"> @ans.text
        </label>
      </div>
    }
  }
  case QuestionType.FILLOUT => {
  	<div id="answerDiv">
    @for(ans <- question.getAnswersForTemplate()) {
      <div class="form-group">
        <div class="col-sm-12">
          <input id="@ans.key.id" name="@ans.key.id" class="form-control" placeholder="Antwort...">
        </div>
      </div>
    }
    </div>
  }
  case QuestionType.FREETEXT => {
    <div class="form-group">
      <div class="col-sm-12">
        <textarea class="form-control" rows="20" placeholder="Freitextantwort..." required></textarea>
      </div>
    </div>
  }
}
    <hr>

    <input class="btn btn-block btn-primary" type="submit" value="Kontrollieren">
  </form>
</div>
}