<ng-container *ngIf="exercise && exerciseQuery; else loadingDataBlock">

  <it4all-programming-exercise
    *ngIf="progExerciseContent"
    [exercise]="exercise"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="progExerciseContent"
    [part]="part">
  </it4all-programming-exercise>

  <it4all-regex-exercise
    *ngIf="regexExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [regexExerciseContent]="regexExerciseContent"
    [oldPart]="part">
  </it4all-regex-exercise>

  <it4all-sql-exercise
    *ngIf="sqlExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [sqlExerciseContent]="sqlExerciseContent"
    [oldPart]="part">
  </it4all-sql-exercise>

  <it4all-uml-exercise
    *ngIf="umlExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [umlExerciseContent]="umlExerciseContent"
    [part]="part">
  </it4all-uml-exercise>

  <it4all-web-exercise
    *ngIf="webExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [webExerciseContent]="webExerciseContent"
    [part]="part">
  </it4all-web-exercise>

  <it4all-xml-exercise
    *ngIf="xmlExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [xmlExerciseContent]="xmlExerciseContent"
    [part]="part">
  </it4all-xml-exercise>

</ng-container>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Aufgabe...</div>
</ng-template>
