<ng-container *ngIf=" exerciseQuery; else loadingDataBlock">

  <it4all-programming-exercise
    *ngIf="progExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="progExerciseContent">
  </it4all-programming-exercise>

  <it4all-regex-exercise
    *ngIf="regexExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="regexExerciseContent">
  </it4all-regex-exercise>

  <it4all-sql-exercise
    *ngIf="sqlExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="sqlExerciseContent">
  </it4all-sql-exercise>

  <it4all-uml-exercise
    *ngIf="umlExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="umlExerciseContent">
  </it4all-uml-exercise>

  <it4all-web-exercise
    *ngIf="webExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="webExerciseContent">
  </it4all-web-exercise>

  <it4all-xml-exercise
    *ngIf="xmlExerciseContent"
    [exerciseFragment]="exerciseQuery.tool.collection.exercise"
    [contentFragment]="xmlExerciseContent">
  </it4all-xml-exercise>

</ng-container>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Aufgabe...</div>
</ng-template>
