<div class="container">
  <ng-container *ngIf="collectionListQuery; else loadingDataBlock">

    <h1 class="title is-3 has-text-centered">Tool &quot;{{collectionListQuery.tool.name}}&quot;: Sammlungen</h1>

    <div class="buttons">
      <a class="button is-primary is-fullwidth" routerLink="..">Zurück zum Tool</a>
    </div>

    <br>

    <div class="columns is-multiline">
      <div class="column is-one-quarter" *ngFor="let coll of collectionListQuery.tool.collections">

        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">{{coll.id}}. {{coll.title}}</p>
          </header>
          <div class="card-content">{{coll.exerciseCount}} Aufgaben</div>
          <footer class="card-footer">
            <a class="card-footer-item" [routerLink]="[coll.id]">Zur Sammlung</a>
          </footer>
        </div>

      </div>
    </div>

  </ng-container>
</div>

<ng-template #loadingDataBlock>
  <div class="nofitication is-primary has-text-centered">Lade Daten...</div>
</ng-template>
