<div class="container">
  <ng-container *ngIf="collectionListQuery; else loadingDataBlock">

    <h1 class="title is-3 has-text-centered">Tool {{tool.name}}: Sammlungen</h1>

    <div class="mb-3">
      <it4all-breadcrumbs [parts]="breadCrumbs"></it4all-breadcrumbs>
    </div>

    <div class="columns is-multiline">
      <div class="column is-one-quarter" *ngFor="let coll of collections">

        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">{{coll.collectionId}}. {{coll.title}}</p>
          </header>
          <div class="card-content">{{coll.exerciseCount}} Aufgaben</div>
          <footer class="card-footer">
            <a class="card-footer-item" [routerLink]="[coll.collectionId]">Zur Sammlung</a>
          </footer>
        </div>

      </div>
    </div>

  </ng-container>
</div>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>
