@import model.web.WebConsts

@(user: model.User, exerciseForm: Form[model.web.WebExercise], isCreation: Boolean, toolMainObject: model.toolMains.AToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@additionalScripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                font-size: 14px;
                /*height: 700px; */
            }
    </style>

    <script>SystemJS.import('@routes.Assets.versioned("app/web/editWebExerciseForm.js")');</script>
}

@htmlTextField = @{
    exerciseForm(WebConsts.htmlTextName)
}

@sampleSolField = @{
    exerciseForm(WebConsts.samplesName)
}

@specialFields = {
    <fieldset>
        <legend class="text-center">Html-Teil</legend>

        <div class="form-group row">
            <div class="col-md-2">
                <label class="col-form-label" for="@htmlTextField.id">Text</label> /
                <label class="col-form-label" for="@{
                    sampleSolField.id
                }_editor">Musterlösung:</label>
            </div>
            <div class="col-md-5">@myhelpers.textarea(htmlTextField, rowCount = 12, placeHolder = Some("Text HTML-Teil"))</div>
            <div class="col-md-5">
                <input type="hidden" id="@sampleSolField.id" name="@sampleSolField.name" value="@sampleSolField.value">
                <textarea id="@{
                    sampleSolField.id
                }_editor" rows="10" placeHolder="Musterlösung">@sampleSolField.value</textarea>
            </div>
        </div>

        <div id="htmlTasksDiv">
        @helper.repeat(exerciseForm(WebConsts.htmlTasksName), min = 1) { htmlTaskField =>
            <div class="form-group">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            @myhelpers.inputWithLabel(htmlTaskField(WebConsts.idName), "ID", "number", 2, 2, isRequired = true,
                                isReadOnly = true)

                            @myhelpers.inputWithLabel(htmlTaskField(WebConsts.xpathQueryName), "XPath", "text", 1, 7,
                                isRequired = true, placeHolder = Some("XPath - Query"))
                        </div>

                        <div class="form-group row">
                        @myhelpers.textareaWithLabel(htmlTaskField(WebConsts.textName), "Text", rowCount = 3, 2, 10,
                            isRequired = true, placeHolder = Some("Teilaufgabentext"))
                        </div>

                        <div class="form-group row">
                        @myhelpers.inputWithLabel(htmlTaskField(WebConsts.textContentName), "Textinhalt", "text", 2, 10,
                            placeHolder = Some("Textinhalt des Elements, optional"))
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-outline-primary btn-block" id="addHtmlTaskBtn"
            title="Html-Teilaufgabe hinzufügen">
                <span class="octicon octicon-plus"></span>
            </button>
        </div>
    </fieldset>

    <fieldset>
        <legend class="text-center">Javascript-Teil</legend>

        <div class="form-group row">
            <div class="col-md-2">
                <label class="col-form-label">Text</label> /
                <label class="col-form-label">Musterlösung:</label>
            </div>
        @myhelpers.textareaWithLabel(exerciseForm(WebConsts.jsTextName), "Text JS-Teil", rowCount = 5, 2, 10,
            placeHolder = Some("Text JS-Teil"))
        </div>

    </fieldset>


}

@idExercises.editExerciseBaseForm(user, exerciseForm, isCreation, toolMainObject, specialFields, additionalScripts)