@(user: model.User, exercise: model.web.WebCompleteEx, isCreation: Boolean,
        toolMainObject: model.toolMains.AToolMain, toolList: model.toolMains.ToolList)

    @scripts = {
        <style>
                textarea {
                    resize: vertical;
                }
        </style>
    }

    @title = @{
        if(isCreation) {
            "Erstellen"
        } else {
            "Bearbeiten"
        } + " einer " + toolMainObject.toolname + "-Aufgabe"
    }

    @admin.adminMain(title, user, toolList, Some(toolMainObject), scripts) {
        <form class="form" method="post" role="form" action="@routes.ExerciseController.adminEditExercise(toolMainObject.urlPart, exercise.ex.id)">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.core.CoreConsts.idName">ID:</label>
                        <input type="number" class="form-control from-control-static" name="@model.core.CoreConsts.idName" id="@model.core.CoreConsts.idName"
                        required value="@exercise.ex.id" readonly>
                    </div>

                    <div class="form-group">
                        <label for="@model.core.CoreConsts.authorName">Autor:</label>
                        <input class="form-control" name="@model.core.CoreConsts.authorName" id="@model.core.CoreConsts.authorName" value="@user.username"
                        title="Dieser Wert kann nicht geändert werden." readonly required>
                    </div>

                    <div class="form-group">
                        <label for="@model.core.CoreConsts.titleName">Titel:</label>
                        <input class="form-control" name="@model.core.CoreConsts.titleName" id="@model.core.CoreConsts.titleName" required
                        value="@exercise.ex.title">
                    </div>

                    <div class="form-group">
                        <label for="@model.core.CoreConsts.statusName">Status:</label>
                        <div>
                            <select class="form-control" name="@model.core.CoreConsts.statusName" id="@model.core.CoreConsts.statusName" required>
                            @for(state <- model.ExerciseState.values) {
                                <option @{
                                    if(state == exercise.ex.state) "selected" else ""
                                }>@state </option>
                            }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.core.CoreConsts.textName">Text:</label>
                        <textarea class="form-control" rows="12" name="@model.core.CoreConsts.textName" id="@model.core.CoreConsts.textName" required>@exercise.ex.text</textarea>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.web.WebConsts.htmlTextName">Text für Html-Teil:</label>
                        <textarea class="form-control" name="@model.web.WebConsts.htmlTextName" id="@model.web.WebConsts.htmlTextName" rows="5">@exercise.ex.htmlText.getOrElse("")</textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.web.WebConsts.jsTextName">Text für Js-Teil:</label>
                        <textarea class="form-control" name="@model.web.WebConsts.jsTextName" id="@model.web.WebConsts.jsTextName" rows="5">@exercise.ex.jsText.getOrElse("")</textarea>
                    </div>
                </div>
            </div>

            <hr>

            @* FIXME: incorporate editWebExRest.scala.html ... *@

            <div class="row">
                <div class="col-md-6">
                    <h3>Html-Tasks</h3>
                    TODO!
                </div>

                <div class="col-md-6">
                    <h3>Js-Tasks</h3>
                    TODO!
                </div>
            </div>

            <hr>

            <button class="btn btn-primary btn-block">Aufgabe bearbeiten</button>
        </form>
    }



