@(user: model.User, exercise: Form[model.web.WebExercise], isCreation: Boolean, toolMainObject: model.toolMains.AToolMain,
        toolList: model.toolMains.ToolList)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

    @scripts = {
        <style>
                textarea {
                    resize: vertical;
                }
        </style>
    }

    @title = @{
        if(isCreation) {
            "Erstellen"
        } else {
            "Bearbeiten"
        } + " einer " + toolMainObject.toolname + "-Aufgabe"
    }

    @admin.adminMain(title, user, toolList, Some(toolMainObject), scripts) {
        @idExercises.web.editWebExerciseForm(user, exercise, isCreation, toolMainObject)
    }



