@(user: model.User)

    @scripts = {
    @core.editorScripts("html", 30, 50)

        <script src="@routes.Assets.versioned("javascripts/web/webExercise.js")"></script>

        <style>
                #live {
                    border: 1px solid black
                }
        </style>
    }

    @main("Web-Playground", Some(user), scripts) {
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Editor</h2>

                        <!-- Start Editor -->
                    <div class="form-group">
                        <div class="input-group">

                            <button type="button" class="form-control" onclick="changeFontsize(-2);">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>

                            <span class="input-group-addon">Schriftgröße: <span id="fontsize">16</span> px</span>

                            <button type="button" class="form-control" onclick="changeFontsize(+2);">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>


                    <div id="editor" class="form-control">@model.web.WebConsts.STANDARD_HTML_PLAYGROUND</div>
                        <!-- End Editor -->
                </div>

                <div class="col-sm-6">
                    <h2>Vorschau</h2>

                    <div class="embed-responsive embed-responsive-4by3" id="live">
                        <iframe class="embed-responsive-item" src="about:blank" id="preview"></iframe>
                    </div>
                </div>
            </div>
        </div>
    }
