@(user: model.User)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <script>
            SystemJS.import('@routes.Assets.versioned("app/web/webPlayground.js")');
    </script>

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                /*font-family: Arial, monospace;*/
                font-size: 14px;
            }

            #live {
                border: 1px solid black
            }
    </style>
    @* FIXME: @core.helperTemplates.fullScreenScripts.render() *@
}

@main("Web-Playground", Some(user), scripts) {
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <h2>Editor</h2>
                <textarea id="myTextArea">@model.web.WebConsts.STANDARD_HTML_PLAYGROUND</textarea>
            </div>

            <div class="col-sm-6">
                <h2>Vorschau</h2>

                <div class="embed-responsive embed-responsive-4by3" id="live">
                    @* TODO: not implemented yet... *@
                    <iframe class="embed-responsive-item" src="about:blank" id="preview"></iframe>
                </div>
            </div>
        </div>
    </div>
}
