<div class="container">
  <h1 class="title is-3 has-text-centered">Tools <code>it4all</code></h1>

  <br>

  <div class="columns is-multiline">
    <div class="column is-one-quarter-desktop is-half-tablet" *ngFor="let ranTool of randomTools">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ranTool.name}}<sup *ngIf="ranTool.status !== 'live'" [innerHTML]="'&nbsp;&' + ranTool.status + ';'"></sup>
          </p>
        </header>
        <div class="card-content"></div>
        <footer class="card-footer">
          <a [routerLink]="['/randomTools', ranTool.id]" class="card-footer-item">Zum Tool</a>
          <a [routerLink]="['/lessons', ranTool.id]" class="card-footer-item" *ngIf="ranTool.hasLessons">
            Zu den Lektionen
          </a>
        </footer>
      </div>

    </div>

    <ng-container *ngIf="toolOverviewQuery">
      <div class="column is-one-quarter-desktop is-half-tablet" *ngFor="let colTool of toolOverviewQuery.tools">

        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{colTool.name}}
              <sup *ngIf="!isLive(colTool.state)" [innerHTML]="'&nbsp;&' + colTool.state.toLowerCase() + ';'"></sup>
            </p>
          </header>
          <div class="card-content"></div>
          <footer class="card-footer">
            <a [routerLink]="['/tools', colTool.id]" class="card-footer-item">Zum Tool</a>
          </footer>
        </div>

      </div>
    </ng-container>

  </div>
</div>
