@import model.tools.uml.{UmlAssociationType, UmlClassType, UmlExPart, UmlExParts, UmlExercise, UmlMultiplicity, UmlToolMain}
@import model.{ExerciseCollection, User}

@(user: User, collection: ExerciseCollection, exercise: UmlExercise, curPart: UmlExPart, getsHelp: Boolean, toolObject: UmlToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    exercise.titleForPart(curPart)
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/uml.css")">

    <script>SystemJS.import('@routes.Assets.versioned("app/uml/umlClass/classDiagDrawing.js")');</script>


        <!--suppress JSUnusedLocalSymbols -->
    <script>
            let exports = {};
            let getsHelp = @{getsHelp};
    </script>
}

@main(title, Some(user), scripts) {

    @core.helperTemplates.modal("Bearbeitungshinweise", "hintModal", "lg") {
        @views.html.toolViews.uml.classDiagDrawingExplanation.render(getsHelp)
    }

    <div class="container-fluid" id="fullsc">
        <div class="row">

            <div class="col-md-6" id="paperDiv">

                <div class="form-group" id="buttonsDiv">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#hintModal">
                        Bearbeitungshinweise</button>

                    <button class="btn btn-secondary" data-conntype="CLASS" id="classButton"
                        @if(getsHelp) {
                            @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                        }><span class="octicon octicon-three-bars"></span> Klasse
                    </button>

                    <button class="btn btn-secondary" data-conntype="IMPLEMENTATION" >
                        <span class="octicon octicon-arrow-up"></span> Vererbung
                    </button>

                    <div class="btn-group">
                        <button class="btn btn-secondary" data-conntype="ASSOCIATION" id="assocButton">
                            <span id="assocType">Assoziation</span>
                        </button>

                        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                        </button>

                        <div class="dropdown-menu">
                        @for(assocType <- UmlAssociationType.values) {
                            <a class="dropdown-item" data-conntype="@assocType.entryName">@assocType.german</a>
                        }
                        </div>
                    </div>

                    <button class="btn btn-secondary" data-conntype="POINTER" title="Maus" @{
                        if(getsHelp) "disabled" else ""
                    }>Attribute und Methoden</button>

                </div>

                <div id="sizepaper">
                    <div id="classDiagPaper" data-url="@coll.routes.CollectionController.umlClassDiag(collection.id, exercise.id, curPart.urlName)"></div>
                </div>
            </div>


            <div class="col-md-6">

                @*<input hidden id="toolType" value="@toolObject.urlPart" title="hidden">*@
                @*<input hidden type="number" id="exerciseId" value="@exercise.id" title="hidden">*@
                @*<input hidden id="exercisePart" value="@curPart.urlName" title="hidden">*@

                <div class="card">
                    <div class="card-body text-justify">@exercise.textForPart(curPart)</div>
                </div>

                <br>

                <div class="form-group">

                    @helper.CSRF.formField

                    <div class="btn-group d-flex">
                        <button data-href="@coll.routes.CollectionController.correctLive(toolObject.urlPart, collection.id, exercise.id, curPart.urlName)"
                        id="testBtn" class="btn btn-primary w-100">Aufgabe verifizieren</button>
                        @curPart match {
                            case UmlExParts.DiagramDrawingHelp => {
                                <a href="@coll.routes.CollectionController.exercise(toolObject.urlPart, collection.id, exercise.id, UmlExParts.MemberAllocation.urlName)"
                                class="btn btn-secondary w-100">Nächster Aufgabenteil</a>
                            }
                            case _ => {
                                <a href="@coll.routes.CollectionController.index(toolObject.urlPart)"
                                class="btn btn-secondary w-100">Bearbeitung beenden</a>
                            }
                        }
                    </div>
                </div>

                <hr>

                <div id="classEditDiv" hidden>
                    <h3 class="text-center">Klasse bearbeiten</h3>

                    <div class="card card-secondary">
                        <div class="card-header">
                            <div class="row" id="classEditRow">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control text-center" id="classTypeSelect" title="hidden...">
                                        @for(classType <- UmlClassType.values) {
                                            <option value="@classType">@classType.german</option>
                                        }
                                        </select>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="editClassName" class="form-control text-center" placeholder="Name der Klasse">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="editAttrsDiv">
                                <button class="btn btn-primary" id="editAttrsPlusBtn">Attribut hinzufügen</button>
                            </div>

                            <hr>

                            <div id="editMethodsDiv">
                                <button class="btn btn-primary" id="editMethodsPlusBtn">Methode hinzufügen</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="btn-group d-flex">
                        <button id="classEditReset" class="btn btn-secondary w-100">Änderungen verwerfen</button>
                        <button id="classEditSubmit" class="btn btn-primary w-100" data-id="" >Klasse aktualisieren</button>
                    </div>

                    <hr>
                </div>

                <div id="linkEditDiv" hidden>
                    <h3 class="text-center">Assoziation bearbeiten</h3>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header text-center" id="sourceClass">Source</div>
                                <div class="card-body"><hr></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <select class="form-control" id="sourceMult" title="empty">
                                    @for(cardinality <- UmlMultiplicity.values) {
                                        <option>@cardinality.representant</option>
                                    }
                                    </select>
                                </div>

                                <div class="col-md-6">
                                        <!-- FIXME: Typ der Assoziation? -->
                                        <!--<select class="form-control" id="assocType" title="empty">${assocTypeOptions}</select>-->
                                </div>

                                <div class="col-md-3">
                                    <select class="form-control" id="targetMult" title="empty">
                                    @for(cardinality <- UmlMultiplicity.values) {
                                        <option>@cardinality.representant</option>
                                    }
                                    </select>
                                </div>
                            </div>

                            <hr class="assocLine" id="linkId" data-id="${linkId}">
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-header text-center" id="targetClass">Target</div>
                                <div class="card-body"><hr></div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="btn-group d-flex">
                        <button class="btn btn-secondary w-100" id="linkEditReset">Änderungen verwerfen</button>
                        <button class="btn btn-primary w-100" id="linkEditSubmit">Änderungen übernehmen</button>
                    </div>

                    <hr>
                </div>

                <div id="resultDiv" hidden>
                    <h2 class="text-center">Resultate</h2>
                    <div id="results"></div>
                </div>

            </div>
        </div>
    </div>
}
