@import model.User
@import model.tools.programming.ProgDataTypes
@import model.tools.uml.{UmlAssociationType, UmlClassType, UmlConsts, UmlExercise, UmlMultiplicity, UmlToolMain, UmlVisibility}

@(user: User, collId: Int, compExForm: Form[UmlExercise], isCreation: Boolean, toolMainObject: UmlToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)


@additionalScripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/uml/editUmlExerciseForm.js")');</script>
}

@specialFields = {
    <fieldset>
        <legend class="text-center">Spezialangaben</legend>


        <div class="row">
            <label class="col-form-label col-md-2">Ignorieren:</label>
            <div class="col-md-10">
                <div class="row" id="ignoreWordsRow">
                    @helper.repeat(compExForm(UmlConsts.ignoreWordsName), min = 1) { toIgnoreField =>
                        <div class="col-md-4">
                            <div class="form-group">
                                @myhelpers.input(toIgnoreField, placeHolder = Some("Ignoriertes Wort"))
                            </div>
                        </div>
                    }

                    <div class="col-md-4 form-group">
                        <button type="button" class="btn btn-outline-primary btn-block" id="addIgnoreWordBtn">
                            <span class="octicon octicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-form-label col-md-2">Mappings:</label>
            <div class="col-md-10">
                <div class="row" id="mappingsRow">
                    @helper.repeat(compExForm(UmlConsts.mappingsName), min = 1) { mappingField =>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    @myhelpers.input(mappingField(UmlConsts.keyName), placeHolder = Some("Ersetzt"))
                                <div class="input-group-text">&rarr;</div>
                                    @myhelpers.input(mappingField(UmlConsts.valueName), placeHolder = Some("Ersetzung"))
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-md-6 form-group">
                        <button type="button" class="btn btn-outline-primary btn-block" id="addMappingBtn">
                            <span class="octicon octicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>


    <fieldset>
        <legend class="text-center">Musterlösungen</legend>

        @helper.repeat(compExForm(UmlConsts.samplesName), min = 1) { sampleField =>

            <div class="form-group row">
                @myhelpers.inputWithLabel(sampleField(UmlConsts.idName), "ID", "number", 2, 10, otherAttrs = Seq("readOnly"))
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Klassen:</label>
                <div class="col-md-10">
                @helper.repeat(sampleField(UmlConsts.classesName)) { classField =>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">@myhelpers.select(classField(UmlConsts.classTypeName), UmlClassType.values.map(t => (t.entryName, t.german)))</div>
                                <div class="col-md-6">@myhelpers.input(classField(UmlConsts.classNameName))</div>
                            </div>
                        </div>
                        <div class="card-body">

                            @helper.repeat(sampleField(UmlConsts.attributesName)) { attributeField =>
                                <div class="form-group">
                                    <div class="input-group">
                                        @myhelpers.select(attributeField(UmlConsts.visibilityName),
                                            UmlVisibility.values.map(v => (v.entryName, v.representant)))

                                    <button type="button" class="btn" title="Abstrakt">a</button>
                                    <button type="button" class="btn" title="Statisch">s</button>
                                    <button type="button" class="btn" title="Abgeleitet">d</button>

                                        @myhelpers.input(attributeField(UmlConsts.nameName), placeHolder = Some("Name"))

                                    <div class="input-group-text">:</div>

                                        @myhelpers.select(attributeField(UmlConsts.typeName), ProgDataTypes.values.map(t => (t.entryName, t.typeName)))
                                    </div>
                                </div>
                            }

                            <hr>

                            <p class="text-danger">TODO: Methoden...</p>

                        </div>
                    </div>
                }
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Assoziationen:</label>
                @* FIXME: parse class names from inputs and use selects ?!? *@
                <div class="col-md-10" id="assocsRow">
                    @helper.repeat(sampleField(UmlConsts.associationsName)) { assocField =>
                        <div class="form-group row">
                            <div class="col-md-2">
                                @myhelpers.select(assocField(UmlConsts.associationTypeName), UmlAssociationType.values.map(t => (t.entryName, t.german)))
                            </div>
                            <div class="col-md-2">
                            @myhelpers.input(assocField(UmlConsts.associationNameName), placeHolder = Some("Name"))
                            </div>

                            <div class="col-md-2">@myhelpers.input(assocField(UmlConsts.firstEndName), placeHolder = Some("Klassenname"))</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @myhelpers.select(assocField(UmlConsts.firstMultName),
                                        UmlMultiplicity.values.map(v => (v.entryName, v.representant)))
                                    <div class="input-group-text">:</div>
                                    @myhelpers.select(assocField(UmlConsts.secondMultName),
                                        UmlMultiplicity.values.map(v => (v.entryName, v.representant)))
                                </div>
                            </div>
                            <div class="col-md-2">@myhelpers.input(assocField(UmlConsts.secondEndName), placeHolder = Some("Klassenname"))</div>
                        </div>
                    }

                    <div class="form-group">
                        <button type="button" class="btn btn-outline-primary btn-block" id="addAssocBtn">
                            <span class="octicon octicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2">Implementierungen:</label>
                <div class="col-md-10">
                    <div class="row" id="implsRow">
                        @helper.repeat(sampleField(UmlConsts.implementationsName)) { implField =>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        @myhelpers.input(implField(UmlConsts.subClassName), placeHolder = Some("Unterklasse"))
                                    <div class="input-group-text">&Rarr;</div>
                                        @myhelpers.input(implField(UmlConsts.superClassName), placeHolder = Some("Oberklasse"))
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-outline-primary btn-block" id="addImplBtn">
                                    <span class="octicon octicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </fieldset>
}

@idExercises.editExerciseBaseForm(user, collId, compExForm, isCreation, toolMainObject, specialFields, additionalScripts)
