@import model.tools.uml.{UmlToolMain, UmlCompleteResult, UmlClassMember}
@import model.core.matching.MatchType
@import model.tools.uml.matcher.{UmlClassMemberMatch}

@(user: model.User, result: UmlCompleteResult, toolMain: UmlToolMain)

@title = @{
    "Korrektur: Zuordnung der Member"
}

@describeMember(member: UmlClassMember) = @{
    member.memberName + ": " + member.memberType
}

@describeClassMemberMatch(memberMatch: UmlClassMemberMatch[_ <: UmlClassMember], name: String) = {
    <li class="text-@memberMatch.matchType.bsClass">

    @memberMatch.matchType match {
        case MatchType.SUCCESSFUL_MATCH => {
            Die Angabe @name <code>@memberMatch.userArg.map(describeMember).getOrElse("FEHLER!")</code> ist korrekt.
        }
        case MatchType.PARTIAL_MATCH => {
            Die Angabe @name <code>@memberMatch.userArg.map(describeMember).getOrElse("FEHLER!")</code> ist nur teilweise korrekt.
        }
        case MatchType.UNSUCCESSFUL_MATCH => {
            Die Angabe @name <code>@memberMatch.userArg.map(describeMember).getOrElse("FEHLER!")</code> ist falsch.
        }
        case MatchType.ONLY_SAMPLE => {
            Die Angabe @name <code>@memberMatch.sampleArg.map(describeMember).getOrElse("FEHLER!") </code> fehlt.
        }
        case MatchType.ONLY_USER => {
            Die Angabe @name <code>@memberMatch.userArg.map(describeMember).getOrElse("FEHLER!")</code> war falsch.
        }
        case _ => {
            @memberMatch.matchType
        }
    }

    </li>
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        @result.classResult match {
            case None => {
                <div class="alert alert-danger">Es gab einen Fehler bei der Korrektur!</div>
            }
            case Some(classRes) => {
                @for(classMatchTuple <- classRes.allMatches grouped 2) {
                    <div class="row">
                    @for(classMatch <- classMatchTuple) {
                        <div class="col-md-6">
                            <div class="panel panel-@classMatch.matchType.bsClass">
                                <div class="panel-heading">@classMatch.userArg.map(_.name)</div>
                                <div class="panel-body">
                                    <ul>
                                    @for(attrMatch <- classMatch.attributesResult.map(_.allMatches).getOrElse(Seq.empty)) {
                                        @describeClassMemberMatch(attrMatch, "des Attributes")
                                    }
                                    </ul>

                                    <hr>

                                    <ul>
                                    @for(methodMatch <- classMatch.methodsResult.map(_.allMatches).getOrElse(Seq.empty)) {
                                        @describeClassMemberMatch(methodMatch, "der Methode")
                                    }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                }
            }
        }

        <hr>

        <a class="btn btn-block btn-primary" href="@coll.routes.CollectionController.index(toolMain.urlPart)">
            Bearbeitung beenden</a>
    </div>
}
