@(umlExercise: model.tools.uml.UmlExercise)


<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>ID</th>
                <td>@umlExercise.id</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>@umlExercise.author</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@umlExercise.state</td>
            </tr>
            <tr>
                <th>Ignoriert</th>
                <td>@Html(umlExercise.toIgnore.map(i => "<code>" + i + "</code>").mkString(", "))</td>
            </tr>
        </table>
    </div>


    <div class="col-md-6">
        <h2>Mappings</h2>
        <ul>
        @for((key, value) <- umlExercise.mappings) {
            <li>@key &rarr;
                @value</li>
        }
        </ul>
    </div>
</div>

<p>Marked Text</p>
<div class="well pre-scrollable">@umlExercise.markedText</div>

    @sampleSolution = @{
        umlExercise.sampleSolutions.head.sample
    }

<td>
    <p>Lösung</p>
    <p>@sampleSolution.classes</p>
    <p>@sampleSolution.associations</p>
    <p>@sampleSolution.implementations</p>
</td>
