@(user: model.user.User)

@statistics = {
<li>Es gibt insgesamt @model.UmlExercise.finder.all().size() Aufgaben</li>
}

@strs = @{scala.collection.Map(
  "app" -> "Uml",
  "pluralName" -> "Aufgaben"
)}

@calls = @{scala.collection.Map(
  "index" ->   uml.routes.UmlController.index(),
  "newExerciseForm" -> uml.routes.UmlAdmin.newExerciseForm(),
  "export" -> uml.routes.UmlAdmin.exportExercises(),
  "import" -> uml.routes.UmlAdmin.importExercises(),
  "jsonSchema" -> uml.routes.UmlAdmin.getJSONSchemaFile(),
  "upload" -> uml.routes.UmlAdmin.uploadFile()
)}

@admin.exerciseAdminMain(user, strs, statistics, calls) { }
