@(user: model.user.User, exercise: model.UmlExercise, capWords: List[String])

@main("UML: neue Aufgabe", user) {
<script src="@controllers.routes.Assets.versioned("javascripts/uml/exerciseCreation.js")"></script>
<style>
.non-marked {
  color: red;
}
</style>

<div class="container">
  <div class="page-header">
    <h1>Erstellung einer neuen UML-Aufgabe</h1>
  </div>
  
  <form class="form-horizontal" action="@uml.routes.UmlAdmin.newExerciseStep3()" method="post">
  
    <div class="form-group">
      <label class="control-label col-sm-1" for="@model.StringConsts.TITLE_NAME">Titel:</label>
      <div class="col-sm-11">
        <input class="form-control" id="@model.StringConsts.TITLE_NAME" name="@model.StringConsts.TITLE_NAME" value="@exercise.getTitle" readonly required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="@model.StringConsts.TEXT_NAME">Text:</label>
      <div class="col-sm-11"> 
        <textarea class="form-control" id="@model.StringConsts.TEXT_NAME" name="@model.StringConsts.TEXT_NAME" readonly required>@exercise.getText</textarea>
      </div>
    </div>
    
    <hr>
    
    <div class="row">    
      <div class="col-sm-12">
        <h2>Bisheriger (annotierter) Aufgabentext</h2>
        <div id="textDiv">@Html(exercise.getClassSelText)</div>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-sm-12">
        <h2>Gro&szlig;geschriebene Worte im Text</h2>
        
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>Wort</th>
                <th>Ignorieren?</th>
                <th>Hat Basisform?</th>
                <th>Weder noch.</th>
                <th>Basisform</th>
              </tr>
            </thead>
            <tbody>
            @for(cap <- capWords.subList(0, capWords.size() / 2)) {
              <tr>
                <td>@cap</td>
                <td><input type="radio" name="@cap" value="ignore" onclick="radioChange(this);"></td>
                <td><input type="radio" name="@cap" value="baseform" onclick="radioChange(this);"></td>
                <td><input type="radio" name="@cap" value="none" checked onclick="radioChange(this);"></td>
                <td><input name="@{cap}_baseform" id="@{cap}_baseform" data-cap="@cap" onchange="baseformChange(this);"
                  disabled class="form-control"></td>
              <tr>
            }
            </tbody>
          </table>
        </div>
        
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>Wort</th>
                <th>Ignorieren?</th>
                <th>Hat Basisform?</th>
                <th>Weder noch.</th>
                <th>Basisform</th>
              </tr>
            </thead>
            <tbody>
            @for(cap <- capWords.subList(capWords.size() / 2, capWords.size())) {
              <tr>
                <td>@cap</td>
                <td><input type="radio" name="@cap" value="ignore" onclick="radioChange(this);"></td>
                <td><input type="radio" name="@cap" value="baseform" onclick="radioChange(this);"></td>
                <td><input type="radio" name="@cap" value="none" checked onclick="radioChange(this);"></td>
                <td><input name="@{cap}_baseform" id="@{cap}_baseform" data-cap="@cap" onchange="baseformChange(this);"
                  disabled class="form-control"></td>
              <tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-block">N&auml;chster Schritt: ...</button>
      </div>
    </div>
  </form>

</div>
}