@(user: model.user.User)

@main("UML: neue Aufgabe", user) {
<div class="container">
  <div class="page-header">
    <h1>Erstellung einer neuen UML-Aufgabe</h1>
  </div>
  
  <form class="form-horizontal" action="@uml.routes.UmlAdmin.newExerciseStep2()" method="post">
  
    @newExStdFields.render(user, 10)
    
    <hr>
    
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-block">N&auml;chster Schritt: ...</button>
      </div>
    </div>
  </form>
  
</div>
}