@(user: model.user.User, title: String, text: String, capWords: java.util.Collection[String])

@main("UML: neue Aufgabe", user) {
<div class="container">
  <div class="page-header">
    <h1>Erstellung einer neuen UML-Aufgabe</h1>
  </div>
  
  <form class="form-horizontal" action="@uml.routes.UmlAdmin.newExercise()" method="post">
  
    <div class="form-group">
      <label class="control-label col-sm-1" for="title">Titel:</label>
      <div class="col-sm-11">
        <input class="form-control" id="title" name="title" value="@title" readonly>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="text">Text:</label>
      <div class="col-sm-11"> 
        <textarea class="form-control" rows="10" id="text" name="text" readonly>@text</textarea>
      </div>
    </div>
    
    <h1>Gro&szlig;geschriebene Worte im Text</h1>
    <div class="col-sm-offset-1 col-sm-11">
      <table class="table">
        <thead>
          <tr>
            <th>Wort</th>
            <th>Ignorieren?</th>
            <th>Hat Basisform?</th>
            <th>Weder noch.</th>
            <th>Basisform</th>
          </tr>
        </thead>
        <tbody>
        @for(cap <- capWords) {
          <tr>
            <td>@cap</td>
            <td><input type="radio" name="@cap" value="ignore"></td>
            <td><input type="radio" name="@cap" value="baseform"></td>
            <td><input type="radio" name="@cap" value="none" checked></td>
            <td><input name="@{cap}_baseform" class="form-control"></td>
          <tr>
        }
        </tbody>
      </table>
    </div>
    
    <div class="form-group"> 
      <div class="col-sm-offset-1 col-sm-11">
        <button type="submit" class="btn btn-default">Aufgabe erstellen</button>
      </div>
    </div>
    
  </form>

</div>
}