@(user: model.user.User, exercise: model.UmlExercise)

@main("UML: neue Aufgabe", user) {
<script src="@controllers.routes.Assets.versioned("javascripts/ace/ace.js")"></script>
<script src="@controllers.routes.Assets.versioned("javascripts/helperfunctions.js")"></script>
<script src="@controllers.routes.Assets.versioned("javascripts/uml/exerciseCreation.js")"></script>
<script>
var url = "@uml.routes.UmlAdmin.checkSolution";

$(document).ready(function {
  initEditor("json", 20, 50);
  editor.on("change", checkSolutionWithSchema);
});
</script>

<style>
.non-marked {
  color: red;
}
</style>

<div class="container">
  <div class="page-header">
    <h1>Erstellung einer neuen UML-Aufgabe</h1>
  </div>
  
  <form class="form-horizontal" action="@@uml.routes.UmlAdmin.newExercise" method="post">
  
    <div class="form-group">
      <label class="control-label col-sm-1" for="title">Titel:</label>
      <div class="col-sm-11">
        <input class="form-control" id="title" name="title" value="@exercise.getTitle" readonly>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="text">Text:</label>
      <div class="col-sm-11"> 
        <textarea class="form-control" id="text" name="text" readonly>@exercise.getText</textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="classSelText">Klassenwahl:</label>
      <div class="col-sm-11"> 
        <textarea class="form-control" id="classSelText" name="classSelText" readonly>@exercise.classSelText</textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="diagDrawText">Freies Zeichnen:</label>
      <div class="col-sm-11"> 
        <textarea class="form-control" id="diagDrawText" name="diagDrawText" readonly>@exercise.diagDrawText</textarea>
      </div>
    </div>
    
    <hr>
    
    <h2>Fertig annotierter Aufgabentext</h2>
    <div class="row">
      <div class="col-sm-12 text-justify">
        @Html(exercise.classSelText)
      </div>
    </div>
    
    <hr>
    
    <h2>L&ouml;sung</h2>
    
    <div class="alert alert-success" id="solutionValid">
      <span class="glyphicon glyphicon-ok"></span> L&ouml;sung entspricht dem JSON-Schema
    </div>
    
    <div class="form-group">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="btn-group">
              <button type="button" class="btn btn-default" onclick="changeFontsize(-2);">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
              <span class="btn btn-default">Schriftgr&ouml;&szlig;e: <span id="fontsize">16</span> px</span>
              <button type="button" class="btn btn-default" onclick="changeFontsize(+2);">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </button>
            </div>
            
          </div>
          <div id="editor" class="form-control">{
  "classes": [
    
  ],
  "associations": [
    
  ],
  "implementations": [
    
  ]
}
          </div>
          <textarea hidden name="learnerSolution" id="learnerSolution"></textarea>
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-block">N&auml;chster Schritt: ...</button>
      </div>
    </div>
  </form>
  
</div>
}