@(user: model.user.User, exercise: model.UmlExercise)

<style>
.non-marked {
	color: red;
}
</style>

@main("UML: neue Aufgabe", user) {
<div class="container">
  <div class="page-header">
    <h1>Aufgabe @exercise.id: @exercise.title</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Text f&uuml;r Klassenwahl:</div>
        <div class="panel-body">
          @exercise.classSelText
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Text f&uuml;r freies Zeichnen:</div>
        <div class="panel-body">
          @exercise.diagDrawText
        </div>
      </div>
    </div>
  </div>
</div>
}
