@(user: model.user.User, exercises: List[model.ProgExercise])

@main("Programmiersprachen", user) {
<div class="container">
  <div class="page-header">
    <h1 class="page-title">&Uuml;bersicht &uuml;ber verf&uuml;gbare Aufgaben</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Nummer</th>
        <th>Titel</th>
        <th/>
      </tr>
    </thead>
    <tbody>
    @for(exercise <- exercises) {
      <tr>
        <td>@exercise.id</td>
        <td>@exercise.title</td>
        <td><a class="btn btn-primary btn-block" href="@programming.routes.Prog.testData(exercise.id)">Testdaten erstellen</a>
        @for(lang <- model.ProgLanguage.values()) {
        <td><a class="btn btn-primary btn-block" href="@programming.routes.Prog.exercise(exercise.id, lang.toString())">
        Mit @lang.getName() bearbeiten</a></td>
        }
      </tr>
    }
    </tbody>
  </table>
  
</div>
}