@(user: model.user.User, exercise: model.ProgExercise)

@stdLanguage = @{model.AvailableLanguages.getStdLang()}

@main("Programmiersprachen Test", user) {
<script src="@routes.Assets.versioned("javascripts/programming.js")"></script>
<script src="@routes.Assets.versioned("javascripts/helperfunctions.js")"></script>

<script>
function changeProgLanguage(select, theUrl) {
  var language = select.value;
  $.ajax({
    type: 'GET',
    url: theUrl,
    data: "language=" + language,
    async: true,
    success: function(response) {
      document.getElementById("language").value = language;
      editor.setValue(response, 1000000);
    }
  });
}
</script>

<div class="container">
  <form action="@programming.routes.ProgController.correct(exercise.getId)" method="post" onsubmit="prepareFormForSubmitting();">
  
    <div class="row">
      <div class="col-md-6">
        <!-- Aufgabenstellung und Editor -->
        <div class="page-header">
          <h1>Aufgabenstellung</h1>
        </div>
          
        <p>@Html(exercise.getText)</p>
          
        <hr>
        
        <div class="input-group">
          <span class="input-group-addon">Sprache</span>
          <select class="form-control" onchange="changeProgLanguage(this, '@programming.routes.ProgController.getDeclaration()');">
          @for(language <- model.AvailableLanguages.values()) {
          	<option value="@language" @if(language == stdLanguage) {selected}>@language.getName()</option>
          }
          </select>
        </div>
        
        <hr>
        
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" class="btn btn-primary"
              onclick="testTheSolution('@programming.routes.ProgController.correctLive(exercise.getId)')">
            L&ouml;sung testen</button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-success" >L&ouml;sung abgeben</button>
          </div>
        </div>
        
      </div>
      
      <div class="col-md-6">
        @editor(stdLanguage.getDeclaration(), stdLanguage.getAceName(), 15, 30, false)
        <input hidden name="@model.StringConsts.LANGUAGE_NAME" id="@model.StringConsts.LANGUAGE_NAME" value="@stdLanguage">
      </div>
    </div>

    <hr>

    <div class="row">      
      <div class="col-md-12">
        <!-- Korrektur -->
        <div class="panel panel-default">
          <div class="panel-heading">Korrektur</div>
          <div class="panel-body" id="correction">Hier stehen bald die Korrekturwerte...</div>
        </div>
      </div>
    </div>
  </form>
</div>
}