@import model.tools.programming.{ProgCollection, ProgExPart, ProgExercise, ProgLanguages, ProgToolMain}

@(user: model.User, collection: ProgCollection, exercise: ProgExercise, oldSolution: String, part: ProgExPart, toolMainObject: ProgToolMain)(implicit
    requestHeader: RequestHeader, messagesProvider: MessagesProvider
)

@title = @{
    "TODO!"
}

@additionalScripts = {
    <script>
            const imports = [
                '@routes.Assets.versioned("app/programming/progExercise.js")',
                '@routes.Assets.versioned("app/programming/progClassDiagram.js")'
            ];
            for (let toImport of imports) {
                SystemJS.import(toImport);
            }
    </script>
}

@remainingExerciseDef = {
    <div class="form-group">
        <div class="btn-group d-flex">
            <button class="btn btn-outline-primary w-100" data-toggle="modal" data-target="#definitionRest">
                Rest der Definition</button>
            @exercise.maybeClassDiagramPart match {
                case None => {}
                case Some(classDiagPart@_) => {
                    <button type="button" class="btn btn-info w-100" data-toggle="modal" data-target="#classDiagramModal">Klassendiagramm</button>
                }
            }
        </div>
    </div>
}

@toolViews.ideExercise(
    user,
    title,
    Html(exercise.text),
    fileNames = exercise.filesForExercisePart(part).map(_.name),
    maybeActiveFile = None,
    toolMain = toolMainObject,
    collection,
    exercise,
    part,
    solutionPreview = None,
    additionalScripts,
    //    oldSolution,
    //    remainingExDef = Some(remainingExerciseDef )
)
