@import model.tools.programming.{ProgCollection, ProgExPart, ProgExercise, ProgLanguages, ProgToolMain}

@(user: model.User, collection: ProgCollection, exercise: ProgExercise, part: ProgExPart, fileNames: Seq[String], toolMainObject: ProgToolMain)(implicit
    requestHeader: RequestHeader, messagesProvider: MessagesProvider
)

@title = @{
    "TODO!"
}

@additionalScripts = {
    <script>
            const imports = [
                '@routes.Assets.versioned("app/programming/progExercise.js")',
                '@routes.Assets.versioned("app/programming/progClassDiagram.js")'
            ];
            for (let toImport of imports) {
                SystemJS.import(toImport);
            }
    </script>
}

@toolViews.ideExercise(
    user,
    title,
    Html(exercise.text),
    fileNames,
    maybeActiveFile = None,
    toolMain = toolMainObject,
    collection,
    exercise,
    part,
    solutionPreview = None,
    additionalScripts,
)
