@import model.tools.programming.{ProgCollection, ProgExParts, ProgExercise, ProgToolMain}

@(user: model.User, collection: ProgCollection, exercise: ProgExercise, fileNames: Seq[String], toolMain: ProgToolMain)(
    implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Erstellen von Unittests"
}

@exerciseText = {
    <p>@Html(exercise.unitTestPart.unitTestsDescription)</p>

    <p>Es werden @exercise.unitTestPart.unitTestTestConfigs.size Tests mit verschiedenen Implementierungen ausgeführt.
        Dabei soll unter anderem folgendes geprüft werden:</p>
    <ul>
    @for(utc <- exercise.unitTestPart.unitTestTestConfigs.filter(_.shouldFail)) {
        <li>@utc.description</li>
    }
    </ul>

    <hr>

@core.helperTemplates.modal("Bearbeitungshinweise", "hintsModal", "lg") {
    <p>Implementieren Sie die Unittests in der Datei <code>test.py</code>.</p>
    <p>Diese werden gegen verschiedene Implementierungen ausgeführt, die teilweise die Fehler enthalten, die abgefangen werden sollen.</p>
    <p>Dadurch kann ermittelt werden, ob Ihre Unittests alle Fehlerfälle testen.</p>
}

    <button data-toggle="modal" data-target="#hintsModal" class="btn btn-info btn-block">Bearbeitungshinweise</button>
}

@additionalScripts = {
    <script>SystemJS.import('@routes.Assets.versioned("app/programming/unittestCreation.js")')</script>
}

@toolViews.ideExercise(
    user, title, exerciseText,
    fileNames, None, toolMain,
    collection, exercise, ProgExParts.TestCreation,
    solutionPreview = None, additionalScripts)
