@import model.user.User

@(learnerSolution: String, testResults: List[String], user: User)

@main("JavaScript: Korrektur", user) {
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Ihre L&ouml;sung</div>
      <div class="panel-body">@learnerSolution</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Testergebnisse</div>
      <div class="panel-body">
      @for(testResult <- testResults) {
        <p>@testResult</p>
      }
      </div>
    </div>
  </div>
}