@import model.user.User
@import model.javascript.JavascriptExercise

@(user: User, exercise: JavascriptExercise)

@main("JavaScript-Test", user) {
<script src="@routes.Assets.versioned("javascripts/ace/ace.js")" type="text/javascript" charset="utf-8"></script>
<div class="container">
  <form action="/javascript/commit/@exercise.getExerciseId()" onsubmit="pasteCode();" method="post">
    <div class="panel panel-default">
      <div class="panel-heading">Aufgabenstellung</div>
      <div class="panel-body">@exercise.getExerciseText()</div>
    </div>
    <div class="panel panel-default">
      <div id="editor" class="form-control" style="height: 500px;">@exercise.getSolutionDefault()</div>
      <textarea hidden="hidden" id="editorContent" name="editorContent"></textarea>
      <script>
document.getElementById('editor').style.fontSize = '14px';
var editor = ace.edit("editor");
editor.setTheme("ace/theme/eclipse");
editor.getSession().setMode("ace/mode/javascript");
editor.setTabSize(4);

function pasteCode() {
  var content = editor.getValue();
  document.getElementById('editorContent').value = content;
}
      </script>
    </div>
    <p><input type="submit" class="form-control"></p>
  </form>
</div>
}
