@(user: model.user.User)

@statistics = {
<li>Es existieren insgesamt @model.XmlExercise.finder.all().size() Augaben, davon
  <ul>
  @for(exType <- model.XmlExType.values()) {
    <li>@model.XmlExercise.byType(exType).size() Aufgaben vom Typ @exType</li>
  }
  </ul>
</li>
}

@calls = @{new model.AdminRoutesObject(
  xml.routes.XmlController.exercises(),
  xml.routes.XmlAdmin.newExerciseForm(),
  xml.routes.XmlAdmin.exportExercises(),
  xml.routes.XmlAdmin.importExercises(),
  xml.routes.XmlAdmin.getJSONSchemaFile(),
  xml.routes.XmlAdmin.uploadFile()
)}

@admin.adminMain(user, "Xml", statistics, calls) { }
