@(user: model.user.User)

@main("XML: neue Aufgabe", user) {
<div class="container">
  <div class="page-header">
    <h1>Erstellung einer neuen XML-Aufgabe</h1>
  </div>
  
  <form class="form-horizontal" action="@xml.routes.XmlAdmin.newExercise()" method="post">

    <div class="form-group">
      <label class="control-label col-sm-1" for="title">Titel:</label>
      <div class="col-sm-11">
        <input class="form-control" name="title" placeholder="Titel der Aufgabe" required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="text">Text:</label>
      <div class="col-sm-11"> 
        <textarea class="form-control" rows="10" name="text" placeholder="Text der Aufgabe" required></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1">Aufgabentyp:</label>
      <div class="col-sm-11">
      @for(exType <- model.XmlExType.values()) {
        <div class="radio">
          <label><input type="radio" name="exerciseType" value="@exType" required> @Html(exType.getTag())</label>
        </div>
      }
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="fixedStart">Fixed start:</label>
      <div class="col-sm-11">
        <input class="form-control" name="fixedStart" placeholder="fixedStart" required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-1" for="referenceFileName">Name der Referenzdatei:</label>
      <div class="col-sm-11">
        <input class="form-control" name="referenceFileName" placeholder="referenceFileName" required>
      </div>
    </div>
    
    <hr>
    
    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-block">N&auml;chster Schritt: ...</button>
      </div>
    </div>
  </form>
  
</div>
}

  