@(exercises: List[model.XmlExercise])

<a href="@xml.routes.XmlAdmin.index()" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

<hr>

@for((ex, index) <- exercises.zipWithIndex) {
@if(index % 2 == 0) {<div class="row">}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Aufgabe @ex.getId: @ex.getTitle</div>
      <div class="panel-body">
        <table class="table">
          <tr>
            <th>Text</th>
            <td>@ex.getText</td>
          </tr>
          <tr>
            <th>Aufgabentyp</th>
            <td>@ex.getExerciseType</td>
          </tr>
          <tr>
            <th>Dateiname</th>
            <td>&quot;@ex.getReferenceFileName&quot;</td>
          </tr>
          <tr>
            <th>Fixed Start</th>
            <td><pre>@ex.getFixedStart</pre></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
@if(index % 2 == 1) {</div>}
}