@* TableThree Template File *@
@(formula: String)(vars: Array[String])(user: model.user.User)(zeros: Array[Array[Char]])(length: Int)
@main("Wertetabelle", user) {
<div class="container">
<form action="@binary.routes.Bool.tableAdd" method="post">
<table class="table">
	<thread align = "right">
		<tr>
			@for(v <- vars){
			<td>
				@v
			</td>
			}
			<td>
				@formula
			</td>
		</tr>
	</thread>
	<tbody align = "left">
	@for(i <- 0 until (length)){
		<tr>
		@for(j <- 0 until (vars.length)){
			<td>@zeros(j)(i)</td>
			}
			<td>
				<input type="text" name = @i.toString size = 1>
			</td>
		}
	</tbody>
</table>

	<input type = "submit" class="form-control">
</form>
</div>
}