@* boolsolution Template File *@
@(user: model.user.User, correct: Boolean, formula: String, zeros: Array[Array[Char]], length: Int, userInput: Array[String], answer: Array[String], exception_msg: String, bft: model.boolescheAlgebra.BFTree.BoolescheFunktionTree)
@main("Wertetabelle-L\u00f6sung", user) {
	<div class="container">
		<div class="panel panel-@if(correct){success}else{danger}">
	<div class="panel-heading">
	Ausf&uuml;llen der Wertetabelle
	</div>
	<div class="panel-body">
		Die Wertetabelle wurde
			@if(correct) {
				richtig ausgef&uuml;llt.
			} else {
				leider falsch ausgef&uuml;llt. <BR> Die richtige L&ouml;sungen sieht folgenderma&szlig;en aus: <BR> 
				<table class="table">
					<thread align = "right">
						<tr>
							@for(v <- bft.getVariablen()){
								<td>
									@v
								</td>
							}
							<td class="col-md-10">
								<style>
									a.mytooltip:link {
									    color: #333333;
									    text-decoration: none;
									}
									a.mytooltip:visited {
									    color: #333333;
									    text-decoration: none;
									}
									a.mytooltip:hover {
									    color: #333333;
									    text-decoration: none;
									}
									a.mytooltip:active {
									    color: #333333;
									    text-decoration: none;
									}
									.tooltip-inner {
 									   max-width: 1000px;
									}
								</style>
								<a class="mytooltip" href="#" data-toggle="tooltip" data-placement="right" title="@formula">
									@Html(formula.replace("NOT","&not;").replace("AND","&and;").replace("XOR","&oplus;").replace("OR","&or;").intern())
								</a>
							</td>
						</tr>
					</thread>
					<tbody align = "left">
						@for(i <- 0 until (length)){
							<tr>
								@for(j <- 0 until (bft.getVariablen().length)){
									<td>@zeros(j)(i)</td>
								}
							<td>
								<p class="text-@if(userInput(i) == answer(i)){success}else{danger}">@answer(i)</p>
							</td>
						}
					</tbody>
					</table>
				}
			<BR>
	 	<p><a href="@binary.routes.Bool.index" class="btn btn-primary" role="button">N&auml;chste Aufgabe</a></p>
	</div>
	</div>
	</div>
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip(); 
	});
	</script>
}
