@(user: model.user.User, givenAnswer: String, correct: Boolean, exception_msg: String, var_names: Array[String], wahrheitstafel: Array[Array[Char]], spalten: Int, zeilen: Int, dnf: String, knf: String)

@main("Formel erstellen", user) {
	<div class="container">
		<div class="@if(correct) {panel panel-success} else {panel panel-danger}">
			<div class="panel-heading">
					Erstellen Sie die Formel zu folgender Wahrheitstafel:
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4">
						<table class="table">
							<thread align = "right">
								<tr>
									@for(v <- var_names){
									<td>
										@v
									</td>
									}
									<td class="col-md-4">
										Resultat
									</td>
								</tr>
							</thread>
							<tbody align = "left">
							@for(i <- 0 until (zeilen)){
								<tr>
								@for(j <- 0 until (spalten)){
									<td>@wahrheitstafel(j)(i)</td>
									}
								}
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="container-fluid">
						<p><strong>Ihre Antwort: @givenAnswer &nbsp;&nbsp;</strong></p>
						<p>Ihre L&ouml;sung ist 
							@if(correct) {
								richtig.</p>
							} else {
								leider falsch. </p>
								<p>@exception_msg</p>
							}
						&nbsp;<br>
						<p>
							Musterl&ouml;sungen:<br>
							kanonische disjunktive Normalform: &nbsp; @dnf <br>
							kanonische konjunktive Normalform: &nbsp; @knf <br>
						</p>
						<a href="@binary.routes.BoolFormelErstellen.index" class="btn btn-primary" role="button">
							N&auml;chste Aufgabe
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}