@(user: model.user.User, question: model.bool.FilloutQuestion)

@main("Wertetabelle", user) {

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">F&uuml;llen Sie folgende Tabelle aus:</div>
    <div class="panel-body">
      <form action="@binary.routes.Bool.indexSolution" method="post">
        <div class="row">  
          <div class="col-sm-6 col-sm-offset-3">
            <table class="table">
              <thead>
                <tr>
                @for(v <- question.getVariables()) {
                  <th>@v</th>
                }
                  <th>@question.getFormulaAsHtml()</th>
                </tr>
              </thead>
              <tbody>
              @for(i <- 0 until question.getAssignments().size()){
                <tr>
                @for(variable <- question.getAssignments().get(i).getVariables()) {
                  <td>@question.getAssignments().get(i).getAssignmentAsChar(variable)</td>
                }
                  <td><input type="number" autocomplete="off" min="0" max="1" step="1" name="sol_@i.toString" size="1"
                    maxlength="1" required></td>
              }
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input hidden name="bft" value="@question.getFormulaAsString">
            <input hidden name="variablen" value="@question.getJoinedVariables()">
            <button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Tooltip script -->
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
}
