@* boolsolution Template File *@
@(user: model.user.User)(correct: Boolean)(formula: String)(vars: Array[String])(zeros: Array[Array[Char]])(length: Int)(userInput: Array[String])(answer: Array[String])(exception_msg: String)
@main("Wertetabelle-Lösung", user) {
	<div class="container">
		<div class="panel panel-@if(correct){success}else{danger}">
	<div class="panel-heading">
	Ausf&uuml;llen der Wertetabelle
	</div>
	<div class="panel-body">
		Die Wertetabelle wurde
			@if(correct) {
				richtig ausgef&uuml;llt.
			} else {
				leider falsch ausgef&uuml;llt. <BR> Die richtige L&ouml;sungen sieht folgenderma&szlig;en aus: <BR> 
				<table class="table">
					<thread align = "right">
						<tr>
							@for(v <- vars){
								<td>
									@v
								</td>
							}
							<td>
								@formula
							</td>
						</tr>
					</thread>
					<tbody align = "left">
						@for(i <- 0 until (length)){
							<tr>
								@for(j <- 0 until (vars.length)){
									<td>@zeros(j)(i)</td>
								}
							<td>
								<p class="text-@if(userInput(i) == answer(i)){success}else{danger}">@answer(i)</p>
							</td>
						}
					</tbody>
					</table>
				}
			<BR>
	 	<p><a href="@binary.routes.Bool.index" class="btn btn-primary" role="button">N&auml;chste Aufgabe</a></p>
	</div>
	</div>
	</div>
}
