@* Template File *@
@(user: model.user.User, var_names: Array[String], wahrheitstafel: Array[Array[Char]], spalten: Int, zeilen: Int, formel: String)

@main("Formel erstellen", user) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Erstellen Sie die Formel zu folgender Wahrheitstafel:</div>
    <div class="panel-body">
      <div class="col-md-4">
        <table class="table">
          <thead>
            <tr>
              @for(v <- var_names){
              <td>@v</td> }
              <td>z</td>
            </tr>
          </thead>
          <tbody>
          @for(i <- 0 until (zeilen)) {
            <tr>
            @for(j <- 0 until (spalten)) {
              <td>@wahrheitstafel(j)(i)</td>
            }
          }
          </tbody>
        </table>
      </div>
      <div class="col-md-8">
        <form role="form" class="form-horizontal" action="@binary.routes.BoolFormelErstellen.checkSolution()" method="post">
          <div class="form-group">
            <label class="control-label col-xs-1" for="learnerSolution">z = </label>
            <div class="col-xs-11">
              <input class="form-control" name="learnerSolution" id="learnerSolution" placeholder="Ihre L&ouml;sung">
              <input hidden name="boolformel" value="@formel">
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-block">Pr&uuml;fen</button>
          </div>
        </form>
      </div>
     </div>
  </div>
  
    <div class="panel panel-info">
      <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> Information</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th/>
              <th>Englisches &Auml;quivalent</th>
              <th/>
              <th>Deutsches &Auml;quivalent</th>
          </thead>
          <tbody>
            <tr>
              <td>Schreibe f&uuml;r <kbd>&not; a</kbd></td>
              <td><code>not a</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>nicht a</code></td>
            </tr>
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &and; b</kbd></td>
              <td><code>a and b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a und b</code></td>
            </tr>
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &or; b</kbd></td>
              <td><code>a or b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a oder b</code></td>
            </tr>
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &oplus; b</kbd></td>
              <td><code>a xor b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a xoder b</code></td>
            </tr>
            
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &#x22bc; b</kbd></td>
              <td><code>a nand b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a nund b</code></td>
            </tr>
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &#x22bd; b</kbd></td>
              <td><code>a nor b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a noder b</code></td>
            </tr>
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &hArr; b</kbd></td>
              <td><code>a equiv b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a &auml;quiv b</code></td>
            </tr>
            <tr>
              <td>Schreibe f&uuml;r <kbd>a &rArr; b</kbd></td>
              <td><code>a impl b</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>a impl b</code></td>
            </tr>
            
            <tr>
              <td>Klammere, um die Reihenfolge festzulegen, in der Ausdr&uuml;cke ausgewertet werden</td>
              <td><code>not((a or b) and c)</code></td>
              <td>&nbsp;oder&nbsp;</td>
              <td><code>nicht((a oder b) und c)</code></td>
            </tr>
            <tr>
              <td colspan="4">Gro&szlig;- und Kleinschreibung spielt keine Rolle.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
}
