@* NAryV Template File *@
@(user: model.user.User, number1: String, number2: String, numberType: String)

@main("HTML-Test", user) {

	@defining(if (numberType.equals("Binärzahlen")) "2" else 
	    if (numberType.equals("Oktalzahlen")) "8" else "16") { sub =>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
			Addieren sie die folgenden @numberType:
			@if(numberType.equals("Binärzahlen")) {
			<em><p class="text-info .small">(Binärzahlen bitte in 8-Bit-Darstellung mit führenden Nullen angeben.)</p><em>
			}
			</div>
			<div class="panel-body">
				<div class="col-sm-2">	
					<p class="text-right">@number1<sub>@sub</sub>&nbsp;</p>
					<p class="text-right">+ @number2<sub>@sub</sub>&nbsp;</p>
					<form role="form" action="@binary.routes.NAryAddition.addLearnerSolution" method="post">
						<div class="form-group">
							<input style="direction: rtl;unicode-bidi: bidi-override;" class="form-control text-right" name="learnerSolution" placeholder="Ihre Lösung">
						</div>
						<button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
}