@(user: model.user.User, question: model.NAryNumbers.questions.NAryConvertionQuestion)

@main("Zahlen umformen", user) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Wandeln Sie die @question.getFromNumberType().getSingularName()
      <code>
        @question.getFromValue()<sub>@question.getFromNumberType().getBase()</sub>
      </code>
      in eine @question.getToNumberType().getSingularName um:
      @if(question.getToNumberType() == model.NAryNumbers.questions.NumberBase.BINARY) {
      	<p><em class="text-info">(Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.)</em></p>
      } 
    </div>
    <div class="panel-body">
      <form role="form" action="@binary.routes.NAryConvertion.checkSolution" method="post">
        <div class="form-group">
          <input class="form-control" name="learnerSolution" placeholder="Ihre L&ouml;sung" required>
          <input hidden name="value" value="@question.getFromValue()">
          <input type="number" hidden name="startingNB" value="@question.getFromNumberType().getBase()">
          <input type="number" hidden name="targetNB" value="@question.getToNumberType().getBase()">
        </div>
        <button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
      </form>
    </div>
  </div>
</div>
}
