@* NAryV Template File *@
@(user: model.user.User, fromNumberType: String, number: String, toNumberType: String)
;


@main("Zahlen umformen", user) {

	@defining(if (fromNumberType.equals("Bin\u00e4rzahl")) "2" else 
	    if (fromNumberType.equals("Oktalzahl")) "8" else
	    if (fromNumberType.equals("Dezimalzahl")) "10" else "16") { sub =>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				Wandeln Sie die @fromNumberType @number<sub>@sub</sub> in eine @toNumberType um:
				@if(toNumberType.equals("Bin\u00e4rzahl")) {
				<em><p class="text-info .small">(Bin\u00e4rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.)</p><em>
				}
			</div>
			<div class="panel-body">
				<form role="form" action="@binary.routes.NAryConvertion.addLearnerSolution" method="post">
						<div class="form-group">
							<input class="form-control" name="learnerSolution" placeholder="Ihre L&ouml;sung">
						</div>
						<button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
				</form>
			</div>
		</div>
	</div>
	}
}