@(user: model.user.User, question: model.NAryNumbers.questions.NAryAdditionQuestion)

@main("Addition", user) {
<style>
.number-input {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.number {
  font-family: monospace;
}
</style>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Addieren sie die folgenden @question.getQuestionType().getPluralName():
      @if(question.getQuestionType() == model.NAryNumbers.NumberBase.BINARY) {
      	<p><em class="text-info">(Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.)</em></p>
      } 
    </div>
    <div class="panel-body">
      <div class="col-sm-4 col-sm-offset-4">
        <p class="text-right number">@question.getFirstSummand()<sub>@question.getBase()</sub>&nbsp;</p>
        <p class="text-right number">+ @question.getSecondSummand()<sub>@question.getBase()</sub>&nbsp;</p>
        <form role="form" action="@binary.routes.NAryAddition.checkSolution()" method="post">
          <div class="form-group">
            <input pattern="@question.getQuestionType().getPattern()" autocomplete="off"
            class="number-input form-control text-right" name="learnerSolution" placeholder="Ihre L&ouml;sung" required>
            <input hidden name="summand1" value="@question.getFirstSummand()">
            <input hidden name="summand2" value="@question.getSecondSummand()">
            <input hidden name="base" value="@question.getBase()" type="number">
          </div>
          <button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
        </form>
      </div>
    </div>
    <div class="panel-footer">Achtung: Die Eingabe der Ziffern erfolgt von rechts nach links!</div>
  </div>
</div>
</div>
}
