@* NArySolution Template File *@
@(user: model.user.User, givenAnswer: String, numberType: String, number1: String, number2: String, correctAnswer: String, correct: Boolean)
@main("HTML-Test", user) {
	<div class="container">
		<div class="panel panel-@if(correct){success}else{danger}">
			<div class="panel-heading">
					Addieren sie die folgenden @numberType:
			@if(numberType.equals("Binärzahlen")) {
			<em><p class="text-info .small">(Binärzahlen bitte in 8-Bit-Darstellung mit führenden Nullen angeben.)</p><em>
			}
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-2">
						<p class="text-right">@number1 &nbsp;&nbsp;</p>
						<p class="text-right">+ @number2 &nbsp;&nbsp;</p>
						<p class="text-right"><strong>= @givenAnswer &nbsp;&nbsp;</strong></p>
					</div>
				</div>
				<div class="row">
					<div class="container">
						<p>Ihre Lösung ist 
							@if(correct) {
								richtig.</p>
							} else {
						leider falsch. </p>
						<p>Die richtige Antwort lautet @correctAnswer.</p>
						}
						&nbsp;<br>
						<a href="@binary.routes.NAryAddition.index" class="btn btn-primary" role="button">
							Nächste Aufgabe
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
}

