@* NArySolution Template File *@
@(user: model.user.User, number: String, numberType: String, givenAnswer: String, correctAnswer: String, correct: Boolean)
@main("HTML-Test", user) {
	<div class="container">
		<div class="panel panel-@if(correct){success}else{danger}">
	      <div class="panel-heading">
	        Wandeln Sie @number in eine @numberType um:
	      </div>
	      <div class="panel-body">
	      	@givenAnswer ist 
			@if(correct) {
				richtig.
			} else {
				leider falsch. <BR> Die richtige Antwort lautet @correctAnswer.
			}
	       	<p><a href="@binary.routes.NAry.index" class="btn btn-primary" role="button">Nächste Aufgabe</a></p>
	      </div>
	    </div>
	</div>
}