@(user: model.user.User, question: model.NAryNumbers.NAryConversionQuestion)

@main("Zahlen umformen", user) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Wandeln Sie die @question.getFromNumberType().getSingularName()
      <span style="font-family: monospace">
        @question.getFromValue()<sub>@question.getFromNumberType().getBase()</sub>
      </span>in eine @question.getToNumberType().getSingularName um:
      @if(question.getToNumberType() == model.NAryNumbers.NumberBase.BINARY) {
      	<br><em class="text-info">(Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.)</em>
      } 
    </div>
    <div class="panel-body">
      <form role="form" action="@binary.routes.NaryBool.checkConversionSolution()" method="post">
        <div class="form-group">
          <input pattern="@question.getToNumberType().getPattern()" autocomplete="off" class="form-control" name="learnerSolution" placeholder="Ihre L&ouml;sung" required>
          <input hidden name="value" value="@question.getFromValue()">
          <input type="number" hidden name="startingNB" value="@question.getFromNumberType().getBase()">
          <input type="number" hidden name="targetNB" value="@question.getToNumberType().getBase()">
        </div>
        <button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Platz f&uuml;r Notizen<br>
      <em class="text-info">Notizen werden f&uuml;r die Korrektur nicht beachtet.</em>
    </div>
    <div class="panel-body">
      <textarea class="form-control" rows="20"></textarea>
    </div>
  </div>
</div>
}
