@* NAryV Template File *@
@(user: model.user.User, number: String, numberType: String)

@main("HTML-Test", user) {
	<div class="container">
		<div class="panel panel-default">
	      <div class="panel-heading">
	        Wandeln Sie @number in eine @numberType um:
	      </div>
	      <div class="panel-body">
	       <form role="form" action="@binary.routes.NAry.addLearnerSolution" method="post">
			  <div class="form-group">
			    <input class="form-control" name="learnerSolution" placeholder="Ihre Lösung">
			  </div>
			  <button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
			</form>
	      </div>
	    </div>
	</div>
}