@(user: model.user.User, question: model.NAryNumbers.questions.NAryConversionQuestion)

@main("Zahlen umformen", user) {
<div class="container">
  <div class="@if(question.checkSolution()) {panel panel-success} else {panel panel-danger}">
    <div class="panel-heading">
      Wandeln Sie die @question.getFromNumberType().getSingularName()
      <span style="font-family: monospace">
      	@question.getFromValue()<sub>@question.getFromNumberType().getBase()</sub>
      </span>in eine @question.getToNumberType().getSingularName() um:
      @if(question.getToNumberType() == model.NAryNumbers.NumberBase.BINARY) {
      	<p><em class="text-info">(Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.)</em></p>
      } 
    </div>
    <div class="panel-body">
      <span style="font-family: monospace"> @question.getLearnerSolution()<sub>@question.getToNumberType().getBase()</sub></span>
      ist @if(question.checkSolution()) {richtig.<br> } else {leider falsch. <br>
      Die richtige Antwort lautet
      <span style="font-family: monospace">
      	@question.getToValue()<sub>@question.getToNumberType().getBase()</sub>
      </span>
    	.<br> }<br>
      <p>
        <a href="@binary.routes.NAryConversion.newConversionQuestion()" class="btn btn-primary" role="button">N&auml;chste Aufgabe</a></p>
    </div>
  </div>
</div>
}
