@(user: model.user.User)

@main("Zahlensysteme", user) {
<div class="container">
  <div class="page-header">
    <h1>Zahlensysteme</h1>
  </div>
  
  <p>
    <a type="button" class="btn btn-default btn-block" href="@controllers.nary.routes.Nary.newNaryConversionQuestion()">
      Umwandeln zwischen verschiedenen Zahlensystemen</a>
  </p>
  <p>
    <a type="button" class="btn btn-default btn-block" href="@controllers.nary.routes.Nary.newNaryAdditionQuestion()">
      Addition in anderen Zahlensystemen</a>
  </p>
</div>
}
