@(user: model.user.User)

@main("Zahlensysteme", user) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Zahlensysteme</strong>
    </div>
    <div class="panel-body">
      <p>
        <a type="button" class="btn btn-default btn-block" href="@controllers.nary.routes.Nary.newNaryConversionQuestion()">
          Umwandeln zwischen verschiedenen Zahlensystemen. </a>
      </p>
      <p>
        <a type="button" class="btn btn-default btn-block" href="@controllers.nary.routes.Nary.newNaryAdditionQuestion()">
          Addition in anderen Zahlensystemen </a>
      </p>
    </div>
  </div>
</div>
}
