@(user: model.user.User, value: Int, verbose: Boolean)

@title = @{"Zweierkomplement";}

@main(title, user) {
<div class="container">
  <div class="page-header">
    <h1>@title von @value</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      
      <form role="form" action="@nary.routes.Nary.checkTwoComplementSolution(verbose)" method="post">
         
        <div class="form-group">
          <div class="input-group">
            <input value="@value" readonly class="form-control text-right" name="@model.NAryResult.VALUE">
            <span class="input-group-addon"><sub>10</sub></span>
          </div>  
        </div>
        
        <hr>
        
        <fieldset>
          <legend>Bin&auml;rdarstellung des absoluten Wertes</legend>
        
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">--></span>
              <input pattern="@model.NumberBase.BINARY.getHtmlPattern()" autocomplete="off" autofocus
                class="form-control text-right" name="@model.TwoCompResult.BINARY_ABS" placeholder="Ihre L&ouml;sung" required>
              <span class="input-group-addon"><sub>2</sub></span>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>Invertierung aller Bits</legend>
        
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">--></span>
              <input pattern="@model.NumberBase.BINARY.getHtmlPattern()" autocomplete="off" autofocus
                class="form-control text-right" name="@model.TwoCompResult.INVERTED" placeholder="Ihre L&ouml;sung" required>
              <span class="input-group-addon"><sub>2</sub></span>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
   	      <legend>Bin&auml;rdarstellung des absoluten Wertes</legend>
        	
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">--></span>
              <input pattern="@model.NumberBase.BINARY.getHtmlPattern()" autocomplete="off" autofocus
                class="form-control text-right" name="@model.StringConsts.FORM_VALUE" placeholder="Ihre L&ouml;sung" required>
              <span class="input-group-addon"><sub>2</sub></span>
            </div>
          </div>
        </fieldset>
        
        <button class="btn btn-primary btn-block">Pr&uuml;fen</button>
      </form>
      
    </div>
  </div>
  
  <hr>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      Platz f&uuml;r Notizen<br>
      <em class="text-info">Notizen werden f&uuml;r die Korrektur nicht beachtet.</em>
    </div>
    <div class="panel-body">
      <textarea class="form-control" rows="10"></textarea>
    </div>
  </div>
  
  <hr>
  
  <div class="panel panel-info">
    <div class="panel-heading">Hinweise</div>
    <div class="panel-body">
      <ul>
        <li>Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.</em></p>
      </ul>
    </div>
  </div>
  
</div>
}
