<div class="container">
  <h1 class="title is-3 has-text-centered">{{part.name}}</h1>

  <br>

  <div class="columns">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">
      <h2 class="subtitle is-4 has-text-centered">
        <code [innerHTML]="formula.asHtmlString()">{{formula.asHtmlString()}}</code>
      </h2>

      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered" *ngFor="let variable of formula.getVariables()">{{variable.variable}}</th>
            <th class="has-text-centered">{{learnerVariable.variable}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of formula.getAllAssignments()"
              [class.has-text-danger]="corrected && (assignment.get(learnerVariable.variable) !== assignment.get(sampleVariable.variable))"
              [class.has-text-success]="corrected && (assignment.get(learnerVariable.variable) === assignment.get(sampleVariable.variable))">
            <td class="has-text-centered"
                *ngFor="let variable of formula.getVariables()">{{displayAssignmentValue(assignment, variable) }}</td>
            <td class="has-text-centered">
              <button (click)="updateAssignment(assignment)" class="button"
                      [class.is-link]="assignment.get(this.learnerVariable.variable)">{{displayAssignmentValue(assignment, this.learnerVariable)}}</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="columns">
        <div class="column is-one-third-desktop">
          <button class="button is-link is-fullwidth" (click)="corrected = true;">Lösung testen</button>
        </div>
        <div class="column is-one-third-desktop">
          <button class="button is-primary is-fullwidth" (click)="update()">Nächste Aufgabe</button>
        </div>
        <div class="column is-one-third-desktop">
          <a class="button is-dark is-fullwidth" [routerLink]="['/randomTools', tool.id]">Bearbeiten beenden</a>
        </div>
      </div>

    </div>
  </div>
</div>
