@(exercises: List[model.ebnf.EBNFExercise])

<a href="@controllers.ebnf.routes.EBNFAdmin.index" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

<hr>

<script src="@routes.Assets.versioned("javascripts/admin.js")"></script>

<div id="messages"></div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>L&ouml;schen</th>
      <th>Titel</th>
      <th>Autor</th>
      <th>Text</th>
      <th>Terminalsymbole</th>
    </tr>
  </thead>
  <tbody>
  @for(exercise <- exercises) {
    <tr id="tr1_@exercise.getId">
      <td>@exercise.getId</td>
      <td><button class="btn btn-default" onclick="deleteExercise('@controllers.ebnf.routes.EBNFAdmin.deleteExercise(exercise.getId)')">
          <span class="glyphicon glyphicon-remove"></span>
      </button></td>
      <td>@exercise.getTitle</td>
      <td>@exercise.getAuthor</td>
      <td>@exercise.getText</td>
      <td>@exercise.terminals</td>
    </tr>
  }
  </tbody>
</table>