@(user: model.user.User)

@strs = @{scala.collection.Map(
	"pluralName" -> "EBNF-Aufgaben",
	"app" -> "EBNF"
)}

@stats = {
<p>TODO: Statistiken
}

@calls = @{scala.collection.Map(
  "index" -> controllers.ebnf.routes.EBNFAdmin.exercises,
  "newExerciseForm" -> controllers.ebnf.routes.EBNFAdmin.newExerciseForm,
  "export" -> controllers.ebnf.routes.EBNFAdmin.exportExercises,
  "import" -> controllers.ebnf.routes.EBNFAdmin.importExercises,
  "jsonSchema" -> controllers.ebnf.routes.EBNFAdmin.getJSONSchemaFile,
  "upload" -> controllers.ebnf.routes.EBNFAdmin.uploadFile
)}

@admin.exerciseAdminMain(user, strs, stats, calls) { }