@(user: model.user.User, exercise: model.ebnf.EBNFExercise)

@main("EBNF: neue Aufgabe", user) {
<div class="container">
  <div class="page-header">
  	<h1>Neue EBNF-Aufgabe erstellen</h1>
  </div>
  
  <form class="form-horizontal" action="@@controllers.ebnf.routes.EBNFAdminController.newExercise" method="post">
    @admin.exStdFields.render(user, exercise, 5)
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="@model.StringConsts.TERMINALS">Terminalsymbole:</label>
      <div class="col-sm-10"> 
        <input class="form-control" name="@model.StringConsts.TERMINALS" id="@model.StringConsts.TERMINALS"
          placeholder="Terminalsymbole, durch Kommata getrennt" required>
      </div>
    </div>
    
    <hr>
    
    <button class="btn btn-primary btn-block">Aufgabe erstellen</button>
  </form>
</div>	
}