@(user: model.User, numUsers: Int, numCourses: Int)

    @title = @{
        "Administrator"
    }

    @main(title, Some(user)) {
        <div class="container">
            <h1 class="text-center">@title</h1>

            <section id="statistics">
                <h2>Statistiken</h2>
                <ul>
                    <li>Es sind momentan @numUsers <a href="@routes.AdminController.users">Nutzer</a>
                        registriert</li>
                    <li>Es existieren @numCourses <a href="@routes.AdminController.courses">Kurse</a></li>
                </ul>
            </section>

            <hr>

            <section>
                <h2>Evaluation der Tools</h2>

                <a class="btn btn-secondary btn-block" href="@routes.AdminController.evaluationResults">
                    Zur Auswertung der Evaluation</a>
            </section>

            <hr>

            <section id="administration">
                <h2>Verwaltung der Kurse</h2>

                <a class="btn btn-success btn-block" href="@routes.CourseAdminController.newCourseForm">
                    Neuen Kurs erstellen</a>
            </section>
        </div>
    }
