@import model.user.User

@import model.feedback.Feedback
@import model.feedback.Feedback.Note

@(user: User, feedbackList: List[Feedback]) @adminMain("Administrator", user) {
<div class="container">
  <h3>Administrator...</h3>
  <h3>Ergebnis der Evaluation:</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th colspan="5">Html</th>
        <th colspan="5">Excel</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Genutzt?</th>
        <th>Sinn</th>
        <th>Allgemeine Bedienung</th>
        <th>Feedback</th>
        <th>Fairness der Korrektur</th>
        <th>Genutzt?</th>
        <th>Sinn</th>
        <th>Allgemeine Bedienung</th>
        <th>Feedback</th>
        <th>Fairness der Korrektur</th>
      </tr>
    </thead>
    <tbody>
      @for(feedback <- feedbackList) {
      <tr>
        <td>@feedback.id</td>
        <td>@{if(feedback.nutzenHtml == 1) "X" else if(feedback.nutzenHtml == -1) "k. A." else ""}</td>
        <td>@{if(feedback.sinnHtml == 1) "X" else if(feedback.sinnHtml == -1) "k. A." else ""}</td>
        <td>@{if(feedback.bedienungHtml == Note.NO_FEEDBACK) "" else feedback.bedienungHtml}</td>
        <td>@{if(feedback.feedbackHtml == Note.NO_FEEDBACK) "" else feedback.feedbackHtml}</td>
        <td>@{if(feedback.korrekturHtml == Note.NO_FEEDBACK) "" else feedback.korrekturHtml}</td>
        
        <td>@{if(feedback.nutzenExcel == 1) "X" else if(feedback.nutzenExcel == -1) "k. A." else ""}</td>
        <td>@{if(feedback.sinnExcel == 1) "X" else if(feedback.sinnExcel == -1) "k. A." else ""}</td>
        <td>@{if(feedback.bedienungExcel == Note.NO_FEEDBACK) "" else feedback.bedienungExcel}</td>
        <td>@{if(feedback.feedbackExcel == Note.NO_FEEDBACK) "" else feedback.feedbackExcel}</td>
        <td>@{if(feedback.korrekturExcel == Note.NO_FEEDBACK) "" else feedback.korrekturExcel}</td>
      </tr>
      }
      <tr class="success">
        <td>Ergebnis</td>
        <td>@Feedback.getNutzenHtmlGesamt() / @feedbackList.size()</td>
        <td>@Feedback.getSinnHtmlGesamt() / @feedbackList.size()</td>
        <td>@Feedback.getDurchschnittBedienungHtml()</td>
        <td>@Feedback.getDurchschnittFeedbackHtml()</td>
        <td>@Feedback.getDurchschnittKorrekturHtml()</td>
        <td>@Feedback.getNutzenExcelGesamt() / @feedbackList.size()</td>
        <td>@Feedback.getSinnExcelGesamt() / @feedbackList.size()</td>
        <td>@Feedback.getDurchschnittBedienungExcel()</td>
        <td>@Feedback.getDurchschnittFeedbackExcel()</td>
        <td>@Feedback.getDurchschnittKorrekturExcel()</td>
      </tr>
      
      @for(feedback <- feedbackList) {
      <tr>
        <td>@feedback.id</td>
        <td colspan="5">@{if(feedback.kommentarHtml.isEmpty()) "--" else feedback.kommentarHtml}</td>
        <td colspan="5">@{if(feedback.kommentarExcel.isEmpty()) "--" else feedback.kommentarExcel}</td>
      </tr>
      }
    </tbody>
  </table>
  
  
</div>
}
