@(user: model.User, readAndSaveResult: model.core.ReadAndSaveResult, toolMainObject: controllers.exes.AExCollectionToolMain)


@collWrappers = @{
    // FIXME: remove cast ...
    readAndSaveResult.successes.map(_.ex.asInstanceOf[model.CompleteCollectionWrapper])
}

@main("Import: " + toolMainObject.collectionSingularName, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>Erstellte Aufgabensammlungen</h1>
        </div>

        <a href="@controllers.exes.routes.CollectionController.adminIndex(toolMainObject.urlPart)" class="btn btn-primary btn-block">
            Zur&uuml;ck zur Administratorseite</a>

        <hr>

        @for(collWrapper <- collWrappers) {
            <h2>@toolMainObject.collectionSingularName: &quot;@collWrapper.coll.coll.title&quot;</h2>

            <div class="row">
                <div class="col-sm-2"><b>ID</b>: @collWrapper.coll.coll.id</div>
                <div class="col-sm-4"><b>Autor</b>: @collWrapper.coll.coll.author</div>
                <div class="col-sm-2"><b># Aufgaben</b>: @collWrapper.coll.exercises.size</div>
                <div class="col-sm-4"><b>Status</b>: @collWrapper.coll.coll.state</div>
            </div>

            <div class="row">
                <div class="col-sm-2"><b>Text:</b></div>
                <div class="col-sm-10">@collWrapper.coll.coll.text</div>
            </div>

            @collWrapper.coll.renderRest

            @for(exerciseTuple <- collWrapper.coll.exercises.grouped(2)) {
                <hr>
                <div class="row">
                @for(exercise <- exerciseTuple) {
                    <div class="col-sm-6">
                        <h3>@exercise.ex.title</h3>
                        <div class="row">
                            <div class="col-md-2"><b>Text:</b></div>
                            <div class="col-md-10">@exercise.ex..text</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><b>ID:</b></div>
                            <div class="col-sm-4">@exercise.ex..id</div>
                            <div class="col-sm-2"><b>Autor:</b></div>
                            <div class="col-sm-4">@exercise.ex..author</div>
                        </div>
                        @exercise.preview
                    </div>
                }

                </div>
            }

        }
    </div>
}
