@import model._

@(user: User, collections: Seq[CompleteCollection[_ <: Exercise, _ <: CompleteEx[_], _ <: ExerciseCollection[_, _]]], toolObject: model.core.tools.CollectionToolObject)

@main("Import: " + toolObject.collectionSingularName, user) {
    <div class="container">
        <div class="page-header">
            <h1>Erstellte Aufgabensammlungen</h1>
        </div>

        <a href="@toolObject.adminIndexRoute" class="btn btn-primary btn-block">
            Zur&uuml;ck zur Administratorseite</a>

        <hr>

        @for(collection <- collections) {
            <h2>@toolObject.collectionSingularName: &quot;@collection.title&quot;</h2>

            <div class="row">
                <div class="col-sm-2"><b>ID</b>: @collection.id</div>
                <div class="col-sm-4"><b>Autor</b>: @collection.author</div>
                <div class="col-sm-2"><b># Aufgaben</b>: @collection.exercises.size</div>
                <div class="col-sm-4"><b>Status</b>: @collection.state</div>
            </div>

            <div class="row">
                <div class="col-sm-2"><b>Text:</b></div>
                <div class="col-sm-10">@collection.text</div>
            </div>

            @collection.renderRest

            @for(exerciseTuple <- collection.exercises.grouped(2)) {
                <hr>
                <div class="row">
                @for(exercise <- exerciseTuple) {
                    <div class="col-sm-6">
                        <h3>@exercise.title</h3>
                        <div class="row">
                            <div class="col-md-2"><b>Text:</b></div>
                            <div class="col-md-10">@exercise.text</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><b>ID:</b></div>
                            <div class="col-sm-4">@exercise.id</div>
                            <div class="col-sm-2"><b>Autor:</b></div>
                            <div class="col-sm-4">@exercise.author</div>
                        </div>
                        @exercise.preview
                    </div>
                }

                </div>
            }

        }
    </div>
}
