@import model.toolMains.CollectionToolMain
@(user: model.User, statistics: Html, toolMainObject: CollectionToolMain)

@title = @{
    "Administrator " + toolMainObject.toolname
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        <section id="statistics">
            <h2>Statistiken</h2>
            <ul>
            @statistics
            </ul>
        </section>

        <hr>

        <section id="administration">
            <h2>Verwaltung der @toolMainObject.pluralName</h2>

            @* @toolMainObject.adminExesListRoute *@
            <a class="btn btn-default btn-block" href="@controllers.exes.routes.CollectionController.adminCollectionsList(toolMainObject.urlPart)">
                Übersicht über alle @toolMainObject.collectionPluralName</a>

                &nbsp;

            @* @toolMainObject.newExFormRoute *@
            <a class="btn btn-default btn-block" href="@controllers.exes.routes.CollectionController.adminNewCollectionForm(toolMainObject.urlPart)">
                Neues @toolMainObject.collectionSingularName erstellen</a>

                &nbsp;

            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" href="@controllers.exes.routes.CollectionController.adminExportCollections(toolMainObject.urlPart)">
                    @toolMainObject.collectionPluralName als YAML exportieren</a>
                <a class="btn btn-default" href="@controllers.exes.routes.CollectionController.adminImportCollections(toolMainObject.urlPart)">
                    @toolMainObject.collectionPluralName aus YAML importieren</a>
            </div>
        </section>
    </div>
}