@(user: model.User, exercises: Seq[_ <: model.core.HasBaseValues], toolObject: model.core.tools.ExToolObject)

@main("Aufgabenübersicht", user) {
    <div class="container">
        <div class="page-header">
            <h1>Verf&uuml;gbare Aufgaben</h1>
        </div>

        <a href="@toolObject.adminIndexRoute" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

        <hr>

        <script src="@routes.Assets.versioned("javascripts/admin.js")"></script>

        <div id="messages"></div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Aktionen</th>
                    <th>Titel</th>
                    <th>Autor</th>
                    <th>Text</th>
                    @for(otherHeader <- toolObject.restHeaders) {
                        <th>@otherHeader</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for(exercise <- exercises) {
                <tr id="tr1_@exercise.id">
                    <td>@exercise.id</td>
                    <td>
                        <div class="input-group">
                            <select onchange="updateStateChangeButton(@exercise.id)" name="state_@exercise.id" class="form-control" id="state_@exercise.id"
                            data-val="@exercise.state">
                            @for(exState <- model.Enums.ExerciseState.values) {
                                <option @exState.isSelected(exercise.state)>@exState </option>
                            }
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="scb_@exercise.id" onclick="changeState('@toolObject.changeExStateRoute(exercise)', @exercise.id)" disabled>
                                    <span class="glyphicon glyphicon-upload"></span></button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-default" title="Aufgabe @exercise.id bearbeiten" id="edit_@exercise.id" href="@toolObject.editExerciseFormRoute(exercise)">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                        <button class="btn btn-default" title="Aufgabe @exercise.id l&ouml;schen" id="del_@exercise.id"
                        onclick="deleteExercise('@toolObject.deleteExerciseRoute(exercise) ')">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>@exercise.title</td>
                    <td>@exercise.author</td>

                    @views.html.core.helperTemplates.stringLen(exercise.text, 40)

                    @exercise.renderRest

                </tr>
            }
            </tbody>
        </table>

    </div>
}