@(user: model.User, readAndSaveResult: model.core.ReadAndSaveResult, toolMainObject: model.toolMains.AToolMain)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/admin.js")"></script>
}

@dispExercise(compEx: model.CompleteEx[_ <: model.Exercise]) = {
    <h2 data-toggle="collapse" data-target="#collapse_@compEx.ex.id">Aufgabe: &quot;@compEx.ex.title&quot;</h2>

    <div id="collapse_@compEx.ex.id" class="collapse in">@compEx.preview</div>
}

@main("Erstellte Aufgaben", Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Erstellte Aufgaben:</h1>
        </div>

        <a href="@controllers.exes.routes.ExerciseController.adminIndex(toolMainObject.urlPart)" class="btn btn-primary btn-block">
            Zurück zur Administratorseite</a>

        <hr>

        @for(readAndSaveSuccesses <- readAndSaveResult.successes) {
            @* FIXME: remove cast ... *@
            @dispExercise(readAndSaveSuccesses.ex.asInstanceOf[model.CompleteExWrapper].compEx)
        }

        @* @Html(completeExercises map (ex => dispExercise(ex)) mkString "\n<hr>") *@

    </div>
}
