@(user: model.User,  exported: String, toolMainObject: model.toolMains.AToolMain, toolList: model.toolMains.ToolList)

    @title = @{
        "Export " + toolMainObject.toolname
    }

    @admin.adminMain(title, user, toolList, Some(toolMainObject)) {
        <a href="@coll.routes.CollectionAdminController.adminExportCollectionsAsFile(toolMainObject.urlPart)" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-download"></span> Download als Datei
        </a>

        <hr>

        <pre id="exported"><code>@exported</code></pre>
    }
