@import model.toolMains.AToolMain
@(user: model.User, exported: String, toolMainObject: AToolMain)

@main("Export", Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>Export der Aufgaben</h1>
        </div>

        <a href="@routes.ExerciseController.adminExportExercises(toolMainObject.urlPart)" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-download"></span> Download als Datei
        </a>
        <hr>

        <pre id="exported">@exported</pre>
    </div>
}