@(user: model.User, learningPaths: Seq[model.learningPath.LearningPath], toolMain: model.toolMains.AToolMain)

    @title = @{
        "Lernpfade eingelesen"
    }

    @main(title, Some(user)) {
        <div class="container">

            <div class="form-group">
                <a class="btn btn-primary btn-block" href="@routes.MainExerciseAdminController.adminIndex(toolMain.urlPart)">Zurück zur Administratorseite</a>
            </div>

        @for(learningPath <- learningPaths) {
            <p>Titel: @learningPath.title</p>

            @for(section <- learningPath.sections) {
                <p>ID: @section.id, Titel: @section.title</p>

                @section match {
                    case ts: model.learningPath.TextSection => {
                        <pre>@ts.text</pre>
                    }
                    case qs: model.learningPath.QuestionSection => {
                        <pre>@qs.questions.map(_.toString).mkString("\n")</pre>
                    }
                }

                <hr>
                }

        }
        </div>
    }