@(user: model.User)

@main("Neuen Kurs erstellen", Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>Neuen Kurs erstellen</h1>
        </div>

        <form class="form-horizontal" method="post" action="@routes.CourseAdminController.newCourse()">
            <div class="form-group">
                <label class="control-label col-sm-2" for="@model.core.CoreConsts.NAME_NAME">Name des Kurses:</label>
                <div class="col-sm-10">
                    <input name="@model.core.CoreConsts.NAME_NAME" id="@model.core.CoreConsts.NAME_NAME" class="form-control" placeholder="SWT_2017">
                </div>
            </div>

            <hr>

            <button class="btn btn-primary btn-block">Kurs erstellen</button>

        </form>

    </div>
}