@(user: model.User, exercises: Seq[_ <: model.core.HasBaseValues], toolObject: model.core.tools.ExToolObject)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/admin.js")"></script>
}

@main("Erstellte Aufgaben", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Erstellte Aufgaben:</h1>
        </div>

        <a href="@toolObject.adminIndexRoute" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

        <hr>

        <div id="messages"></div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Titel</th>
                    <th>Autor</th>
                    <th>Text</th>
                    @for(otherHeader <- toolObject.restHeaders) {
                        <th>@otherHeader</th>
                    }
                </tr>
            </thead>
            <tbody>
            @for(exercise <- exercises) {
                <tr id="tr1_@exercise.id">
                    <td>@exercise.id</td>
                    <td>@exercise.state</td>
                    <td>@exercise.title</td>
                    <td>@exercise.author</td>

                    @views.html.core.helperTemplates.stringLen(exercise.text, 40)

                    @exercise.renderRest
                </tr>
            }
            </tbody>
        </table>

    </div>
}
