@(user: model.User, completeExercises: Seq[model.CompleteEx[_]], toolObject: model.core.tools.ExToolObject)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/admin.js")"></script>
}

@dispExercise(compEx: model.CompleteEx[_]) = {
    <h2 data-toggle="collapse" data-target="#collapse_@compEx.ex.id">Aufgabe: &quot;@compEx.ex.title&quot;</h2>

    <div id="collapse_@compEx.ex.id" class="collapse in">
    @compEx.preview
    </div>
}

@main("Erstellte Aufgaben", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Erstellte Aufgaben:</h1>
        </div>

        <a href="@toolObject.adminIndexRoute" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

        <hr>

        @Html(completeExercises.map(ex => dispExercise(ex)).mkString("\n<hr>"))

    </div>
}
