@(user: model.User, users: Seq[model.User])

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/users/users.js")"></script>
}

@main("Nutzerübersicht", Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Nutzerübersicht</h1>
        </div>

        <div id="reply"></div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Rolle (ändern)</th>
                    <th>Kurse</th>
                </tr>
            </thead>
            <tbody>
            @for(user <- users) {
                <tr>
                    <td>@user.username</td>
                    <td>
                        <div class="input-group">
                            <select class="form-control" onchange="updateBtn('@user.username')" id="sel_@user.username" data-stdrole="@user.stdRole">
                            @for(role <- model.Enums.Role.values) {
                                <option @role.isSelected(user.stdRole)>@role </option>
                            }
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-default" disabled id="btn_@user.username"
                                onclick="saveRole('@user.username', '@routes.AdminController.changeRole(user.username)')">
                                    <span class="glyphicon glyphicon-upload"></span>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            @*for(course <- user.getCourses()) {
                            <li>@course.name</li>
                            }*@
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}