<ng-container *ngIf="!loaded.saved; else exerciseSavedBlock">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{loaded.id}}. {{loaded.title}}</p>
    </header>
    <div class="card-content">
      <pre class="loadedJson">{{loaded | json}}</pre>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" (click)="save.emit()">{{name}} speichern</a>
    </footer>
  </div>
</ng-container>
<ng-template #exerciseSavedBlock>
  <div class="notification is-success has-text-centered">
    {{name}} {{loaded.id}} wurde gespeichert.
  </div>
</ng-template>
