@(user: model.User, compEx: Seq[model.sql.SqlCompleteEx], scenario: model.sql.SqlCompleteScenario, exType: model.sql.SqlEnums.SqlExerciseType, currentSite: Int)

    @numOfSites = @{
        scenario.numOfSites
    }

    @main("SQL", user) {
        <div class="container">
            <div class="page-header">
                <h1>Szenario &quot;@scenario.coll.title&quot;: Aufgabentyp @exType</h1>
            </div>

            <div class="row">
                <div class="col-md-1">Tags</div>
                <div class="col-md-1">Link</div>
                <div class="col-md-10">Text</div>
            </div>

            <hr>

            @for(ex <- compEx) {
                <div class="row">
                    <div class="col-md-1">@for(tag <- ex.tags) {
                        @tag.render
                    }</div>
                    <div class="col-md-1"><a href="@controllers.exCollections.routes.SqlController.exercise(ex.ex.id)" class="btn btn-default btn-block">@ex.ex.id</a></div>
                    <div class="col-md-10">@ex.ex.text</div>
                </div>

                <br>
            }

            <div class="text-center">
                <ul class="pagination text">
                    <li><a href="@controllers.exCollections.routes.SqlController.filteredScenario(scenario.coll.id, exType.toString)"
                        @if(currentSite <= 1) {
                            onclick="return false" class="btn disabled" }>&lt;&lt;</a></li>
                    <li><a href="@controllers.exCollections.routes.SqlController.filteredScenario(scenario.coll.id, exType.toString, currentSite - 1)"
                        @if(currentSite <= 1) {
                            onclick="return false" class="btn disabled" }>&lt;</a></li>

                    @for(site <- 1 to numOfSites) {
                        <li @if(site == currentSite) {
                            class="active" }><a href="@controllers.exCollections.routes.SqlController.filteredScenario(scenario.coll.id, exType.toString, site)">@site</a></li>
                    }

                    <li><a href="@controllers.exCollections.routes.SqlController.filteredScenario(scenario.coll.id, exType.toString, currentSite + 1)"
                        @if(currentSite >= numOfSites) {
                            onclick="return false" class="btn disabled" }>&gt;</a></li>
                    <li><a href="@controllers.exCollections.routes.SqlController.filteredScenario(scenario.coll.id, exType.toString, numOfSites)"
                        @if(currentSite >= numOfSites) {
                            onclick="return false" class="btn disabled" }>&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
    }
