@(user: model.User)

    @main("Zahlensysteme", Some(user)) {
        <div class="container">
            <div class="page-header">
                <h1>Boolesche Algebra</h1>
            </div>

                <!-- Fill out truth tabels -->
            <div class="form-group">
                <a href="@routes.RandomExerciseController.newExercise(model.bool.BoolToolMain.urlPart, model.bool.TableFillout.urlName)"
                class="btn btn-primary btn-block">Wahrheitstabellen ausfüllen</a>
            </div>

                <!-- Creation of a bool formula -->
            <div class="form-group">
                <a href="@routes.RandomExerciseController.newExercise(model.bool.BoolToolMain.urlPart, model.bool.FormulaCreation.urlName)"
                class="btn btn-primary btn-block">Erstellen einer Booleschen Formel</a>
            </div>

        </div>
    }
