@(user: model.User, learningPath: model.CompleteLearningPath)

    @title = @{
        "Lernpfad: " + learningPath.learningPath.title
    }

    @scripts = {
        <script src="@routes.Assets.versioned("javascripts/learningPaths/learningPath.js")"></script>
    }

    @main(title, Some(user), scripts) {
        <div class="container">
            <div class="page-header">
                <h1>@title</h1>
            </div>

            <section id="sec_@learningPath.sections.head.id">
                <h2>@learningPath.sections.head.title</h2>

                @Html(learningPath.sections.head.content)
            </section>

            @for(section <- learningPath.sections.tail sortBy (_.id)) {
                <section id="sec_@section.id" hidden>
                    <h2>@section.title</h2>

                    @Html(section.content)
                </section>
            }

            <hr>

            <button class="btn btn-primary btn-block" onclick="nextPart()">Nächster Teil</button>

        </div>
    }