@(ex: model.tools.regex.RegexExercise)

    @listPointsPerRow = @{
        2
    }

    <div class="row">
        <div class="col-md-3">Maximale Punkte:</div>
        <div class="col-md-9">@ex.maxPoints</div>
    </div>

    <div class="row">
        <div class="col-md-3">Musterlösungen:</div>
        <div class="col-md-9">
        @for(sampleGroup <- ex.sampleSolutions.map(_.sample).grouped(listPointsPerRow)) {
            <div class="row">
            @for(sample <- sampleGroup) {
                <div class="col-md-@{
                    12 / listPointsPerRow
                }">
                    <code>@sample</code>
                </div>
            }
            </div>
        }
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">Testdaten:</div>
        <div class="col-md-9">
        @for(testDataGroup <- ex.matchTestData.grouped(listPointsPerRow)) {
            <div class="row">
            @for(testData <- testDataGroup) {
                <div class="col-md-@{
                    12 / listPointsPerRow
                }">
                    <span class="@if(testData.isIncluded) {text-success} else {text-danger}">@testData.data</span>
                </div>
            }
            </div>
        }
        </div>
    </div>
