<div class="container">

  <h1 class="title is-3 has-text-centered">Lektion: {{lesson.title}}</h1>

  <ng-container *ngFor="let content of lesson.content; let last = last">

    <ng-container *ngIf="content.priorSolved">

      <ng-container [ngSwitch]="content._type">
        <it4all-lesson-text-content *ngSwitchCase="'Text'" [content]="content"></it4all-lesson-text-content>

        <div *ngSwitchDefault class="notification is-danger">{{content | json}}</div>
      </ng-container>

      <br *ngIf="!last">

    </ng-container>

  </ng-container>

  <hr>

  <div class="buttons">
    <button class="button is-link is-fullwidth" (click)="update()">Nächster Inhalt</button>
  </div>

</div>
