<div [ngClass]="isCorrect ? 'has-text-dark-success' : 'has-text-danger'">
  Die Vererbung von <code>{{subClass}}</code> nach <code>{{superClass}}</code> {{wordForMatchType}}

  <div *ngIf="implMatch.matchType === 'UNSUCCESSFUL_MATCH' || implMatch.matchType ==='PARTIAL_MATCH'" class="content">
    <ul>
      <li [ngClass]="directionCorrect ? 'has-text-dark-success' : 'has-text-danger'">
        Die Vererbungsrichtung war {{directionCorrect ? '' : 'nicht'}} korrekt.
      </li>
    </ul>
  </div>
</div>
