@()

<table class="table">
    <thead>
        <tr>
            <th>Funktion</th>
            <th>Wirkung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="2" class="text-center">Bewegungsmöglichkeiten</th>
        </tr>
        <tr>
            <td><code>self.can_go_up()</code></td>
            <td>Testet, ob der Roboter sich ein Feld nach oben bewegen kann.</td>
        </tr>
        <tr>
            <td><code>self.can_go_down()</code></td>
            <td>Testet, ob der Roboter sich ein Feld nach unten bewegen kann.</td>
        </tr>
        <tr>
            <td><code>self.can_go_left()</code></td>
            <td>Testet, ob der Roboter sich ein Feld nach links bewegen kann.</td>
        </tr>
        <tr>
            <td><code>self.can_go_right()</code></td>
            <td>Testet, ob der Roboter sich ein Feld nach rechts bewegen kann.</td>
        </tr>

        <tr>
            <th colspan="2" class="text-center">Bewegungen</th>
        </tr>
        <tr>
            <td><code>self.go_up()</code></td>
            <td>Der Roboter bewegt sich ein Feld nach oben.</td>
        </tr>
        <tr>
            <td><code>self.go_down()</code></td>
            <td>Der Roboter bewegt sich ein Feld nach unten.</td>
        </tr>
        <tr>
            <td><code>self.go_left()</code></td>
            <td>Der Roboter bewegt sich ein Feld nach links.</td>
        </tr>
        <tr>
            <td><code>self.go_right()</code></td>
            <td>Der Roboter bewegt sich ein Feld nach rechts.</td>
        </tr>

        <tr>
            <th colspan="2" class="text-center">Andere Aktionen</th>
        </tr>
        <tr>
            <td><code>self.mark()</code></td>
            <td>Markiert das aktuelle Feld mit der eigenen Farbe.</td>
        </tr>

    </tbody>
</table>