@(user: model.User, toolObject: model.core.tools.IdPartExToolObject[_], exercise: model.rose.RoseCompleteEx)

@scripts = {
    <script src="@routes.Assets.versioned("lib/ace/src/ace.js")"></script>
    <script src="@routes.Assets.versioned("lib/ace/src/ext-language_tools.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/rose/roseHelperFuncs.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/rose/roseExercise.js")"></script>

        <!--suppress JSUnusedLocalSymbols -->
    <script>
            const theMode = "python";
            const theMinLines = 20;
            const theMaxLines = 30;
            const theUpdatePrev = false;
    </script>


        <!-- Scripts for simulation! -->
    <script src="@routes.Assets.versioned("lib/lodash/lodash.js")"></script>
    <script src="@routes.Assets.versioned("lib/backbonejs/backbone.js")"></script>
    <script src="@routes.Assets.versioned("lib/jointjs/dist/joint.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/rose/coordinates.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/rose/simulatorElements.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/rose/simulator.js")"></script>


}

@main("Rose Test", user, scripts) {
    @core.helperTemplates.modal("API des Roboters", "robot_api", "lg") {
        <h1>TODO!</h1>
    }

    <div id="fullsc" class="container">

        <div class="row">
            <div class="col-md-6">
                <h2>Aufgabenstellung</h2>

                <hr>

                <div class="well">@exercise.text</div>

                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#robot_api">Roboter API</button>

                <hr>

                <button type="button" class="btn btn-primary btn-block" id="testBtn" onclick="testSol('@toolObject.correctLiveRoute(exercise.id)')">
                    L&ouml;sung testen</button>

            </div>

            <div class="col-md-6">

                <h2>Editor</h2>

                <hr>

                    <!-- Start Editor -->
                <div class="form-group">
                    <div class="input-group">

                        <button type="button" class="form-control" onclick="changeFontsize(-2);">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>

                        <span class="input-group-addon">Schriftgr&ouml;&szlig;e: <span id="fontsize">16</span> px</span>

                        <button type="button" class="form-control" onclick="changeFontsize(+2);">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>


                <div id="editor" class="form-control">@exercise.declaration</div>
                    <!-- End Editor -->

            </div>

        </div>

        <hr>

        <div id="correction">

            <div class="form-group text-center">
                <div class="btn-group">
                    <button type="button" id="stepBackBtn" onclick="stepBack()" disabled class="btn">&lt;</button>
                    <button type="button" class="btn btn-primary">Play</button>
                    <button type="button" id="stepOnBtn" onclick="stepOn()" class="btn">&gt;</button>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-6">
                    <h2>Lernerroboter</h2>
                    <div id="userField"></div>
                </div>
                <div class="col-md-6">
                    <h2>Musterroboter</h2>
                    <div id="sampleField"></div>
                </div>
            </div>

        </div>

    </div>
}
