@(user: model.User)

@scripts = {

    <!-- Important: Order of Scripts -->
    <script src="@routes.Assets.versioned("lib/lodash/lodash.js")"></script>
    <script src="@routes.Assets.versioned("lib/backbonejs/backbone.js")"></script>
    <script src="@routes.Assets.versioned("lib/jointjs/dist/joint.js")"></script>

    <script src="@routes.Assets.versioned("../../../public/javascripts/rose/coordinates.js")"></script>

    <script>
            // This script has to be exactly here!
            const RUN_RESULT = {
                correct: true,
                user: {
                    name: 'user_robot',
                    start: new SimulatorCoordinates(0, 0),
                    actions_size: 32,
                    actions: [
                        'BLUE', 'UP', 'BLUE', 'UP', 'BLUE', 'RIGHT', 'BLUE', 'RIGHT', 'BLUE', 'RIGHT', 'BLUE', 'RIGHT', 'BLUE', 'RIGHT', 'BLUE', 'RIGHT', 'BLUE', 'DOWN', 'BLUE', 'DOWN',
                        'BLUE', 'LEFT', 'BLUE', 'LEFT', 'BLUE', 'LEFT', 'BLUE', 'LEFT', 'BLUE', 'LEFT',
                        'BLUE', 'LEFT'
                    ]
                },
                sample: {
                    name: 'sample_robot',
                    start: new SimulatorCoordinates(0, 0),
                    size: 32,
                    actions: [
                        'RED', 'UP', 'RED', 'UP', 'RED', 'RIGHT', 'RED', 'RIGHT', 'RED', 'RIGHT',
                        'RED', 'RIGHT', 'RED', 'RIGHT', 'RED', 'RIGHT', 'RED', 'DOWN', 'RED', 'DOWN',
                        'RED', 'LEFT', 'RED', 'LEFT', 'RED', 'LEFT', 'RED', 'LEFT', 'RED', 'LEFT',
                        'RED', 'LEFT'
                    ]
                }
            };
    </script>

    <script src="@routes.Assets.versioned("../../../public/javascripts/rose/simulatorElements.js")"></script>
    <script src="@routes.Assets.versioned("../../../public/javascripts/rose/simulator.js")"></script>
}

@main("Rose Test", user, scripts) {

    <div class="container">
        <h1>Feld:</h1>

        <div class="form-group text-center">
            <div class="btn-group">
                <button type="button" id="stepBackBtn" onclick="stepBack()" disabled class="btn">&lt;</button>
                <button type="button" class="btn btn-primary">Play</button>
                <button type="button" id="stepOnBtn" onclick="stepOn()" class="btn">&gt;</button>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-6">
                <h2>Lernerroboter</h2>
                <div id="userField"></div>
            </div>
            <div class="col-md-6">
                <h2>Musterroboter</h2>
                <div id="sampleField"></div>
            </div>
        </div>

    </div>
}