@(user: model.User, toolMainObject: model.toolMains.AToolMain, exercise: model.xml.XmlExercise, isCreation: Boolean)

@scripts = {
    <style>
            textarea {
                resize: vertical;
            }
    </style>
}

@title = @{
    if(isCreation) {
        "Erstellen"
    } else {
        "Bearbeiten"
    } + " einer " + toolMainObject.toolname + "-Aufgabe"
}

@main(title, Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        <form class="form" method="post" role="form" action="@routes.ExerciseController.adminEditExercise(toolMainObject.urlPart, exercise.ex.id)">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.core.CoreConsts.idName">ID:</label>
                        <input type="number" class="form-control from-control-static" name="@model.core.CoreConsts.idName" id="@model.core.CoreConsts.idName"
                        required value="@exercise.ex.id" readonly>
                    </div>

                    <div class="form-group">
                        <label for="@model.core.CoreConsts.authorName">Autor:</label>
                        <input class="form-control" name="@model.core.CoreConsts.authorName" id="@model.core.CoreConsts.authorName" value="@user.username"
                        title="Dieser Wert kann nicht geändert werden." readonly required>
                    </div>

                    <div class="form-group">
                        <label for="@model.core.CoreConsts.titleName">Titel:</label>
                        <input class="form-control" name="@model.core.CoreConsts.titleName" id="@model.core.CoreConsts.titleName" required
                        value="@exercise.ex.title">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.core.CoreConsts.textName">Text:</label>
                        <textarea class="form-control" name="@model.core.CoreConsts.textName" id="@model.core.CoreConsts.textName" rows="9"
                        required>@exercise.ex.text</textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.core.CoreConsts.stateName">Status:</label>
                        <div >
                            <select class="form-control" name="@model.core.CoreConsts.stateName" id="@model.core.CoreConsts.stateName" required>
                            @for(state <- model.ExerciseState.values) {
                                <option @{
                                    if(state == exercise.ex.state) "selected" else ""
                                }>@state</option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="@model.xml.XmlConsts.GrammarDescriptionName">Grammatikbeschreibung</label>
                        <textarea class="form-control" name="@model.xml.XmlConsts.GrammarDescriptionName" id="@model.xml.XmlConsts.GrammarDescriptionName" rows="15"
                        placeholder="Beschreibung der Grammatik" required>@exercise.grammarDescription</textarea>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@model.xml.XmlConsts.RootNodeName">Wurzelknoten:</label>
                        <input class="form-control" name="@model.xml.XmlConsts.RootNodeName" id="@model.xml.XmlConsts.RootNodeName" required value="@exercise.rootNode">
                    </div>

                    <div class="form-group">
                        <label for="@model.xml.XmlConsts.SampleGrammarName">Mustergrammaik</label>
                        <textarea class="form-control" name="@model.xml.XmlConsts.SampleGrammarName" id="@model.xml.XmlConsts.SampleGrammarName" rows="15"
                        placeholder="<!ELEMENT root ...>" required>@Html(exercise.sampleGrammar)</textarea>
                    </div>
                </div>
            </div>

            <hr>

            <button class="btn btn-primary btn-block">Aufgabe bearbeiten</button>
        </form>
    </div>
}



