@(user: model.User, toolMainObject: model.toolMains.IdExerciseToolMain, exercise: model.xml.XmlCompleteExercise, oldSolution: String, part: model.xml.XmlExPart)

@additionalScripts = {
    <script>SystemJS.import('@routes.Assets.versioned("app/xml/xmlExercise.js")');</script>
}

@exerciseText = {


@part match {
    case model.xml.XmlExParts.GrammarCreationXmlPart => {
        <p><b>Erstellen Sie eine DTD zu folgender Beschreibung.</b></p>
        <p>
            <i>Benutzen Sie die in Klammern angegebenen Element- bzw. Attributnamen.
                Falls nichts anderes angegeben ist, sollen die Elemente nur Text enthalten.</i>
        </p>
        <span class="text-justify">@exercise.ex.grammarDescription</span>
    }
    case model.xml.XmlExParts.DocumentCreationXmlPart => {
        <p><b>Erstellen Sie ein XML-Dokument zu folgender Grammatik:</b></p>
        <pre>@play.twirl.api.HtmlFormat.escape(exercise.sampleGrammars.head.sampleGrammar.asString)</pre>
    }
}

}

@remainigExerciseDef = {
    <input hidden id="exercisePart" value="@part.urlName">
}

@idExercises.textExercise(user, exerciseText, exercise, part, oldSolution, toolMainObject, additionalScripts,
    remainingExDef = Some(remainigExerciseDef))
