@(user: model.User, newExercise: model.xml.XmlExercise, saved: Boolean, toolMainObject: model.xml.XmlToolMain)

@title = @{
    "Neue Aufgabe " + toolMainObject.toolname
}

@main(title, Some(user)) {
    <div class="container">

        @if(saved) {
            <div class="alert alert-success">
                Ihre neue Aufgabe wurde gespeichert und muss nun von einem Administrator freigegeben werden.
                <br>
                Sie können nun zur <a class="alert-link" href="@exes.routes.ExerciseController.exerciseList(toolMainObject.urlPart)">
                Aufgabenübersicht</a> zurückkehren.
            </div>
        } else {
            <div class="alert alert-danger">Ihre Aufgabe konnte nicht gespeichert werden.</div>
        }

        @idExercises.xml.xmlPreview(newExercise)

    </div>
}