@(exercise: model.xml.XmlCompleteExercise)

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4"><b>ID</b></div>
            <div class="col-md-8">@exercise.ex.id</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Titel:</b></div>
            <div class="col-md-8">@exercise.ex.title</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Autor:</b></div>
            <div class="col-md-8">@exercise.ex.author</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Text:</b></div>
            <div class="col-md-8">@exercise.ex.text</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Status:</b></div>
            <div class="col-md-8">@exercise.ex.state</div>
        </div>

        <div class="row">
            <div class="col-md-4"><b>Wurzelknoten:</b></div>
            <div class="col-md-8">@exercise.ex.rootNode</div>
        </div>
    </div>

    <div class="col-sm-6">
        <h2>Grammatikbeschreibung</h2>
        <p>@exercise.ex.grammarDescription</p>
    </div>
</div>

<hr>

@for(sampleGrammarTuple <- exercise.sampleGrammars grouped 2) {

    <div class="row">

    @for(sampleGrammar <- sampleGrammarTuple) {
        <div class="col-md-6">
            <p><b>Mustergrammatik @sampleGrammar.id:</b></p>
            <pre>@sampleGrammar.sampleGrammar.asString</pre>
        </div>
    }

    </div>
}
