<it4all-solution-saved [saved]="result.solutionSaved"></it4all-solution-saved>

<!--
<it4all-points-notification [points]="result.points" [maxPoints]="result.maxPoints"></it4all-points-notification>
-->

<ng-container *ngIf="result.classResult">

</ng-container>

<br>

<ng-container *ngIf="result.assocResult">
  <h3 class="subtitle is-5" [ngClass]="assocResultSuccessful ? 'has-text-dark-success' : 'has-text-danger'">
    Der Vergleich der Assoziationen war {{assocResultSuccessful ? '' : 'nicht'}} erfolgreich.
  </h3>

  <div class="content">
    <ul *ngIf="!assocResultSuccessful">
      <li *ngFor="let m of result.assocResult.allMatches">
        <it4all-uml-assoc-match [assocMatch]="m"></it4all-uml-assoc-match>
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="result.implResult">
  <h3 class="subtitle is-5" [ngClass]="implResultSuccessful ? 'has-text-dark-success' : 'has-text-danger'">
    Der Vergleich der Vererbungen war {{implResultSuccessful ? '' : 'nicht'}} erfolgreich.
  </h3>

  <div class="content">
    <ul *ngIf="!implResultSuccessful">
      <li *ngFor="let m of result.implResult.allMatches">
        <it4all-uml-impl-match [implMatch]="m"></it4all-uml-impl-match>
      </li>
    </ul>
  </div>
</ng-container>
