@(user: model.User)


@scripts = {
@core.editorScripts.render("xml", 25, 50)
}

@main("XML: Playground", Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>XML: Playground</h1>
        </div>

        <div class="row">
            <div class="col-md-6">

                <h2>Editor</h2>
                    <!-- Start Editor -->
                <div class="form-group">
                    <div class="input-group">

                        <button type="button" class="form-control" onclick="changeFontsize(-2);">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>

                        <span class="input-group-addon">Schriftgröße: <span id="fontsize">16</span> px</span>

                        <button type="button" class="form-control" onclick="changeFontsize(+2);">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>


                <div id="editor" class="form-control">@model.xml.XmlConsts.STANDARD_XML_PLAYGROUND</div>
                    <!-- End Editor -->

            </div>

            <div class="col-md-6">
                <div id="correction"></div>
            </div>
        </div>

        <hr>

        @* FIXME implement functionality ... *@
        @*<button onclick="testTheSolution('@exes.idPartExes.routes.XmlController.playgroundCorrection');"*@
        @*class="btn btn-primary btn-block">Gegen DTD in Dokument testen...</button>*@
    </div>
}