@(user: model.User, syncableToolMains: Seq[model.toolMains.AToolMain], notSyncableToolMains: Seq[model.toolMains.AToolMain])

@title = @{
    "Tools in Hub"
}

@main(title, Some(user)) {
    <div class="container">

        <h1 class="text-center">@title</h1>

        @for(toolMain <- syncableToolMains) {
            <a href="@routes.AdminController.synchronizeTool(toolMain.urlPart)"
            class="btn btn-primary btn-block">Tool @toolMain.toolname synchronisieren</a>
        }

        <hr>

        <h2>Nicht synchronisierbar</h2>

        @for(toolMain <- notSyncableToolMains) {
            <a class="btn btn-primary btn-block disabled" href="">Tool @toolMain.toolname synchronisieren</a>
        }

    </div>
}