@(user: model.User, exercise: model.tools.web.WebExercise)

@main("", Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>Tasks Aufgabe @exercise.id</h1>
        </div>

        <h2>Html-Text</h2>
        <pre>@exercise.htmlText</pre>

        @if(exercise.siteSpec.htmlTasks.nonEmpty) {
            <h2>Html-Tasks</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Text</th>
                        <th>XPath</th>
                        <th>Attribute</th>
                        <th>Text Content</th>
                    </tr>
                </thead>
                <tbody>
                @for(task <- exercise.siteSpec.htmlTasks) {
                    <tr>
                        <td>@task.id</td>
                        <td>@task.text</td>
                        <td>@task.elementSpec.xpathQuery</td>
                        <td>@task.elementSpec.awaitedTextContent.getOrElse("")</td>
                        <td><ul>
                        @for(attr <- task.elementSpec.attributes) {
                            <li>@attr.toString</li>
                        }
                        </ul>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

        <hr>

        <h2>Js-Text</h2>
        <pre>@exercise.jsText</pre>

        @if(exercise.siteSpec.jsTasks.nonEmpty) {
            <h2>Js-Tasks</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Text</th>
                        <th>XPath</th>
                        <th># Bedingungen</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                @for(task <- exercise.siteSpec.jsTasks) {
                    <tr>
                        <td>@task.id</td>
                        <td>@task.text</td>
                        <td>@task.action.xpathQuery</td>
                        @*<td>@task.conditions.size</td>*@
                        <td>@* TODO: implement ... *@ @@task.action …</td>
                    </tr>
                }
                </tbody>
            </table>
        }

    </div>
}
