@(webExercise: model.tools.web.WebExercise)

@dispHtmlTask(htmlTask: de.uniwue.webtester.HtmlTask) = {
    <div class="row">
        <div class="col-md-2"><b>ID:</b></div>
        <div class="col-md-10">@htmlTask.id</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Text:</b></div>
        <div class="col-md-10">@htmlTask.text</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Textinhalt:</b></div>
        <div class="col-md-10">@htmlTask.elementSpec.awaitedTextContent.getOrElse("--")</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>XPath Query:</b></div>
        <div class="col-md-10">@htmlTask.elementSpec.xpathQuery</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Attribute:</b></div>
        <div class="col-md-10">
            <ul>
            @for(attr <- htmlTask.elementSpec.attributes) {
                <li>@attr.key=@attr.value</li>
            }
            </ul>
        </div>
    </div>
}

@dispJsTask(jsTask: de.uniwue.webtester.JsTask) = {
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"><b>ID:</b></div>
                <div class="col-md-6">@jsTask.id</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Text:</b></div>
                <div class="col-md-6">@jsTask.text</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>XPath Query:</b></div>
                <div class="col-md-6">@jsTask.action.xpathQuery</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Keys.action:</b></div>
                <div class="col-md-6">@jsTask.action.keysToSend.getOrElse("--")</div>
            </div>
            <div class="row">
                <div class="col-md-6"><b>Typ d.action. Aktion:</b></div>
                <div class="col-md-6">@jsTask.action.actionType.entryName</div>
            </div>
        </div>

        <div class="col-md-6">
            <p><b>Voredingungen:</b></p>
            @for(groupedConds <- jsTask.preConditions.grouped(2)) {
                <div class="row">
                    @for(cond <- groupedConds) {
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3"><b>ID:</b></div>
                                <div class="col-md-9">@cond.id</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>XPath:</b></div>
                                <div class="col-md-9">@cond.xpathQuery</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>Erwartet:</b></div>
                                <div class="col-md-9">@cond.awaitedTextContent</div>
                            </div>
                        </div>
                    }
                <hr>
                </div>
            }

            <p><b>Nachbedingungen</b></p>
            @for(groupedConds <- jsTask.postConditions.grouped(2)) {
                <div class="row">
                    @for(cond <- groupedConds) {
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3"><b>ID:</b></div>
                                <div class="col-md-9">@cond.id</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>XPath:</b></div>
                                <div class="col-md-9">@cond.xpathQuery</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><b>Erwartet:</b></div>
                                <div class="col-md-9">@cond.awaitedTextContent</div>
                            </div>
                        </div>
                    }
                <hr>
                </div>
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-md-2"><b>ID:</b></div>
    <div class="col-md-10">@webExercise.id</div>
</div>

<div class="row">
    <div class="col-md-2"><b>Titel:</b></div>
    <div class="col-md-10">@webExercise.title</div>
</div>

<div class="row">
    <div class="col-md-2"><b>Autor:</b></div>
    <div class="col-md-10">@webExercise.author</div>
</div>

<div class="row">
    <div class="col-md-2"><b>Status:</b></div>
    <div class="col-md-10">@webExercise.state</div>
</div>

<div class="row">
    <div class="col-md-2"><b>Text:</b></div>
    <div class="col-md-10">@webExercise.text</div>
</div>

<hr>

    <!-- html part -->
<div class="row">
    <div class="col-md-2"><b>Html Text:</b></div>
    <div class="col-md-10">@webExercise.htmlText.getOrElse("--")</div>
</div>

<div class="row">
    <div class="col-md-2"><b>Html Tasks:</b></div>
    <div class="col-md-10">@Html(webExercise.siteSpec.htmlTasks.map(task => dispHtmlTask(task)).mkString("\n<hr>"))</div>
</div>

<hr>

    <!-- js part -->
<div class="row">
    <div class="col-md-2"><b>Js Text:</b></div>
    <div class="col-md-10">@webExercise.jsText.getOrElse("--")</div>
</div>

<div class="row">
    <div class="col-md-2"><b>Js Tasks:</b></div>
    <div class="col-md-10">@Html(webExercise.siteSpec.jsTasks.map(task => dispJsTask(task)).mkString("\n<hr>"))</div>
</div>
