#fullsc:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
}

#fullsc:-moz-full-screen {
    width: 100vw;
    height: 100vh;
}

#fullsc:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
}

#fullsc:fullscreen {
    width: 100vw;
    height: 100vh;
}