<div class="card">
  <div class="card-header">
    <div class="card-header-title">{{exercise.exerciseId}}. {{exercise.title}}</div>
  </div>

  <div class="card-content">
    <div class="columns">
      <div class="column">Schwierigkeit:</div>
      <div class="column">
        <it4all-filled-points [filledPoints]="exercise.difficulty" maxPoints="5"></it4all-filled-points>
      </div>
    </div>

    <hr>

    <div class="columns" *ngFor="let topicWithLevel of exercise.topics">
      <div class="column">{{topicWithLevel.topic.title}}:</div>
      <div class="column">
        <it4all-filled-points
          [filledPoints]="topicWithLevel.level"
          [maxPoints]="topicWithLevel.topic.maxLevel"></it4all-filled-points>
      </div>
    </div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item"
       [routerLink]="['/tools', exercise.toolId, 'collections', exercise.collectionId, 'exercises', exercise.exerciseId]">
      Zur Aufgabe
    </a>
  </footer>

</div>
