<div class="card">
  <div class="card-header">
    <div class="card-header-title">{{exercise.id}}. {{exercise.title}}</div>
  </div>
  <div class="card-content">
    <div *ngIf="exercise.difficulty">
      Schwierigkeit: {{exercise.difficulty}}
      &nbsp;
      <span *ngFor="let x of filledDifficultyStars">&#9899;</span>
      <span *ngFor="let x of nonFilledDifficultyStars">&#9898;</span>
    </div>

    <!-- Tags -->
    <div class="buttons" *ngIf="exercise.topics">
      <span *ngIf="exercise.topics.length === 0">&nbsp;</span>
      <it4all-tag *ngFor="let tag of exercise.topics" [topic]="tag"></it4all-tag>
    </div>

  </div>
  <footer class="card-footer">
    <a class="card-footer-item"
       [routerLink]="['/tools', exercise.toolId, 'collections',exercise.collectionId, 'exercises', exercise.id]">
      Zur Aufgabe
    </a>
  </footer>
</div>
