<div class="container is-fluid">

  <div class="columns">
    <div class="column is-half-desktop">
      <it4all-exercise-files-editor
        [exerciseFiles]="exerciseFiles"
        [mode]="'xml'">
      </it4all-exercise-files-editor>
    </div>

    <div class="column is-half-desktop">
      <it4all-tabs>
        <it4all-tab [title]="'Aufgabenstellung'">

          <div class="notification is-light-grey">
            <ng-container *ngIf="part.id === 'grammar'; else documentTextBlock">
              <p class="has-text-weight-bold">Erstellen Sie eine DTD zu folgender Beschreibung:</p>
              <p>{{exerciseContent.grammarDescription}}</p>
              <p class="is-italic has-text-info">
                Hinweis: Benutzen Sie die in Klammern angegebenen Element- bzw. Attributnamen. Falls nichts anderes
                angegeben ist, sollen die Elemente nur Text enthalten.
              </p>
            </ng-container>
            <ng-template #documentTextBlock>
              TODO!
            </ng-template>
          </div>

          <div class="columns">
            <div class="column">
              <button class="button is-link is-fullwidth" [class.is-loading]="isCorrecting" (click)="correct()">
                Korrektur
              </button>
            </div>
            <div class="column">
              <button class="button is-primary is-fullwidth" (click)="showSampleSolution()" disabled>
                Musterlösung anzeigen
              </button>
            </div>
            <div class="column">
              <a [routerLink]="['../..']" class="button is-dark is-fullwidth">Bearbeiten beenden</a>
            </div>
          </div>
        </it4all-tab>
        <it4all-tab [title]="correctionTabTitle">

          <ng-container *ngIf="result">

            <it4all-solution-saved [saved]="result.solutionSaved"></it4all-solution-saved>

            <br>

            <it4all-points-notification [result]="result"></it4all-points-notification>

            <br>

            <ng-container *ngIf="result.documentResult.length > 0">
              <!-- Document correction! -->

            </ng-container>
            <ng-container *ngIf="result.grammarResult">
              <!-- Grammar correction -->

              <div *ngFor="let parseError of result.grammarResult.parseErrors">
                <div>Fehler beim Parse von &quot;<code>{{parseError.parsedLine}}</code>&quot;:</div>
                <div class="has-text-danger">{{parseError.msg}}</div>
              </div>

              <div *ngFor="let gr of result.grammarResult.results" class="content">

                <ng-container [ngSwitch]="gr.matchType">
                  <p *ngSwitchCase="'ONLY_SAMPLE'" class="has-text-danger">
                    Die Definition des Elements <code>{{gr.sampleArg.name}}</code> fehlt!
                  </p>
                  <p *ngSwitchCase="'ONLY_USER'" class="has-text-danger">
                    Die Definition des Elements <code>{{gr.userArg.name}}</code> ist falsch!
                  </p>
                  <p *ngSwitchCase="'SUCCESSFUL_MATCH'">
                    Das Element <code>{{gr.userArg.name}} ist korrekt.</code>
                  </p>
                  <div *ngSwitchDefault class="has-text-danger">
                    <p>Der Vergleich des Elements <code>{{gr.userArg.name}}</code> war nicht erfolgreich:</p>
                    <ul>
                      <li [ngClass]="gr.analysisResult.contentCorrect ? 'has-text-success': 'has-text-danger'">
                        Der Inhalt des Elements war {{gr.analysisResult.contentCorrect ? '' : 'nicht'}} korrekt.
                        <ng-container *ngIf="!gr.analysisResult.contentCorrect">
                          Erwartet wurde <code>{{gr.analysisResult.correctContent}}</code>
                        </ng-container>
                      </li>
                      <li [ngClass]="gr.analysisResult.attributesCorrect ? 'has-text-success' : 'has-text-danger'">
                        Die Attribute des Elements waren {{gr.analysisResult.attributesCorrect ? '' : 'nicht'}} korrekt.
                        <ng-container *ngIf="!gr.analysisResult.attributesCorrect">
                          Erwartet wurde <code>{{gr.analysisResult.correctAttributes}}</code>
                        </ng-container>
                      </li>
                    </ul>
                  </div>

                </ng-container>

              </div>

            </ng-container>

          </ng-container>

        </it4all-tab>
      </it4all-tabs>

    </div>
  </div>

</div>
