@(student: model.user.User, exercise: model.spread.SpreadExercise)

@main("Tabellenkalkulation", student) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="@spread.routes.Spread.upload(exercise.id)" method="post" enctype="multipart/form-data">
        <h3>Laden Sie hier ihre L&ouml;sung f&uuml;r Aufgabe @exercise.id: "@exercise.title" hoch:</h3>
        
        <div class="form-group">
          <input type="file" class="form-control" name="solFile" required accept=".xlsx, .xlsm, .ods">
        </div>
        
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-primary" type="submit">Abschicken und testen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
}
