@(user: model.User, exercise: model.ebnf.EbnfExercise)

    @scripts = {
        <script src="@routes.Assets.versioned("javascripts/ebnf/ebnf.js")"></script>
    }

    @main("Ebnf", user, scripts) {
        <div class="container">
            <div class="page-header">
                <h1>Erweiterte Backus-Naur-Form</h1>
            </div>

            <h2>Erstellen Sie zu folgender Beschreibung eine Ebnf</h2>
            <div class="well">@exercise.text</div>

            <hr>

            <form class="form-horizontal" method="post" action="javascript:testSol('@exes.idExes.routes.EbnfController.correct(exercise.id)')">
                <fieldset>
                    <legend>Symbole und Variablen</legend>


                    <div class="form-group">
                        <label class="control-label col-sm-2" for="terminals">Terminalsymbole</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="terminals" name="terminals" readonly value="@{exercise.terminals mkString ", "}">
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                            <span class="text-info">Die Terminalsymbole sind in der Aufgabe vorgegeben.</span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="variables">Variablen</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="variables" name="variables" readonly value="@model.ebnf.EbnfExercise.StartSymbol">
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    <span class="text-info">Die Variablen werden automatisch aus den Regeln extrahiert.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="start">Startsymbol</label>
                                <div class="col-sm-9">
                                    <input class="form-control" onchange="changeStartSymbol()" id="start" name="start" readonly
                                    value="@model.ebnf.EbnfExercise.StartSymbol">
                                </div>
                                <div class="col-sm-offset-3 col-sm-9">
                                    <span class="text-info">Die Startsymbol wird in der Aufgabe vorgegeben.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="rulesList">
                    <legend>Regeln</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="rule_S"><span id="rule1Variable">S</span> =</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="rule_S" data-variable="S" name="rule[S]" onchange="updateVars()" required placeholder="Ersetzung f&uuml;r S">
                        </div>
                    </div>
                </fieldset>

                <hr>

                <button class="btn btn-primary btn-block" id="submitBtn">L&ouml;sung testen</button>
            </form>

        </div>
    }