@(user: model.User, exercise: model.ebnf.EbnfExercise)

@main("Ebnf", user) {
    <script src="@routes.Assets.versioned("javascripts/ebnf.js")"></script>

    <div class="container">
        <div class="page-header">
            <h1>Erweiterte Backus-Naur-Form</h1>
        </div>

        <h2>Erstellen Sie zu folgender Beschreibung eine Ebnf</h2>
        <p>@exercise.text</p>

        <hr>

        <form class="form-horizontal" method="post" action="@controllers.ebnf.routes.EbnfController.correct(exercise.id)">
            <fieldset>
                <legend>Symbole und Variablen</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="terminals">Terminalsymbole</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="terminals" name="terminals" readonly value="@exercise.getTerminalsForForm">
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-info">Die Terminalsymbole sind in der Aufgabe vorgegeben.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="variables">Variablen</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="variables" name="variables" readonly value="@model.ebnf.EbnfExerciseHelper.StartSymbol">
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-info">Die Variablen werden automatisch aus den Regeln extrahiert.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="start">Startsymbol</label>
                    <div class="col-sm-10">
                        <input class="form-control" onchange="changeStartSymbol()" id="start" name="start" readonly
                        value="@model.ebnf.EbnfExerciseHelper.StartSymbol">
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-info">Die Startsymbol wird in der Aufgabe vorgegeben.</span>
                    </div>
                </div>
            </fieldset>

            <fieldset id="rulesList">
                <legend>Regeln</legend>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="rule_S"><span id="rule1Variable">S</span> =</label>
                    <div class="col-sm-10">
                        <input class="form-control" rows="10" id="rule_S" name="rule[]" onchange="updateVars()" required placeholder="Ersetzung f&uuml;r S">
                    </div>
                </div>
            </fieldset>

            <hr>

            <button class="btn btn-primary btn-block">L&ouml;sung testen</button>
        </form>

    </div>
}