@(user: model.User, exercise: model.ebnf.EbnfExercise, oldRules: Option[model.ebnf.RulesList])

    @scripts = {
        <script src="@routes.Assets.versioned("javascripts/ebnf/ebnf.js")"></script>
    }

    @main("Ebnf", user, scripts) {
        <div class="container">
            <div class="page-header">
                <h1>Erweiterte Backus-Naur-Form</h1>
            </div>

            <h2>Erstellen Sie zu folgender Beschreibung eine Ebnf</h2>
            <div class="well">@exercise.text</div>

            <form class="form-horizontal" method="post" action="javascript:testSol('@exes.idExes.routes.EbnfController.correct(exercise.id)')">
                <fieldset>
                    <legend>Terminale, Variablen, Startsymbol und Regeln</legend>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="terminals">Terminale:</label>
                                <div class="col-sm-9" title="Die Terminalsymbole sind in der Aufgabe vorgegeben.">
                                    <input class="form-control" id="terminals" name="terminals" readonly value="@{
                                        exercise.terminals mkString ", "
                                    }">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="variables">Variablen:</label>
                                <div class="col-sm-9" title="Die Variablen werden automatisch aus den Regeln extrahiert.">
                                    <input class="form-control" id="variables" name="variables" readonly value="@model.ebnf.EbnfExercise.StartSymbol">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="start">Startsymbol:</label>
                                <div class="col-sm-6" title="Die Startsymbol wird in der Aufgabe vorgegeben.">
                                    <input class="form-control" id="start" name="start" readonly
                                    value="@model.ebnf.EbnfExercise.StartSymbol">
                                </div>
                            </div>
                        </div>
                    </div>

                    <section id="rulesList">
                    @oldRules match {
                        case Some(rules) => {
                            @for((rule, index) <- rules.rules.zipWithIndex) {
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="rule_@rule._1">@rule._1 = </label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input class="form-control" id="rule_@rule._1" data-variable="@rule._1" name="rule[@rule._1]"
                                            onchange="updateVars()" required placeholder="Ersetzung f&uuml;r @rule._1" value="@rule._2">
                                            <span class="input-group-addon" title="TODO: still to implement...">
                                                    <!-- TODO: Implement deletion of ebnf rule if deactivated/disabled... -->
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        case None => {
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="rule_S">S = </label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="rule_S" data-variable="S" name="rule[S]" onchange="updateVars()" required placeholder="Ersetzung f&uuml;r S">
                                </div>
                            </div>
                        }
                    }
                    </section>
                </fieldset>

                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button class="btn btn-primary" id="submitBtn">L&ouml;sung testen</button>
                    </div>
                    <a class="btn btn-default" href="@controllers.exes.idExes.routes.EbnfController.index()">
                        Zur Aufgaben&uuml;bersicht</a>
                </div>

            </form>

            <hr>

            <div id="solutionDiv"></div>
        </div>
    }