@(user: model.user.User, question: model.CreationQuestion)

@main("Formel erstellen", user) {
<script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/bool.js")"></script>
<script type="text/javascript">
function testSolution() {
  if(document.getElementById("learnerSolution").value === "") {
    alert("Geben Sie bitte eine Formel ein!");
    return;
  }
  testTheSolution("@controllers.bool.routes.BoolController.checkBoolCreationSolution()");
}
</script>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Erstellen Sie die Formel zu folgender Wahrheitstafel:</div>
    <div class="panel-body">
      <div class="row">
        <div class="container-fluid">
          <table class="table table-condensed">
            <thead>
              <tr>
                @for(variable <- question.variables) {
                <th class="text-center">@variable</th> }
                <th class="text-center">@question.getSolutionVariable()</th>
                <th class="text-center" id="learnerFormula">Ihre L&ouml;sung</th>
              </tr>
            </thead>
            <tbody>
              @for(assignment <- question.solutions) {
              <tr>
                @for(variable <- question.variables) {
                <td class="text-center">@assignment.asChar(variable)</td> }
                <td class="text-center">@assignment.asChar('z')</td>
                <td class="text-center" id="@assignment.toString()">--</td> }
            </tbody>
          </table>
        </div>
      </div>
      
        <form class="form-horizontal" action="@controllers.bool.routes.BoolController.checkBoolCreationSolution()" method="post">
          <div class="form-group">
            <label class="control-label col-xs-1" for="learnerSolution">z = </label>
            <div class="col-xs-11">
              <input class="form-control" name="learnerSolution" id="learnerSolution" placeholder="Ihre L&ouml;sung"
                autocomplete="off" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <button type="button" onclick="testSolution();" class="btn btn-primary btn-block">Pr&uuml;fen</button>
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary btn-block">zeige Musterl&ouml;sung</button>
            </div>
            <div class="col-sm-4">
              <a href="@controllers.bool.routes.BoolController.newBoolCreationQuestion()"
               class="btn btn-primary btn-block">N&auml;chste Aufgabe</a>
            </div>
          </div>
          <div id="valueDiv" hidden>
          <!-- Save values for return -->
          @for(assignment <- question.solutions) {
            <input name="@assignment.toString()" value="@assignment.asChar('z')">
          }
            <input name="vars" value="@question.getJoinedVariables()">
          </div>
          <div id="messageDiv"></div>
        </form>
      
    </div>
  </div>

  <!-- Information for students how to create formulas -->
  <div class="panel panel-info">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-info-sign"></span> Information
    </div>
    <div class="panel-body">
      <h3 class="text-info">Folgende Operatoren sind definiert und d&uuml;rfen verwendet werden:</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Standardoperatoren</th>
            <th>Mathematisches Symbol</th>
            <th>Englisches &Auml;quivalent</th>
            <th>Deutsches &Auml;quivalent</th>
        </thead>
        <tbody>
          <tr>
            <td>Nicht</td>
            <td><kbd class="mykbd">&not; a</kbd></td>
            <td><code class="mycode">not a</code></td>
            <td><code class="mycode">nicht a</code></td>
          </tr>
          <tr>
            <td>Und</td>
            <td><kbd class="mykbd">a &and; b</kbd></td>
            <td><code class="mycode">a and b</code></td>
            <td><code class="mycode">a und b</code></td>
          </tr>
          <tr>
            <td>Oder</td>
            <td><kbd class="mykbd">a &or; b</kbd></td>
            <td><code class="mycode">a or b</code></td>
            <td><code class="mycode">a oder b</code></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Spezialoperatoren</th>
            <th />
            <th />
            <th />
        </thead>
        <tbody>
          <tr>
            <td>Exklusives Oder</td>
            <td><kbd class="mykbd">a &oplus; b</kbd></td>
            <td><code class="mycode">a xor b</code></td>
            <td><code class="mycode">a xoder b</code></td>
          </tr>
          <tr>
            <td>Negiertes Und</td>
            <td><kbd class="mykbd">a &#x22bc; b</kbd></td>
            <td><code class="mycode">a nand b</code></td>
            <td><code class="mycode">a nund b</code></td>
          </tr>
          <tr>
            <td>Negiertes Oder</td>
            <td><kbd class="mykbd">a &#x22bd; b</kbd></td>
            <td><code class="mycode">a nor b</code></td>
            <td><code class="mycode">a noder b</code></td>
          </tr>
          <tr>
            <td>&Auml;quivalenz</td>
            <td><kbd class="mykbd">a &hArr; b</kbd></td>
            <td><code class="mycode">a equiv b</code></td>
            <td><code class="mycode">a &auml;quiv b</code></td>
          </tr>
          <tr>
            <td>Implikation</td>
            <td><kbd class="mykbd">a &rArr; b</kbd></td>
            <td><code class="mycode">a impl b</code></td>
            <td><code class="mycode">a impl b</code></td>
          </tr>
        </tbody>
      </table>
      <h3 class="text-info">Weitere Regeln</h3>
      <p>Gro&szlig;- und Kleinschreibung spielt keine Rolle.</p>
      <p>Reihenfolge der Auswertung
        <ul>
          <li>Die Operatorrangfolge ist folgenderma&szlig;en festgelegt:
            <ol>
              <li>Nicht</li>
              <li>Und</li>
              <li>Oder</li>
              <li>Implikation</li>
              <li>Restliche Operatoren: exklusives Oder, Nicht Und, Nicht Oder, &Auml;quivalenz</li>
            </ol>
          </li>
          <li>Beeinflussung der Auswertung:
            <ul>
              <li>Klammere, um die Reihenfolge festzulegen, in der Ausdr&uuml;cke ausgewertet werden. Beispiel: <code>not((a
                or b) and c)</code></li>
              <li>Ansonsten wird von links nach rechts ausgewertet (bei gleicher Pr&auml;zedenz der zweite
                Operator Vorrang)</li>
            </ul>
          </li>
          <li>Beispiele:
            <ul>
              <li>Nach Rangfolge: <code>a xor b impl c or d and not e</code> &hArr; <code>a xor (b impl (c or (d and (not e))))))</code></li>
              <li>Gleichwertiger Rang (links nach rechts): <code>a xor b nor c nand d equiv e</code> &hArr;
              <code>((((a xor b) nor c) nand d) equiv e)</code></li>
            </ul>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
}
