@(user: model.user.User)

@main("Boolesche Algebra", user) {
<div class="container">
  <div class="page-header">
    <h1>Boolesche Algebra</h1>
  </div>
  <p>
    <a type="button" class="btn btn-default btn-block" 
    href="@controllers.bool.routes.BoolController.newBoolFilloutQuestion()">Wahrheitstabellen ausf&uuml;llen </a>
  </p>
  <p>
    <a type="button" class="btn btn-default btn-block" 
    href="@controllers.bool.routes.BoolController.newBoolCreationQuestion()">Formel erstellen </a>
  </p>
</div>
}
