@(user: model.user.User, question: model.FilloutQuestion)

@main("Wertetabelle", user) {

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">F&uuml;llen Sie folgende Tabelle aus:</div>
    <div class="panel-body">
      <form action="@controllers.bool.routes.Bool.checkBoolFilloutSolution()" method="post">
        <div class="row">  
          <div class="col-sm-6 col-sm-offset-3">
            <table class="table table-responsive" border="1">
              <thead>
                <tr>
                @for(v <- question.getVariables()) {
                  <th class="text-center">@v</th>
                }
                  <th class="text-center">@question.getFormulaAsHtml()</th>
                </tr>
              </thead>
              <tbody>
              @for(assignment <- question.getAssignments()) {
                <tr>
                @for(variable <- question.getFormula().getVariables()) {
                  <td class="text-center">@assignment.asChar(variable)</td>
                }
                  <td class="text-center"><input type="number" autocomplete="off" min="0" max="1" step="1" name="@assignment.toString" size="1"
                    maxlength="1" required></td>
              }
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <input hidden name="formula" value="@question.getFormulaAsString()">
            <button type="submit" class="btn btn-primary">Pr&uuml;fen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Tooltip script -->
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
}
