@(user: model.user.User, question: model.CreationQuestion)

@main("Formel erstellen", user) {
<!-- Tooltip script -->
<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Musterl&ouml;sung</div>
    <div class="panel-body">
      <div class="row">
        <div class="container-fluid">
          <table class="table">
            <thead>
              <tr>
                @for(variable <- question.variables) {
                <th class="text-center">@variable</th> }
                <th class="text-center">@question.getSolutionVariable()</th>
                <th class="text-center" id="learnerFormula">Ihre L&ouml;sung</th>
              </tr>
            </thead>
            <tbody>
              @for(assignment <- question.solutions) {
              <tr>
                @for(variable <- question.variables) {
                <td class="text-center">@assignment.asChar(variable)</td> }
                <td class="text-center">@assignment.asChar('z')</td>
                <td class="text-center @assignment.getColor()"><span class="text-@assignment.getColor()">@assignment.asChar('y')</span></td> }
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid">
          <h3>Musterl&ouml;sungen f&uuml;r z:</h3>
          <div class="row">
            <div class="col-sm-3">Kanonische disjunktive Normalform:</div>
            <div class="col-sm-9">
              @model.Assignment.getDisjunktiveNormalForm(question.solutions)
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">Kanonische konjunktive Normalform:</div>
            <div class="col-sm-9">
              @model.Assignment.getKonjunktiveNormalForm(question.solutions)
            </div>
          </div>
          <p>
            <a href="@controllers.bool.routes.BoolController.newBoolCreationQuestion()"
            class="btn btn-primary btn-block">N&auml;chste Aufgabe</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
}
