@(user: model.user.User)

@main("Boolesche Algebra", user) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Boolesche Algebra</strong>
    </div>
    <div class="panel-body">
      <p>
        <a type="button" class="btn btn-default btn-block" href="@controllers.bool.routes.Bool.newBoolFilloutQuestion()"> Wahrheitstabellen
          ausf&uuml;llen </a>
      </p>
      <p>
        <a type="button" class="btn btn-default btn-block" href="@controllers.bool.routes.Bool.newBoolCreationQuestion()">
          Formel erstellen </a>
      </p>
    </div>
  </div>
</div>
}
