<div class="container">
  <h1 class="title is-3 has-text-centered">{{part.name}}</h1>

  <div class="columns">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">

      <!--      <div class="field">-->
      <!--        <div class="control has-text-centered">-->
      <!--          <label class="checkbox">-->
      <!--            <input type="checkbox" [(ngModel)]="withSubFormulas"> Mit Zwischenschritten-->
      <!--          </label>-->
      <!--        </div>-->
      <!--      </div>-->

      <br>

      <h2 class="subtitle is-4 has-text-centered"><code [innerHTML]="formula.asHtmlString()"></code></h2>
      <h3 class="subtitle is-5 has-text-centered has-text-grey">{{formula.asString()}}</h3>

      <br>

      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered" *ngFor="let variable of formula.getVariables()">{{variable.variable}}</th>
            <ng-container *ngIf="withSubFormulas">
              <th class="has-text-centered" *ngFor="let subFormula of subFormulas"
                  [innerHTML]="subFormula.asHtmlString()"></th>
            </ng-container>
            <th class="has-text-centered">{{learnerVariable.variable}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of assignments">
            <td class="has-text-centered"
                *ngFor="let variable of formula.getVariables()">{{displayAssignmentValue(assignment, variable) }}</td>
            <ng-container *ngIf="withSubFormulas">
              <th *ngFor="let subFormula of subFormulas">
                <!-- FIXME: button for subFormula... -->
              </th>
            </ng-container>
            <td [class.has-background-danger]="corrected && !isCorrect(assignment)"
                [class.has-background-success]="corrected && isCorrect(assignment)"
                class="has-text-centered">
              <button (click)="updateAssignment(assignment)" class="button"
                      [class.is-link]="assignment.get(this.learnerVariable.variable)">
                {{displayAssignmentValue(assignment, this.learnerVariable)}}
              </button>
              &nbsp;
              <span *ngIf="corrected && isCorrect(assignment)">&#10004;</span>
              <span *ngIf="corrected && !isCorrect(assignment)">&#10008;</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="notification has-text-centered is-danger" *ngIf="corrected && !completelyCorrect">
        &#10008; Ihre Lösung ist nicht (komplett) korrekt.
      </div>
      <div class="notification has-text-centered is-success" *ngIf="corrected && completelyCorrect">
        &#10004; Ihre Lösung ist korrekt.
      </div>

      <it4all-random-solve-buttons
        (correctEmitter)="correct()"
        (nextEmitter)="update()">
      </it4all-random-solve-buttons>
    </div>
  </div>
</div>
