@(user: model.user.User, questions: List[model.ChoiceQuestion])

<script src="@routes.Assets.versioned("javascripts/choicequestions.js")"></script>

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Auswahlfragen</h1>
  </div>
  
  @for(question <- questions) {
  <a class="btn btn-block btn-default" href="@controllers.choice.routes.ChoiceController.question(question.key.quizId, question.key.questionId)">
    Frage @question.key.questionId</a>
  }
</div>
}