@(user: model.user.User, result: model.ChoiceResult)

@question = @{result.getQuestion()}

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>@result.getQuestion().text</h1>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h4 class="bg-success text-center">Korrekt</h4>
      @for(correct <- result.getCorrect()) {
      <div class="panel panel-success">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-ok"></span> @correct
        </div>
        <div class="panel-body">TODO: Erkl&auml;rung</div>
      </div>
      }
    </div>

    <div class="col-sm-4">
      <h4 class="bg-danger text-center">Falsch</h4>
      @for(wrong <- result.getWrong()) {
      <div class="panel panel-danger">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-remove"></span> @wrong
        </div>
        <div class="panel-body">TODO: Erkl&auml;rung</div>
      </div>
      }
    </div>

    <div class="col-sm-4">
      <h4 class="bg-warning text-center">Fehlend</h4>
      @for(missing <- result.getMissing()) {
      <div class="panel panel-warning">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-question-sign"></span> @missing
        </div>
        <div class="panel-body">TODO: Erkl&auml;rung</div>
      </div>
      }
    </div>
  </div>

  <hr>

  <a class="btn btn-default btn-block"
    href="@controllers.choice.routes.ChoiceController.question(question.key.quizId, question.key.questionId + 1)"> N&auml;chste Aufgabe</a>

</div>
}
