@(user: model.user.User, question: model.Question)

@isSingle = @{question.questionType == model.QuestionType.SINGLE} @* Always false, for unification with choiceQuestion *@

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>@question.text</h1>
  </div>
  
  <form class="form-horizontal" method="post" action="@controllers.choice.routes.QuestionController.correct(question.id)">
    <div id="answerDiv">
    @for(ans <- question.getAnswersForTemplate()) {
      <div class="@question.questionType.getDivClass()">
        <label for="@ans.key.id" class="control-label col-sm-1">@ans.key.id:</label>
        <div class="col-sm-11">
          <input type="@question.questionType.getInputType()" id="@ans.key.id"
          name="@ans.key.id" class="form-control" placeholder="TODO!">
          
        </div>
      </div>
    }
    </div>

    <hr>
    
    <input class="btn btn-block btn-primary" type="submit" value="Kontrollieren">
  </form>
</div>
}