@(user: model.user.User)

@main("Auswahlfrage erstellen", user) {
<script>
  function onAnswerNumChange() {
    var numOfActiveAnswers = parseInt(document.getElementById("numOfAnswers").value);
    for(var i = 1; i <= numOfActiveAnswers; i++) {
      // Activate inputs for answers 1 to numOfAnswers
      var input = document.getElementById(i);
      input.readOnly = "";
      input.required = true;
      input.className = "form-control";
    }
    for(var j = numOfActiveAnswers + 1; j <= 8; j++) {
      // Deactivate other inputs
      var input = document.getElementById(j);
      input.readOnly = "readonly";
      input.required = false;
      input.className = "form-control disabled";
    }
  }

  $(document).ready(function() {
    onAnswerNumChange();
  });
</script>
  
<div class="container">
  <div class="page-header">
    <h1>Neue Frage erstellen</h1>
  </div>
  <form class="form-horizontal" method="post" action="@controllers.choice.routes.QuestionController.newQuestion()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Titel:</label>
      <div class="col-sm-10">
        <input class="form-control" id="title" name="title" placeholder="Titel der Frage, z. B. 'Assoziationen in UML'" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="text">Text:</label>
      <div class="col-sm-10"> 
        <input class="form-control" id="text" name="text" placeholder="Text der Frage" required>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-2" for="type">Typ:</label>
      <div class="col-sm-10">
        @for(qType <- model.QuestionType.values()) {
        <div class="radio">
          <label for="@qType" title="@qType.getDescription()">
            <input type="radio" name="type" id="@qType" value="@qType" required> @qType.getName
          </label>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="numOfAnswers">Anzahl Antworten:</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" name="numOfAnswers" id="numOfAnswers"
        onchange="onAnswerNumChange();" min="2" max="8" value="4" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Antworten:</label>
      <div class="col-sm-10" id="answerDiv">
      @for(i <- 1 until 9) {
        <p>
          <div class="input-group">
            <input class="form-control" name="@i" id="@i" placeholder="@{i}. Antwort">
            <span class="input-group-addon">Korrektheit:</span>
            <div class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="caret"></span>
              </button>
            </div>
          </div>
        </p>
      }
      </div>
    </div>

    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
}