@(user: model.user.User, question: model.ChoiceQuestion)

@main("Auswahlfragen", user) {
<script src="@routes.Assets.versioned("javascripts/choicequestions.js")"></script>

<style>
.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}
</style>

<div class="container">
  <div class="page-header">
    <h1>Auswahlfragen</h1>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      @{question.id}. Frage:
    </div>
    <div class="panel-body">
      <div class="col-sm-6">
        <p>@question.text</p>
      </div>
    
      <div class="col-sm-6" id="answerDiv">
      @for(ans <- question.answers) {
        @if(question.questionType == model.QuestionType.FILLOUT) {
        <div class="form-group">
          <label for="ans_@ans.key.id">@ans.key.id: <input id="@ans.key.id" class="form-control" placeholder="TODO!"></label>
        </div>
        } else {
        <button class="btn btn-block btn-default" id="@ans.key.id" data-selected="0"
          onclick="@if(question.questionType == model.QuestionType.SINGLE) {markSingle(this)} else{mark(this)};">
          <div class="row">
            <div class="col-sm-1">@ans.getIdAsChar) </div>
            <div class="col-sm-11">@ans.text</div>
          </div>
        </button>
        }
      }
      </div>
    </div>
    <div class="panel-footer">  
      <button class="btn btn-block btn-primary" id="correct"
        onclick="control('@controllers.choice.routes.ChoiceController.correct(question.id)')">Kontrollieren</button>
      <a class="btn btn-block btn-default" href="@controllers.choice.routes.ChoiceController.question(question.id + 1)">
        Nächste Aufgabe</a>
    </div>
  </div>

</div>
}