@(user: model.user.User, questions: List[model.Question])

@isAdmin = @{user.role == model.user.Role.ADMIN}

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Alle Fragen</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Autor</th>
        <th>Titel</th>
        <th>Type</th>
        <th>Max. Punktzahl</th>
        <th>Text</th>
        <th># Antworten</th>
        @if(isAdmin) {<th>Editieren</th>}
        <th>&Oslash; Bewertungen</th>
        <th>Quizzes</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    @for(question <- questions) {
      <tr>
        <td>@question.id</td>
        <td>@question.author</td>
        <td>@question.title</td>
        <td>@question.questionType</td>
        <td>@question.maxPoints</td>
        <td>@question.text</td>
        <td>@question.answers.size()</td>
        @if(isAdmin) {<td>
          <a href="@controllers.choice.routes.QuestionController.editQuestionForm(question.id)">
            <span class="glyphicon glyphicon-edit"></span></a>
        </td>}
        <td>@if(question.getAverageRating().isPresent()) {@question.getAverageRating().getAsDouble()} else {--}</td>
        <td>@String.join(", ", question.getQuizNames())</td>
        <td><a href="@controllers.choice.routes.QuestionController.question(question.id)">Frage @question.id</a>
      </tr>
    }    
    </tbody>
  </table>
</div>
}