@(user: model.user.User, exercise: model.html.HtmlExercise, serverUrl: String)

@main("HTML-Test", user) {

<script src="@controllers.web.routes.Assets.versioned("assets/ace/ace.js")"></script>

<script>
  function testSolution() {
    // AJAX-Objekt erstellen, Callback-Funktion bereitstellen
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(xhttp.readyState == 4 && xhttp.status == 200) {
        processCorrection(xhttp.responseText);
      }
    };
    
    // AJAX-Objekt mit Daten fuellen, absenden
    var parameters = "editorContent=" + encodeURIComponent(editor.getValue());
    xhttp.open("POST", "@serverUrl/web/html/commit/@exercise.id", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send(parameters);
  }

  function processCorrection(correction) {
    var loesungsraum = document.getElementById("loesungsraum");
    loesungsraum.innerHTML = "";
	alert(correction);
    
    var corrs = correction.split("\n");
    for(i = 0; i < corrs.length; i++) {
      if(corrs[i].startsWith("+")) {
        loesungsraum.innerHTML += "<div class=\"alert alert-success\">" + corrs[i] + "</p>";
      } else if(corrs[i].startsWith("-")) {
        loesungsraum.innerHTML += "<div class=\"alert alert-danger\">" + corrs[i] + "</div>";
      } else {
        loesungsraum.innerHTML += "<div class=\"alert alert-warning\">" + corrs[i] + "</div>";
      }
    }
  }
</script>

<style>
#editor {
  height: 500px;
}
</style>

<div class="container-fluid">
  <div class="row row-eq-height">

    <div class="col-md-6">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#editorFenster">Editor</a></li>
        <li><a data-toggle="tab" href="#ansicht">Live-Ansicht</a></li>
      </ul>

      <div class="tab-content">
        <!-- Programmierfenster anzeigen -->
        <div id="editorFenster" class="tab-pane fade in active">
          <pre id="editor" class="form-control"></pre>
          <script type="text/javascript">
                      document.getElementById('editor').style.fontSize = '14px';
                      var editor = ace.edit("editor");
                      editor.setTheme("ace/theme/eclipse");
                      editor.getSession().setMode("ace/mode/html");
                      editor.setTabSize(4);
                    </script>
        </div>

        <div id="ansicht" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-body" id="loesungsraum">TODO: Live-Ansicht Website</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#aufgaben">Aufgabenstellung</a></li>
        <li><a data-toggle="tab" href="#korrektur">Korrektur</a></li>
      </ul>

      <div class="tab-content">
        <!-- Aufgabenstellung anzeigen -->
        <div id="aufgaben" class="tab-pane fade in active">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>@exercise.text</p>
              @for(task <- exercise.tasks) {
              <p>- @task.taskDescription</p>
              }
            </div>
            <div class="panel-footer">
              <button type="button" class="btn btn-primary btn-block" onclick="testSolution();">L&ouml;sung testen</button>
            </div>
          </div>
        </div>

        <div id="korrektur" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-body" id="loesungsraum">Hier stehen bald die Korrekturwerte...</div>
          </div>
        </div>
      </div>

    </div>

  </div>
  }