@(user: model.user.User, exercise: model.html.HtmlExercise) @main("HTML-Test", user) {

<script src="@controllers.web.routes.Assets.versioned("assets/ace/ace.js")"></script>

<div class="container-fluid">
  <div class="panel">
    <button type="button" class="btn btn-default btn-block" onclick="alert('Hallo')">L&ouml;sung testen</button>
  </div>
  
  <div class="row">

    <!-- Programmierfenster -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div id="editor" class="form-control" style="height: 500px;"></div>
        <script type="text/javascript">
                  document.getElementById('editor').style.fontSize = '14px';
                  var editor = ace.edit("editor");
                  editor.setTheme("ace/theme/eclipse");
                  editor.getSession().setMode("ace/mode/html");
                  editor.setTabSize(4);
                </script>
      </div>
    </div>

    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#aufgaben">Aufgabenstellung</a></li>
        <li><a data-toggle="tab" href="#korrektur">Korrektur</a></li>
      </ul>

      <div class="tab-content">
        <!-- Aufgabenstellung anzeigen -->
        <div id="aufgaben" class="tab-pane fade in active">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>@exercise.text</p>
              @for(task <- exercise.tasks) {
              <p>- @task.taskDescription</p>
              }
            </div>
          </div>
        </div>

        <div id="korrektur" class="tab-pane fade">
          <div class="panel panel-default">
            <div class="panel-body" id="loesungsraum">Hier stehen bald die Korrekturwerte...</div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
}
