@(solution: String, results: List[model.result.EvaluationResult], user: model.user.User)

@main("HTML-Test", user) {
<div class="container-fluid">

  <div class="alert alert-success">
    Ihre L&ouml;sung wurde gespeichert. Sie k&ouml;nnen sich nun <a href="
      @controllers.core.routes.UserManagement.logout()">ausloggen</a> oder weitere <a href="
      @controllers.routes.Application.index()">Aufgaben bearbeiten.</a>
  </div>

  <div class="row row-eq-height">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Ihre L&ouml;sung</div>
        <div class="panel-body">
          <pre>@solution</pre>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Korrektur</div>
        <div class="panel-body">@for(result <- results) { @Html(result.getAsHtml()) }</div>
      </div>
    </div>

  </div>
</div>
}

