@(user: model.user.User, exercise: model.javascript.JsExercise)

@main("JavaScript-Test", user) {
<script src=" @controllers.routes.Assets.versioned("javascripts/jsProcessor.js")" type="text/javascript" charset="utf-8"></script>
<script>
function testSolution() {
  testTheSolution("@controllers.web.routes.JS.commit(exercise.id)");
}
</script>

<div class="container">
  <form action="@controllers.web.routes.JS.commit(exercise.id)" method="post" onsubmit="prepareFormForSubmitting();">
  <!-- Aufgabenstellung -->
    <div class="panel panel-default">
      <div class="panel-heading">Aufgabenstellung</div>
      <div class="panel-body">@exercise.text</div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="testSolution();">L&ouml;sung testen</button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-success" >L&ouml;sung abgeben</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Definition eigener Testdaten -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Test Driven Development</div>
          <div class="panel-body">
            <div class="checkbox">
              <label><input type="checkbox" id="testData"> Definiere eigene Testdaten:</label>
            </div>
            <table class="table" id="testDataTable">
              <thead>
                <tr>
                @for(i <- 0 until exercise.inputCount) {
                  <th>Input @{i + 1}</th>
                }                  
                  <th>Output</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                @for(i <- 0 until exercise.inputCount) {
                  <td><input class="form-control"></td>
                }
                  <td><input class="form-control"></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <div class="input-group">
                      <span class="input-group-addon">Neue Testdaten</span>
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="lessTestData();">
                          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" onclick="moreTestData(@exercise.inputCount);">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <input type="button" class="btn btn-default" onclick="validateTestData('@controllers.web.routes.JS.validateTestData(exercise.id)');" value="Validiere neue Testdaten">
          </div>
        </div>
      </div>
    </div>
    
    <!-- Programmierfenster und Korrekturfenster -->
    <div class="row">
      <div class="col-md-6">
        @editor(exercise.declaration, "javascript", 15, 20)
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Korrektur</div>
          <div class="panel-body" id="loesungsraum">Hier stehen bald die Korrekturwerte...</div>
        </div>
      </div>
    </div>
  </form>
</div>
}
