 @(learnerSolution: String, testResults: List[model.javascript.JsTestResult], user: model.user.User)
 
 @main("JavaScript: Korrektur", user) {
<div class="container">

<div class="panel panel-default">
<div class="panel-heading">Ihre L&ouml;sung</div>
<div class="panel-body">
<pre>@learnerSolution</pre>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Testergebnisse</div>
<div class="panel-body">
@for(testResult <- testResults) {
@if(testResult.wasSuccessful()) {
<div class="alert alert-success">Test "@testResult.getEvaluated()" erfolgreich.</div>
} else {
<div class="alert alert-danger">Test @@testResult.getTest().id "@testResult.getEvaluated()" fehlgeschlagen. Erwartet:
"@testResult.getAwaitedResult()", bekommen: "@testResult.getRealResult()".</div>
}
}
</div>
</div>

</div>
}
