@(user: model.user.User, webExercises: List[model.javascript.JsWebExercise])

@main("JavaScript", user) {
<div class="container">
  <div class="page-header">
    <h1 class="page-title">&Uuml;bersicht &uuml;ber verf&uuml;gbare Aufgaben</h1>
  </div>
  @for(webExercise <- webExercises) {
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="@controllers.web.routes.JSWeb.exercise(new model.IntExerciseIdentifier(webExercise.id))">Aufgabe @webExercise.id: @webExercise.title</a>
    </div>
    <div class="panel-body">@Html(webExercise.text)</div>
  </div>
  }
</div>
}
