@(user: model.user.User, exercise: model.javascript.JsWebExercise)

@main("JavaScript-Test", user) {
<script src="@controllers.routes.Assets.versioned("javascripts/ace/ace.js")" type="text/javascript" charset="utf-8"></script>
<script src="@controllers.routes.Assets.versioned("javascripts/jsProcessor.js")" type="text/javascript" charset="utf-8"></script>
<script>
function testSolution() {
  testTheWebSolution("@web.routes.JS.exerciseWeb(exercise.id)");
}

window.onload = updatePreview;
</script>

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Aufgabenstellung</div>
    <div class="panel-body">@Html(exercise.text)</div>
    <div class="panel-footer"><button class="form-control" onclick="testSolution();">L&ouml;sung testen</button></div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <pre id="anterior">@exercise.anterior</pre>
      <div id="editor" class="form-control">@exercise.declaration</div>
      <script>
document.getElementById('editor').style.fontSize = '16px';
var editor = ace.edit("editor");
editor.setTheme("ace/theme/eclipse");
editor.getSession().setMode("ace/mode/javascript");
editor.getSession().setTabSize(2);
editor.getSession().setUseSoftTabs(true);
editor.getSession().setUseWrapMode(true);
editor.setOptions({
  minLines: 15,
  maxLines: 25
});

editor.on("change", updatePreview);
</script>
    <pre id="posterior">@exercise.posterior</pre>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Vorschau</div>
        <div class="panel-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="about:blank" id="preview"></iframe>
          </div>
        </div>
        <div class="panel-footer">
          <div class="alert alert-info">Die Vorschau wird bei &Auml;nderungen in der L&ouml;sung automatisch aktualisiert.</div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Tests</div>
        <div class="panel-body" id="testsDiv">
        </div>
      </div>
    </div>
    
  </div>

</div>
}
