@(user: model.user.User, exercise: model.UmlExercise, solution: model.UmlSolution)
@cnr =   @{solution.getClasses().size();}
@main("UML", user) {

<div class="container-fluid">
  <div class="col-md-4">
  		<div data-draggable="target" class="panel panel-default">
  			<div class="panel-body">
    <div data-draggable="target" class="btn-group btn-group-vertical">
    <span>Attribute</span>
    <ol data-draggable="target">
	    @for(i <- 0 until solution.getAttributes().size()) {
   	   		<li data-draggable="item" class="btn btn-default" id="a@{i}">@solution.getEntryAttributes(i)</li>
  		}
    	</ol>
    </div>
    <div data-draggable="target" class="btn-group btn-group-vertical">
        <span>Methoden</span>
        <ol>
  		  @for(i <- 0 until solution.getMethods().size()) {
     	 <li data-draggable="item"  class="btn btn-default" id="m@{i}">@solution.getEntryMethods(i)</li>
    	}
    </ol>
    </div>
  	</div>
  	</div>
  </div>

  <div class="col-md-8">
  @for(j <-0 until math.sqrt(cnr).toInt+1) {
    <div class="row">
    @for(i <- 0 until 3) {
    	@if(j*3+i < cnr){
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading" id="@{j*3+i}">@solution.getEntryClasses(j*3+i)</div>
          <div id="@{solution.getEntryClasses(j*3+i)}" data-draggable="target"  class="panel-body">
          </div>
        </div>
      </div>
      }
    }
    </div>
  }
  </div>
</div>

<a href="www.google.de" class="btn btn-primary btn-block">N&auml;chster Aufgabenteil</a>
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/dragdrop.js")"></script>
<div class="btn-group">
          <button type="button" class="btn btn-default" onclick="test();">test</button>
        </div>



<script>
var classnames= ["@Html(String.join("\",\"",solution.getClasses()))"];
function test(){
	var obj=[];
	for(classname of classnames){
		var cobj={"classname":classname,"obj":[]};
		var node = document.getElementById(classname);
		for(i=0;i<node.children.length;i++){
			cobj.obj.push(node.children[i].innerHTML);
		}
		obj.push(cobj);
	}
	console.log(JSON.stringify(obj,null,2));
}
</script>
<style>

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#68b;

	background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
	
	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
	display:block;
	list-style-type:none;
	
	margin:0 0 2px 0;
	padding:0.2em 0.4em;
	
	border-radius:0.2em;
	
	line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;
	
	box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	background:#8ad;
	color:#fff;
}
</style>

}