@(user: model.user.User, result: model.result.ClassSelectionResult)

@main("UML", user) {
<div class="container">
  <div class="page-header">
    <h1>Zwischenkorrektur der Aufgabe &quot;@result.getExercise().title&quot;</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Klassen</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        @Html(result.getCorrectClasses())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        @Html(result.getWrongClasses())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        @Html(result.getMissingClasses())
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Methoden</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        @Html(result.getCorrectMethods())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        @Html(result.getWrongMethods())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        @Html(result.getMissingMethods())
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Attribute</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        @Html(result.getCorrectAttributes())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        @Html(result.getWrongAttributes())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        @Html(result.getMissingAttributes())
      </div>
    </div>
  </div>

  <a href="@controllers.uml.routes.UML.diagramDrawingWithHelp(result.getExercise().id)" class="btn btn-primary btn-block">N&auml;chster Aufgabenteil</a>
</div>
}
