@(user: model.user.User, exercise: model.UmlExercise) @main("UML", user) {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/umlextra.css")">
<script src="@controllers.routes.Assets.versioned("javascripts/umlProcessor.js")"></script>

<div class="container">
  <div class="page-header">
    <h1>Auswahl der Klassen, Methoden und Attribute</h1>
  </div>
  <div class="alert alert-info">
    <b>Aufgabenstellung</b>: In dieser Aufgabe sollen Sie die zu modellierenden Klassen, Methoden und Attribute durch
    Anklicken der jeweiligen Wörter, wobei <span style="color: blue">blau</span> Klassen, <span style="color: green">grün</span>
    Methoden und <span style="color: red">rot</span> Attribute deklarieren, bestimmten. Durch erneutes Anklicken können Sie zwischen
    den einzelnen Zuständen wechseln.
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Aufgabentext</div>
    <div class="panel-body" id="exercisetext">@Html(exercise.getExTextForClassSel())</div>
    <div class="panel-footer">
      <form action="@controllers.uml.routes.UML.correctClassSelection(exercise.id)" method="post"
        enctype="multipart/form-data" onsubmit="prepareFormForSubmitting();">
        <input type="hidden" value="" class="form-control" name="learnerSolution" id="learnerSolution" required>
        <button type="submit" class="btn btn-primary btn-block">Klassen verifizieren</button>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-4">
      <span class="bg-info" style="color: blue">Klassen</span>
    </div>
    <div class="col-xs-4">
      <span class="bg-success" style="color: green">Methoden</span>
    </div>
    <div class="col-xs-4">
      <span class="bg-danger" style="color: red">Attribute</span>
    </div>
  </div>
  
</div>
}
