@(user: model.user.User, exercise: model.UmlExercise)

@main("UML", user) {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/umlextra.css")">
<script src="@controllers.routes.Assets.versioned("javascripts/uml/classSelection.js")"></script>

<script>
var helpWithDoubles = true;
</script>

<div class="container" unselectable="on" onselectstart="return false;"  onmousedown="return false;">
  <div class="page-header">
    <h1>Auswahl der Klassen, Methoden und Attribute</h1>
  </div>
  <div class="alert alert-info">
    <b>Aufgabenstellung</b>: In dieser Aufgabe sollen Sie die zu modellierenden Klassen, Methoden und Attribute durch
    Anklicken der jeweiligen Wörter, wobei <span style="color: blue">blau</span> Klassen, <span style="color: green">grün</span>
    Methoden und <span style="color: red">rot</span> Attribute deklarieren, bestimmen. Durch erneutes Anklicken können Sie zwischen
    den einzelnen Zuständen wechseln.
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Aufgabentext</div>
    <div class="panel-body" id="exercisetext">@Html(exercise.getExTextForClassSel())</div>
    <div class="panel-footer">
      <form action="@controllers.uml.routes.UML.correctClassSelection(exercise.id)" method="post"
        enctype="multipart/form-data" onsubmit="return prepareFormForSubmitting();">
        <input type="hidden" value="" class="form-control" name="learnerSolution" id="learnerSolution" required>
        <button type="submit" class="btn btn-primary btn-block">Klassen verifizieren</button>
      </form>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Gew&auml;hlt</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-info text-center">Klassen</h4>
        <ul id="classesList">
          <li>--</li>
        </ul>
      </div>
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Methoden</h4>
        <ul id="methodsList">
          <li>--</li>
        </ul>
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Attribute</h4>
        <ul id="attributesList">
          <li>--</li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
}
