@(user: model.user.User, result: model.result.ClassSelectionResult)

@main("UML", user) {
<div class="container">
  <div class="page-header">
    <h1>Zwischenkorrektur der Aufgabe &quot;@result.getExercise().title&quot;</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th/>
        <th>Nutzer</th>
        <th>Muster</th>
      </tr>
    </thead>
    <tbody>
    @matchingResult.render(result.getClassResult())
    </tbody>
  </table>


  @*<div class="panel panel-default">
    <div class="panel-heading">Klassen</div>
    <div class="panel-body">
      <div class="col-sm-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        <ul>
        @if(classResult.getMatches().isEmpty()) {
          <li>--</li>
        } else {
          @for(corrClass <- classResult.getMatches()) {
          <li>@corrClass.getUserArg().getName()</li>
          }
        }
        </ul>
      </div>
      <div class="col-sm-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        <ul>
        @if(classResult.getWrong().isEmpty()) {
          <li>--</li>
        } else {
          @for(wrongClass <- classResult.getWrong()) {
          <li>@wrongClass.getUserArg().getName()</li>
          }
        }
        </ul>
      </div>
      <div class="col-sm-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        <ul>
        @if(classResult.getMissing().isEmpty()) {
          <li>--</li>
        } else {
          @for(missClass <- classResult.getMissing()) {
          <li>@missClass.getUserArg().getName()</li>
          }
        }
        </ul>
      </div>
    </div>
  </div>
  *@
  <a href="@uml.routes.UmlController.diagramDrawingWithHelp(result.getExercise().id)" class="btn btn-primary btn-block">N&auml;chster Aufgabenteil</a>
</div>
}
