@(user: model.user.User, exerciseText: String)

@main("UML-Test", user) {
<head>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/lodash.js")"></script>
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/backbone.js")"></script>
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/jquery.js")"></script>
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/joint.js")"></script>
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/joint.css")">
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/jsonconverter.js")"></script>
</head>
<body>
<div class="container-fluid">
  <h2>UML Diagrammszenario</h2>
  <div class="panel panel-default">
    <div class="panel-heading">Vervollst&auml;ndigen Sie das vorliegende UML-Klassendiagramm indem Sie die Beziehungen zwischen den Klassen modellieren.
	W&auml;hlen Sie zuerst die Art der Beziehung durch das Aktivieren des jeweiligen Buttons aus.
	Anschlie&szlig;end klicken Sie auf zuerst auf den Namen der Klasse und klicken dann auf die andere Klasse.
	Im folgendem Popup-Fenster sollen Sie nun die Multiplizit&auml;ten zwischen den Klassen angeben.
	Um bereits erstellte Beziehungen zu l&ouml;schen, hovern Sie mit der Maus &uuml;ber die Verbindung und klicken auf das erscheinende rote Kreuz.
	Nachdem Sie alle Beziehungen modelliert haben, k&ouml;nnen Sie die Ausgabe mittels Buttons verifizieren.
	</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default" id="text">
			@Html(exerciseText)
          </div>
        </div>
        <div class="col-md-8" id="sizepaper">
          <div ondrop="drop(event)" ondragover="allowDrop(event)">
            <div style="border: 1px solid black" id="paper"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-group">
      	<button type="button" class="btn btn-default" value="off" id="10" onclick="selectButton(this);">Standard</button>
		<button type="button" class="btn btn-default" value="off" id="1" onclick="selectButton(this);">Composition</button>
        <button type="button" class="btn btn-default" value="off" id="2" onclick="selectButton(this);">Aggregation</button>
        <button type="button" class="btn btn-default" value="off" id="3" onclick="selectButton(this);">Implementation</button>
        <button type="button" class="btn btn-default" value="off" id="4" onclick="selectButton(this);">Generalization</button>
        <button type="button" class="btn btn-default" value="off" id="5" onclick="loeschen();">Klasse l&ouml;schen</button>
        <button type="button" class="btn btn-default" value="off" id="6" onclick="addMeth();">Mehoden
          hinzuf&uuml;gen</button>
        <button type="button" class="btn btn-default" value="off" id="7" onclick="addAttr();">Attribute
          hinzuf&uuml;gen</button>
        <button type="button" class="btn btn-default" value="off" id="8" onclick="delMeth();">Mehoden entfernen</button>
        <button type="button" class="btn btn-default" value="off" id="9" onclick="delAttr();">Attribute
          entfernen</button>
        <form action="@controllers.uml.routes.UML.correctdiagramdrawing()" method="post" enctype="multipart/form-data" onsubmit="prepareFormForSubmitting();">
    		<div class="form-group">
      			<input type="hidden" value="" class="form-control" name="fname" id="learnerSolution" required>
    		</div>
   	 			<button type="submit" class="btn btn-primary btn-block">Aufgabe verifizieren</button>
 	 	</form> 
        
      </div>
    </div>
  </div>
</div>
<script src=" @controllers.routes.Assets.versioned("javascripts/uml/classselection.js")"></script>
}