@(user: model.user.User, result: model.DiagramDrawingResult)

@main("UML-Test", user) {
<div class="container">
  <div class="page-header">
    <h1> Korrektur der Aufgabe &quot;@result.exercise.title&quot;</h1>	
  </div>

  <h1>Assoziationen</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Korrektheit</th>
        <th class="text-center" colspan="2">Typ</th>
        <th>Start</th>
        <th>Ziel</th>
        <th class="text-center" colspan="2">Multiziplität</th>
      </tr>
      <tr>
        <th/>
        <th>Lerner</th>
        <th>Muster</th>
        <th/>
        <th/>
        <th>Lerner</th>
        <th>Muster</th>
    </thead>
    
    <tbody>
      <tr>
        <th colspan="7" class="text-center">(Teilweise) Korrekt</th>
      </tr>
      
      @for(assoc <- result.associationResult.allMatches) {
        @assoc.describe
      }
    @*for(corrAssoc <- result.associationResult.allMatches.asInstanceOf[List[model.umlmatcher.UmlAssociationMatch]]) {
      <tr>
        @if(corrAssoc.isCorrect) {
        <td class="success text-center"><span class="glyphicon glyphicon-ok"></span>
        } else {
        <td class="warning text-center"><span class="glyphicon glyphicon-remove"></span>
        }
        @if(corrAssoc.assocTypeEqual) {
        <td class="success text-center" colspan="2">@corrAssoc.userArg.assocType</td>
        } else {
        <td class="danger">@corrAssoc.userArg.assocType</td>
        <td>@corrAssoc.sampleArg.assocType</td>
        }
  	    <td>@corrAssoc.userArg.ends._1.endName</td>
        <td>@corrAssoc.userArg.ends._2.endName</td>
        @if(corrAssoc.areMultiplicitiesEqual) {
        <td class="success text-center" colspan="2">@corrAssoc.correctMultiplicity</td>
        } else {
        <td class="danger">@corrAssoc.userArg.multsAsString</td>
        <td>@corrAssoc.correctMultiplicity</td>
        }
      </tr>
      }*@
      
      
      @*
      <tr><td colspan="7">&nbsp;</td></tr>
      
      <tr>
        <th colspan="7" class="text-center">Falsch</th>
      </tr>
    @for(wrongAssoc <- result.associationResult.wrong) {
      <tr>
        <td class="danger text-center"><span class="glyphicon glyphicon-remove" title="Falsch"></span></td>
        <td>@wrongAssoc.userArg.getAssocType.getName</td>
        <td/>
        <td>@wrongAssoc.userArg.ends._1.getEndName</td>
        <td>@wrongAssoc.userArg.ends._2.getEndName</td>
        <td>@wrongAssoc.userArg.ends._1.multiplicity.getRepresentant : @wrongAssoc.userArg.ends._2.multiplicity.getRepresentant</td>
        <td/>
      </tr>
      }
      
      <tr><td colspan="7">&nbsp;</tr>
      
      <tr>
        <th colspan="7" class="text-center">Fehlend</th>
      </tr>
      
    @for(missingAssoc <- result.getAssociationResult.missing) {
      <tr>
        <td class="warning text-center"><span class="glyphicon glyphicon-minus" title="Fehlend"></span></td>
        <td/>
        <td>@missingAssoc.sampleArg.getAssocType.getName</td>
        <td>@missingAssoc.sampleArg.ends._1.getEndName</td>
        <td>@missingAssoc.sampleArg.ends._2.getEndName</td>
        <td/>
        <td>@missingAssoc.sampleArg.ends._1.multiplicity.getRepresentant : @missingAssoc.sampleArg.ends._2.multiplicity.getRepresentant</td>
      </tr>
      }
      *@
      
    </tbody>
  </table>
    
  <h1>Vererbungen</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Korrektheit</th>
        <th colspan="2">Lerner</th>
        <th colspan="2">Muster</th>
      </tr>
      <tr>
        <th/>
        <th>Subklasse</th>
        <th>Superklasse</th>
        <th>Subklasse</th>
        <th>Superklasse</th>
      </tr>
    </thead>
    
    <tbody>
      @for(impl <- result.implementationResult.allMatches) {
        @impl.describe
      }
    </tbody>
  </table>
  
  <hr>
  
  <a href="@uml.routes.UmlController.matching(result.exercise.id)" class="btn btn-primary btn-block">Zum nächsten Aufgabenteil</a>
</div>
}
