@(user: model.user.User)

@main("UML", user) {

<div class="container">
  <div class="page-header">
    <h1 class="page-title">W&auml;hlen Sie die gew&uuml;nschte Form bei der Bearbeitung </h1>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=" /uml/1/diagramdrawing">Verbesserung und Modularisierung</a>
    </div>
    <div class="panel-body">
      
      <p>Die Bearbeitung der Aufgabe untergliedert sich in einzelne Teilmodule.
      Diese Teilbereiche werden nach Abschluss korrigiert, m&ouml;gliche Fehler ausgebessert und  
      Sie erhalten ein Feedback über Ihre Leistungen.
      </p>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href=" /uml/1/classselection">Modularisierung der Aufgabe</a>
    </div>
    <div class="panel-body">      
      <p>Zweistufige Bearbeitung der Aufgabe mit jeweiligen Korrektur</p>      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/uml/1/diagramdrawing">Keine Modularisierung</a>
    </div>
    <div class="panel-body">
      
      <p>Die Aufgabe wird nicht in Module untergliedert und Sie erhalten nach Abschluss ein Feedback</p>
      
    </div>
  </div>
  
</div>
  }