@(user: model.user.User, ue: model.UmlClassselection)

@main("UML", user) {
<div class="container-fluid" align="center">
<h1> Korrektur der Aufgabe @ue.getTitleExercise()</h1>
<table class="table">
  <tr>
    <th colspan="3">Klassen</th>
	<th colspan="3">Methoden</th>
	<th colspan="3">Attribute</th>
  </tr>
  <tr>
    <td class="success">korrekt</td>
	<td class="danger">falsch</td>
	<td class="info">fehlend</td>
	<td class="success">korrekt</td>
	<td class="danger">falsch</td>
	<td class="info">fehlend</td>
	<td class="success">korrekt</td>
	<td class="danger">falsch</td>
	<td class="info">fehlend</td>
  </tr>
  <tr>
    <td>
		@ue.getClasses_c()
	</td>
	<td>
		@ue.getClasses_f()
	</td>
	<td >
		@ue.getClasses_m()
	</td>
	<td>
		@ue.getMethods_c()
	</td>
	<td>
		@ue.getMethods_f()
	</td>
	<td>
		@ue.getMethods_m()
	</td>
	<td>
		@ue.getAttributes_c()
	</td>
	<td>
		@ue.getAttributes_f()
	</td>
	<td>
		@ue.getAttributes_m()
	</td>
  </tr>
</table>
</div>
<div>
	<form action="/uml/correct" method="post" enctype="multipart/form-data">
   	 <button type="submit" class="btn btn-primary btn-block">Nächster Aufgabenteil</button>
 	</form> 
</div>

}
