@(user: model.user.User, ue: model.result.UmlClassselection)

@main("UML", user) {
<div class="container">
  <div class="page-header">
    <h1>Zwischenkorrektur der Aufgabe &quot;@ue.getTitle()&quot;</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Klassen</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        @Html(ue.getCorrectClasses())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        @Html(ue.getWrongClasses())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        @Html(ue.getMissingClasses())
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Methoden</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        @Html(ue.getCorrectMethods())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        @Html(ue.getWrongMethods())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        @Html(ue.getMissingMethods())
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Attribute</div>
    <div class="panel-body">
      <div class="col-xs-4">
        <h4 class="bg-success text-center">Korrekt</h4>
        @Html(ue.getCorrectAttributes())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-danger text-center">Falsch</h4>
        @Html(ue.getWrongAttributes())
      </div>
      <div class="col-xs-4">
        <h4 class="bg-warning text-center">Fehlend</h4>
        @Html(ue.getMissingAttributes())
      </div>
    </div>
  </div>

  <a href="@controllers.uml.routes.UML.diagramDrawingWithHelp(ue.getExercise().id)" class="btn btn-primary btn-block">N&auml;chster Aufgabenteil</a>
</div>
<style>
h1 {
    text-align: center;
}
</style>
}
