@( user: model.user.User, ue: model.UmlDiagramdrawing )

@main("UML-Test", user) {
	
<h1> Korrektur der Aufgabe @ue.getTitleExercise()</h1>	

<h2>Übersicht der Klassen, Attribute und Methoden</h2>

<h4>Identische Klassenbezeichnungen</h4>
<div id="left">
<table class="table">
<tr>
	<th>Ihre Eingabe</th>
	<th></th>
	<th></th>
	<th>Lösung</th>
</tr>
@for(i <- 0 to ue.getClassesLength(ue.getClasses_user_c())-1){
  <tr>
 	<td></td>
    <td>@ue.getClasses_user_c().get(i).getName()</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
  	<td rowspan="2"></td>
    <td>Methoden:</td>
    <td>@ue.getClasses_user_c().get(i).getMethodsAsString()</td>
    <td></td>
  </tr>
  <tr>
    <td>Attribute:</td>
    <td>@ue.getClasses_user_c().get(i).getAttributesAsString()</td>
    <td></td>
    <td></td>
  </tr>
}    
</table>
</div>

<div id="right">
<table class="table">
<tr>
	<td></td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td></td>
</tr>
@for(i <- 0 to ue.getClassesLength(ue.getClasses_solution_c())-1){
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Methoden:</td>
    <td>@ue.getClasses_solution_c().get(i).getMethodsAsString()</td>
  </tr>
  <tr>
    <td>Attribute:</td>
    <td>@ue.getClasses_solution_c().get(i).getAttributesAsString()</td>
  </tr>
}    
</table>
</div>


_____________________________________________________________________________________________

<div id="left">
 <table class="table">
  <tr>
    <th colspan="3">falsche</th>
  </tr>
  <tr>
    <td>Klasse:</td>
	<td >Methoden:</td>
	<td >Attribute:</td>
  </tr>
@for(i <- 0 to ue.getClassesLength(ue.getClasses_user())-1){
  <tr>
    <td>
    @ue.getClasses_user().get(i).getName()
	</td>
	<td>
		@ue.getClasses_user().get(i).getMethodsAsString()
	</td>
	<td >
    	@ue.getClasses_user().get(i).getAttributesAsString()
	</td>
  </tr>
}
</table>
</div>

<div id="right">
 <table class="table">
  <tr>
    <th colspan="3">fehlende</th>
  </tr>
  <tr>
    <td>Klasse:</td>
	<td >Methoden</td>
	<td >Attribute</td>
  </tr>
@for(i <- 0 to ue.getClassesLength(ue.getClasses_solution())-1){
  <tr>
    <td>
    @ue.getClasses_solution().get(i).getName()
	</td>
	<td>
	@ue.getClasses_solution().get(i).getMethodsAsString()
	</td>
	<td >
    @ue.getClasses_solution().get(i).getAttributesAsString()
	</td>
  </tr>
}
</table>
</div>


_____________________________________________________________________________________________



<h2>Übersicht der Beziehungen zwischen den Klassen</h2>

<div id="left">
 <table class="table">
  <tr>
    <th colspan="5">Ihre Eingabe</th>
  </tr>
  <tr>
    <td>Beziehungstyp:</td>
	<td >Start</td>
	<td >Ziel</td>
	<td >Start Multiziplität</td>
	<td >Ziel Multiziplität</td>
  </tr>
@for(j <- 0 to 4){
@for(i <- 0 to ue.getConnectionsLength(ue.getListConnectionsTypeUser(j))-1){

  <tr>
    <td>
    @ue.getListConnectionsTypeUser(j).get(i).getType()
	</td>
	<td>
		@ue.getListConnectionsTypeUser(j).get(i).getStart()
	</td>
	<td >
    	@ue.getListConnectionsTypeUser(j).get(i).getTarget()
	</td>
	<td>
		@ue.getListConnectionsTypeUser(j).get(i).getMulstart()
	</td>
	<td>
		@ue.getListConnectionsTypeUser(j).get(i).getMultarget()
	</td>
  </tr>
	}
}

</table>
</div>

<div id="right">
 <table class="table">
  <tr>
    <th colspan="5">Lösung</th>
  </tr>
  <tr>
    <td>Beziehungstyp:</td>
	<td >Start</td>
	<td >Ziel</td>
	<td >Start Multiziplität</td>
	<td >Ziel Multiziplität</td>
  </tr>
@for(j <- 0 to 4){
@for(i <- 0 to ue.getConnectionsLength(ue.getListConnectionsTypeSolution(j))-1){

  <tr>
    <td>
    @ue.getListConnectionsTypeSolution(j).get(i).getType()
	</td>
	<td>
		@ue.getListConnectionsTypeSolution(j).get(i).getStart()
	</td>
	<td >
    	@ue.getListConnectionsTypeSolution(j).get(i).getTarget()
	</td>
	<td>
		@ue.getListConnectionsTypeSolution(j).get(i).getMulstart()
	</td>
	<td>
		@ue.getListConnectionsTypeSolution(j).get(i).getMultarget()
	</td>
  </tr>
	}
}
</table>
</div>


<div class="panel-footer">
	 <form action="/uml" method="get" enctype="multipart/form-data">
   	 <button type="submit" class="btn btn-primary btn-block">Zur Aufgabenübersicht</button>
 	</form> 
</div>
<style>
#left {
width: 50%;
float: left;
}
#right {
width: 50%;
float: right;
}
</style>

}
