@(user: model.user.User, exercise: model.UmlExercise)

@solution = @{exercise.getSolution}

@main("UML", user) {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/uml.css")">
<script src="@controllers.routes.Assets.versioned("javascripts/uml/uml.js")"></script>

<div class="container">
  <div class="page-header">
    <h1>Zuordnung der Attribute und Methoden</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Attribute</div>
        <div class="panel-body">
        @for(attr <- solution.allAttributes) {
        	<button class="btn btn-default btn-block" id="@attr" data-typ="attr" draggable="true"
           ondragstart="drag(event)">@attr</button>
        }
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Methoden</div>
        <div class="panel-body">
        @for(method <- solution.allMethods) {
          <button class="btn btn-default btn-block" id="@method" data-typ="method" draggable="true"
           ondragstart="drag(event)">@method</button>
        }
        </div>
      </div>
    </div>
  </div>

  
@for(clazz <-solution.classes) {
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">@clazz.name</div>
      <div class="panel-body">
        <div class="attrs-div" ondrop="drop(event, 'attr')" ondragover="allowDrop(event)"></div>
        <div class="methods-div" ondrop="drop(event, 'method')" ondragover="allowDrop(event)"></div>
      </div>
    </div>

  </div>
}

  <hr>

  <form method="post" onsubmit="prepareFormForSubmitting"
    action="@uml.routes.UmlController.correct(exercise.id, model.UmlExPart.ATTRS_METHS.toString)">
    <input hidden name="learnerSolution" id="learnerSolution">
    <button class="btn btn-primary btn-block">Aufgabenteil korrigieren</button>
  </form>

</div>
}
