@( user: model.user.User, ue: model.UmlDiagramdrawing )

@main("UML-Test", user) {
	
<div>
<div id="left">
 <table class="table">
  <tr>
    <th colspan="5">Ihre Eingabe</th>
  </tr>
  <tr>
    <td>Beziehungstyp:</td>
	<td >Start</td>
	<td >Ziel</td>
	<td >Start Multiziplität</td>
	<td >Ziel Multiziplität</td>
  </tr>
@for(j <- 0 to 4){
@for(i <- 0 to ue.getConnectionsLength(ue.getListConnectionsTypeUser(j))-1){

  <tr>
    <td>
    @ue.getListConnectionsTypeUser(j).get(i).getType()
	</td>
	<td>
		@ue.getListConnectionsTypeUser(j).get(i).getStart()
	</td>
	<td >
    	@ue.getListConnectionsTypeUser(j).get(i).getTarget()
	</td>
	<td>
		@ue.getListConnectionsTypeUser(j).get(i).getMulstart()
	</td>
	<td>
		@ue.getListConnectionsTypeUser(j).get(i).getMultarget()
	</td>
  </tr>
	}
}
</table>
</div>

<div id="right">
 <table class="table">
  <tr>
    <th colspan="5">Lösung</th>
  </tr>
  <tr>
    <td>Beziehungstyp:</td>
	<td >Start</td>
	<td >Ziel</td>
	<td >Start Multiziplität</td>
	<td >Ziel Multiziplität</td>
  </tr>
@for(j <- 0 to 4){
@for(i <- 0 to ue.getConnectionsLength(ue.getListConnectionsTypeSolution(j))-1){

  <tr>
    <td>
    @ue.getListConnectionsTypeSolution(j).get(i).getType()
	</td>
	<td>
		@ue.getListConnectionsTypeSolution(j).get(i).getStart()
	</td>
	<td >
    	@ue.getListConnectionsTypeSolution(j).get(i).getTarget()
	</td>
	<td>
		@ue.getListConnectionsTypeSolution(j).get(i).getMulstart()
	</td>
	<td>
		@ue.getListConnectionsTypeSolution(j).get(i).getMultarget()
	</td>
  </tr>
	}
}
</table>
</div>
</div>

<style>
#left {
width: 50%;
float: left;
}
#right {
width: 50%;
float: right;
}
</style>
	

}
