@(ex: model.tools.web.WebExercise)

<div class="row my-3">
    <div class="col-md-3">Html Text:</div>
    <div class="col-md-9">@ex.htmlText.getOrElse("--")</div>
</div>

<div class="row my-3">
    <div class="col-md-3">Html Tasks:</div>
    <div class="col-md-9">
        @if(ex.htmlTasks.nonEmpty) {
            @for(htmlTask <- ex.htmlTasks) {
                <p>@htmlTask</p>
            }
        } else {--}
    </div>
</div>

<div class="row my-3">
    <div class="col-md-3">Js Text:</div>
    <div class="col-md-9">@ex.jsText.getOrElse("--")</div>
</div>

<div class="row my-3">
    <div class="col-md-3">Js Tasks:</div>
    <div class="col-md-9">
        @if(ex.jsTasks.nonEmpty) {
            @for(jsTask <- ex.jsTasks) {
                <p>@jsTask</p>
            }
        } else {--}
    </div>
</div>

<div class="row my-3">
    <div class="col-md-3">Musterlösungen:</div>
    <div class="col-md-9">
        @for(sample <- ex.sampleSolutions) {
            <p>@sample</p>
        }

    </div>
</div>

<hr>

<p>@ex</p>
