@(ex: model.tools.web.WebExercise)

<div class="row my-3">
    <div class="col-md-3">Dateiname:</div>
    <div class="col-md-9"><code>@ex.siteSpec.fileName</code></div>
</div>

<div class="row my-3">
    <div class="col-md-3">Dateien:</div>
    <div class="col-md-9">
    @for(file <- ex.files) {
        <p>@file</p>
    }
    </div>
</div>

<div class="row my-3">
    <div class="col-md-3">Html Text:</div>
    <div class="col-md-9">@ex.htmlText.getOrElse("--")</div>
</div>

<div class="row my-3">
    <div class="col-md-3">Html Tasks:</div>
    <div class="col-md-9">
    @if(ex.siteSpec.htmlTasks.nonEmpty) {
        @for(htmlTask <- ex.siteSpec.htmlTasks) {
            <p>@htmlTask</p>
        }
    } else {--}
    </div>
</div>

<div class="row my-3">
    <div class="col-md-3">Js Text:</div>
    <div class="col-md-9">@ex.jsText.getOrElse("--")</div>
</div>

<div class="row my-3">
    <div class="col-md-3">Js Tasks:</div>
    <div class="col-md-9">
    @if(ex.siteSpec.jsTasks.nonEmpty) {
        @for(jsTask <- ex.siteSpec.jsTasks) {
            <p>@jsTask</p>
        }
    } else {--}
    </div>
</div>

@for(sample <- ex.sampleSolutions) {
    <div class="row my-3">
        <div class="col-md-3">Musterlösung @sample.id:</div>
        <div class="col-md-9">
            <pre>@sample.sample.htmlSolution</pre>
            @sample.sample.jsSolution.map(s => s"<pre>$s</pre>").getOrElse("")
        </div>
    </div>
}
