<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">it4all - &beta;</a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">

      <a [routerLink]="['/admin']" class="navbar-item" *ngIf="currentUser && currentUser.stdRole !== 'RoleUser'">
        Administratorenbereich
      </a>

      <a class="navbar-item" target="_blank" href="https://www.uni-wuerzburg.de/sonstiges/impressum/">
        Impressum
      </a>
      <a class="navbar-item" target="_blank" href="https://www.uni-wuerzburg.de/sonstiges/datenschutz/">
        Datenschutz
      </a>
      
      <div class="navbar-item">
        <ng-container *ngIf="currentUser; else noUserBlock">
          <button (click)="logout()" class="button is-light">Logout {{currentUser.username}}</button>
        </ng-container>
        <ng-template #noUserBlock>
          <div class="buttons">
            <a [routerLink]="['/loginForm']" class="button is-light">Login</a>
            <!--            <a [routerLink]="['/registerForm']" class="button is-light">Registrieren</a>-->
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>

<br>

<router-outlet></router-outlet>
