@(user: model.user.User, app: String, statistics: Html, calls: model.AdminRoutesObject)(content: Html)

@title = @{"Administrator " + app}

@main(title, user) {
<div class="container">
  <div class="page-header">
    <h1>@title</h1>
  </div>
  
  <section id="statistics">
    <h2>Statistiken</h2>
    <ul>
      @statistics
    </ul>
  </section>
  
  <hr>
  
  <section id="administration">
    <h2>Verwaltung der Aufgaben</h2>
    <a class="btn btn-default btn-block" href="@calls.exercisesCall">Übersicht über alle Aufgaben</a>

    &nbsp;
    
    <a class="btn btn-default btn-block" href="@calls.newExerciseFormCall">Neue Aufgabe erstellen</a>
    
    &nbsp;
    
    <div class="btn-group btn-group-justified">
      <a class="btn btn-default" href="@calls.exportCall">Aufgaben als JSON exportieren</a>
      <a class="btn btn-default" href="@calls.importCall">Standardaufgaben importieren</a>
    </div>
  </section>
  
  <hr>
  
  <section id="upload">
    <h2>Upload neuer Aufgaben</h2>
    <div class="alert alert-info">
      Die Datei wird gegen diese <a class="alert-link" target="_blank" href="@calls.jsonSchemaCall">JSON Schema-Datei</a> geprüft.
      Im Erfolgsfall werden die Aufgaben ausgelesen und in der Datenbank gespeichert.
    </div>
    
    <form action="@calls.uploadCall" method="post" enctype="multipart/form-data" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="file">Ihre Datei:</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" name="file" id="file" accept=".json" required>
        </div>
      </div>
      
      <hr>
      
      <button class="btn btn-primary btn-block">Datei hochladen</button>
    </form>
  </section>
  
  @content
  
</div>
}