@(singleResults: scala.collection.immutable.List[model.exercisereading.SingleReadingResult[_ <: model.exercise.Exercise]], toolObject: model.tools.ExToolObject)

<a href="@toolObject.adminIndexRoute" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

<hr>

<script src="@routes.Assets.versioned("javascripts/admin.js")"></script>

<div id="messages"></div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Aktionen</th>
      <th>Titel</th>
      <th>Autor</th>
      <th>Text</th>
      @for(otherHeader <- toolObject.restHeaders) {
        <th>@otherHeader</th>
      }
    </tr>
  </thead>
  <tbody>
  @for(singleResult <- singleResults;
  (exercise, fileResults) = (singleResult.read, singleResult.fileResults)) {
    <tr id="tr1_@exercise.id">
      <td>@exercise.id</td>
      <td>@exercise.state</td>
      <td>@exercise.title</td>
      <td>@exercise.author</td>
      @helperTemplates.stringLen(exercise.text, 40)

      @exercise.renderRest(fileResults)

    </tr>
  }
  </tbody>
</table>