@(user: model.user.User)

@statistics = {
<li>Es existieren insgesamt @model.WebExercise.finder.all().size() Aufgaben, davon
  <ul>
  
    <li>@model.WebExercise.withHtmlPart() Aufgaben mit HTML-Teil</li>
    <li>@model.WebExercise.withJsPart() Aufgaben mit JS-Teil</li>
  </ul>
</li>
}

@calls = @{new model.AdminRoutesObject(
  web.routes.WebController.exercises(),
  web.routes.WebAdmin.newExerciseForm(),
  web.routes.WebAdmin.exportExercises(),
  web.routes.WebAdmin.importExercises(),
  web.routes.WebAdmin.getJSONSchemaFile(),
  web.routes.WebAdmin.uploadFile()
)}

@admin.adminMain(user, "Web", statistics, calls) { }
