@(user: model.user.User)

@statistics = {
<li>Es existieren insgesamt @model.WebExercise.finder.all().size() Aufgaben, davon
  <ul>
  
    <li>@model.WebExercise.withHtmlPart() Aufgaben mit HTML-Teil</li>
    <li>@model.WebExercise.withJsPart() Aufgaben mit JS-Teil</li>
  </ul>
</li>
}

@strs = @{scala.collection.Map(
  "app" -> "Web",
  "pluralName" -> "Aufgaben"
)}

@calls = @{scala.collection.Map(
  "index" -> web.routes.WebAdmin.adminIndex,
  "exercises" -> web.routes.WebAdmin.exercises(),
  "newExerciseForm" -> web.routes.WebAdmin.newExerciseForm(),
  "export" -> web.routes.WebAdmin.exportExercises(),
  "import" -> web.routes.WebAdmin.importExercises(),
  "jsonSchema" -> web.routes.WebAdmin.getJSONSchemaFile(),
  "upload" -> web.routes.WebAdmin.uploadFile()
)}

@admin.exerciseAdminMain(user, strs, statistics, calls) { }
