@(user: model.user.User)

@main("XML: neue Aufgabe", user) {
<script src="@routes.Assets.versioned("javascripts/helperfunctions.js")"></script>    
<div class="container">
  <div class="page-header">
    <h1>Erstellung einer neuen Web-Aufgabe</h1>
  </div>

  <form class="form-horizontal" action="@web.routes.WebAdmin.newExercise()" method="post">

    @newExStdFields.render(user)

    <fieldset>
      <legend>Musterl&ouml;sung</legend>
      <div class="alert alert-info">
        Diese Musterl&ouml;sung wird beim Erstellen der einzelnen Teilaufgaben benutzt, um zu testen,
        ob die Aufgabe l&ouml;sbar ist.
      </div>
      
      @editor(controllers.web.Web.STANDARD_HTML, "html", 25, 40, false)
    </fieldset>

    <hr>

    <div class="form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-block">Aufgabe erstellen</button>
      </div>
    </div>
  </form>

</div>
}
