@(user: model.User, learningPath: model.learningPath.LearningPath, toolMainObject: model.toolMains.AToolMain)

    @title = @{
        "Lernpfad: " + learningPath.title
    }

    @scripts = {
        <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
        <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

        <script>
                SystemJS.import('@routes.Assets.versioned("app/learningPaths/learningPath.js")');
        </script>
    }

    @displaySection(section: model.learningPath.LearningPathSection, hidden: String = "hidden") = {

    @section match {
        case ts: model.learningPath.TextSection => {
            <section id="sec_@section.id" @hidden>
                <h2>@section.title</h2>

                @Html(ts.text)
                <hr>

            </section>

        }

        case qs: model.learningPath.QuestionSection => {
            @views.html.learningPath.questionSection(qs, hidden)
        }
    }

    }

    @main(title, Some(user), scripts) {
        <div class="container">

            @for(section <- learningPath.sections sortBy (_.id)) {
                @displaySection(section)
            }

            <div class="form-group">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary  w-100" id="nextPartButton">Nächster Teil</button>
                    <a class="btn btn-default w-100" href="@toolMainObject.indexCall">Lernpfad beenden</a>
                </div>
            </div>

        </div>
    }