@(section: model.learningPath.QuestionSection, hidden: String)

<section class="questionSection" id="sec_@section.id" @hidden>
    <h2>@section.title</h2>

    @for(qTriple <- section.questions grouped 4) {
        <div class="row">
        @for(q <- qTriple) {
            <div class="col-md-3">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <code data-solution="@q.solution">@Html(q.questionText)</code>
                        </span>
                        <button class="form-control" data-value="false">Falsch</button>
                        <button class="form-control" data-value="true">Wahr</button>
                    </div>
                </div>

            </div>
        }
        </div>
    }


    <hr>

</section>