@(matchingResults: List[model.core.matching.MatchingResult[_, _ <: model.core.matching.Match[_]]])

@for(matchingResult <- matchingResults) {
    @*<table class="table">*@
        <thead>
            <tr>
                <th>Korrektheit</th>
                <th colSpan="@matchingResult.colWidth">Lernerl&ouml;sung</th>
                <th colSpan="@matchingResult.colWidth">Musterl&ouml;sung</th>
                <th>Erkl&auml;rung</th>
            </tr>

            <tr class="active">
                <th colspan="@{
                    2 * (matchingResult.colWidth + 1)
                }" class="text-@matchingResult.getBSClass text-center">
                    <span class="@matchingResult.getGlyphicon"></span> Vergleich @matchingResult.matchName
                </th>
            </tr>

            <tr>
                <th>&nbsp;</th>
                @for(heading <- matchingResult.headings) {
                    <th>@heading</th>
                }
                @for(heading <- matchingResult.headings) {
                    <th>@heading</th>
                }
                <th>&nbsp;</th>
            </tr>
        </thead>

        <tbody>
        @for(aMatch <- matchingResult.allMatches) {
            <tr class="@aMatch.getBSClass">
                <td><span class="@aMatch.matchType.glyphicon"></span></td>

                @aMatch.describeUserArg

                @aMatch.describeSampleArg

                <td>
                @for(expl <- aMatch.explanation) {
                    <p>@expl</p>
                }
                </td>
            </tr>
        }
        </tbody>
    @*</table>*@
}
