@import model.essentials.EssentialsConsts

@(user: model.User, question: model.essentials.CreationQuestion)

@variables = @{
    question.variables ++ Option(EssentialsConsts.SolVariable)
}
@varSize = @{
    12 / 3
}

@scripts = {
    <script>
            const solVar = '@EssentialsConsts.SolVariable';
    </script>
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/essentials/boolCreation.js")"></script>
}

@main("Formel erstellen", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Erstellen einer Booleschen Funktion</h1>
        </div>

        <div class="row">
            <div class="container-fluid">
                <table class="table table-responsive" >
                    <thead>
                        <tr>
                            @for(variable <- variables) {
                                <th class="text-center">@variable</th>
                            }
                            <th class="text-center" id="learnerFormula">@EssentialsConsts.SolVariable &#39;</th>
                        </tr>
                    </thead>
                    <tbody id="valueTableBody">
                    @for(assignment <- question.solutions) {
                        <tr>
                            @for(variable <- variables) {
                                <td class="text-center" data-variable="@variable" data-value="@assignment(variable)">@assignment.asChar(variable)</td>
                            }
                        <td class="text-center" id="@assignment.identifier">--</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-1" for="@EssentialsConsts.LearnerSol">@EssentialsConsts.SolVariable
                    = </label>
                <div class="col-xs-11">
                    <input class="form-control" name="@EssentialsConsts.LearnerSol" id="@EssentialsConsts.LearnerSol" placeholder="Ihre L&ouml;sung"
                    autocomplete="off" required>
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-primary" formaction="javascript:testSol('@controllers.randomExes.routes.BoolController.checkBoolCreationSolution', false)" >
                        Pr&uuml;fen</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-success" formaction="javascript:testSol('@controllers.randomExes.routes.BoolController.checkBoolCreationSolution', true)" >
                        Zeige TODO! Musterl&ouml;sung</button>
                </div>
                <div class="btn-group">
                    <a href="@controllers.randomExes.routes.BoolController.newBoolCreationQuestion()" class="btn btn-default">
                        N&auml;chste Aufgabe</a>
                </div>
            </div>
            <div id="messageDiv"></div>
        </form>

        <hr>

        @views.html.essentials.boolCreateInfo.render()

    </div>
}
