@import model.essentials.EssentialsConsts

@(user: model.User, question: model.essentials.CreationQuestion)

@scripts = {
    <script type="text/javascript" src="@controllers.routes.Assets.versioned("javascripts/bool.js")"></script>
    <script type="text/javascript">
            function testSolution() {
                if (document.getElementById("learnerSolution").value === "") {
                    alert("Geben Sie bitte eine Formel ein!");
                    return;
                }
                testTheSolution("@controllers.randomExes.routes.BoolController.checkBoolCreationSolution()");
            }
    </script>
}

@main("Formel erstellen", user, scripts) {
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Erstellen Sie die Formel zu folgender Wahrheitstafel:</div>
            <div class="panel-body">
                <div class="row">
                    <div class="container-fluid">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    @for(variable <- question.variables) {
                                        <th class="text-center">@variable</th>
                                    }
                                    <th class="text-center">@EssentialsConsts.SolVariable</th>
                                    <th class="text-center" id="learnerFormula">Ihre L&ouml;sung</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(assignment <- question.solutions) {
                                <tr>
                                    @for(variable <- question.variables) {
                                        <td class="text-center">@assignment.asChar(variable)</td>
                                    }
                                <td class="text-center">@assignment.asChar(model.essentials.EssentialsConsts.SolVariable)</td>
                                <td class="text-center" id="@assignment.toString">--</td>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <form class="form-horizontal" action="@controllers.randomExes.routes.BoolController.checkBoolCreationSolution()" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-1" for="learnerSolution">@model.essentials.EssentialsConsts.SolVariable
                            = </label>
                        <div class="col-xs-11">
                            <input class="form-control" name="learnerSolution" id="learnerSolution" placeholder="Ihre L&ouml;sung"
                            autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button type="button" onclick="testSolution();" class="btn btn-primary btn-block">
                                Pr&uuml;fen</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">zeige Musterl&ouml;sung</button>
                        </div>
                        <div class="col-sm-4">
                            <a href="@controllers.randomExes.routes.BoolController.newBoolCreationQuestion()"
                            class="btn btn-primary btn-block">N&auml;chste Aufgabe</a>
                        </div>
                    </div>
                    <div id="valueDiv" hidden>
                            <!-- Save values for return -->
                        @for(assignment <- question.solutions) {
                            <input name="@assignment.toString" value="@assignment.asChar(EssentialsConsts.SolVariable)">
                        }
                        <input name="vars" value="@question.joinedVariables">
                    </div>
                    <div id="messageDiv"></div>
                </form>

            </div>
        </div>

        @views.html.essentials.boolCreateInfo.render()

    </div>
}
