@import model.essentials.EssentialsConsts

@(user: model.User, question: model.essentials.FilloutQuestion)

@variables = @{
    question.variables.sortBy(_.variable)
}
@size = @{
    12 / (variables.size + 1)
}

@scripts = {
    <script>

            function readValues() {
                let assignments = [];

                $('#valueTableBody').find('tr').each(function (index, row) {
                    let partAssignments = {};
                    $(row).find('.text-center').each(function (index, cell) {
                        partAssignments[cell.dataset.variable] = cell.dataset.value === "true"
                    });
                    partAssignments["z"] = $(row).find('td > input').val() !== "0";
                    assignments.push(partAssignments)
                });

                return {
                    formula: "@question.formulaAsString",
                    @EssentialsConsts.VariablesName: [@question.varsForJson],
                    assignments: assignments
                };
            }

            function writeToJson() {
                console.log("Writing to json...");
//                return false;
            }

            function onAjaxSuccess(response) {
                console.log(response);
            }

            function testSol() {
                $.ajax({
                    type: 'PUT',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: "@controllers.randomExes.routes.EssentialsController.checkBoolFilloutSolution",
                    data: JSON.stringify(readValues()),
                    async: true,
                    success: onAjaxSuccess
                });
            }
    </script>
}

@main("Wertetabelle", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Ausf&uuml;llen einer Wertetabelle</h1>
        </div>

        <h2 class="text-center"><code>
            z = <span id="@model.essentials.EssentialsConsts.FormulaName">@question.formulaAsString</span></code></h2>

        <hr>

        <form action="@controllers.randomExes.routes.EssentialsController.checkBoolFilloutSolution" method="post">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <table class="table table-responsive" border="1">
                        <thead>
                            <tr>
                                @for(v <- variables) {
                                    <th class="text-center">@v</th>
                                }
                                <th class="text-center">z</th>
                            </tr>
                        </thead>
                        <tbody id="valueTableBody">
                        @for(assignment <- question.assignments) {
                            <tr id="valueTableRow">
                                @for(variable <- variables) {
                                    <td class="text-center" data-variable="@variable" data-value="@assignment(variable)">@assignment.asChar(variable)</td>
                                }
                            <td>
                                <input title="@assignment.toString" class="form-control" type="number" autocomplete="off" min="0" max="1" step="1"
                                name="@assignment.toString" size="1" maxlength="1" required>
                            </td>
                            </tr>
                        }
                        </tbody>
                    </table>


                    <input title="hidden" hidden name="@model.essentials.EssentialsConsts.FormulaName" value="@question.formulaAsString">

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary" formaction="javascript:testSol()">Testen</button>
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success" onclick="writeToJson();">Pr&uuml;fen</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
}
