@(user: model.User, question: model.essentials.FilloutQuestion, opsAsSymbols: Boolean)

@variables = @{
    question.variables.toList.sortBy(_.variable)
}
@lerVar = @{
    model.essentials.EssentialsConsts.LerVariable
}

@scripts = {
    <script>
            const formula = "@question.formula.asString";
            const lerVar = "@lerVar";
            const solVar = "@model.essentials.EssentialsConsts.SolVariable";
    </script>
    <script src="@routes.Assets.versioned("javascripts/essentials/boolFillout.js")"></script>
}

@main("Wertetabelle", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Ausf&uuml;llen einer Wertetabelle</h1>
        </div>

        <h2 class="text-center"><code>
            @lerVar = <span id="@model.essentials.EssentialsConsts.FormulaName">
        @if(opsAsSymbols) {
            @Html(question.formula.asHtml)
        } else {
            @question.formula.asString
        }</span></code></h2>
        <hr>

        <form action="javascript:testSol('@controllers.randomExes.routes.BoolController.checkBoolFilloutSolution')">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                @for(v <- variables) {
                                    <th class="text-center">@v</th>
                                }
                                <th class="text-center">@lerVar</th>
                            </tr>
                        </thead>
                        <tbody id="valueTableBody">
                        @for(assignment <- question.assignments) {
                            <tr id="@assignment.identifier">
                                @for(variable <- variables) {
                                    <td class="text-center" data-variable="@variable" data-value="@assignment(variable)">@assignment.asChar(variable)</td>
                                }
                            <td>
                                <input title="No title..." class="form-control" type="number" autocomplete="off" min="0" max="1" step="1" size="1" maxlength="1" required>
                            </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">Testen</button>
                        </div>
                        <a class="btn btn-default" href="@controllers.randomExes.routes.BoolController.newBoolFilloutQuestion(opsAsSymbols)">
                            N&auml;chste Aufgabe</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
