@(user: model.User, result: model.essentials.NAryAddResult, baseStr: String)

@title = @{
    "Addition"
}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/snippets/followLinkOnEnter.js")"></script>
}

@main(title, user, scripts) {

    <div class="container">
        <div class="page-header">
            <h1>@title von @result.base.pluralName</h1>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <div class="form-group">
                    <div class="input-group">
                        <input title="" value="@result.firstSummand" readonly class="form-control text-right">
                        <span class="input-group-addon"><sub>@result.base.base</sub></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">+</span>
                        <input title="" value="@result.secondSummand" readonly class="form-control text-right">
                        <span class="input-group-addon"><sub>@result.base.base</sub></span>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="input-group">
                        <input title="" readonly value="@result.learnerSolution" class="form-control text-right">
                        <span class="input-group-addon"><sub>@result.base.base</sub></span>
                    </div>
                </div>

                <a href="@controllers.randomExes.routes.EssentialsController.newNaryAdditionQuestion(baseStr)" id="theLink"
                class="btn btn-primary btn-block">N&auml;chste Aufgabe</a>

            </div>
        </div>

        <hr>

        @if(result.checkSolution) {
            <div class="alert alert-success text-center">
                <span class="glyphicon glyphicon-ok"></span> Ihre L&ouml;sung ist richtig.</div>
        } else {
            <div class="alert alert-danger text-center">
                <p><span class="glyphicon glyphicon-remove"></span> Ihre L&ouml;sung ist leider falsch.</p>
                <p>
                    Die richtige Antwort lautet
                    <span class="number">@result.targetNumber.toString <sub>@result.base.base</sub>.</span>
                </p>
            </div>
        }

    </div>
}
