@import model.essentials.EssentialsConsts

@(user: model.User, firstSummand: model.essentials.NAryNumber, secondSummand: model.essentials.NAryNumber, base: model.essentials.NumberBase, requestedBase: String)

@title = @{
    "Addition von " + base.pluralName
}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/essentials/naryAddition.js")"></script>
}

@main(title, Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>@title von <span id="base" data-base="@base.name">@base.pluralName</span></h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <p><em class="text-info">
                    Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.</em></p>

                <form action="javascript:testSol('@controllers.randomExes.routes.NaryController.checkNaryAdditionSolution')">

                    <div class="form-group">
                        <div class="input-group">
                            <input title="Erster Summand" value="@firstSummand" id="firstSummand" readonly
                            class="form-control text-right" name="@EssentialsConsts.FirstSummand">
                            <span class="input-group-addon"><sub>@base.base</sub></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input title="Zweiter Summand" value="@secondSummand" id="secondSummand" readonly
                            class="form-control text-right" name="@EssentialsConsts.SecondSummand">
                            <span class="input-group-addon"><sub>@base.base</sub></span>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="input-group">
                            <input pattern="@base.htmlPattern" id="solution" autocomplete="off"
                            style="direction: rtl;
                                unicode-bidi: bidi-override;" autofocus
                            class="form-control text-right" name="@EssentialsConsts.FORM_VALUE" placeholder="Ihre L&ouml;sung" required>
                            <span class="input-group-addon"><sub>@base.base</sub></span>
                        </div>
                    </div>

                    <p><em class="text-danger">
                        Achtung: Aufgrund der üblichen Addition von rechts nach links erfolgt die Eingabe der Zahlen umgekehrt von rechts nach links!</em></p>

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-primary">Testen</button>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" href="@controllers.randomExes.routes.NaryController.newNaryAdditionQuestion(requestedBase)">
                                N&auml;chste Aufgabe</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
}
