@import model.essentials.{EssentialsConsts, NAryNumber}

@(user: model.User, firstSummand: NAryNumber, secondSummand: NAryNumber, base: model.essentials.NumberBase)

@title = @{
    "Addition"
}

@scripts = {
    <style>
            textarea {
                resize: none;
            }
    </style>
}

@main(title, user) {
    <div class="container">
        <div class="page-header">
            <h1>@title von @base.pluralName</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <p><em class="text-info">
                    Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.</em></p>
                <p><em class="text-info">
                    Aufgrund der üblichen Addition von rechts nach links erfolgt die Eingabe der Zahlen umgekehrt von rechts nach links!</em></p>

                <form role="form" action="@controllers.randomExes.routes.EssentialsController.checkNaryAdditionSolution(base.name)" method="post">

                    <div class="form-group">
                        <div class="input-group">
                            <input value="@firstSummand" readonly class="form-control text-right" name="@EssentialsConsts.FirstSummand">
                            <span class="input-group-addon"><sub>@base.base</sub></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">+</span>
                            <input value="@secondSummand" readonly class="form-control text-right" name="@EssentialsConsts.SecondSummand">
                            <span class="input-group-addon"><sub>@base.base</sub></span>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <div class="input-group">
                            <input pattern="@base.htmlPattern" autocomplete="off"
                            style="direction: rtl;
                                unicode-bidi: bidi-override;" autofocus
                            class="form-control text-right" name="@EssentialsConsts.FORM_VALUE" placeholder="Ihre L&ouml;sung" required>
                            <span class="input-group-addon"><sub>@base.base</sub></span>
                        </div>
                    </div>

                    <input hidden name="@EssentialsConsts.BaseName" value="@base">

                    <button class="btn btn-primary btn-block">Pr&uuml;fen</button>
                </form>

            </div>
        </div>

    </div>
}
