@(user: model.User)

@scripts = {
    <script>
            $(document).ready(function () {
                $('#convButton').click(function () {
                    window.location = "@controllers.randomExes.routes.NaryController.newNaryConversionQuestion()?fromBase=" + $('#convFromBase').val() + "&toBase=" + $('#convToBase').val();
                });

                $('#addButton').click(function () {
                    window.location = "@controllers.randomExes.routes.NaryController.newNaryAdditionQuestion()?base=" + $('#addBase').val();
                });

                $('#twoCompButton').click(function () {
                    window.location = "@controllers.randomExes.routes.NaryController.newNaryTwoComplementQuestion()?verbose=" + $('#twoComp').val();
                });

                $('#filloutButton').click(function () {
                    window.location = "@controllers.randomExes.routes.BoolController.newBoolFilloutQuestion()?opsAsSymbols=" + $('#fillout').val();
                });
            });
    </script>
}

@main("Zahlensysteme", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Allgemeiner Teil</h1>
        </div>

        <h2>Zahlensysteme</h2>

            <!-- Conversion -->
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Umwandlung von</span>
                <select title="Startsystem Umwandlung" class="form-control" id="convFromBase">
                    <option value="RANDOM">Zuf&auml;lligem System</option>
                    @for(base <- model.essentials.NumberBase.values) {
                        <option value="@base.name">@base.systemName</option>
                    }
                </select>
                <span class="input-group-addon">nach</span>
                <select title="Zielsystem Umwandlung" class="form-control" id="convToBase">
                    <option value="RANDOM">Zuf&auml;lligem System</option>
                    @for(base <- model.essentials.NumberBase.values) {
                        <option value="@base.name">@base.systemName</option>
                    }
                </select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <button class="form-control btn-primary" id="convButton">Go! </button>
            </div>
        </div>

            <!-- Addition -->
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Addition in</span>
                <select title="System Addition" class="form-control" id="addBase">
                    <option value="RANDOM">Zuf&auml;lligem System</option>
                    @for(base <- model.essentials.NumberBase.values) {
                        <option value="@base.name">@base.systemName</option>
                    }
                </select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <button class="form-control btn-primary" id="addButton">Go! </button>
            </div>
        </div>

            <!-- Zweierkomplement -->
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Umwandlung in das Zweierkomplement </span>
                <select title="Zweierkomplement" class="form-control" id="twoComp">
                    <option value="true">mit Zwischenschritten</option>
                    <option value="false">ohne Zwischenschritte</option>
                </select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <button class="form-control btn-primary" id="twoCompButton">Go! </button>
            </div>
        </div>

        <hr>

        <h2>Boolesche Algebra</h2>


            <!-- Fill out truth tabels -->
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Wahrheitstabellen ausf&uuml;llen mit Operatoren als </span>
                <select title="Fillout" class="form-control" id="fillout">
                    <option value="true">Symbole</option>
                    <option value="false">Text</option>
                </select>
                <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                <button class="form-control btn-primary" id="filloutButton">Go! </button>
            </div>
        </div>


        <h3>TODO!</h3>
        <p>
            <a type="button" class="btn btn-default btn-block"
            href="@controllers.randomExes.routes.BoolController.newBoolCreationQuestion">
                Formel erstellen </a>            </p>

    </div>
}
