@import model.essentials.{EssentialsConsts, NumberBase}

@(user: model.User, startingNumber: model.essentials.NAryNumber, verbose: Boolean)

@title = @{
    "Zweierkomplement"
}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/essentials/twoComp.js")"></script>
}

@main(title, Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>@title von @startingNumber</h1>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <p><em class="text-info">
                    Bin&auml;rzahlen bitte in 8-Bit-Darstellung mit f&uuml;hrenden Nullen angeben.</em></p>

                <form action="javascript:testSol('@controllers.randomExes.routes.NaryController.checkNaryTwoComplementSolutionLive')">

                    <div class="form-group">
                        <div class="input-group">
                            <input value="@startingNumber" type="number" title="Vorgegebene Zahl" readonly class="form-control text-right"
                                name="@EssentialsConsts.VALUE_NAME" id="@EssentialsConsts.VALUE_NAME">
                            <span class="input-group-addon">@startingNumber.base.dispBase</span>
                        </div>
                    </div>

                    @if(verbose) {
                        <fieldset>
                            <legend>Bin&auml;rdarstellung von @Math.abs(startingNumber.decimalValue)</legend>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">--></span>
                                    <input pattern="@NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                    class="form-control text-right" name="@EssentialsConsts.BinaryAbs" id="@EssentialsConsts.BinaryAbs" placeholder="Ihre L&ouml;sung" required>
                                    <span class="input-group-addon"><sub>2</sub></span>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Invertierung aller Bits</legend>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">--></span>
                                    <input pattern="@NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                    class="form-control text-right" name="@EssentialsConsts.InvertedAbs" id="@EssentialsConsts.InvertedAbs" placeholder="Ihre L&ouml;sung" required>
                                    <span class="input-group-addon"><sub>2</sub></span>
                                </div>
                            </div>
                        </fieldset>
                    }

                    <fieldset>
                        <legend>Zweierkomplement</legend>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">--></span>
                                <input pattern="@NumberBase.BINARY.htmlPattern" autocomplete="off" autofocus
                                class="form-control text-right" name="@EssentialsConsts.LearnerSol" id="@EssentialsConsts.LearnerSol" placeholder="Ihre L&ouml;sung" required>
                                <span class="input-group-addon"><sub>2</sub></span>
                            </div>
                        </div>
                    </fieldset>

                    <hr>

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-primary">Testen</button>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" href="@controllers.randomExes.routes.NaryController.newNaryTwoComplementQuestion(verbose)">N&auml;chste Aufgabe</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <hr>

        <h3>Platz f&uuml;r Notizen</h3>

        <em class="text-info">Notizen werden f&uuml;r die Korrektur nicht beachtet.</em>

        <textarea title="Platz f&uuml;r Notizen" placeholder="Platz f&uuml;r Notizen" style="resize: none;" class="form-control" rows="10"></textarea>

    </div>
}
