<div class="container">
  <ng-container *ngIf="collectionToolOverviewQuery; else loadingDataBlock">
    <h1 class="title is-3 has-text-centered">Tool {{collectionToolOverviewQuery.me.tool.name}}</h1>

    <div class="buttons">
      <a class="button is-primary is-fullwidth" routerLink="/">Zurück zur Toolübersicht</a>
    </div>

    <br>

    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Sammlungen</p>
          </header>
          <div class="card-content">
            {{collectionToolOverviewQuery.me.tool.collectionCount}} Sammlungen
            mit {{collectionToolOverviewQuery.me.tool.exerciseCount}} Aufgaben
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" routerLink="./collections">Zu den Sammlungen</a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Alle Aufgaben</p>
          </header>
          <div class="card-content">
            {{collectionToolOverviewQuery.me.tool.exerciseCount}} Aufgaben
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" routerLink="allExercises">Zur Übersicht</a>
          </footer>
        </div>
      </div>

      <div class="column" *ngIf="collectionToolOverviewQuery.me.tool.lessonCount > 0">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">Lektionen</p>
          </header>
          <div class="card-content">
            {{collectionToolOverviewQuery.me.tool.lessonCount}} Lektionen
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" [routerLink]="['/lessons', toolId]">Zu den Lektionen</a>
          </footer>
        </div>
      </div>
    </div>

    <br>

    <h2 class="subtitle is-3 has-text-centered">Meine Fertigkeiten</h2>

    <div class="columns is-multiline" *ngIf="proficiencies.length > 0; else noProficienciesYetBlock">
      <div class="column is-one-quarter-desktop" *ngFor="let proficiency of proficiencies">
        <it4all-proficiency-card [proficiency]="proficiency"></it4all-proficiency-card>
      </div>
    </div>

  </ng-container>


</div>

<ng-template #loadingDataBlock>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>

<ng-template #noProficienciesYetBlock>
  <div class="notification is-primary has-text-centered">Sie haben bisher noch keine Fähigkeiten erworben.</div>
</ng-template>

