@import model.questions.{Quiz, CompleteQuestion, UserAnswer}

@(user: model.User, quiz: Quiz, question: CompleteQuestion, numOfExes: Int, oldAnswer: Option[UserAnswer])(implicit
        requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/question/question.js")');</script>
}

@main("Frage", Some(user), scripts) {
    <div class="container">
        <h1 class="text-center">@question.ex.text</h1>

        <hr>

        <div id="answerDiv">

        @if(question.ex.questionType == model.questions.QuestionTypes.CHOICE) {
            @for(ans <- question.answersForTemplate) {
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="@ans.id">
                            <input type="checkbox" id="@ans.id" data-answerid="@ans.id" name="@ans.id"> @ans.text
                        </label>
                    </div>
                </div>
            }
        } else {
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" name="answer" rows="20" placeholder="Freitextantwort..." required>@oldAnswer.getOrElse("")</textarea>
                </div>
            </div>
        }

        </div>

        <div class="form-group">
            @helper.CSRF.formField

            <button data-url="@coll.routes.CollectionController.correctLive("question", quiz.id, question.ex.id)"
            class="btn btn-block btn-primary" id="testBtn">Kontrollieren</button>
        </div>

        @*<hr>*@

        @core.helperTemplates.bsPager(question.ex.id, id => coll.routes.CollectionController.exercise("question", quiz.id, id), numOfExes, step = 1)

    </div>
}