@(user: model.User, questionList: List[model.questions.CompleteQuestion])

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Typ</th>
            <th>Max. Punktzahl</th>
            <th>Beantwortet</th>
        </tr>
    </thead>
    <tbody>

        @for(question <- questionList) {
            <tr>
                <td>@question.ex.id</td>
                <td><a href="@coll.routes.CollectionController.exercise("question", -1, question.ex.id)">@question.ex.title</a></td>
                <td>@question.ex.questionType.german</td>
                <td>@question.ex.maxPoints</td>
                @if(question.userHasAnswered(user.username)) {
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                } else {
                    <td><span class="glyphicon glyphicon-minus"></span></td>
                }
            </tr>
        }
    </tbody>
</table>