@import model.toolMains.{RandomExerciseToolMain, ToolList}

@(user: model.User, statistics: Html, toolMainObject: RandomExerciseToolMain, toolList: ToolList)

    @title = @{
        "Administrator " + toolMainObject.toolname
    }

    @admin.adminMain(title, user, toolList, Some(toolMainObject)) {
        <section id="statistics">
            <h2>Statistiken</h2>
            <ul>@statistics</ul>
        </section>

        <hr>

        <section id="administration">
            <h2>Verwaltung der @toolMainObject.pluralName</h2>

            <div class="form-group">
                <a class="btn btn-secondary btn-block" href="@coll.routes.RandomExerciseAdminController.readLearningPaths(toolMainObject.urlPart)">
                    Lernpfade einlesen</a>
            </div>
        </section>
    }
