@(user: model.User, exercise: model.blanks.BlanksExercise)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/helperfunctions.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/blanks.js")"></script>
}

@main("HTML-Test", user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>L&uuml;ckentext</h1>
        </div>
        <form class="form-inline">
            <pre>@exercise.render</pre>
        </form>
        <button class="btn btn-default" onclick="testTheSolution('@@controllers.xml.routes.XML.correctBlanks(exercise.id)')">  Eingaben testen...</button>
    </div>
}
