@(user: model.User, exercise: model.blanks.BlanksCompleteExercise)

@scripts = {
    @* Javascript Routes *@
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script src="@routes.Assets.versioned("javascripts/blanks/blanks.js")"></script>
}

@main("HTML-Test", Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>L&uuml;ckentext</h1>
        </div>

        <form class="form-inline" autocomplete="off">

            <input type="number" hidden title="hidden" id="exerciseId" value="@exercise.ex.id">
            <input type="text" hidden title="hidden" id="exercisePart" value="@model.blanks.BlanksExParts.BlankExSinglePart.urlName">

            @Html(exercise.ex.blanksText)

            <hr>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="testBtn">Eingaben testen</button>
                </div>
                <a href="@controllers.exes.routes.ExerciseController.index("blanks")" class="btn btn-default">Zur&uuml;ck zur Aufgabenseite</a>
            </div>
        </form>

        <hr>

        <div id="solutionDiv"></div>

    </div>
}
