<div class="card">
  <header class="card-header">
    <p class="card-header-title">{{editedClass.getClassName()}}</p>
  </header>
  <div class="card-content">
    <ng-container *ngFor="let attr of editedClass.getAttributes()">
      <select title="Sichtbarkeit" [value]="attr.visibility">
        <option *ngFor="let visibility of visibilities" [selected]="visibility === attr.visibility">
          {{visibility}}
        </option>
      </select>
      &nbsp;
      <input type="text" title="Attributname" placeholder="Attributname" [value]="attr.name">
      :
      <select title="Datentyp" [value]="attr.type">
        <option *ngFor="let umlType of umlTypes" [selected]="umlType === attr.type">{{umlType}}</option>
      </select>
      &nbsp;
      <button title="Attribut löschen" (click)="removeAttribute(attr)">-</button>
    </ng-container>

    <hr>

    <div>
      <select title="Sichtbarkeit">
        <option *ngFor="let visibility of visibilities">{{visibility}}</option>
      </select>
      &nbsp;
      <input type="text" title="Attributname" placeholder="Attributname">
      :
      <select title="Datentyp">
        <option *ngFor="let umlType of umlTypes">{{umlType}}</option>
      </select>
    </div>

    <hr>

    <ng-container *ngFor="let method of editedClass.getMethods()">
      {{method | json}}
    </ng-container>

  </div>
  <footer class="card-footer">
    <a class="card-footer-item" (click)="cancel.emit()">Verwerfen</a>
    <a class="card-footer-item">Anwenden</a>
  </footer>
</div>
