<div class="container is-fluid">
  <div class="columns">
    <div class="column is-three-fifths">
      <div id="myPaper"></div>
    </div>
    <div class="column">

      <div class="notification is-light-grey">
        <ng-container *ngFor="let textPart of umlExerciseTextParts">
          <span *ngIf="textPart.selectableClass"
                (click)="createClass(textPart.selectableClass)">{{textPart.text}}</span>

          <span *ngIf="!textPart.selectableClass">{{textPart.text}}</span>
        </ng-container>
      </div>


      <h2 class="subtitle is-4 has-text-centered">Alte Lösung importieren</h2>
      <div class="buttons">
        <input type="file" class="button is-light-danger is-fullwidth" (change)="readFile($event.target.files)">
      </div>

      <div class="columns">
        <div class="column" *ngFor="let x of creatableClassDiagramObjects">
          <button class="button is-fullwidth" (click)="toggle(x)" [ngClass]="x.selected ? 'is-link': ''" [disabled]="x.disabled">
            {{x.name}}
          </button>
        </div>
      </div>

      <ng-container *ngIf="editedClass">

        <hr>

        <it4all-uml-class-edit [editedClass]="editedClass"></it4all-uml-class-edit>

      </ng-container>

      <ng-container *ngIf="editedAssociation">

        <hr>

        <it4all-uml-assoc-edit [editedAssociation]="editedAssociation"></it4all-uml-assoc-edit>

      </ng-container>

    </div>
  </div>
</div>

