<div class="container is-fluid">
  <div class="columns">
    <div class="column is-three-fifths">
      <div id="myPaper"></div>

      <ng-container *ngIf="debug">
        <br>

        <div class="columns">
          <div class="column is-one-quarter-desktop">
            <label class="label" for="importFile">Alte Lösung importieren:</label>
          </div>
          <div class="column">
            <input type="file" id="importFile" class="input is-fullwidth" (change)="readFile($event.target.files)">
          </div>
        </div>
      </ng-container>

    </div>
    <div class="column">

      <it4all-tabs>
        <it4all-tab [title]="exerciseTextTabTitle">
          <div class="notification is-light-grey">
            <ng-container *ngFor="let tp of umlExerciseTextParts">
              <span *ngIf="tp.selectableClass" (click)="createClass(tp.selectableClass)">{{tp.text}}</span>
              <span *ngIf="!tp.selectableClass">{{tp.text}}</span>
            </ng-container>
          </div>

          <div class="columns">
            <div class="column" *ngFor="let x of creatableClassDiagramObjects">
              <button class="button is-fullwidth" (click)="toggle(x)"
                      [ngClass]="x.selected ? 'is-link': ''" [disabled]="x.disabled">
                {{x.name}}
              </button>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <button class="button is-link is-fullwidth" [class.is-loading]="isCorrecting" (click)="correct()">
                Korrektur
              </button>
            </div>
            <!--
            <div class="column">
              <button class="button is-primary is-fullwidth" (click)="showSampleSolution()" disabled>Musterlösung
                anzeigen
              </button>
            </div>
            -->
            <div class="column">
              <button class="button is-fullwidth" [routerLink]="['..', nextPart.id]" [disabled]="!corrected"
                      [ngClass]="corrected ? 'is-link': 'is-dark'">
                Zum nächsten Aufgabenteil
              </button>
            </div>
            <div class="column">
              <a [routerLink]="['../..']" class="button is-dark is-fullwidth">Bearbeiten beenden</a>
            </div>
          </div>
        </it4all-tab>
        <it4all-tab [title]="correctionTabTitle">

          <it4all-solution-saved [saved]="resultQuery.me.correctUml.solutionSaved"></it4all-solution-saved>

          <it4all-uml-diag-drawing-correction *ngIf="resultQuery" [result]="result">
          </it4all-uml-diag-drawing-correction>
        </it4all-tab>
      </it4all-tabs>

      <ng-container *ngIf="editedClass">
        <hr>

        <it4all-uml-class-edit [editedClass]="editedClass" (cancel)="editedClass = undefined"></it4all-uml-class-edit>
      </ng-container>

      <ng-container *ngIf="editedAssociation">
        <hr>

        <it4all-uml-assoc-edit [editedAssociation]="editedAssociation"
                               (cancel)="editedAssociation = undefined"></it4all-uml-assoc-edit>
      </ng-container>

    </div>
  </div>
</div>

