<div class="container">
  <h1 class="title is-3 has-text-centered">Tool {{tool.name}}</h1>

  <div class="buttons">
    <a class="button is-primary is-fullwidth" [routerLink]="['/']">Zurück zur Toolübersicht</a>
  </div>

  <br>

  <h2 class="subtitle is-3 has-text-centered">Übungsaufgaben</h2>
  <div class="buttons">
    <ng-container *ngFor="let part of tool.parts">
      <a *ngIf="!part.disabled" [routerLink]="['/randomTools', tool.id, part.id]"
         class="button is-link is-fullwidth">{{part.name}}</a>
    </ng-container>
  </div>

  <h1 *ngIf="tool.hasPlayground" class="title is-3 has-text-centered">Playground</h1>

  <h1 *ngIf="false" class="title is-3 has-text-centered">Evaluation</h1>
</div>
