<div class="columns">
  <div class="column is-half-desktop is-offset-one-quarter-desktop">

    <label class="label has-text-centered" for="max">Maximalwert</label>
    <div class="field has-addons">
      <div class="control">
        <button class="button" (click)="doubleMax()" [disabled]="max === maximalMax">* 2</button>
      </div>
      <div class="control is-expanded">
        <input class="input has-text-centered" type="number" id="max" value="{{max}}">
      </div>
      <div class="control">
        <button class="button" (click)="halveMax()" [disabled]="max === minimalMax">/ 2</button>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half-desktop">
        <div class="field">
          <label for="startSystem" class="label has-text-centered">Startsystem</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)]="startSystem" (change)="update()" id="startSystem">
                <option *ngFor="let ns of numberingSystems" [ngValue]="ns">{{ns.radix}} - {{ns.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half-desktop">
        <div class="field">
          <label for="targetSystem" class="label has-text-centered">Zielsystem</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select [(ngModel)]="targetSystem" (change)="update()" id="targetSystem">
                <option *ngFor="let ns of numberingSystems" [ngValue]="ns">{{ns.radix}} - {{ns.name}}</option>
              </select>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr>

    <it4all-nary-number-read-only-input [naryNumberInput]="toConvertInput"></it4all-nary-number-read-only-input>

    <hr>

    <div class="field">
      <div class="field has-addons">
        <div class="control">
          <div class="button is-static">
            <label for="solution">Lösung:</label>
          </div>
        </div>
        <div class="control is-expanded">
          <input type="text" class="input has-text-right" id="solution" [(ngModel)]="solutionString"
                 [ngClass]="{'is-success': checked && correct, 'is-danger': checked && !correct}"
                 placeholder="Lösung" autofocus>
        </div>
        <div class="control">
          <div class="button is-static">
            <sub>{{targetSystem.radix}}</sub>
          </div>
        </div>
      </div>
    </div>

    <div class="notification has-text-centered is-danger" *ngIf="checked && !correct">
      &#10008; Die Lösung ist nicht korrekt.
    </div>
    <div class="notification has-text-centered is-success" *ngIf="checked && correct">
      &#10004; Die Lösung ist korrekt.
    </div>

    <br>

    <it4all-random-solve-buttons
      (correctEmitter)="checkSolution()"
      (nextEmitter)="update()">
    </it4all-random-solve-buttons>

  </div>
</div>
