@import model.{User, ExerciseCollection, Exercise}
@import model.toolMains.CollectionToolMain

@(user: User, toolMain: CollectionToolMain, collection: ExerciseCollection, exercise: Exercise, partStr: String)

@title = @{
    s"Fehler: Kein Aufgabenteil '$partStr' für die Aufgabe '${exercise.title}' in der Sammlung Sammlung '${collection.title}' im Tool '${toolMain.toolname}"
}

@main(title, Some(user)) {
    <div class="container">
        <h2 class="text-danger text-center">
            Es gibt keine Aufgabenteil '@partStr' für die Aufgabe '@exercise.title' in der Sammlung Sammlung '@collection.title' im Tool '@toolMain.toolname'</h2>

        <hr>

        <a href="@coll.routes.CollectionController.collection(toolMain.urlPart, collection.id)" class="btn btn-primary btn-block">
            Zurück zur Aufgabenübersicht</a>
    </div>
}
