@(user: model.User, exercise: model.uml.UmlCompleteEx, curPart: model.uml.UmlExPart, getsHelp: Boolean, toolObject: model.uml.UmlToolMain)

@title = @{
    exercise.titleForPart(curPart)
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            let imports = [
                '@routes.Assets.versioned("lib/graphlib/dist/graphlib.js")',
                '@routes.Assets.versioned("lib/dagre/dist/dagre.js")',
                '@routes.Assets.versioned("app/uml/umlClass/classDiagDrawing.js")'
            ];
            for (let toImport of imports) {
                try {
                    SystemJS.import(toImport).then(function (m) {
                        // console.log(m);
                    });
                } catch (err) {
                    console.error(err);
                }
            }
    </script>

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/uml.css")">
    @* Javascript Routes *@
    @*<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>*@

    @* @core.helperTemplates.fullScreenScripts.render() *@

    @*<script src="@routes.ExerciseController.umlClassDiag(exercise.id, curPart.urlName)"></script>*@

    @*<script src="@routes.Assets.versioned("javascripts/uml/umlConsts.js")"></script>*@

    @*<script src="@routes.Assets.versioned("javascripts/uml/umlClass/umlModel.js")"></script>*@
    @*<script src="@routes.Assets.versioned("javascripts/uml/umlClass/classDiagElements.js")"></script>*@

    @*<script src="@routes.Assets.versioned("javascripts/uml/umlClass/editModal.js")"></script>*@

    @*<script src="@routes.Assets.versioned("javascripts/uml/umlClass/classDiagDrawing.js")"></script>*@
    @*<script src="@routes.Assets.versioned("javascripts/uml/umlClass/classDiagCorrection.js")"></script>*@
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/uml.css")">

        <!--suppress JSUnusedLocalSymbols -->
    <script>
            let exports = {};
            let getsHelp = @{getsHelp};
    </script>
}

@main(title, Some(user), scripts) {

    @core.helperTemplates.modal("Bearbeitungshinweise", "hintModal") {
        @views.html.idExercises.uml.classDiagDrawingExplanation.render(getsHelp)
    }

    <div class="container-fluid" id="fullsc">
        <div class="row">

            <div class="col-md-6" id="paperDiv">
                <div class="form-group" id="buttonsDiv">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#hintModal">
                        Bearbeitungshinweise</button>

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="CLASS" onclick="selectButton(this);" id="classButton"
                            @if(getsHelp) {
                                @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                            }>

                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                            <span id="classType">Klasse</span>
                        </button>

                        <button class="btn btn-default" data-toggle="dropdown" @if(getsHelp) {
                            @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                        }>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                        @for(classType <- model.uml.UmlClassType.values) {
                            <li>
                                <a data-conntype="@classType.entryName " onclick="selectClassType(this);">@classType.german </a>
                            </li>
                        }
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="IMPLEMENTATION" onclick="selectButton(this);">
                            <span class="glyphicon glyphicon-arrow-up"></span> Vererbung
                        </button>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="ASSOCIATION" onclick="selectButton(this);" id="assocButton">
                            <span class="glyphicon glyphicon-resize-horizontal"></span>
                            <span id="assocType">
                                Assoziation</span>
                        </button>
                        <button class="btn btn-default" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                        @for(assocType <- model.uml.UmlAssociationType.values) {
                            <li>
                                <a data-conntype="@assocType.entryName " onclick="selectAssocType(this);">@assocType.german </a>
                            </li>
                        }
                        </ul>
                    </div>

                    <button class="btn btn-default" data-conntype="POINTER" onclick="selectButton(this);" title="Maus" @{
                        if(getsHelp) "disabled" else ""
                    } >
                        @*<span class="glyphicon glyphicon-screenshot"></span>*@Attribute und Methoden
                    </button>


                    <button type="button" class="btn" onclick="toggleFullscreen()">
                        Toggle Fullscreen <span class="glyphicon glyphicon-resize-full" id="fullscBtnSpan"></span></button>
                </div>

                <div id="sizepaper">
                    <div ondrop="drop(event)" ondragover="allowDrop(event)" id="paper"></div>
                </div>
            </div>


            <div class="col-md-6">

                <input hidden id="toolType" value="@toolObject.urlPart" title="hidden">
                <input hidden type="number" id="exerciseId" value="@exercise.ex.id" title="hidden">
                <input hidden id="exercisePart" value="@curPart.urlName" title="hidden">

                <div class="well text-justify">@exercise.textForPart(curPart)</div>

                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" id="testButton" class="btn btn-primary">Aufgabe verifizieren</button>
                        </div>
                        @curPart match {
                            case model.uml.DiagramDrawingHelp => {
                                <div class="btn-group">
                                    <a class="btn btn-default" href="@routes.ExerciseController.exercise(toolObject.urlPart, exercise.ex.id, model.uml.MemberAllocation.urlName)">
                        Nächster Aufgabenteil</a>
                                </div>
                            }
                            case _ => {
                                <a class="btn btn-default" href="@routes.MainExerciseController.index(toolObject.urlPart)">Bearbeitung beenden</a>
                            }
                        }
                    </div>
                </div>

                <hr>

                <div id="editDiv"></div>

                <div id="resultDiv"></div>

            </div>
        </div>
    </div>
}
