@(exercise: model.uml.UmlExercise)

@baseFormsPerRow = @{
    3
}

<div class="form-horizontal">

    <div class="form-group row">
        <label class="control-label col-sm-2" for="@model.uml.UmlConsts.ignoreWordsName">Ignoriert:</label>
        <div class="col-md-10">
            <input class="form-control" value="@exercise.toIgnore.mkString(", ")" id="@model.uml.UmlConsts.ignoreWordsName" name="@model.uml.UmlConsts.ignoreWordsName">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2">Basisformen:</label>
        <div class="col-md-10">

        @for(mappingTuple <- exercise.mappings grouped baseFormsPerRow; width = 12 / baseFormsPerRow) {
            <div class="form-group row">
            @for((key, value) <- mappingTuple) {
                <div class="col-sm-@width">
                    <div class="input-group">
                        <input class="form-control" value="@key" title="Zu ersetzendes Wort">
                        <span class="input-group-text">&rarr;</span>
                        <input class="form-control" value="@value" title="Eingefügtes Wort">
                    </div>
                </div>
            }
            </div>
        }

        </div>
    </div>
</div>

<fieldset>
    <legend>Musterlösung</legend>

    <h3 class="text-center">Klassen</h3>

    <div class="form-horizontal">

        @classesInRow = @{
            2
        }

        @sampleSolution = @{
            exercise.sampleSolutions.head.sample
        }
        
        @for(clazzTuple <- sampleSolution.classes grouped classesInRow; width = 12 / classesInRow) {

            <div class="row">
            @for(clazz <- clazzTuple) {
                <div class="col-sm-@width">

                    <div class="card">
                        <div class="card-header">

                            <div class="form-group">
                                <select class="form-control" id="@model.uml.UmlConsts.typeName" name="@model.uml.UmlConsts.typeName" title="Klassentyp">
                                @for(classType <- model.uml.UmlClassType.values) {
                                    <option @{
                                        if(classType == clazz.classType) "selected" else ""
                                    }>@classType</option>
                                }
                                </select>
                            </div>

                            <div class="form-group">
                                <input class="form-control" value="@clazz.className" id="@model.uml.UmlConsts.nameName" name="@model.uml.UmlConsts.nameName" title="Klassenname">
                            </div>

                        </div>

                        <div class="card-body">

                            <div class="form-group">
                            @for(attribute <- clazz.attributes) {
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" value="@attribute.memberName">
                                        <span class="input-group-text">:</span>
                                        @* FIXME: select with UmlTypes! *@
                                        <input class="form-control" value="@attribute.memberType">
                                    </div>
                                </div>
                            }
                            </div>

                            <hr>

                            <div class="form-group">
                            @for(method <- clazz.methods) {
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" value="@method.memberName">
                                        <span class="input-group-text">:</span>
                                        @* FIXME: select with UmlTypes! *@
                                        <input class="form-control" value="@method.memberType">
                                    </div>
                                </div>
                            }
                            </div>
                        </div>

                    </div>
                </div>
            }
            </div>

            <br>
            }

    </div>

    @implsPerRow = @{
        3
    }

    <h3 class="text-center">Vererbungen</h3>
    @for(implementationTuple <- sampleSolution.implementations grouped implsPerRow; width = 12 / implsPerRow) {
        <div class="row">
        @for(implementation <- implementationTuple) {
            <div class="col-md-@width">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" value="@implementation.subClass">
                        <span class="input-group-text">&rarr;</span>
                        <input class="form-control" value="@implementation.superClass">
                    </div>
                </div>
            </div>
        }
        </div>
    }

    <h3 class="text-center">Assoziationen</h3>
    @for(association <- sampleSolution.associations) {
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <input class="form-control" value="@association.assocName.getOrElse("")" placeholder="Name der Assoziation" title="Name der Assoziation">
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="form-control" value="@association.firstEnd">
                        <span class="input-group-text">&amp;</span>
                        <input class="form-control" value="@association.secondEnd">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <input class="form-control" value="@association.firstMult.representant">
                        <span class="input-group-text">:</span>
                        <input class="form-control" value="@association.secondMult.representant">
                    </div>
                </div>
            </div>
        </div>
    }

</fieldset>
