@(user: model.User, result: model.uml.UmlCompleteResult, toolMain: model.uml.UmlToolMain)

@title = @{
    "Korrektur: Zuordnung der Member"
}

@describeMember(member: model.uml.UmlClassMember) = @{
    member.memberName + ": " + member.memberType
}

@describeClassMemberMatch(memberMatch: model.uml.matcher.UmlClassMemberMatch, name: String) = {
    <li class="text-@memberMatch.getBSClass">
    @memberMatch.matchType match {
        case model.Enums.MatchType.SUCCESSFUL_MATCH => {
            Die Angabe @name <code>@memberMatch.userArg.map(describeMember).getOrElse("FEHLER!")</code> ist korrekt.
        }
        case model.Enums.MatchType.PARTIAL_MATCH => {

        }
        case model.Enums.MatchType.UNSUCCESSFUL_MATCH => {

        }
        case model.Enums.MatchType.ONLY_SAMPLE => {
            Die Angabe @name <code>@memberMatch.sampleArg.map(describeMember).getOrElse("FEHLER!") </code> fehlt.
        }
        case model.Enums.MatchType.ONLY_USER => {
            Die Angabe @name <code>@memberMatch.userArg.map(describeMember).getOrElse("FEHLER!")</code> war falsch.
        }
        case _ => {
            @memberMatch.matchType
        }
    }
    </li>
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        @result.classResult match {
            case None => {
                <div class="alert alert-danger">Es gab einen Fehler bei der Korrektur!</div>
            }
            case Some(classRes) => {
                @for(classMatchTuple <- classRes.allMatches grouped 2) {
                    <div class="row">
                    @for(classMatch <- classMatchTuple) {
                        <div class="col-md-6">
                            <div class="panel panel-@classMatch.getBSClass">
                                <div class="panel-heading">@classMatch.userArg.map(_.className)</div>
                                <div class="panel-body">
                                    <ul>
                                    @for(attrMatch <- classMatch.attributesResult.map(_.allMatches).getOrElse(Seq.empty)) {
                                        @describeClassMemberMatch(attrMatch, "des Attributes")
                                    }
                                    </ul>

                                    <hr>
                                    @for(methodMatch <- classMatch.methodsResult.map(_.allMatches).getOrElse(Seq.empty)) {
                                        <ul>
                                        @describeClassMemberMatch(methodMatch, "der Methode")
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                }
            }
        }

        <hr>

        <a class="btn btn-block btn-primary" href="@routes.MainExerciseController.index(toolMain.urlPart)">Bearbeitung beenden</a>
    </div>
}