<div class="container">
  <h1 class="title is-3 has-text-centered">Klassenselektion</h1>

  <div class="columns">
    <div class="column is-two-thirds-desktop">

      <h2 class="subtitle is-3 has-text-centered">Aufgabentext</h2>
      <div class="notification is-light-grey">
        <ng-container *ngFor="let textPart of umlExerciseTextParts">
          <span *ngIf="textPart.selectableClass"
                (click)="toggleClassSelected(textPart.selectableClass)"
                [ngClass]="textPart.selectableClass.selected ? 'has-text-link' : 'has-text-black'">{{textPart.text}}</span>

          <span *ngIf="!textPart.selectableClass">{{textPart.text}}</span>
        </ng-container>
      </div>
    </div>
    <div class="column is-one-third-desktop">
      <h2 class="subtitle is-3 has-text-centered">Gewählte Klassen</h2>

      <div class="content">
        <ul>
          <li *ngFor="let selectableClass of getSelectedClasses()">{{selectableClass.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <button class="button is-fullwidth" (click)="correct()" [disabled]="corrected"
              [ngClass]="corrected ? 'is-dark' : 'is-link'">
        Korrektur
      </button>
    </div>
    <div class="column">
      <button class="button is-fullwidth" [routerLink]="['..', nextPartId]" [disabled]="!corrected"
              [ngClass]="corrected ? 'is-link': 'is-dark'" title="Führen Sie zuerst die Korrektur aus!">
        Zum nächsten Aufgabenteil
      </button>
    </div>
    <div class="column">
      <a [routerLink]="['../..']" class="button is-dark-warning is-fullwidth">Bearbeiten beenden</a>
    </div>
  </div>

  <ng-container *ngIf="corrected">
    <hr>

    <h2 class="subtitle is-3 has-text-centered">Korrektur</h2>

    <div class="columns">
      <div class="column">
        <h3 class="subtitle is-4 has-text-centered">Korrekte Klassen:</h3>
        <ul>
          <li *ngFor="let correctClass of getCorrectClasses()">&#10004;&nbsp;<code
            class="has-text-dark-success">{{correctClass.name}}</code></li>
        </ul>
      </div>

      <div class="column">
        <h3 class="subtitle is-4 has-text-centered">Fehlende Klassen:</h3>
        <ul>
          <li *ngFor="let missingClass of getMissingClasses()">&#10008;&nbsp;<code>{{missingClass.name}}</code></li>
        </ul>
      </div>

      <div class="column">
        <h3 class="subtitle is-4 has-text-centered">Falsche Klassen</h3>
        <ul>
          <li *ngFor="let wrongClass of getWrongClasses()">&#10067;&nbsp;<code>{{wrongClass.name}}</code></li>
        </ul>
      </div>
    </div>
  </ng-container>

</div>
