<div class="container">

  <h1 class="title is-3 has-text-centered">{{toolPart.name}}</h1>

  <div class="columns">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">

      <p class="is-italic has-text-info has-text-centered">Geben Sie alle Binärzahlen mit einer Länge von 8 Bit ein!</p>

      <br>

      <div class="field">
        <div class="control has-text-centered">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="withIntermediateSteps"> Mit Zwischenschritten
          </label>
        </div>
      </div>

      <hr>

      <it4all-nary-number-read-only-input [naryNumberInput]="toConvertInput"></it4all-nary-number-read-only-input>

      <br>

      <div class="field">
        <div class="field has-addons">
          <div class="control">
            <div class="button is-static">
              <label for="binaryAbsolute">Binärdarstellung von {{toConvertInput.decimalNumber}}:</label>
            </div>
          </div>
          <div class="control is-expanded">
            <input type="text" class="input has-text-right" id="binaryAbsolute" [(ngModel)]="binaryAbsoluteString"
                   [class.is-success]="checked && withIntermediateSteps && binaryAbsoluteCorrect"
                   [class.is-danger]="checked && withIntermediateSteps && !binaryAbsoluteCorrect"
                   placeholder="Binärdarstellung von {{toConvertInput.decimalNumber}}" autofocus autocomplete="off">
          </div>
          <div class="control">
            <div class="button is-static">
              <sub>2</sub>
            </div>
          </div>
        </div>
      </div>

      <div class="notification has-text-centered is-danger"
           *ngIf="checked && withIntermediateSteps && !binaryAbsoluteCorrect">
        &#10008; Diese Eingabe ist nicht korrekt.
      </div>
      <div class="notification has-text-centered is-success"
           *ngIf="checked && withIntermediateSteps && binaryAbsoluteCorrect">
        &#10004; Diese Eingabe ist korrekt.
      </div>

      <br>

      <div class="field">
        <div class="field has-addons">
          <div class="control">
            <div class="button is-static">
              <label for="invertedAbsolute">Invertierung aller Bits:</label>
            </div>
          </div>
          <div class="control is-expanded">
            <input type="text" class="input has-text-right" id="invertedAbsolute" [(ngModel)]="invertedAbsoluteString"
                   [class.is-success]="checked && withIntermediateSteps && invertedAbsoluteCorrect"
                   [class.is-danger]="checked && withIntermediateSteps && !invertedAbsoluteCorrect"
                   placeholder="Invertierung aller Bits" autofocus autocomplete="off">
          </div>
          <div class="control">
            <div class="button is-static">
              <sub>2</sub>
            </div>
          </div>
        </div>
      </div>

      <div class="notification has-text-centered is-danger"
           *ngIf="checked && withIntermediateSteps && !invertedAbsoluteCorrect">
        &#10008; Diese Eingabe ist nicht korrekt.
      </div>
      <div class="notification has-text-centered is-success"
           *ngIf="checked && withIntermediateSteps && invertedAbsoluteCorrect">
        &#10004; Diese Eingabe ist korrekt.
      </div>

      <hr>

      <div class="field">
        <div class="field has-addons">
          <div class="control">
            <div class="button is-static">
              <label for="solution">Zweierkomplement:</label>
            </div>
          </div>
          <div class="control is-expanded">
            <input type="text" class="input has-text-right" id="solution" [(ngModel)]="solutionString"
                   [class.is-success]="checked && solutionCorrect" [class.is-danger]="checked && !solutionCorrect"
                   placeholder="Zweierkomplement" autofocus autocomplete="off">
          </div>
          <div class="control">
            <div class="button is-static">
              <sub>2</sub>
            </div>
          </div>
        </div>
      </div>

      <div class="notification has-text-centered is-danger" *ngIf="checked && !solutionCorrect">
        &#10008; Die Lösung ist nicht korrekt.
      </div>
      <div class="notification has-text-centered is-success" *ngIf="checked && solutionCorrect">
        &#10004; Die Lösung ist korrekt.
      </div>

      <br>

      <it4all-random-solve-buttons (correctEmitter)="checkSolution()" (nextEmitter)="update()" (endEmitter)="end()">
      </it4all-random-solve-buttons>

    </div>
  </div>
</div>
