<div class="card">
  <header class="card-header">
    <p class="card-header-title">Assoziation bearbeiten</p>
  </header>
  <div class="card-content">

    <div class="columns">
      <div class="column">
        {{firstEnd.getClassName()}}
      </div>
      <div class="column">
        <div class="select">
          <select title="Multiplizität" #firstMultSelect>
            <option [selected]="firstMult === '1'">1</option>
            <option [selected]="firstMult === '*'">*</option>
          </select>
        </div>
      </div>
      <div class="column">
        <div class="select">
          <select title="Multiplizität" #secondMultSelect>
            <option [selected]="secondMult === '1'">1</option>
            <option [selected]="secondMult === '*'">*</option>
          </select>
        </div>
      </div>
      <div class="column">
        {{secondEnd.getClassName()}}
      </div>
    </div>

  </div>
  <footer class="card-footer">
    <a class="card-footer-item" (click)="cancel.emit()">Verwerfen</a>
    <a class="card-footer-item" (click)="updateAssoc(firstMultSelect.value, secondMultSelect.value)">Anwenden</a>
  </footer>
</div>
