@()

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><b>Elemente/Links zur Zeichenfläche hinzufügen</b></a>
            </h5>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    Zum Erstellen das gewünschte Element durch Anklicken markieren und anschließend innerhalb der Zeichenfläche erneut klicken.
                    <img src="@routes.Assets.versioned("images/umlActivity/element_create.gif")" class="img-responsive">
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><b>Manipulationen innerhalb der Zeichenfläche</b></a>
            </h5>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    Zum Speichern der eingetragenen Daten Tabulator drücken.
                    <img src="@routes.Assets.versioned("images/umlActivity/element_tab.gif")" class="img-responsive">

                    <hr>

                    Zum Ändern der Links mit gedrückter Maustaste vom Startport zum Zielport ziehen.
                    <img src="@routes.Assets.versioned("images/umlActivity/element_edit.gif")" class="img-responsive">
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse31"><b>Einsatz von Elementen mit Bearbeitungsknoten</b></a>
            </h5>
            <div id="collapse31" class="panel-collapse collapse">
                <div class="panel-body">
                    Möglichkeit 1: Verwendung des Bearbeitungsknotens als Inhalt des verbundenen Anweisungsblockes.
                    <img src="@routes.Assets.versioned("images/umlActivity/element_for1.gif")" class="img-responsive">

                    <hr>

                    Möglichkeit 2: Entfernen des Bearbeitungsknotens und direktes Verwenden des Anweisungsblockes.
                    <img src="@routes.Assets.versioned("images/umlActivity/element_for2.gif")" class="img-responsive">
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse3"><b>Optionen zur Zeichenfläche</b></a>
            </h5>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Ansicht
                            <ul>
                                <li>
                                    Browserabhängig kann eine Vollansicht mittels &#10530; gestartet und durch &#10060; beendet werden.
                                </li>
                                <li>
                                    Verschieben der Zeichenfläche wird durch die verschiedenen Pfeilrichtungen definiert und durch den Resetbuttoon zurückgesetzt.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Zeichenfläche
                            <ul>
                                <li>
                                    Erweitern / Dezimieren der Zeichenfläche nach unten durch drücken des + bzw. - Größebuttons.
                                </li>
                                <li>
                                    Vergrößern / Verkleinern der Zeichenfläche durch drücken des + bzw. -Zoombuttons.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse4"><b>Konvertierung in Code</b></a>
            </h5>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Basierend auf der selektierten Programmiersprache wird das Diagramm in Programmiercode konvertiert.
                            Falls unzureichende Bedingungen hierfür vorliegen, wird eine Fehlermeldung anstatt des Programmiercodes angezeigt.
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse5"><b>Import / Export</b></a>
            </h5>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Mittels Datei auswählen können Sie bereits exportierte Diagramme hochladen und anschließend importieren.
                        </li>
                        <li>
                            Der Exportierenbutton lädt den aktuellen Graphen in eine Datei auf Ihren Computer.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
