@(user: model.user.User)

@statistics = {
<li>Es existieren insgesamt @model.SpreadExercise.finder.all().size() Aufgaben</li>
}

@strs = @{scala.collection.Map(
  "app" -> "Tabellenkalkulation",
  "pluralName" -> "Aufgaben"
)}

@calls = @{scala.collection.Map(
  "index" -> spread.routes.SpreadController.exercises(),
  "newExerciseForm" -> spread.routes.SpreadAdmin.newExerciseForm(),
  "export" -> sql.routes.SqlScenarioAdmin.exportExerciseCollections(),
  "import" -> spread.routes.SpreadAdmin.importExercises(),
  "jsonSchema" -> spread.routes.SpreadAdmin.getJSONSchemaFile(),
  "upload" -> spread.routes.SpreadAdmin.uploadFile()
)}

@admin.exerciseAdminMain(user, strs, statistics, calls) { }
