@(student: model.Student) @main("Excel", student) {
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="/excel/upload" method="post" enctype="multipart/form-data">
        <h3>Laden Sie hier ihre L&ouml;sung f&uuml;r Aufgabe XXX hoch:</h3>
  
        <div class="form-group">
          <input type="file" class="form-control" name="solFile" required accept=".xlsx, .xlsm, .ods">
        </div>
    
        <input type="number" hidden="hidden" value="1" name="exercise">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-primary" type="reset">Zur&uuml;cksetzen</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary" type="submit">Abschicken und testen</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
}
