<div class="container is-fluid">

  <div class="columns">
    <div class="column is-two-fifths-desktop">
      <h1 class="title is-3 has-text-centered">Aufgabenstellung</h1>
      <div class="notification is-light-grey">{{exerciseFragment.text}}</div>

      <h1 class="title is-4 has-text-centered">Anfrage</h1>

      <ngx-codemirror [(ngModel)]="solution" [options]="editorOptions"></ngx-codemirror>

      <br>

      <div class="columns">
        <div class="column">
          <button class="button is-link is-fullwidth" (click)="correct()">Lösung testen</button>
        </div>
        <div class="column">
          <a class="button is-dark is-fullwidth" routerLink="../..">Bearbeiten beenden</a>
        </div>
      </div>
    </div>

    <div class="column">
      <it4all-tabs>
        <it4all-tab [title]="'Datenbankinhalt'">
          <it4all-sql-table-contents [dbContents]="contentFragment.sqlDbContents"></it4all-sql-table-contents>
        </it4all-tab>

        <it4all-tab [title]="correctionTabTitle">
          <ng-container *ngIf="resultQuery">

            <it4all-solution-saved [solutionSaved]="correctionResult.solutionSaved"></it4all-solution-saved>

            <br>

            <it4all-points-notification [points]="abstractResult.points" [maxPoints]="abstractResult.maxPoints">
            </it4all-points-notification>

            <br>

            <div class="message" *ngIf="sqlInternalErrorResult">
              <div class="message-header">Es gab einen Fehler bei der Korrektur:</div>
              <div class="message-body">
                <pre>{{sqlInternalErrorResult.msg}}</pre>
              </div>
            </div>

            <it4all-sql-result *ngIf="sqlResult" [result]="sqlResult"></it4all-sql-result>

          </ng-container>
        </it4all-tab>

        <it4all-tab [title]="sampleSolutionsTabTitle">
          <div class="buttons">
            <button class="button is-primary is-fullwidth" (click)="toggleSampleSolutions()">
              Musterlösungen {{displaySampleSolutions ? 'anzeigen' : 'ausblenden'}}
            </button>
          </div>

          <ng-container *ngIf="displaySampleSolutions">
            <ng-container *ngFor="let sample of sampleSolutions; let last = last">
              <it4all-string-sample-sol [sample]="sample"></it4all-string-sample-sol>

              <br *ngIf="!last">
            </ng-container>
          </ng-container>
        </it4all-tab>
      </it4all-tabs>
    </div>
  </div>

  <ng-container *ngIf="sqlResult">
    <it4all-sql-execution-result [result]="sqlResult.executionResult"></it4all-sql-execution-result>
  </ng-container>

</div>
