@(user: model.user.User, exercise: model.exercise.SqlExercise, oldOrDefSol: String, tables: List[model.sql.SqlQueryResult])

@main("SQL", user) {
<script src="@routes.Assets.versioned("javascripts/helperfunctions.js")"></script>

<div class="container">
  <div class="page-header">
    <h1>Szenario &quot;@exercise.scenario.getTitle&quot;, Aufgabe &quot;@exercise.getTitle&quot;</h1>
  </div>

  <form action="@sql.routes.SqlController.correct(exercise.getId)" method="post">
    <p>@exercise.getText</p>
    @if(!exercise.hint.isEmpty()) {
    <p>
      <i>Hinweis:</i> @exercise.hint
    </p>
    }

    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-default"
          onclick="testTheSolution('@sql.routes.SqlController.correctLive(exercise.getId)')">L&ouml;sung testen</button>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary">L&ouml;sung abgeben</button>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-4">@editor(oldOrDefSol, "sql", 10 ,15, false)</div>

      <div class="col-md-8">
        <div id="resultPanel" class="panel panel-default">
          <div class="panel-heading">Ergebnisse</div>
          <div id="correction" class="panel-body">Testen Sie ihre L&ouml;sung, um Ergebnisse zu erhalten.</div>
        </div>
      </div>
    </div>

  </form>

  <hr>


  <h2>Datenbankschema &amp; Tabelleninhalte</h2>

  <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#databaseSchema">Datenbankschema</button>

  <hr>

  <div class="btn-group btn-group-justified">
    @for(table <- tables) {
    <div class="btn-group">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#@table.getTableName()">@table.getTableName()</button>
    </div>
    }
  </div>

  <div id="databaseSchema" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Datenbankschema</h4>
        </div>
        <div class="modal-body">
          <img class="img-rounded img-responsive center-block" src="@@routes.Assets.versioned("
            images/sql/" + exercise.scenario.getImageUrl())" alt="Datenbankschema">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  @for(table <- tables) {
  <div id="@table.getTableName()" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Tabelle: @table.getTableName()</h4>
        </div>
        <div class="modal-body">@resultTemplates.resultTable.render(table)</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  }

</div>
}
