@(user: model.user.User, scenarioes: List[model.exercise.SqlScenario])

@exTypes = @{model.exercise.SqlExerciseType.values()}

@main("SQL", user) {
<div class="container">
  <div class="page-header">
    <h1>Szenarien-&Uumlbersicht</h1>
  </div>
  @if(scenarioes.isEmpty) {
  	<div class="alert alert-danger">Es sind momentan leider keine Szenarios verf&uuml;gbar. 
    Wenden Sie sich bitte an den Administrator!</div>
  } else {
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          @for(exType <- exTypes) {<th/>}
        </tr>
      </thead>
      <tbody>
      @for(scenario <- scenarioes) {
        <tr>
          <td>@scenario.id</td>
          <td>@scenario.title</td>
          @for(exType <- exTypes) {
          <td>
          @scenario.getExercisesByType(exType).size() match {
          	case 0 => {<button class="btn btn-default btn-block" disabled title="Zu diesem Typ gibt es leider noch keine Aufgaben">0 Aufgaben</a>}
      	    case _ => {<a href="@sql.routes.Sql.filteredScenario(scenario.id, exType.toString())" class="btn btn-default btn-block">@exType</a>}
          }
          </td>
          }
        </tr>
      }
      </tbody>
    </table>
  }
}
