@(user: model.user.User, scenarioes: List[model.exercise.SqlScenario])

@main("SQL", user) {
<div class="container">
  @if(scenarioes.isEmpty) {
  	<div class="alert alert-danger">Es sind momentan leider keine Szenarios verfügbar. Wenden Sie sich bitte an den Administrator!</div>
  }
  @for(scenario <- scenarioes) {
  <div class="panel panel-default">
    <div class="panel-heading">Szenario "@scenario.longName": Verf&uuml;gbare Aufgaben</div>
    <div class="panel-body">

      <div class="panel-group" id="accordion">
        @for(sqlExType <- model.exercise.SqlExerciseType.values()) {
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@{scenario.shortName}_@sqlExType">@sqlExType - Aufgaben</a>
            </h4>
          </div>
          <div id="collapse_@{scenario.shortName}_@sqlExType" class="panel-collapse collapse">
          @if(scenario.getExercisesByType(sqlExType).isEmpty()) {
            <ul class="list-group">
              <li class="list-group-item"><a class="list-group-item">F&uuml;r diesen Aufgabentyp gibt es leider noch keine Aufgaben.</a></li>
            </ul>
          } else {
            <ul class="list-group">
              @for(ex <- scenario.getExercisesByType(sqlExType)) {
              <li class="list-group-item">
                <a href="@controllers.sql.routes.SQL.exercise(ex.key.scenarioName, ex.querytype.toString, ex.key.id)" class="list-group-item">
                  Aufgabe @ex.key.id: @ex.text
                </a>
              </li>
              }
            </ul>
          }
          </div>
        </div>
        }
      </div>
      </div>
    </div>}
  </div>
}
