@(user: model.user.User, scenarioes: List[model.exercise.SqlScenario])

@main("SQL", user) {
<div class="container-fluid">
  <div class="page-header">
    <h1>Folgende Aufgaben wurden erstellt:</h1>
  </div>
  @for(scenario <- scenarioes) {
  <div class="panel panel-default">
    <div class="panel-heading">Szenario &quot;@scenario.longName&quot;</div>
    <div class="panel-body">
    
    <!-- TODO: Szenariobeschreibung -->
    <p>Szenariobeschreibung!</p>
    
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Aufgabentyp</th>
          <th>Aufgabentext</th>
          <th>Musterl&ouml;sungen</th>
          <th>Validierung</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
      @for(exercise <- scenario.exercises) {
		<tr>
		  <td>@exercise.key.id</td>
		  <td>@exercise.key.exercisetype</td>
		  <td>@exercise.text</td>
		  <td>@exercise.renderSampleSolutions()</td>
		  <td>@exercise.validation</td>
		  <td>@exercise.tags</td>
		</tr>        
      }
      </tbody>
    </table>
	</div>
  </div>
  }
</div>
}
