@(user: model.user.User, scenario: model.exercise.SqlScenario, exType: model.exercise.SqlExerciseType, start: Int)

@main("SQL", user) {
<div class="container">
  <div class="page-header">
    <h1>Szenario &quot;@scenario.title&quot;: Aufgabentyp @exType</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <!-- <th>Bearbeitet</th> -->
        <th>Tags</th>
        <th>ID</th>
        <th>Aufgabentext</th>
      </tr>
    </thead>
    <tbody>
    @for(ex <- scenario.getExercises(exType, start)) {
      <tr>
        <!-- <td>TODO</td> -->
	    <td>@Html(ex.getBadges())</td>
	    <td>@ex.key.exerciseId:</td>
  	    <td>
          <a href="@sql.routes.Sql.exercise(scenario.id, ex.key.exerciseId)"
            class="btn btn-default btn-block">@ex.text</a>
        </td>
      </div>
  }
    </tbody>
  </table>
    
  <hr>
  
  <div class="btn-group btn-group-justified">
    <a type="button" href="@sql.routes.Sql.filteredScenario(scenario.id, exType.toString(), Math.max(0, start - 10))"
      class="btn btn-default">Zurück</a>
    <a type="button" href="@sql.routes.Sql.filteredScenario(scenario.id, exType.toString(), scenario.getBorder(exType, start))"
      class="btn btn-default">Vorwärts</a>
  </div>
</div>
}
