@()

<div class="col-md-12">
  <div class="panel panel-@@result.getBSClass()">
    <div class="panel-heading">Vergleich der Bedingungen</div>
    <div class="panel-body">

    for(BinaryExpressionMatch match: matches)
      ret += match.getAsHtml();

    if(!wrong.isEmpty()) {
    <div class="col-md-12">";
    <div class="alert alert-warning">Folgende Bedingungen ihrer Query konnten nicht in der Musterlösung gefunden werden:";
      ret += concatElementsAsList(wrong);
    </div></div>";
    }

    if(!missing.isEmpty()) {
    <div class="col-md-12">";
    <div class="alert alert-danger">Folgende Bedingungen sind in der Musterlösung aber nicht in ihrer Lösung vorhanden:";
      ret += concatElementsAsList(missing);
    </div></div>";
    }

  
    </div>
  </div>
</div>