<div [ngClass]="isCorrect ? 'has-text-dark-success' : 'has-text-danger'">
  Die Assoziation von <code>{{firstEnd}}</code> nach
  <code>{{secondEnd}}</code> {{wordForMatchType}}

  <div *ngIf="assocMatch.matchType === 'UNSUCCESSFUL_MATCH' || assocMatch.matchType === 'PARTIAL_MATCH'"
       class="content">
    <ul>
      <li [ngClass]="assocTypeCorrect ? 'has-text-dark-success' : 'has-text-danger'">
        Der Typ der Assoziation <code>{{assocMatch.userArg.assocType}}</code> war {{assocTypeCorrect ? '' : 'nicht'}}
        korrekt.
      </li>
      <li
        [ngClass]="cardsCorrect ? 'has-text-dark-success' : 'has-text-danger'">
        Die Kardinalitäten der Assoziationen <code>{{gottenCardinalities}}</code> waren {{cardsCorrect ? '' : 'nicht'}}
        korrekt.
        <ng-container *ngIf="!cardsCorrect">Erwartet wurde {{correctCardinalities}}</ng-container>
      </li>
    </ul>
  </div>
</div>

