@(exercise: model.programming.ProgExercise)

<section>
    <div class="row">
        <div class="col-md-6">
            <h3>Standarddaten</h3>

            <div class="row">
                <div class="col-md-4"><b>ID:</b></div>
                <div class="col-md-8">@exercise.id</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Titel:</b></div>
                <div class="col-md-8">@exercise.title</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Autor:</b></div>
                <div class="col-md-8">@exercise.author</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Status:</b></div>
                <div class="col-md-8">@exercise.state</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Name der Fkt.:</b></div>
                <div class="col-md-8">@exercise.functionName</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Signatur:</b></div>
                <div class="col-md-8"><code>(@exercise.inputTypes.map(_.inputType.typeName).mkString(", ")) &rarr;
                    @exercise.outputType.typeName </code>
                </div>
            </div>
        </div>

        @exercise.baseData.map { baseData =>
            <div class="col-md-6">
                <h3>Basisdaten</h3>
                <pre>@baseData</pre>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-2"><b>Text:</b></div>
        <div class="col-md-10">@Html(exercise.text)</div>
    </div>


</section>

<hr>

<section>
    <h3>Musterlösungen</h3>

    @for(sampleSolTriple <- exercise.sampleSolutions grouped 2) {
        <div class="row">
        @for(sampleSol <- sampleSolTriple) {
            <div class="col-md-6">
                <h4>@sampleSol.language.entryName</h4>
                <pre>@sampleSol.sample</pre>
            </div>
        }
        </div>
    }
</section>

<hr>

<section>
    <h3>Mustertestdaten</h3>

    @for(sampleTestDataTriple <- exercise.sampleTestData grouped 3) {
        <div class="row">
        @for(sampleTestData <- sampleTestDataTriple) {
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">Input (Json):</div>
                    <div class="col-md-9"> <pre>@sampleTestData.inputAsJson</pre></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Output:</div>
                    <div class="col-md-9"><code>@sampleTestData.output</code></div>
                </div>
            </div>
        }
        </div>
    }
</section>
