@(completeEx: model.programming.ProgCompleteEx)

<section>
    <div class="row">
        <div class="col-md-6">
            <h3>Standarddaten</h3>

            <div class="row">
                <div class="col-md-4"><b>ID:</b></div>
                <div class="col-md-8">@completeEx.id</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Titel:</b></div>
                <div class="col-md-8">@completeEx.title</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Autor:</b></div>
                <div class="col-md-8">@completeEx.author</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Status:</b></div>
                <div class="col-md-8">@completeEx.state</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Name der Fkt.:</b></div>
                <div class="col-md-8">@completeEx.functionName</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b>Signatur:</b></div>
                <div class="col-md-8"><code>(@completeEx.inputTypes.map(_.inputType.typeName).mkString(", ")) &rarr;
                    @completeEx.outputType.typeName </code>
                </div>
            </div>
        </div>

        @completeEx.baseData.map { baseData =>
            <div class="col-md-6">
                <h3>Basisdaten</h3>
                <pre>@baseData</pre>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-2"><b>Text:</b></div>
        <div class="col-md-10">@Html(completeEx.text)</div>
    </div>


</section>

<hr>

<section>
    <h3>Musterlösungen</h3>

    @for(sampleSolTriple <- completeEx.sampleSolutions grouped 2) {
        <div class="row">
        @for(sampleSol <- sampleSolTriple) {
            <div class="col-md-6">
                <h4>@sampleSol.language.entryName</h4>
                <pre>@sampleSol.solution</pre>
            </div>
        }
        </div>
    }
</section>

<hr>

<section>
    <h3>Mustertestdaten</h3>

    @for(sampleTestDataTriple <- completeEx.sampleTestData grouped 3) {
        <div class="row">
        @for(sampleTestData <- sampleTestDataTriple) {
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">Input (Json):</div>
                    <div class="col-md-9"> <pre>@sampleTestData.inputAsJson</pre></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Output:</div>
                    <div class="col-md-9"><code>@sampleTestData.output</code></div>
                </div>
            </div>
        }
        </div>
    }
</section>
