<div class="container">
  <ng-container *ngIf="collectionToolAdminQuery; else loadingDataTemplate">

    <h1 class="title is-3 has-text-centered">Administration Tool {{collectionToolAdminQuery.tool.name}}</h1>

    <div class="buttons">
      <a href="" class="button is-primary is-fullwidth" routerLink="../index">Zurück zur Administrationsstartseite</a>
    </div>

    <br>

    <div class="columns">
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Sammlungen</p>
          </header>
          <div class="card-content">{{collectionToolAdminQuery.tool.collectionCount}} Sammlungen</div>
          <footer class="card-footer">
            <a routerLink="collections" class="card-footer-item">Administration der Sammlungen</a>
          </footer>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Lektionen</p>
          </header>
          <div class="card-content">{{collectionToolAdminQuery.tool.lessonCount}} Lektionen</div>
          <footer class="card-footer">
            <a routerLink="lessons" class="card-footer-item">Administration der Lektionen</a>
          </footer>
        </div>
      </div>
    </div>


  </ng-container>
</div>

<ng-template #loadingDataTemplate>
  <div class="notification is-primary has-text-centered">Lade Daten...</div>
</ng-template>
