@(columnMatch: model.querycorrectors.ColumnMatch)

<tr class="@columnMatch.getBSClass">
  <td><span class="@columnMatch.getMatchType"></span></td>
  <td>
    <span class="@if(columnMatch.colNamesMatched) {text-success} else {text-danger}">
      @columnMatch.getFirstColName
    </span>
    <span class="@if(columnMatch.restMatched) {text-success} else {text-danger}">
      @columnMatch.getFirstRest
    </span>
  </td>
  <td>
    <span class="@if(columnMatch.colNamesMatched) {text-success} else {text-danger}">
      @columnMatch.getSecondColName
    </span>
    <span class="@if(columnMatch.restMatched) {text-success} else {text-danger}">
      @columnMatch.getSecondRest
    </span>
  </td>
</tr>
