@(result: model.sql.SqlQueryResult)

@colNames = @{result.getColumnNames()}

<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
      @for(colName <- colNames) {
        <th>@colName</th>
      }
      </tr>
    </thead>
    <tbody>
    @for(row <- result.getRows()) {
      <tr>
      @for(cell <- row.getCells(colNames)) {
        <td @if(cell.isDifferent()) {class="danger"}>@cell.getContent()</td>
      }
      </tr>
    }
    </tbody>
  </table>
</div>