@(result: model.querycorrectors.SqlResult)

@execResult = @{result.executionResult}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nutzer</th>
      <th>Muster</th>
    </tr>
  </thead>
  <tbody>
  @matching.matchingResult.render(result.notEmptyMatchingResults)
  
  @if(execResult != null) {
    <tr class="active">
      <th colspan="4" class="text-@execResult.getBSClass text-center">
        <span class="@execResult.getGlyphicon"></span> Vergleich ihrer L&ouml;sung mit der Musterl&ouml;sung
      </th>
    </tr>
    <tr class="@execResult.getBSClass">
      <td></td>
      <td>
        @if(execResult.userResult == null) {
          Es gab einen Fehler bei der Ausf&uuml;hrung ihrer L&ouml;sung!
        } else {
          @resultTemplates.resultTable.render(execResult.userResult)
        }
      </td>
      <td>
        @if(execResult.sampleResult == null) {
          Es gab einen Fehler bei der Ausf&uuml;hrung der Musterl&ouml;sung!
        } else {
          @resultTemplates.resultTable.render(execResult.sampleResult)
        }
      </td>
      <td></td>
    </tr>
  }
    
  </tbody>
</table>
