@(result: model.querycorrectors.change.UpdateResult)

@execResult = @{result.getExecutionResult()}

<table class="table">
  <thead>
    <tr>
      <th/>
      <th>Nutzer</th>
      <th>Muster</th>
    </tr>
  </thead>
  <tbody>
@matchingResult.render(result.getColumnComparison())

@matchingResult.render(result.getWhereComparison())
  </tbody>
</table>

<div class="row">
  <div class="col-md-12">
    <!-- User / Sample Query result -->
    <div class="panel panel-@execResult.getBSClass()">
      <div class="panel-heading">Vergleich ihrer L&ouml;sung mit der Musterl&ouml;sung</div>
      <div class="panel-body">
        <div class="col-md-6">
          <p>Ihre L&ouml;sung:</p>
          @if(execResult.getUserResult() == null) {
            Es gab einen Fehler bei der Ausf&uuml;hrung ihrer L&ouml;sung!
          } else {
            @resultTemplates.resultTable.render(execResult.getUserResult())
          }
        </div>
        <div class="col-md-6">
          <p>Musterl&ouml;sung:</p>
          @if(execResult.getSampleResult() == null) {
            Es gab einen Fehler bei der Ausf&uuml;hrung der Musterl&ouml;sung!
          } else {
            @resultTemplates.resultTable.render(execResult.getSampleResult())
          }
        </div>
      </div>
    </div>
  </div>
</div>