@(whereComp: model.matching.MatchingResult[net.sf.jsqlparser.expression.BinaryExpression])

@matches = @{whereComp.getMatches()}
@missings = @{whereComp.getMissing()}
@wrongs = @{whereComp.getWrong()}

<div class="panel panel-@whereComp.getBSClass()">
  <div class="panel-heading">Vergleich der Bedingungen</div>
  <div class="panel-body">
    <div class="row">
    @for(mat <- matches) {
      <div class="col-md-6">
        <div class="alert alert-success">Ihre Bedingung <code>@mat.getFirstArg()</code> stimmt mit der Musterlösung &uuml;berein.</div>
      </div>
    }
    </div>

    <div class="row">
    @if(missings.isEmpty()) {
      <div class="col-md-12">
      	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Es fehlen keine Bedingungen.</div>
      </div>
    } else {
    @for(missing <- missings) {
      <div class="col-md-6">
        <div class="alert alert-danger">Die Bedingung <code>@missing</code> fehlt!</div>
      </div>
    }
    }
    </div>
    
    <div class="row">
    @if(wrongs.isEmpty()) {
      <div class="col-md-12">
      	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Es sind keine &uuml;berz&auml;hligen Bedingungen vorhanden.</div>
      </div>
    } else {
    @for(wrong <- wrongs) {
      <div class="col-md-6">
        <div class="alert alert-danger">Die Bedingung <code>@wrong</code> ist falsch!</div>
      </div>
    }
    }
    </div>
  </div>
</div>