@(exercise: model.spread.SpreadExercise)

<div class="row">
    <div class="col-md-3"><b>ID</b></div>
    <div class="col-md-9">@exercise.id</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Titel:</b></div>
    <div class="col-md-9">@exercise.title</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Autor:</b></div>
    <div class="col-md-9">@exercise.author</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Text:</b></div>
    <div class="col-md-9">@exercise.text</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Status:</b></div>
    <div class="col-md-9">@exercise.state</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Angabe:</b></div>
    <div class="col-md-9">@exercise.templateFilename</div>
</div>

<div class="row">
    <div class="col-md-3"><b>Musterl&ouml;sung:</b></div>
    <div class="col-md-9">@exercise.sampleFilename</div>
</div>