@(user: model.User, exercise: model.uml.UmlCompleteEx, curPart: model.uml.UmlExPart, getsHelp: Boolean, toolObject: model.uml.UmlToolMain)

@scriptsBefore = {
    <!-- Important: Order of Scripts -->
    <script src="@routes.Assets.versioned("lib/lodash/lodash.js")"></script>
    <script src="@routes.Assets.versioned("lib/backbonejs/backbone.js")"></script>
    <script src="@routes.Assets.versioned("lib/jointjs/dist/joint.js")"></script>
}

@scripts = {
    @* Javascript Routes *@
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

@core.helperTemplates.fullScreenScripts.render()

    <script src="@routes.ExerciseController.umlClassDiag(exercise.id, curPart.urlName)"></script>

    <script src="@routes.Assets.versioned("javascripts/uml/editModal.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/uml/classDiagDrawing.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/uml/classDiagCorrection.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/uml.css")">

        <!--suppress JSUnusedLocalSymbols -->
    <script>
            let getsHelp = @{getsHelp};
    </script>
}

@main("UML-Test", Some(user), scripts, scriptsBefore) {

        <!-- Modal for editing of classes -->
    @core.helperTemplates.modal("Bearbeitung Klasse", "classEditModal", "lg") {
        TODO!
    }

    @core.helperTemplates.modal("Eingabe / Änderung Kardinalitäten", "cardinalityEditModal", "lg") {
        TODO!
    }

    @core.helperTemplates.modal("Multiplizitäten", "multiplicityEditModal") {
        <p>TODO!</p>
    }

    @core.helperTemplates.modal("Bearbeitungshinweise", "hintModal") {
        @views.html.uml.classDiagDrawingExplanation.render(getsHelp)
    }

    <div class="container-fluid" id="fullsc">
        <div class="row">
            <div class="col-md-6" id="paperDiv">

                <div class="well text-justify">@exercise.textForPart(curPart)</div>

                <section id="buttonsDiv">

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="CLASS" onclick="selectButton(this);" id="classButton"
                            @if(getsHelp) {
                                @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                            }>

                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                            <span id="classType">Klasse</span>
                        </button>

                        <button class="btn btn-default" data-toggle="dropdown" @if(getsHelp) {
                            @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                        }>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                        @for(classType <- model.uml.UmlEnums.UmlClassType.values) {
                            <li>
                                <a data-conntype="@classType.name " onclick="selectClassType(this);">@classType.german </a>
                            </li>
                        }
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="IMPLEMENTATION" onclick="selectButton(this);">
                            <span class="glyphicon glyphicon-arrow-up"></span> Vererbung
                        </button>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="ASSOCIATION" onclick="selectButton(this);" id="assocButton">
                            <span class="glyphicon glyphicon-resize-horizontal"></span>
                            <span id="assocType">
                                Assoziation</span>
                        </button>
                        <button class="btn btn-default" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                        @for(assocType <- model.uml.UmlEnums.UmlAssociationType.values) {
                            <li>
                                <a data-conntype="@assocType.name " onclick="selectAssocType(this);">@assocType.germanName </a>
                            </li>
                        }
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" data-conntype="POINTER" onclick="selectButton(this);" title="Maus">
                            @*<span class="glyphicon glyphicon-screenshot"></span>*@Attribute und Methoden
                        </button>
                    </div>
                </section>

                <div id="sizepaper">
                    <div ondrop="drop(event)" ondragover="allowDrop(event)" id="paper"></div>
                </div>
            </div>


            <div class="col-md-6">
                <h2>@exercise.titleForPart(curPart)</h2>

                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#hintModal">Bearbeitungshinweise</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-block" onclick="toggleFullscreen()">
                                Toggle Fullscreen <span class="glyphicon glyphicon-resize-full" id="fullscBtnSpan"></span></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" id="testButton" class="btn btn-primary btn-block">Aufgabe verifizieren</button>
                        </div>
                    </div>
                </div>

                <input hidden id="toolType" value="@toolObject.urlPart" title="hidden">
                <input hidden type="number" id="exerciseId" value="@exercise.ex.id" title="hidden">
                <input hidden id="exercisePart" value="@curPart.urlName" title="hidden">


                <h2>Resultate</h2>

                <div class="row">
                    <div id="resultDiv"></div>
                </div>

                <div class="form-group">
                    <a class="btn btn-primary btn-block" href="@routes.ExerciseController.exercise(toolObject.urlPart, exercise.ex.id, model.uml.MemberAllocation.urlName)">
                        Nächster Aufgabenteil: Zuordnung der Attribute und Methoden</a>
                </div>
            </div>
        </div>
    </div>
}
