@(user: model.User, exercise: model.uml.UmlCompleteEx, getsHelp: Boolean)

    @curPart = @{
        if(getsHelp) model.uml.DiagramDrawingHelp else model.uml.DiagramDrawing
    }

    @title = @{
        if(getsHelp) "Modellierung der Beziehungen" else "Freies Zeichnen"
    }

    @scripts = {
        <script src="@routes.Assets.versioned("lib/lodash/lodash.js")"></script>
        <script src="@routes.Assets.versioned("lib/backbonejs/backbone.js")"></script>
        <script src="@routes.Assets.versioned("lib/jointjs/dist/joint.js")"></script>

        <script src="@routes.Assets.versioned("javascripts/uml/diagramdrawing.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/uml.css")">

            <!--suppress JSUnusedLocalSymbols -->
        <script>
                const defaultClasses = [
                    @if(getsHelp) @{Html(exercise.getClassesForDiagDrawingHelp)}
                ];
                let getsHelp = @{getsHelp};
        </script>

        <style>
                textarea {
                    resize: vertical;
                }
        </style>
    }

    @main("UML-Test", Some(user), scripts) {

            <!-- Modal for editing of classes -->
        @core.helperTemplates.modal.render("Bearbeitung Klasse", "classEditModal", "lg", new Html("TODO!"))

        @views.html.uml.diagDrawingExplanation.render(getsHelp)



        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8" id="paperDiv">
                    <div id="sizepaper">
                        <div ondrop="drop(event)" ondragover="allowDrop(event)" id="paper"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h2>@title


                    </h2>


                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hintModal">&#65311;</button>

                    <h2>Aufgabentext</h2>
                    <div class="well text-justify">
                    @if(getsHelp) {
                        @exercise.ex.text
                    } else {
                        @Html(exercise.ex.diagDrawText)
                    }
                    </div>


                    <section id="buttonsDiv">
                        <h2>Bearbeitung</h2>

                        <div>
                            <div class="btn-group">
                                <button class="btn btn-primary" data-conntype="POINTER" onclick="selectButton(this);" title="Maus">
                                    <span class="glyphicon glyphicon-screenshot"></span>
                                </button>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-default" data-conntype="CLASS" onclick="selectButton(this);" id="classButton"
                                    @if(getsHelp) {
                                        @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                                    }>

                                    <span class="glyphicon glyphicon-menu-hamburger"></span> <span id="classType">Klasse</span>
                                </button>

                                <button class="btn btn-default" data-toggle="dropdown" @if(getsHelp) {
                                    @Html("""disabled title="Es wurden bereits alle Klassen erstellt!" """)
                                }>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                @for(classType <- model.uml.UmlEnums.UmlClassType.values) {
                                    <li>
                                        <a data-conntype="@classType.name " onclick="selectClassType(this);">@classType.german </a>
                                    </li>
                                }
                                </ul>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-default" data-conntype="IMPLEMENTATION" onclick="selectButton(this);">
                                    <span class="glyphicon glyphicon-arrow-up"></span> Vererbung
                                </button>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-default" data-conntype="ASSOCIATION" onclick="selectButton(this);" id="assocButton">
                                    <span class="glyphicon glyphicon-resize-horizontal"></span> <span id="assocType">
                                    Assoziation</span>
                                </button>
                                <button class="btn btn-default" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu">
                                @for(assocType <- model.uml.UmlEnums.UmlAssociationType.values) {
                                    <li>
                                        <a data-conntype="@assocType.name " onclick="selectAssocType(this);">@assocType.germanName </a>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>

                        <hr>

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button class="btn btn-default" onclick="backwards();" disabled title="Rückgängig: Noch nicht implementiert...">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                </button>
                            </div>

                            <div class="btn-group">
                                <a href="" id="a" class="btn btn-default" onclick="exportDiagram();">
                                    <span class="glyphicon glyphicon-download"></span> Export
                                </a>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-default" onclick="importDiagram();" title="Import: Noch nicht implementiert..." disabled>
                                    <span class="glyphicon glyphicon-upload"></span> Import
                                </button>
                            </div>

                            <div class="btn-group">
                                <button class="btn btn-default" onclick="forwards();" disabled title="Vorwärts: Noch nicht implementiert...">
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                </button>
                            </div>
                        </div>
                    </section>

                    <hr>

                    <form method="post" onsubmit="return prepareFormForSubmitting();" action="@controllers.exes.routes.ExerciseController.correct("uml", exercise.ex.id, part = curPart.urlName) ">
                        <input title="hidden" type="hidden" hidden name="@model.uml.UmlConsts.learnerSolutionName" id="@model.uml.UmlConsts.learnerSolutionName">
                        <button class="btn btn-primary btn-block">Aufgabe verifizieren</button>
                    </form>

                </div>

            </div>
        </div>
    }
