@(getsHelp: Boolean)

<!-- Modal for hints -->
@core.helperTemplates.modal("Bearbeitungshinweise", "hintModal") {
    <!-- FIXME: update both types of hints with currect way... -->
    @if(getsHelp) {
        <p>Vervollst&auml;ndigen Sie das vorliegende UML-Klassendiagramm weiter, indem Sie die Beziehungen zwischen den Klassen modellieren.</p>
        <ul>
            <li>W&auml;hlen Sie zuerst die Art der Beziehung durch das Aktivieren des jeweiligen Buttons aus.</li>
            <li>Anschlie&szlig;end klicken Sie auf zuerst auf den Namen der Klasse und klicken dann auf die andere Klasse.</li>
            <li>Im folgendem Popup-Fenster sollen Sie nun die Multiplizit&auml;ten zwischen den Klassen angeben.</li>
            <li>Um bereits erstellte Beziehungen zu l&ouml;schen, hovern Sie mit der Maus &uuml;ber ihr und klicken auf das erscheinende rote Kreuz.</li>
            <li>Nachdem Sie die Beziehungen, die Sie modellieren wollen, erstellt haben, k&ouml;nnen Sie die Ausgabe mittels Buttons verifizieren.</li>
        </ul>
    } else {
        <p>Erstellen Sie ein UML-Klassendiagramm, indem Sie die Beziehungen zwischen den Klassen, inklusive Methoden und Attributen, modellieren.</p>
        <ul>
            <li>
                <b>Klassen erzeugen:</b>
                Mittels Drag-and-Drop k&ouml;nnen Sie W&ouml;rter aus dem Aufgabentext in die rechts liegende Zeichenfläche ziehen um Klassen zu erzeugen.
                Alternativ k&ouml;nnen Sie auch
            </li>
            <li>
                <b>Klassen verschieben:</b>
                Mittels gedr&uuml;ckter Maustaste k&ouml;nnen Sie die jeweilige Klasse verschieben.
            </li>
            <li>
                <b>Klassen l&ouml;schen:</b>
                Klicken Sie auf den Button "Klasse l&ouml;schen" und anschließend auf die Klasse. Sämtliche Beziehungen werden ebenfalls entfernt.
            </li>
            <li>
                <b>Hinzuf&uuml;gen von Methoden / Attributen:</b>
                Klicken Sie auf den Button "Methode hinzuf&uuml;gen" bzw. "Attribut hinzuf&uuml;gen" und anschließend auf die Klasse.
                Mittels Pop-up k&ouml;nnen Sie den gew&uuml;nschten Wert eintragen und mit "OK" bestätigen.
            </li>
            <li>
                <b>Entfernen von Methoden / Attributen:</b>
                Klicken Sie auf den Button "Methode entfernen" bzw. "Attribut entfernen" und anschließend auf die Klasse.
                Mittels Pop-up k&ouml;nnen Sie die Stelle angeben, welche entfernt werden soll.(Beispiel:
                Der Eintrag 2 l&ouml;scht den zweiten Eintrag in der entsprechenden Aufzählung)
            </li>
            <li>
                <b>Beziehungen zwischen Klassen erstellen:</b>
                W&auml;hlen Sie zuerst die Art der Beziehung (z.B. Standard), durch das Aktivieren des jeweiligen Buttons aus.
                Anschlie&szlig;end klicken Sie auf zuerst auf den Namen der Klasse und klicken dann auf die andere Klasse.
                Im folgendem Popup-Fenster sollen Sie nun die Multiplizit&auml;ten zwischen den Klassen angeben.
                Um bereits erstellte Beziehungen zu l&ouml;schen, hovern Sie mit der Maus &uuml;ber die Verbindung und klicken auf das erscheinende rote Kreuz.
                Nachdem Sie alle Beziehungen modelliert haben, k&ouml;nnen Sie die Ausgabe mittels Buttons verifizieren.
            </li>
        </ul>
    }
}