@(user: model.User, exercise: model.uml.UmlCompleteEx)

@scripts = {
    <script src="@controllers.routes.Assets.versioned("javascripts/uml/allocation.js")"></script>
}

@main("UML", Some(user), scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Zuordnung der Attribute und Methoden</h1>
        </div>

        <h3>Aufgabentext</h3>

        <div class="well">@exercise.ex.text</div>

        <hr>

        @for(clazzQuadruple <- exercise.ex.solution.classes grouped 4) {
            <div class="row">
            @for(completeClass <- clazzQuadruple) {
                <div class="col-md-3">

                    <div class="panel panel-default" data-clazz="@completeClass.className">
                        <div class="panel-heading">@completeClass.className</div>

                        <div class="panel-body">

                            @for(attr <- exercise.allAttributes) {
                                <div class="checkbox">
                                    <label><input type="checkbox" data-class="@completeClass.className" data-membertype="attribute"
                                    data-value="@attr"> @attr
                                    </label>
                                </div>
                            }

                        <hr>

                            @for(method <- exercise.allMethods) {
                                <div class="checkbox">
                                    <label><input type="checkbox" data-class="@completeClass.className" data-membertype="method"
                                    data-vlaue="@method"> @method
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            }

            </div>
        }

        <hr>

        @* FIXME: part... *@
        <form action="@routes.ExerciseController.correct("uml", exercise.ex.id, part = model.uml.MemberAllocation.urlName)"
        method="post" onsubmit="return prepareFormForSubmitting();">
            <input type="text" title="hidden" hidden name="@model.uml.UmlConsts.learnerSolutionName" id="@model.uml.UmlConsts.learnerSolutionName">
            <button class="btn btn-primary btn-block">Aufgabenteil korrigieren</button>
        </form>

    </div>
}
