@(user: model.User, result: model.uml.UmlCompleteResult, toolMain: model.uml.UmlToolMain)

@title = @{
    "Korrektur: Zuordnung der Member"
}

@describeClassMemberMatch(memberMatch: model.uml.matcher.UmlClassMemberMatch, name: String, pronoun: String) = {
    <div class="alert alert-@memberMatch.getBSClass">
    @memberMatch.matchType match {
        case model.Enums.MatchType.SUCCESSFUL_MATCH => {
            Die Angabe @name <code>@memberMatch.userArg.getOrElse("FEHLER!")</code> ist korrekt. @pronoun ist auch in der Musterlösung vorhanden.
        }
        case model.Enums.MatchType.PARTIAL_MATCH => {

        }
        case model.Enums.MatchType.UNSUCCESSFUL_MATCH => {

        }
        case model.Enums.MatchType.ONLY_SAMPLE => {
            Die Angabe @name <code>@memberMatch.sampleArg.getOrElse("FEHLER!") </code> fehlt. @pronoun ist in der Musterlösung vorhanden.
        }
        case model.Enums.MatchType.ONLY_USER => {
            Die Angabe @name <code>@memberMatch.userArg.getOrElse("FEHLER!")</code> war falsch. @pronoun ist nicht in der Musterlösung vorhanden.
        }
        case _ => {
            @memberMatch.matchType
        }
    }
    </div>
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        @result.classResult match {
            case None => {
                <div class="alert alert-danger">Es gab einen Fehler bei der Korrektur!</div>
            }
            case Some(classRes) => {
                @for(classMatchTuple <- classRes.allMatches grouped 2) {
                    <div class="row">
                    @for(classMatch <- classMatchTuple) {
                        <div class="col-md-6">
                            <div class="panel panel-@classMatch.getBSClass">
                                <div class="panel-heading">@classMatch.userArg.map(_.className)</div>
                                <div class="panel-body">
                                    @for(attrMatch <- classMatch.attributesResult.allMatches) {
                                        @describeClassMemberMatch(attrMatch, "des Attributes", "Es")
                                    }

                                <hr>

                                @for(methodMatch <- classMatch.methodsResult.allMatches) {
                                    @describeClassMemberMatch(methodMatch, "der Methode", "Sie")
                                }
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                }
            }
        }

        <hr>

        <a class="btn btn-block btn-primary" href="@routes.ExerciseController.index(toolMain.urlPart)">Bearbeitung beenden</a>
    </div>
}