@(user: model.User, result: model.uml.UmlCompleteResult, toolMain: model.uml.UmlToolMain)

@title = @{
    "Korrektur: Zuordnung der Member"
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        @result.classResult match {
            case None => {
                <div class="alert alert-danger">Es gab einen Fehler bei der Korrektur!</div>
            }
            case Some(classRes) => {
                @for(classMatch <- classRes.allMatches) {
                    @classMatch
                }
            }
        }

        todo!
    </div>
}