@(completeEx: model.uml.UmlCompleteEx)

<div class="row">
    <div class="col-md-6">

    </div>

    <div class="col-md-6">
        <h2>Mappings</h2>
        <ul>
            @for(mapping <- completeEx.mappings) {
                <li>@mapping.key &rarr;
                    @mapping.value</li>
            }
        </ul>

        <h2>Ignoriert</h2>
        <ul>
        @for(toIgnore <- completeEx.ex.splitToIgnore) {
            <li>@toIgnore</li>
        }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Klassenwahltext</p>
        <div class="well pre-scrollable">@completeEx.ex.classSelText</div>
    </div>

    <div class="col-md-6">
        <p>Diagrammzeichnentext</p>
        <div class="well pre-scrollable">@completeEx.ex.diagDrawText</div>
    </div>
</div>

<td>
    <p>Lösung</p>
    <p>@completeEx.ex.solution.classes</p>
    <p>@completeEx.ex.solution.associations</p>
    <p>@completeEx.ex.solution.implementations</p>
</td>