@import model.regex.{RegexCompleteEx, RegexToolMain, RegexConsts}

@(user: model.User, exerciseForm: Form[RegexCompleteEx], isCreation: Boolean, toolMainObject: RegexToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@additionalScripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/regex/editRegexExerciseForm.js")');</script>
}

@specialFields = {
    <fieldset>
        <legend class="text-center">Musterlösungen</legend>

        <div class="row">
            <div class="col-md-2"><p class="text-center">ID</p></div>
            <div class="col-md-8"><p class="text-center">Musterlösung</p></div>
            <div class="col-md-2"><p class="text-center">Löschen</p></div>
        </div>

        <div id="sampleSolsDiv">
        @helper.repeat(exerciseForm(RegexConsts.samplesName), min = 1) { sampleField =>
            <div class="form-group row" id="sample_row_@sampleField(RegexConsts.idName).value">
                <div class="col-md-2">
                @myhelpers.input(sampleField(RegexConsts.idName), "number", isReadOnly = true)
                </div>
                <div class="col-md-8">
                @myhelpers.input(sampleField(RegexConsts.sampleName), placeHolder = Some("Musterlösung"), isRequired = true)
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-block deleteSampleSolBtn" title="Musterlösung löschen"
                    data-solutionid="@sampleField(RegexConsts.idName).value">
                        <span class="octicon octicon-x"></span>
                    </button>
                </div>
            </div>
        }
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-outline-primary btn-block" title="Weitere Musterlösung" id="addSampleSolBtn">
                <span class="octicon octicon-plus"></span>
            </button>
        </div>

    </fieldset>

    <fieldset>
        <legend class="text-center">Testdaten</legend>

        <div class="row">
            <div class="col-md-2"><p class="text-center">ID</p></div>
            <div class="col-md-6"><p class="text-center">Daten</p></div>
            <div class="col-md-2"><p class="text-center">Enthalten</p></div>
            <div class="col-md-2"><p class="text-center">Löschen</p></div>
        </div>

        <div id="testDataDiv">
        @helper.repeat(exerciseForm(RegexConsts.testDataName), min = 1) { testDataField =>
            <div class="form-group row" id="testdata_row_@testDataField(RegexConsts.idName).value">
                <div class="col-md-2">
                @myhelpers.input(testDataField(RegexConsts.idName), "number", isReadOnly = true)
                </div>
                <div class="col-md-6">
                @myhelpers.input(testDataField(RegexConsts.dataName), placeHolder = Some("Testdaten"), isRequired = true)
                </div>
                <div class="col-md-2">
                @myhelpers.input(testDataField(RegexConsts.includedName), isRequired = true)
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-block deleteTestDataBtn" title="Testdateneintrag löschen"
                    data-testdataid="@testDataField(RegexConsts.idName).value">
                        <span class="octicon octicon-x"></span>
                    </button>
                </div>
            </div>
        }
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-outline-primary btn-block" title="Weitere Musterlösung" id="addTestDataBtn">
                <span class="octicon octicon-plus"></span>
            </button>
        </div>

    </fieldset>

    <hr>
}


@idExercises.editExerciseBaseForm(user, exerciseForm, isCreation, toolMainObject, specialFields, additionalScripts)