@import model.regex.{RegexCompleteEx, RegexExPart, RegexToolMain, RegexDBSolution}

@(user: model.User, toolMainObject: RegexToolMain, exercise: RegexCompleteEx, part: RegexExPart, oldSolution: Option[String])(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@additionalScripts = {
    <script>SystemJS.import('@routes.Assets.versioned("app/regex/regexExercise.js")');</script>
}

@idExercises.textExercise(user, Html(exercise.text), exercise, part, oldSolution.getOrElse(""), toolMainObject, additionalScripts)