@(user: model.user.User, answer: model.FreetextAnswer)

@main("Bewertung Freitextantwort", user) {
<div class="container">
  <div class="page-header">
    <h1>Bewertung Freitextantwort</h1>
  </div>
  
  <h2>Fragentext: &quot;@answer.question&quot;</h2>
  
  <div class="row">
    <div class="col-md-6">
      <pre>@answer.answer</pre>
    </div>
    
    <div class="col-md-6">
      <textarea rows="20"></textarea>
    </div>
  </div>
  
  <hr>
  
  <button class="btn btn-primary btn-block">Bewertung eintragen</button>
  
</div>
}