@(user: model.user.User)

@import model.question._
@notAssignedQuestions = @{java.util.Collections.emptyList()}@*Question.notAssignedQuestions()*@

@statistics = {
<li>
  Es existieren insgesamt <a href="@questions.routes.QuestionController.questions()">
   @model.question.Question.finder.query().findCount() Fragen</a> in allen Kategorien
  <ul>
    
  @if(!notAssignedQuestions.isEmpty()) {
    <li>Es gibt noch @notAssignedQuestions.size()
      <a href="@questions.routes.QuestionAdmin.notAssignedQuestions()">nicht zugeordnete Fragen</a>.
      Sie k&ouml;nnen Sie <a href="@questions.routes.QuestionAdmin.assignQuestionsForm()">hier</a> zuweisen.
    </li>
  }
  </ul>
</li>
<li>Es existieren @model.Quiz.finder.all().size() <a href="@questions.routes.QuestionController.quizzes()">Quiz(ze)</a></li>
}

@calls = @{new model.AdminRoutesObject(
  questions.routes.QuestionController.questions(),
  questions.routes.QuestionController.newQuestionForm(false),
  questions.routes.QuestionAdmin.exportExercises(),
  questions.routes.QuestionAdmin.importExercises(),
  questions.routes.QuestionAdmin.getJSONSchemaFile(),
  questions.routes.QuestionAdmin.uploadFile()
)}

@admin.adminMain(user, "Fragen", statistics, calls) { }
