@(user: model.user.User, questionList: List[model.question.Question])

<a href="@questions.routes.QuestionAdmin.adminIndex" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

<hr>

@for(question <- questionList) {
<div class="panel panel-default">
  <div class="panel-heading">Aufgabe @question.id</div>
  <div class="panel-body">
    <p>Aufgabentext: @question.text</p>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Korrekt</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
      @*@for(ans <- question.answers) {
        <tr>
          <td>@ans.key.id</td>
          <td>@ans.correctness</td>
          <td>@ans.text</td>
        </tr>
      }*@
      </tbody>
    </table>
  </div>
</div>
}
