@(user: model.user.User, quiz: model.quiz.Quiz)

<a href="@questions.routes.QuestionAdmin.adminIndex" class="btn btn-primary btn-block">Zur&uuml;ck zur Administratorseite</a>

<hr>

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Das Quiz wurde erstellt.</h1>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Daten</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Wert</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID</td>
            <td>@quiz.getId</td>
          </tr>
          <tr>
            <td>Title</td>
            <td>@quiz.getTitle</td>
          </tr>
          <tr>
            <td>Thema</td>
            <td>@quiz.getTheme</td>
          </tr>
          <tr>
            <td># Fragen</td>
            <td>@@quiz.questions.size</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="alert alert-info">Sie k&ouml;nnen dem Quiz
  <a href="@questions.routes.QuestionAdmin.assignQuestionsForm" class="alert-link">hier</a> Fragen zuweisen.</div>
  
</div>
}