@(user: model.User, collection: model.CompleteCollectionWrapper, exes: Seq[model.CompleteEx[_ <: model.Exercise]],
        toolMainObject: controllers.exes.AExCollectionToolMain, currentSite: Int, numOfSites: Int)


@main("Collection", Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@toolMainObject.collectionSingularName &quot;@collection.coll.coll.title&quot;</h1>
        </div>

        <div class="row">
            <div class="col-md-1">Tags</div>
            <div class="col-md-1">Link</div>
            <div class="col-md-9">Text</div>
        </div>

        <hr>

        @for(ex <- exes) {
            <div class="row">
                <div class="col-md-1">@for(tag <- ex.tags) {
                    @tag.render
                }</div>
                <div class="col-md-1">
                    <a href="@controllers.exes.routes.CollectionController.exercise(toolMainObject.urlPart, collection.coll.coll.id, ex.ex.id)" class="btn btn-default btn-block">@ex.ex.id</a></div>
                <div class="col-md-9">@ex.ex.text</div>
            </div>

            <br>
            }


        @core.helperTemplates.bsPager.render(currentSite, numOfSites,
            index => controllers.exes.routes.CollectionController.collection(toolMainObject.urlPart, collection.coll.coll.id, index))

    </div>
}
