@import model.toolMains.CollectionToolMain
@(user: model.User, collections: Seq[model.CompleteCollectionWrapper], rest: Html, toolObject: CollectionToolMain, pages: Int)

@main(toolObject.toolname, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">übersicht über verfügbare Aufgaben</h1>
        </div>

        @if(collections.isEmpty) {
            <div class="alert alert-danger">Es existieren bisher keine Aufgaben in dieser Kategorie. Wenden Sie Sich bitte an den Administrator.</div>
        } else {
            @rest

            <div class="row">
                <div class="col-sm-2"><h4>Id</h4></div>
                @if(toolObject.hasTags) {
                    <div class="col-sm-2"><h4>Tags</h4></div>
                }
                <div class="col-sm-3"><h4>Titel</h4></div>
                <div class="col-sm-5"><h4>Link(s)</h4></div>
            </div>

            <hr>

            @for(collection <- collections) {
                <div class="row">
                    <div class="col-sm-2">@collection.coll.coll.id</div>
                    <div class="col-sm-3">@collection.coll.coll.title</div>
                    <div class="col-sm-5">
                        <div class="btn-group btn-group-justified">
                            <a href="@controllers.exes.routes.CollectionController.collection(toolObject.urlPart, collection.coll.coll.id)" class="btn btn-primary">Zur Sammlung</a>
                        </div>
                    </div>
                </div>

                <hr>
                }
            @*<div class="text-center">*@
            @*<ul class="pagination">*@
            @* @for(i <- 1 until pages) {*@
            @*<li><a href="@toolObject.exerciseListRoute(i)">@i</a></li>*@
            @*}*@
            @*</ul>*@
            @*</div>*@
        }
    </div>
}
