@(result: model.core.CompleteResult[_], resultAsHtml: Html, user: model.User, toolMainObject: model.toolMains.AToolMain)

@main(toolMainObject.toolname.toUpperCase(), Some(user)) {
    <div class="container">

        <div class="alert alert-success">
            Ihre Lösung wurde gespeichert. Sie können nun weitere <a href="@routes.MainExerciseController.index(toolMainObject.urlPart)">
            Aufgaben bearbeiten.</a>
        </div>

        <hr>

        <div class="row row-eq-CLASS_HEIGHT">
            <div class="col-md-6">
                <h2>Ihre Lösung</h2>
                @result.renderLearnerSolution
            </div>

            <div class="col-md-6">
                <h2>Korrektur</h2>
                @resultAsHtml
            </div>

        </div>
    </div>
}

