@(result: model.core.CompleteResult[_], resultAsHtml: Html, user: model.User, toolObject: model.core.tools.ToolObject)

@main(toolObject.toolname.toUpperCase(), Some(user)) {
    <div class="container">

        <div class="alert alert-success">
            Ihre L&ouml;sung wurde gespeichert. Sie k&ouml;nnen nun weitere <a href="@toolObject.indexCall">
            Aufgaben bearbeiten.</a>
        </div>

        <hr>

        <div class="row row-eq-height">
            <div class="col-md-6">
                <h2>Ihre L&ouml;sung</h2>
                @result.renderLearnerSolution
            </div>

            <div class="col-md-6">
                <h2>Korrektur</h2>
                @resultAsHtml
            </div>

        </div>
    </div>
}

