@(template: String)

<div class="form-group">
    <div class="input-group">

        <button type="button" class="form-control" onclick="changeFontSize(-2);">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>

        <span class="input-group-addon">Schriftgröße: <span id="fontSize">16</span> px</span>

        <button type="button" class="form-control" onclick="changeFontSize(+2);">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
</div>


<div id="editor" class="form-control">@template</div>