@(user: model.User, exercises: Seq[_ <: model.core.CompleteEx[_]], rest: Html, toolObject: model.core.tools.ExToolObject, pages: Int)

@main(toolObject.toolname, user) {
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">&Uuml;bersicht &uuml;ber verf&uuml;gbare Aufgaben</h1>
        </div>

        @if(exercises.isEmpty) {
            <div class="alert alert-danger">
                Es existieren bisher keine Aufgaben in der Kategorie @toolObject.toolname.
                Wenden Sie Sich bitte an den Administrator.</div>
        } else {
            @rest

            <div class="row">
                <div class="col-sm-2"><h4>Id</h4></div>
                <div class="col-sm-2"><h4>Tags</h4></div>
                <div class="col-sm-3"><h4>Title</h4></div>
                <div class="col-sm-5"><h4>Link(s)</h4></div>
            </div>

            <hr>

            @for(exercise <- exercises) {
                <div class="row">
                    <div class="col-sm-2">@exercise.ex.id</div>
                    <div class="col-sm-2">@for(tag <- exercise.tags) {
                        @tag.render
                    }</div>
                    <div class="col-sm-3">@exercise.ex.title</div>
                    <div class="col-sm-5">
                        <div class="btn-group btn-group-justified">
                        @for(exRoute <- toolObject.exerciseRoutes(exercise.ex)) {
                            <a href="@exRoute._1" class="btn btn-primary">@exRoute._2</a>
                        }
                        </div>
                    </div>
                </div>

                <hr>
            }

            <div class="text-center">
                <ul class="pagination">
                @for(i <- 1 until pages) {
                    <li><a href="@toolObject.exesListRoute(i)">@i</a></li>
                }
                </ul>
            </div>

        }
    </div>
}
