@(title: String, user: model.user.User)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/preferences.js")"></script>
}

@main(title, user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Präferenzen</h1>
        </div>

        <form class="form-horizontal" @*action="@controllers.routes.UserController.saveOptions"*@ method="post" onsubmit="return false;">

            <div class="form-group">
                <label class="control-label col-sm-3" for="posTests">Bestandene Tests</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <select class="form-control" id="posTests" onchange="update(this.id)" data-std="@user.todo">
                        @for(todo <- model.user.User.SHOW_HIDE_AGGREGATE.values) {
                            <option value="@todo" @todo.getSelected(user.todo)>@todo.getGerman </option>
                        }
                        </select>

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn_posTests" disabled onclick="savePreferences('posTests')">
                                Speichern...</button>
                        </span>
                    </div>
                </div>
            </div>

            <hr>

        </form>
    </div>
}
