@(exercise: model.Exercise, user: model.Student, defaultSolution: List[String]) @main("HTML-Test", user) {
<script src="@routes.Assets.versioned("javascripts/src-min/ace.js")"></script>

<script type="text/javascript">
  if("WebSocket" in window) {
    // Let us open a web socket
    var ws = new WebSocket("@routes.HTML.getWebSocket().webSocketURL(request)?ex=@exercise.id");
    
    ws.onopen = function() {
      // ws.send("Websocket opened!");
    };
    
    ws.onmessage = function(evt) {
      console_write(evt.data);
    };
    
    ws.onclose = function() {
      console_write("Websocket closed!");
    };
  }

  function console_write(msg) {
    var console = document.getElementById("feedBackDiv");
    console.innerHTML = "";
    var errors = msg.split("\n");
    for(err in errors) {
      if(errors[err].lastIndexOf("+") === 0) {
        var div = document.createElement("div");
        var att = document.createAttribute("class");
        att.value = "alert alert-success";
        div.setAttributeNode(att);
      } else {
        var div = document.createElement("div");
        var att = document.createAttribute("class");
        att.value = "alert alert-danger";
        div.setAttributeNode(att);
      }
      paragraph = document.createElement("p");
      paragraph.innerHTML = errors[err];
      div.appendChild(paragraph);
      console.appendChild(div);
    }
  }

  function send() {
    var text = editor.getValue();
    ws.send(text);
    document.getElementById('iframeid').src = document.getElementById('iframeid').src;
  }
</script>

<div class="row">

  <div class="col-sm-12 col-md-6">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#theeditor">Editor</a></li>
      <li><a data-toggle="tab" onclick="send()" href="#loesung">Ihre L&ouml;sung...</a></li>
    </ul>

    <div class="tab-content">
      <div id="theeditor" class="tab-pane in active">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-control" style="height: 500px;" id="editor">@for(line <- defaultSolution) {@line
}</div>
            <script>
                          var editor = ace.edit("editor");
                          editor.setTheme("ace/theme/eclipse");
                          editor.getSession().setMode("ace/mode/html");
                          editor.getSession().setTabSize(2);
                          editor.getSession().setUseWrapMode(true);
                          document.getElementById('editor').style.fontSize = '16px';
                        </script>
          </div>
        </div>
      </div>

      <div id="loesung" class="tab-pane">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe id="iframeid" class="embed-responsive-item" src="/solutions/@user.name/html/@exercise.id"></iframe>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#aufgabe">Aufgabenstellung: @exercise.title</a></li>
      <li><a data-toggle="tab" href="#example">Beispiell&ouml;sung</a></li>
      <li><a data-toggle="tab" href="#feedback">Feedback</a></li>
    </ul>

    <div class="tab-content">
      <div id="aufgabe" class="tab-pane in active">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>@exercise.text</p>
            @for(subExercise <- exercise.subExercises) {
            <div class="panel panel-default">
              <div class="panel-heading">@subExercise.id) @subExercise.title (@subExercise.getPoints Punkte)</div>
              <div class="panel-body">
                <div class="panel-group">@subExercise.text</div>
                @for(task <- subExercise.tasks) {
                <div class="panel panel-collapse panel-default">
                  <div class="panel-heading">- @task.taskDescription (@task.pts @if(task.pts == 1) {Punkt} else {Punkte})</div>
                  <div class="panel-body">Leerer Panelbody --> Feedback!</div>
                </div>
                }
              </div>
            </div>
            <hr>
            }
          </div>
        </div>
      </div>

      <div id="example" class="tab-pane">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Beispiell&ouml;sung:</h3>
            <img class="img-responsive center-block" src="@routes.Assets.versioned("images/sol1.jpg")" alt="Musterl&ouml;sung" width="640" height="360">
          </div>
        </div>
      </div>

      <div id="feedback" class="tab-pane">
        <div class="panel panel-default">
          <div class="panel-body" id="feedBackDiv">
            <h3>//TODO: Feedback...</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
}
