@import model._
@import model.user.User
@import model.html._

@(user: User, exercise: Exercise, result: List[ElementResult], solution: List[String]) 

@main("HTML-Test", user) {

<script src="@routes.Assets.versioned("javascripts/src-min/ace.js")"></script>

<div class="container">
  <div class="panel">
    <h2>Ihr Ergebnis: </h2>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <pre>@for(sol <- solution) {@sol
}       </pre>
      </div>
    </div>
    <div class="col-sm-6 panel-group">
    <div class="panel panel-default">
      <div class="panel-body"><a href="/html/@exercise.id">Neue L&ouml;sung hochladen...</a></div>
    </div>
      @for(solLine <- result) {
        @if(solLine.getSuccess() == Success.COMPLETE) {
          <div class="panel panel-success">
        } else {
          @if(solLine.getSuccess() == Success.PARTIALLY) {
            <div class="panel panel-info">
          } else {
            <div class="panel panel-danger">
          }
        }
        <div class="panel-heading" data-toggle="collapse" href="#task@solLine.getTask.id">
          @solLine.getTask.taskDescription (@solLine.getPoints @if(solLine.getPoints == 1) { Punkt} else { Punkte})
        </div>
      
        @if(solLine.getSuccess() == Success.COMPLETE) {
          <div id="task@solLine.getTask.id" class="panel-collapse collapse">
        } else {
          <div id="task@solLine.getTask.id" class="panel-collapse collapse in">
        }
        <div class="panel-body">
          @if(solLine.getSuccess() == Success.PARTIALLY || solLine.getSuccess() == Success.COMPLETE) {
            @for(attribute <- solLine.getAttributes) {
          	  @if(attribute.isFound) {
          	   	<div class="alert alert-success"><span class="glyphicon glyphicon-ok-circle"></span> Attribute "@attribute.getAttributeName" gefunden.</div>
              } else {
          	   	<div class="alert alert-danger"><span class="glyphicon glyphicon-remove-circle"></span> Attribute "@attribute.getAttributeName" nicht gefunden!</div>
              }
            }
          } else {
            <div class="alert alert-danger"><span class="glyphicon glyphicon-remove-circle"></span> @solLine.getElementNotFoundMessage()</div>
          }
        </div>
      </div>
    </div>
    }
    </div>
  </div>
  <div class="panel">
    <h3>Ihr Ergebnis wurde gespeichert.</h3>
  </div>
</div>

}