<div class="container is-fluid">

  <div class="columns">
    <div class="column is-half-desktop">
      <h1 class="title is-4 has-text-centered">Aufgabenstellung</h1>
      <div class="notification">
        {{exercise?.text}}
      </div>

      <h1 class="title is-4 has-text-centered">Anfrage</h1>

      <ngx-codemirror [(ngModel)]="solution" [options]="editorOptions"></ngx-codemirror>

      <div class="columns">
        <div class="column is-one-third-desktop">
          <button class="button is-link is-fullwidth" (click)="correct()">Lösung testen</button>
        </div>
        <div class="column is-one-third-desktop">
          <button class="button is-primary is-fullwidth" (click)="showSampleSolutions()">Musterlösungen anzeigen
          </button>
        </div>
        <div class="column is-one-third-desktop">
          <a class="button is-dark is-fullwidth" [routerLink]="['/tools', tool.id, 'collections', collection?.id]">
            Bearbeiten beenden
          </a>
        </div>
      </div>

      <h1 class="title is-4 has-text-centered">Datenbankschema...</h1>
    </div>

    <div class="column is-half-desktop">
      <h1 class="title is-4 has-text-centered">Korrektur</h1>

     <ng-container *ngIf="result" >

     </ng-container>

    </div>
  </div>

</div>
