<div class="container is-fluid">

  <div class="columns">

    <div class="column is-one-quarter-desktop">
      <h2 class="title is-3 has-text-centered">Filter</h2>

      <ul class="content">
        <li *ngFor="let tag of distinctTags">
          <label class="checkbox">
            <input type="checkbox" [checked]="filtersActivated.get(tag)" (change)="updateFilters(tag)">
            {{tag.title}}
          </label>
        </li>
      </ul>

    </div>

    <div class="column">
      <h1 class="title is-3 has-text-centered">Alle Aufgaben</h1>

      <ng-container *ngIf="filteredExerciseMetaData; else loadingExercisesBlock">

        <div class="columns is-multiline">
          <div class="column is-one-quarter-desktop" *ngFor="let metaData of filteredExerciseMetaData">
            <it4all-exercise-link-card [exercise]="metaData"></it4all-exercise-link-card>
          </div>
        </div>

      </ng-container>
    </div>
  </div>

  <ng-template #loadingExercisesBlock>
    <div class="notification is-danger has-text-centered">
      Lade Aufgaben...
    </div>
  </ng-template>

</div>
