<div class="container">
  <ng-container *ngIf="allExercisesOverviewQuery; else loadingExercisesBlock">

    <section>
      <h2 class="title is-3 has-text-centered">Filter</h2>

      <div class="columns is-multiline">
        <div class="column" *ngFor="let topicWithLevel of distinctTopicWithLevels">
          <button class="button is-fullwidth" [class.is-link]="filtersActivated.get(topicWithLevel.topic)"
                  (click)="toggleFilter(topicWithLevel)">
            {{topicWithLevel.topic.title}}
          </button>
        </div>
      </div>
    </section>

    <hr>

    <h1 class="title is-3 has-text-centered">Alle Aufgaben</h1>

    <div class="columns is-multiline">
      <div class="column is-one-quarter-desktop" *ngFor="let metaData of filteredExercises">
        <it4all-exercise-link-card [exercise]="metaData"></it4all-exercise-link-card>
      </div>
    </div>

  </ng-container>
</div>


<ng-template #loadingExercisesBlock>
  <div class="notification is-primary has-text-centered">Lade Aufgaben...</div>
</ng-template>

