@(user: model.User)

@scripts = {
    <!-- Important: Order of Scripts -->
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/umlActivity/webseite.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("lib/jointjs/dist/joint.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/umlActivity/activity.css")">
<script src="@routes.Assets.versioned("javascripts/umlActivity/jquery.js")"></script>
<script src="@routes.Assets.versioned("javascripts/umlActivity/lodash.js")"></script>
<script src="@routes.Assets.versioned("javascripts/umlActivity/backbone.js")"></script>
<!--
    <script src="@routes.Assets.versioned("lib/backbonejs/backbone.js")"></script>
-->
    <script src="@routes.Assets.versioned("javascripts/umlActivity/joint.js")"></script>
<script src="@routes.Assets.versioned("javascripts/umlActivity/drawing.js")"></script>
<script src="@routes.Assets.versioned("javascripts/umlActivity/converter.js")"></script>
<script src="@routes.Assets.versioned("javascripts/umlActivity/webseite.js")"></script>
<script src="@routes.Assets.versioned("javascripts/umlActivity/FileSaver.js")"></script>
}

@main("UML", user, scripts) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" id="leftblock">
                <div id="scroll">
                    <div ondrop="drop(event)" ondragover="allowDrop(event)" id="paper"></div>
                </div>
            </div>
            <div class="col-md-4" id="rightblock">
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Bedienungsanleitung</h4>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li>Mittels Drag and Drop können Elemente zur Zeichenfl&auml;che hinzugef&uuml;gt
                                        werden
                                    </li>
                                    <li>Verbindungen erstellen --> Maus innerhalb des blauen Kreises gedr&uuml;ckt halten
                                        und dann mittig zum
                                        gew&uuml;nschten Element
                                    </li>
                                    <li>Anleitung zum bearbeiten</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <h2>Aufgabenstellung
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        &#65311;
                    </button>
                </h2>
                <p>Im folgenden Szenario sollen Sie ein Aktivit&auml;tsdiagramm für die Funktion
                    "berechneKostenAllerFahrzeuge(): int". Als Basis dient das UML-Klassendiagramm Fahrzeugh&auml;ndler.
                    Als Eingabeparameter erhalten Sie ein Array mit Fahrzeugen des Typs LKW und PKW. Verwenden Sie bereits
                    definierte Methoden der Klassen um Zugriff auf die Daten zu erhalten. Als Rückgabeparameter wird ein Zahlenwert erwartet.
                </p>

                <hr>

                <div class="row">
                    <div class="col-md-5 drawingElements">
                        <button class="btn btn-default btn-block non-marked" data-baseform="elementAction" draggable="true"
                                ondragstart="drag(event)">Aktions-Element
                        </button>

                        <button class="btn btn-default btn-block non-marked" data-baseform="elementIf" draggable="true"
                                ondragstart="drag(event)">If-Then-Else Block
                        </button>

                        <button class="btn btn-default btn-block non-marked" data-baseform="elementFor" draggable="true"
                                ondragstart="drag(event)">For-In Schleife
                        </button>

                        <button class="btn btn-default btn-block non-marked" data-baseform="elementDoWhile" draggable="true"
                                ondragstart="drag(event)">Do-While Block
                        </button>

                        <button class="btn btn-default btn-block non-marked" data-baseform="elementWhileDo" draggable="true"
                                ondragstart="drag(event)">While-Do Block
                        </button>

                        <button class="btn btn-default btn-block non-marked" data-baseform="elementBasic" draggable="true"
                                ondragstart="drag(event)">Merge-Element
                        </button>
                    </div>

                    <div class="col-md-7">
                        <div class="input-group">
                            <select title="Programmiersprache" class="form-control" id="sel_lang">
                                <option value="java">Java</option>
                                <option value="python">Python</option>
                            </select>
                            <span class="input-group-addon">-Code</span>
                            <button class="form-control" onclick="generateCode()">generieren &#10148;</button>
                        </div>

                        <hr>

                        <input class="btn btn-block btn-default" type="file" id="file">

                        <div class="btn-group btn-group-justified">
                            <div class="btn-group">
                                <button class="btn btn-default" onclick="saveGraphAsTxt()">Exportieren</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default" id="graph_imp">Importieren</button>
                            </div>
                        </div>

                        <hr>

                        <h3>Zeichenfl&auml;che</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <button class="form-control" id="paperplus">+</button>
                                    <span class="input-group-addon">Gr&ouml;&szlig;e</span>
                                    <button class="form-control" id="paperminus">-</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <button class="form-control" id="zoomplus">+</button>
                                    <span class="input-group-addon">Zoom</span>
                                    <button class="form-control" id="zoomminus">-</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <hr>

                <h3>Ansicht</h3>
                <button class="btn btn-default" id="oleft">&#8592;</button>
                <button class="btn btn-default" id="otop">&#8593;</button>
                <button class="btn btn-default" id="viewreset">Reset</button>
                <button class="btn btn-default" id="obot">&#8595;</button>
                <button class="btn btn-default" id="oright">&#8594;</button>

                <hr>

                <h3>Programmiercode
                    <button type="button" class="btn btn-primary">
                        Abgabe
                    </button>
                </h3>
                <pre id="preCode">Ermittelter Code</pre>

            </div>
        </div>
    </div>
}