@()

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><b>Elemente/Links zur Zeichenfl&auml;che hinzufügen</b></a>
            </h5>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            <img src="@routes.Assets.versioned("images/umlActivity/element_create.gif")" style="width:760px;height:366px;">
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><b>Manipulationen innerhalb der Zeichenfl&auml;che</b></a>
            </h5>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Zum Ändern der Links mit gedrückter Maustaste vom Startport zum Zielport ziehen.
                            <IMG src="@routes.Assets.versioned("images/umlActivity/element_tab.gif")" style="width:357px;height:143px;">
                        </li>
                        <li>
                            Zum Speichern der eingetragenen Daten Tabulator drücken.
                            <IMG src="@routes.Assets.versioned("images/umlActivity/element_edit.gif")" style="width:624px;height:243px;">
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse31"><b>Einsatz von Verzweigungsknoten</b></a>
            </h5>
            <div id="collapse31" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Schleife mittels Verzweigungsknoten
                            @*<IMG src="gifs/mergeS.gif" height="100" width="150">*@
                        </li>
                        <li>
                            Entscheidungspfad bestimmen mittels Verzweigungsknoten
                            @*<IMG src="gifs/mergeI.gif" height="100" width="150">*@
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse3"><b>Optionen zur Zeichenfl&auml;che</b></a>
            </h5>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Ansicht
                            <ul>
                                <li>
                                    Browserabh&auml;ngig kann eine Vollansicht mittels &#10530; gestartet und durch &#10060; beendet werden.
                                </li>
                                <li>
                                    Verschieben der Zeichenfl&auml;che wird durch die verschiedenen Pfeilrichtungen definiert und durch den Resetbuttoon zur&uuml;ckgesetzt.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Zeichenfl&auml;che
                            <ul>
                                <li>
                                    Erweitern/Dezimieren der Zeichenfl&auml;che nach unten durch drücken des + bzw. - Größebuttons.
                                </li>
                                <li>
                                    Vergr&ouml;&szlig;ern/Verkleinern der Zeichenfl&auml;che durch drücken des + bzw. -Zoombuttons.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse4"><b>Konvertierung in Code</b></a>
            </h5>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Basierend auf der selektierten Programmiersprache wird das Diagramm in Programmiercode konvertiert.
                            Falls unzureichende Bedingungen hierf&uuml;r vorliegen, wird eine Fehlermeldung anstatt des Programmiercodes angezeigt.
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
                <!-- next Collapsible-->
            <h5 class="panel-title">
                <a data-toggle="collapse" href="#collapse5"><b>Import / Export</b></a>
            </h5>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            Mittels Datei ausw&auml;hlen k&ouml;nnen Sie bereits exportierte Diagramme hochladen und anschlie&szlig;end importieren.
                        </li>
                        <li>
                            Der Exportierenbutton l&auml;dt den aktuellen Graphen in eine Datei auf Ihren Computer.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>