@(user: model.user.User, result: model.QuestionResult)

@main("Auswahlfragen", user) {
<script src="@routes.Assets.versioned("javascripts/question.js")"></script>

<div class="container">
  <div class="page-header">
    <h1>@result.getQuestion().getText</h1>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <h4 class="bg-success text-center">Korrekt</h4>
      @for(correct <- result.getCorrect()) {
      <div class="panel panel-success">
        <div class="panel-heading"><span class="glyphicon glyphicon-ok"></span> @correct.asText</div>
        <div class="panel-body">TODO: Erkl&auml;rung</div>
      </div>
      }
    </div>

    <div class="col-sm-4">
      <h4 class="bg-danger text-center">Falsch</h4>
      @for(wrong <- result.getWrong()) {
      <div class="panel panel-danger">
        <div class="panel-heading"><span class="glyphicon glyphicon-remove"></span> @wrong.asText</div>
        <div class="panel-body">TODO: Erkl&auml;rung</div>
      </div>
      }
    </div>

    <div class="col-sm-4">
      <h4 class="bg-warning text-center">Fehlend</h4>
      @for(missing <- result.getMissing()) {
      <div class="panel panel-warning">
        <div class="panel-heading"><span class="glyphicon glyphicon-question-sign"></span> @missing.asText</div>
        <div class="panel-body">TODO: Erkl&auml;rung</div>
      </div>
      }
    </div>
  </div>
  
  <hr>
  
  <section>
    <h3>Wollen Sie die Frage bewerten?</h3>
    <input type="number" hidden name="stars" id="stars" value="-1">
    <div class="btn-group btn-group-justified">
      @for(i <- 1 until 6) {
      <div class="btn-group"><button type="button" class="btn btn-default" onclick="setStars(@i);">
          <span id="star@i" class="glyphicon glyphicon-star-empty"></span>  
        </button></div>
      }
    </div>
  </section>
  
  <hr>
  
  <a class="btn btn-default btn-block" href="@questions.routes.QuestionController.index()"> Zur Aufgaben&uuml;bersicht</a>
</div>
}