@(user: model.user.User, questionList: List[model.question.Question])

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th/>
        <th/>
        <th>Autor</th>
        <th>Titel</th>
        <th>Typ</th>
        <th>Max. Punktzahl</th>
        <th>Beantwortet</th>
      </tr>
    </thead>
    <tbody>
    
    @for(question <- questionList) {
      <tr>
        <td>@question.getId</td>
        @if(user.isAdmin() || user.name.equals(question.getAuthor)) {
        <td>
          <a href="@questions.routes.QuestionController.editQuestionForm(question.getId)" title="Frage editieren">
            <span class="glyphicon glyphicon-edit"></span></a>
        </td>
        <td>
          <a href="@@questions.routes.QuestionController.removeQuestion(question.id)" title="Frage l&ouml;schen">
            <span class="glyphicon glyphicon-remove-circle"></span></a>
        </td>
        <td>@question.getAuthor</td>
        } else {
        <td/>
        <td/>
        <td><span title="Keine ausreichende Berechtigung!" class="glyphicon glyphicon-question-sign"></span></td>
        }
        <td><a href="@questions.routes.QuestionController.question(question.getId)">@question.getTitle</a></td>
        @if(question.questionType == model.question.Question.QType.FREETEXT) {<td>Freitext</td>} else {<td>Gegebene Antworten</td>}
        <td>@question.maxPoints</td>
        @if(question.userHasAnswered(user.name)) {
        <td><span class="glyphicon glyphicon-ok"></span></td>
        } else {
        <td><span class="glyphicon glyphicon-minus"></span></td>
        }
      </tr>
    }
    </tbody>
  </table>