@(user: model.user.User, questionList: List[model.question.Question])

@isAdmin = @{user.role == model.user.Role.ADMIN}

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Alle Fragen</h1>
  </div>
  
  @if(questionList.isEmpty()) {
  <div class="alert alert-info">Bisher gibt es keine Fragen. Sie k&ouml;nnen
    <a class="alert-link" href="@questions.routes.QuestionController.newQuestionForm()">hier</a> eine erstellen.
  </div>
  } else {
  <table class="table text-center">
    <thead>
      <tr>
        <th>ID</th>
        <th/>
        <th/>
        <th>Autor</th>
        <th>Titel</th>
        <th>Max. Punktzahl</th>
      </tr>
    </thead>
    <tbody>
    
    @for(question <- questionList) {
      <tr>
        <td>@question.id</td>
        <td>
        @if(isAdmin || user.name.equals(question.author)) {
          <a href="@questions.routes.QuestionController.editQuestionForm(question.id)">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        }
        </td>
        <td>
        @if(isAdmin) {
      	  <a href="">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
      	}
      	</td>
        <td>
        @if(isAdmin || user.name.equals(question.author)) {
          @question.author
        } else {
          <span title="Keine ausreichende Berechtigung!" class="glyphicon glyphicon-question-sign"></span>
        }
        </td>
        <td><a href="@questions.routes.QuestionController.question(question.id)">@question.title</a></td>
        <td>@question.maxPoints</td>
      </tr>
    }
    
    </tbody>
  </table>
  }
</div>
}