@(user: model.user.User, quizzes: List[model.Quiz])

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Übersicht</h1>
  </div>

  <a class="btn btn-default btn-block" href="@questions.routes.QuestionController.questions()">Alle Fragen</a>
  
  <hr>
  
  <div class="btn-group btn-group-justified">
    <a class="btn btn-warning" href="@questions.routes.QuestionController.newQuestionForm(false)">
      <span class="glyphicon glyphicon-new-window"></span> Neue Frage mit gegebenen Antworten erstellen <sup><i>BETA!</i></sup>
    </a>
    <a class="btn btn-warning" href="@questions.routes.QuestionController.newQuestionForm(true)">
      <span class="glyphicon glyphicon-new-window"></span> Neue Freitextrage erstellen <sup><i>BETA!</i></sup>
    </a>
  </div>

</div>
}