@(user: model.user.User, quizzes: List[model.Quiz])

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Übersicht</h1>
  </div>

  @for(quiz <- quizzes) {
  <a class="btn btn-default btn-block" href="@questions.routes.QuestionController.quiz(quiz.id)">Quiz @quiz.title</a>
  }

  <hr>
  
  <a class="btn btn-default btn-block" href="@questions.routes.QuestionController.questions()">Alle Fragen</a>
  
  <hr>
  
  <a class="btn btn-warning btn-block" href="@questions.routes.QuestionController.newQuestionForm()">
  <span class="glyphicon glyphicon-new-window"></span> Neue Frage erstellen <sup><i>BETA!</i></sup>
  </a>

</div>
}