@(user: model.user.User, questionList: List[model.question.Question])

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Typ</th>
        <th>Max. Punktzahl</th>
        <th>Beantwortet</th>
      </tr>
    </thead>
    <tbody>
    
    @for(question <- questionList) {
      <tr>
        <td>@question.getId</td>
        <td><a href="@questions.routes.QuestionController.exercise(question.getId)">@question.getTitle</a></td>
      @{question.questionType match {
        case model.question.Question.QType.FREETEXT => <td>Freitextfrage</td>
        case model.question.Question.QType.CHOICE => <td>Multiple Choice-Frage</td>
        case model.question.Question.QType.FILLOUT => <td></td>
		case _ => <td>FEHLER!</td>
      	}
      }
        <td>@question.maxPoints</td>
        @if(question.userHasAnswered(user.name)) {
        <td><span class="glyphicon glyphicon-ok"></span></td>
        } else {
        <td><span class="glyphicon glyphicon-minus"></span></td>
        }
      </tr>
    }
    </tbody>
  </table>