@(user: model.user.User, questionList: List[model.question.Question], quizzes: List[model.quiz.Quiz])

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Übersicht</h1>
  </div>

@if(!questionList.isEmpty) {
  @questionTable.render(user, questionList)
  <hr>
}
  
  <div class="btn-group btn-group-justified">
    <a class="btn btn-warning" href="@questions.routes.QuestionController.newQuestionForm(false)">
      <span class="glyphicon glyphicon-new-window"></span> Neue Frage mit gegebenen Antworten erstellen <sup><i>BETA!</i></sup>
    </a>
    <a class="btn btn-warning" href="@questions.routes.QuestionController.newQuestionForm(true)">
      <span class="glyphicon glyphicon-new-window"></span> Neue Freitextrage erstellen <sup><i>BETA!</i></sup>
    </a>
  </div>

</div>
}