@(user: model.user.User, quizzes: List[model.Quiz])

@isAdmin = @{user.role == model.user.Role.ADMIN}

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Alle Quizze</h1>
  </div>
  
  @*
  @if(quizzes.isEmpty()) {
  <div class="alert alert-info">Bisher gibt es keine Quizze. Sie k&ouml;nnen
    <a class="alert-link" href="@questions.routes.QuestionAdmin.newQuizForm()">hier</a> eines erstellen.
    </div>
  } else {
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Text</th>
        <th># Fragen</th>
        @if(isAdmin) {<th/>}
      </tr>
    </thead>
    <tbody>
    @for(quiz <- quizzes) {
      <tr>
        <td>@quiz.id</td>
        <td><a href="@questions.routes.QuestionController.quiz(quiz.id)">@quiz.title</a></td>
        <td>@quiz.text</td>
        <td>@quiz.questions.size()</td>
        @if(isAdmin) {
        <td><a href="@questions.routes.QuestionAdmin.assignQuestionsSingleForm(quiz.id)">Fragen zuweisen...</a>
        }
      </tr>
    }    
    </tbody>
  </table>
  }
  *@
  
</div>
}