@(user: model.user.User, quiz: model.Quiz)

@main("Auswahlfragen", user) {
<div class="container">
  <div class="page-header">
    <h1>Quiz &quot;@quiz.title&quot;</h1>
  </div>

  <section>
    <h3>Allgemeine Informationen</h3>
  
    <div class="row">
      <div class="col-xs-6 text-right">Thema: </div>
      <div class="col-xs-6">@quiz.theme</div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">Anzahl Fragen: </div>
      <div class="col-xs-6">@@quiz.questions.size()</div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-right">Maximal erreichbare Punktzahl: </div>
      <div class="col-xs-6">@@quiz.getMaxPoints() Punkte</div>
    </div>
  </section>
  
  <hr>
  
  <section>
    <h3>TODO: Statistiken f&uuml;r User...</h3>
  </section>
  
  @@if(quiz.questions.size() > 0) {
  <hr>
  
  <a class="btn btn-primary btn-block" href="@questions.routes.QuestionController.quizStart(quiz.id)">Quiz starten...</a>
  }
  
</div>
}