@(template: String, mode: String, minLines: Int, maxLines: Int, updatePrev: Boolean)

<script src="@routes.Assets.versioned("javascripts/ace/ace.js")"></script>
<script>
$(document).ready(function() {
  initEditor("@mode", @minLines, @maxLines);
  @if(updatePrev) {
  editor.on("change", updatePreview);
  updatePreview();
  }
});

</script>
<div class="panel panel-default">
  <div class="panel-heading">
  
    <div class="btn-group">
      <button type="button" class="btn btn-default" onclick="changeFontsize(-2);">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
      <span class="btn btn-default">Schriftgr&ouml;&szlig;e: <span id="fontsize">16</span> px</span>
      <button type="button" class="btn btn-default" onclick="changeFontsize(+2);">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
    
  </div>
  <div id="editor" class="form-control">@template</div>
  <textarea hidden name="learnerSolution" id="learnerSolution"></textarea>
</div>