@(user: model.user.User, readingError: model.exercisereading.ReadingError)

@main("Fehler beim Einlesen", user) {
<div class="container-fluid">
  <div class="page-header">
    <h1>Fehler beim Einlesen einer JSON-Datei</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h2>Eingelesenes Dokument</h2>
      <pre class="pre-scrollable">@readingError.json</pre>
    </div>
    <div class="col-md-6">
      <h2>JSON Schema</h2>
      <pre class="pre-scrollable">@readingError.jsonSchema</pre>
    </div>
  </div>
  
  <h2>Fehler</h2>
@for(cause <- readingError.getCauses) {
  <div class="col-md-6">  	
    <pre>@cause</pre>
  </div>
}
  
</div>
}