@(matchingResult: model.matching.MatchingResult[_, _ <: model.matching.Match[_]])

<tr class="active">
  <th colspan="4" class="text-@matchingResult.getBSClass() text-center">
    <span class="@matchingResult.getGlyphicon()"></span> Vergleich @matchingResult.getMatchName()
  </th>
</tr>
@for(aMatch <- matchingResult.getMatches()) {
  <tr class="@aMatch.getBSClass()">
    <td><span class="@aMatch.getMatchType()"></span></td>
    <td>
      <span class="@if(aMatch.isSuccessful()) {text-success} else {text-danger}">@aMatch.getUserArg()</span>
    </td>
    <td>
      <span class="@if(aMatch.isSuccessful()) {text-success} else {text-danger}">@aMatch.getSampleArg()</span>
    </td>
    <td>@aMatch.getExplanation()</td>
  </tr>
}
