@(user: model.user.User, questions: List[model.multchoice.MCQuestion])

<script src="@routes.Assets.versioned("javascripts/multchoice.js")"></script>

@main("MC-Test", user) {
<div class="container">
  <div class="page-header">
    <h1>MC-Test</h1>
  </div>
  @for(question <- questions) {
  <div class="panel panel-default">
    <div class="panel-heading">@{question.getId()}. @question.getQuestion()</div>
    <div class="panel-body">
    @for(i <- 0 until question.getAnswers().size()) {
      <div class="col-md-3">
        <button class="btn btn-block btn-default" id="@question.getId()_@i" data-selected="0" onclick="mark(this)">@{Character.toChars(97 + i)}) @question.getAnswers().get(i)</button>
      </div>
    }      
    </div>
    <div class="panel-footer">
      <button class="btn btn-block btn-default" onclick="control(@question.getId(), @question.getAnswers().size())">Kontrollieren</button>
    </div>
  </div>
  }
</div>
}