<div class="container">

  <h1 class="title is-3 has-text-centered" i18n>Registrieren</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="field">
      <label for="username" class="label"><span i18n>Nutzername</span>:</label>
      <div class="control">
        <input type="text" id="username" formControlName="username" class="input" required
               placeholder="Nutzername" i18n-placeholder autofocus>
      </div>
    </div>

    <div class="field">
      <label for="firstPassword" class="label"><span i18n>Passwort</span>:</label>
      <div class="control">
        <input type="password" id="firstPassword" formControlName="firstPassword" class="input"
               placeholder="Passwort" i18n-placeholder required>
      </div>
    </div>

    <div class="field">
      <label for="secondPassword" class="label"><span i18n>Passwort wiederholen</span>:</label>
      <div class="control">
        <input type="password" id="secondPassword" formControlName="secondPassword" class="input"
               placeholder="Passwort wiederholen" i18n-placeholder required>
      </div>
    </div>

    <div class="notification" *ngIf="registeredUsername">
      <span i18n>Nutzer</span>&nbsp;<code>{{registeredUsername}}</code>&nbsp;<span i18n>wurde erfolgreich registriert</span>.
    </div>

    <br>

    <div class="field">
      <div class="control">
        <button class="button is-link" i18n>Registrieren</button>
      </div>
    </div>

  </form>

</div>
