@(user: model.User, completeExercises: Seq[model.CompleteEx[_ <: model.Exercise]], toolMainObject: model.toolMains.AToolMain, toolList: model.toolMains.ToolList)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            SystemJS.import('@routes.Assets.versioned("app/admin/singleExAdmin.js")');
    </script>
}

@title = @{
    "Aufgabenübersicht " + toolMainObject.toolname
}

@admin.adminMain(title, user, toolList, Some(toolMainObject), scripts) {
    <div class="container">
        <h1 class="text-center">@title</h1>

        <a href="@routes.MainExerciseController.adminIndex(toolMainObject.urlPart)" class="btn btn-primary btn-block">
            Zurück zur Administratorseite</a>

        <input hidden id="toolType" value="@toolMainObject.urlPart" title="hidden">

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Aktionen</th>
                    <th>Titel</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
            @for(exercise <- completeExercises.map(_.ex)) {
                <tr id="tr1_@exercise.id">
                    <td>@exercise.id</td>

                    <td>
                        <div class="input-group">
                            <select title="Status ändern" class="form-control" id="state_@exercise.id" data-val="@exercise.state" data-id="@exercise.id">
                            @for(exState <- model.ExerciseState.values) {
                                <option @{
                                    if(exState == exercise.state) "selected" else ""
                                }>@exState</option>
                            }
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-info" id="scb_@exercise.id" data-id="@exercise.id" disabled
                                data-url="@routes.ExerciseController.adminChangeExState(toolMainObject.urlPart, exercise.id)">
                                    <span class="octicon octicon-cloud-upload"></span>
                                </button>
                            </div>
                        </div>
                    </td>

                    <td>
                        <a class="btn btn-secondary" title="Aufgabe @exercise.id bearbeiten" id="edit_@exercise.id"
                        href="@routes.ExerciseController.adminEditExerciseForm(toolMainObject.urlPart, exercise.id)">
                            <span class="octicon octicon-pencil"></span>
                        </a>

                        <button class="btn btn-danger" title="Aufgabe @exercise.id löschen" id="del_@exercise.id"
                        data-url="@routes.ExerciseController.adminDeleteExercise(toolMainObject.urlPart, exercise.id)">
                            <span class="octicon octicon-x"></span>
                        </button>
                        <a href="@routes.ExerciseController.showSolutions(toolMainObject.urlPart, exercise.id)"
                        class="btn btn-info" title="Lösungen anzeigen"><span class="octicon octicon-file"></span></a>
                    </td>
                    <td>@exercise.title</td>
                    <td>@exercise.author</td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}