@(user: model.User, statistics: Html, toolMainObject: model.toolMains.AToolMain)

@title = @{
    "Administrator " + toolMainObject.toolname
}

@main(title, Some(user)) {
    <div class="container">
        <div class="page-header">
            <h1>@title</h1>
        </div>

        <section id="statistics">
            <h2>Statistiken</h2>
            <ul>
            @statistics
            </ul>
        </section>

        <hr>

        <section id="administration">
            <h2>Verwaltung der @toolMainObject.pluralName</h2>
            <a class="btn btn-default btn-block" href="@routes.ExerciseController.adminExerciseList(toolMainObject.urlPart)">
                Übersicht über alle Aufgaben</a>

                &nbsp;

            <a class="btn btn-default btn-block" href="@routes.ExerciseController.adminNewExerciseForm(toolMainObject.urlPart)">
                Neue Aufgabe erstellen</a>

                &nbsp;

            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" href="@routes.ExerciseController.adminExportExercises(toolMainObject.urlPart)">
                    Aufgaben als YAML exportieren</a>
                <a class="btn btn-default" href="@routes.ExerciseController.adminImportToRead(toolMainObject.urlPart)">
                    Aufgaben aus YAML importieren</a>
            </div>
        </section>

        <hr>

        <a class="btn btn-primary btn-block" href="@routes.ExerciseController.index(toolMainObject.urlPart)">
            Zu den Aufgaben</a>

    </div>
}