@import model.{User, CompleteEx}
@import model.toolMains.{AToolMain, ToolList}

@(user: User, readAndSaveResult: model.core.ReadAndSaveResult[_ <: CompleteEx[_]], toolMainObject: AToolMain, toolList: ToolList)

@dispExercise(compEx: model.CompleteEx[_]) = {
    <h2 data-toggle="collapse" data-target="#collapse_@compEx.id">Aufgabe: &quot;@compEx.title&quot;</h2>

    <div id="collapse_@compEx.id" class="collapse in">@compEx.preview</div>
}

@title = @{
    "Erstellte Aufgaben"
}

@admin.adminMain(title, user, toolList, Some(toolMainObject)) {
    @for(readAndSaveSuccesses <- readAndSaveResult.successes) {
        @* FIXME: remove cast ... *@
        @dispExercise(readAndSaveSuccesses.ex)
    }
    @* @Html(completeExercises map (ex => dispExercise(ex)) mkString "\n<hr>") *@
}
