@(user: model.User, readAndSaveResult: model.core.ReadAndSaveResult[_ <: model.CompleteEx[_ <: model.Exercise]],
        toolMainObject: model.toolMains.AToolMain, toolList: model.toolMains.ToolList)

    @dispExercise(compEx: model.CompleteEx[_ <: model.Exercise]) = {
        <h2 data-toggle="collapse" data-target="#collapse_@compEx.ex.id">Aufgabe: &quot;@compEx.ex.title&quot;</h2>

        <div id="collapse_@compEx.ex.id" class="collapse in">@compEx.preview</div>
    }

    @title = @{
        "Erstellte Aufgaben"
    }

    @admin.adminMain(title, user, toolList, Some(toolMainObject)) {
        @for(readAndSaveSuccesses <- readAndSaveResult.successes) {
            @* FIXME: remove cast ... *@
            @dispExercise(readAndSaveSuccesses.ex)
        }
        @* @Html(completeExercises map (ex => dispExercise(ex)) mkString "\n<hr>") *@
    }
