@(user: model.User, statistics: Html, toolMainObject: model.toolMains.AToolMain, toolList: model.toolMains.ToolList)

@title = @{
    "Administrator " + toolMainObject.toolname
}

@admin.adminMain(title, user, toolList, Some(toolMainObject)) {
    <h2 class="text-center">Verwaltung der @toolMainObject.pluralName</h2>

    <div class="form-group">
        <a href="@exes.routes.ExerciseController.adminExerciseList(toolMainObject.urlPart)"
        class="btn btn-secondary btn-block">Übersicht über alle Aufgaben</a>
    </div>

    <div class="form-group">
        <a href="@exes.routes.ExerciseController.exerciseReviewsList(toolMainObject.urlPart)"
        class="btn btn-info btn-block">Bewertungen aller Aufgaben</a>
    </div>

    <div class="form-group">
        <a href="@exes.routes.ExerciseController.adminNewExerciseForm(toolMainObject.urlPart)"
        class="btn btn-success btn-block">Neue Aufgabe erstellen</a>
    </div>

    <div class="form-group">
        <div class="btn-group d-flex">
            <a href="@exes.routes.ExerciseController.adminExportExercises(toolMainObject.urlPart)"
            class="btn btn-secondary w-100">Aufgaben als YAML exportieren</a>
            <a href="@exes.routes.ExerciseController.adminImportToRead(toolMainObject.urlPart)"
            class="btn btn-secondary w-100">Aufgaben aus YAML importieren</a>
        </div>
    </div>

    <hr>

    <h2 class="text-center">Lernpfade</h2>

    <div class="form-group">
        <a href="@routes.MainExerciseController.readLearningPaths(toolMainObject.urlPart)"
        class="btn btn-secondary btn-block">Lernpfade einlesen</a>
    </div>

    <hr>

    <div class="form-group">
        <a class="btn btn-primary btn-block" href="@routes.MainExerciseController.index(toolMainObject.urlPart)">
            Zu den Aufgaben</a>
    </div>

}