<div class="container">
  <h1 class="title is-3 has-text-centered">Administration Tools <code>it4all</code></h1>

  <br>

  <div class="columns is-multiline">
    <div class="column is-one-quarter-desktop" *ngFor="let collTool of collTools">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{collTool.name}}</p>
        </header>
        <div class="card-content"></div>
        <footer class="card-footer">
          <a class="card-footer-item" [routerLink]="['/admin', collTool.id ]">Zum Tool</a>
        </footer>
      </div>

    </div>
  </div>

</div>
