<ng-container *ngIf="!saved; else exerciseSavedBlock">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{exercise.id}}. {{exercise.title}}</p>
    </header>
    <div class="card-content">
      <pre class="exerciseJson">{{displayExercise(exercise)}}</pre>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" (click)="saveExercise()">Aufgabe speichern</a>
    </footer>
  </div>
</ng-container>
<ng-template #exerciseSavedBlock>
  <div class="notification is-success has-text-centered">
    Die Aufgabe {{exercise.id}}. '{{exercise.title}}' wurde gespeichert.
  </div>
</ng-template>
