@import model.tools.nary.{NAryNumber, NumberBase, NaryToolMain, NaryExParts, NaryConsts}

@(user: model.User, firstSummand: NAryNumber, secondSummand: NAryNumber, base: NumberBase, requestedBase: String, toolMain: NaryToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "Zahlensysteme: Addition"
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/nary/naryAddition.js")');</script>
}

@main(title, Some(user), scripts) {
    <div class="container">
        <h1>@title von <span id="base" data-base="@base.entryName">@base.pluralName</span></h1>

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">

                @helper.CSRF.formField

                <p><em class="text-info">
                    Binärzahlen bitte in 8-Bit-Darstellung mit führenden Nullen angeben.</em></p>

                <div class="form-group">
                    <div class="input-group">
                        <input title="Erster Summand" value="@firstSummand" id="firstSummand" readonly class="form-control text-right" name="@NaryConsts.FirstSummand">
                        <div class="input-group-append">
                            <span class="input-group-text"><sub>@base.base</sub></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+</span>
                        </div>
                        <input title="Zweiter Summand" value="@secondSummand" id="secondSummand" readonly class="form-control text-right" name="@NaryConsts.SecondSummand">
                        <div class="input-group-append">
                            <span class="input-group-text"><sub>@base.base</sub></span>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="input-group">
                        <input pattern="@base.htmlPattern" id="solution" autocomplete="off"
                        style="direction: rtl;
                            unicode-bidi: bidi-override;" autofocus
                        class="form-control text-right" name="@NaryConsts.solutionName" placeholder="Ihre Lösung" required>
                        <div class="input-group-append">
                            <span class="input-group-text"><sub>@base.base</sub></span>
                        </div>
                    </div>
                </div>

                <div id="correctnessHook"></div>

                <p>
                    <em class="text-danger">
                        Achtung: Aufgrund der üblichen Addition von rechts nach links erfolgt die Eingabe der Zahlen umgekehrt von rechts nach links!</em>
                </p>

                <div class="btn-group d-flex">
                    <button id="testBtn" class="btn btn-primary w-100">Testen</button>
                    <a href="@coll.routes.RandomExerciseController.newExercise(toolMain.urlPart, NaryExParts.NaryAdditionExPart.urlName)?base=@requestedBase"
                    class="btn btn-secondary w-100">Nächste Aufgabe</a>
                </div>

            </div>

            <div class="col-sm-3"></div>
        </div>

    </div>
}
