@import model.tools.nary.{NumberBase, NAryNumber, NaryToolMain, NaryExParts, NaryConsts}

@(user: model.User, startingNumber: NAryNumber, verbose: Boolean, toolMain: NaryToolMain)

@title = @{
    "Zahlensysteme: Zweierkomplement"
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/nary/twoComp.js")');</script>

    <style>
            textarea {
                resize: none;
            }
    </style>
}

@main(title, Some(user), scripts) {
    <div class="container">
        <h2 class="text-center">@title von @startingNumber</h2>

        <div class="row">
            <div class="col-sm-3"></div>

            <div class="col-sm-6">

                @helper.CSRF.formField

                <p><em class="text-info">
                    Binärzahlen bitte in 8-Bit-Darstellung mit führenden Nullen angeben.</em></p>

                <div class="form-group">
                    <div class="input-group">
                        <input value="@startingNumber" type="number" title="Vorgegebene Zahl" readonly class="form-control text-right"
                        name="@NaryConsts.valueName" id="@NaryConsts.valueName">
                        <div class="input-group-append">
                            <span class="input-group-text"><sub>@startingNumber.base.base</sub></span>
                        </div>
                    </div>
                </div>

                @if(verbose) {
                    <fieldset>
                        <legend>Binärdarstellung von @Math.abs(startingNumber.decimalValue)</legend>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">--></span>
                                </div>
                                <input pattern="@NumberBase.Binary.htmlPattern" autocomplete="off" autofocus class="form-control text-right"
                                name="@NaryConsts.BinaryAbs" id="@NaryConsts.BinaryAbs" placeholder="Ihre Lösung" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><sub>2</sub></span>
                                </div>
                            </div>
                        </div>


                        <div id="binAbsCorrectnessHook"></div>
                    </fieldset>

                    <fieldset>
                        <legend>Invertierung aller Bits</legend>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">--></span>
                                </div>
                                <input pattern="@NumberBase.Binary.htmlPattern" autocomplete="off" autofocus class="form-control text-right"
                                name="@NaryConsts.InvertedAbs" id="@NaryConsts.InvertedAbs" placeholder="Ihre Lösung" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><sub>2</sub></span>
                                </div>
                            </div>
                        </div>

                        <div id="invAbsCorrectnessHook"></div>
                    </fieldset>
                }

                <fieldset>
                    <legend>Zweierkomplement</legend>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">--></span>
                            </div>
                            <input pattern="@NumberBase.Binary.htmlPattern" autocomplete="off" autofocus class="form-control text-right"
                            name="@NaryConsts.solutionName" id="@NaryConsts.solutionName" placeholder="Ihre Lösung" required>
                            <div class="input-group-append">
                                <span class="input-group-text"><sub>2</sub></span>
                            </div>
                        </div>
                    </div>

                    <div id="correctnessHook"></div>
                </fieldset>

                <hr>

                <div class="btn-group d-flex">
                    <button id="testBtn" class="btn btn-primary w-100">Testen</button>
                    <a href="@coll.routes.RandomExerciseController.newExercise(toolMain.urlPart, NaryExParts.TwoComplementExPart.urlName)?verbose=@verbose"
                    class="btn btn-secondary  w-100">Nächste Aufgabe</a>
                </div>

            </div>

            <div class="col-sm-3"></div>
        </div>

        <hr>

        <h3>Platz für Notizen</h3>

        <em class="text-info">Notizen werden für die Korrektur nicht beachtet.</em>

        <textarea id="noteTextArea" title="Platz für Notizen" placeholder="Platz für Notizen" class="form-control" rows="10"></textarea>

    </div>
}
