<div class="container">
  <ng-container *ngIf="lessonsForToolQuery; else loadingLessonsBlock">

    <h1 class="title is-3 has-text-centered">Lektionen für {{lessonsForToolQuery.me.tool.name}}</h1>

    <div class="columns is-multiline" *ngIf="lessons.length > 0; else noLessonsFoundBlock">
      <div class="column is-half-desktop" *ngFor="let lesson of lessons">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">{{lesson.lessonId}}. {{lesson.title}}</p>
          </header>
          <div class="card-content">{{lesson.description}}</div>
          <div class="card-footer">
            <a href="" class="card-footer-item" [routerLink]="[lesson.lessonId]">Lektion beginnen</a>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</div>

<ng-template #loadingLessonsBlock>
  <div class="notification is-primary has-text-centered">Lade Lektionen...</div>
</ng-template>

<ng-template #noLessonsFoundBlock>
  <div class="notification is-danger has-text-centered">Es konnten keine Lektionen gefunden werden!</div>
</ng-template>
