<it4all-files-exercise
  *ngIf="exerciseFragment && contentFragment"
  [exerciseFiles]="exerciseFiles"
  [isCorrecting]="isCorrecting"
  [sampleSolutions]="sampleSolutions"
  (correct)="correct()"
  defaultMode="htmlmixed">

  <div exText class="content">
    <p>{{exerciseFragment.text}}</p>
    <ol *ngIf="partId === 'html'">
      <li *ngFor="let task of contentFragment.siteSpec.htmlTasks">
        {{task.text}}
      </li>
    </ol>
    <p *ngIf="partId === 'js'">
      Es gibt insgesamt {{contentFragment.siteSpec.jsTaskCount}} Testfälle.
    </p>
  </div>

  <ng-container correctionContent *ngIf="correctionResult">
    <it4all-solution-saved [solutionSaved]="correctionResult.solutionSaved"></it4all-solution-saved>

    <br>

    <it4all-points-notification [points]="result.points" [maxPoints]="result.maxPoints">
    </it4all-points-notification>

    <br>

    <div class="message" *ngIf="queryError">
      <div class="message-header">Es gab einen Fehler bei der Korrektur:</div>
      <div class="message-body">
        <pre>{{queryError.message}}</pre>
      </div>
    </div>

    <br>

    <div class="content">
      <ul *ngIf="result.gradedHtmlTaskResults.length > 0">
        <li *ngFor="let htmlResult of result.gradedHtmlTaskResults">
          <it4all-html-task-result [htmlResult]="htmlResult"></it4all-html-task-result>
        </li>

        <li *ngFor="let jsResult of result.gradedJsTaskResults">
          <span [ngClass]="jsResult.success === 'COMPLETE' ? 'has-text-success' : 'has-text-danger'">
           ({{jsResult.points}} / {{jsResult.maxPoints}})
            Test {{jsResult.id}} ist {{jsResult.success === 'COMPLETE' ? '' : 'nicht'}} korrekt:
          </span>

          {{jsResult | json}}
        </li>
      </ul>
    </div>
  </ng-container>

</it4all-files-exercise>
