<div class="container is-fluid">

  <div class="columns">
    <div class="column is-half-desktop">
      <it4all-exercise-files-editor
        [exerciseFiles]="exerciseFiles"
        [mode]="'htmlmixed'">
      </it4all-exercise-files-editor>
    </div>

    <div class="column is-half-desktop">

      <it4all-tabs>
        <it4all-tab [title]="'Aufgabenstellung'">
          <div class="notification is-light-grey">
            <div class="content">
              <p>{{exerciseFragment.text}}</p>
              <ol *ngIf="part.id === 'html'">
                <li *ngFor="let task of webExerciseContent.siteSpec.htmlTasks">
                  {{task.text}}
                </li>
              </ol>
              <p *ngIf="part.id === 'js'">
                Es gibt insgesamt {{webExerciseContent.siteSpec.jsTaskCount}} Testfälle.
              </p>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <button class="button is-link is-fullwidth" [class.is-loading]="isCorrecting" (click)="correct()">
                Korrektur
              </button>
            </div>
            <div class="column">
              <a [routerLink]="['../..']" class="button is-dark is-fullwidth">Bearbeiten beenden</a>
            </div>
          </div>
        </it4all-tab>

        <it4all-tab [title]="'Korrektur'">

          <ng-container *ngIf="resultQuery">

            <it4all-solution-saved [saved]="resultQuery.correctWeb.solutionSaved"></it4all-solution-saved>

            <br>

            <it4all-points-notification
              [points]="resultQuery.correctWeb.points"
              [maxPoints]="resultQuery.correctWeb.maxPoints">
            </it4all-points-notification>

            <br>

            <div class="content">
              <ul>
                <li *ngFor="let htmlResult of resultQuery.correctWeb.gradedHtmlTaskResults">
                  <span [ngClass]="htmlResult.isSuccessful ? 'has-text-success' : 'has-text-danger'">
                    ({{htmlResult.points}} / {{htmlResult.maxPoints}})
                    Teilaufgabe {{htmlResult.id}} ist {{htmlResult.isSuccessful ? '' : 'nicht'}} korrekt:
                  </span>
                  <ul>
                    <li [ngClass]="htmlResult.elementFound ? 'has-text-success' : 'has-text-danger'">
                      Das Element konnte {{htmlResult.elementFound ? '' : 'nicht'}} gefunden werden!
                    </li>

                    <li *ngFor="let attributeResult of htmlResult.attributeResults"
                        [ngClass]="attributeResult.isSuccessful ? 'has-text-success' : 'has-text-danger'">
                      Das Attribut <code>{{attributeResult.keyName}}</code>
                      <ng-container *ngIf="attributeResult.maybeFoundContent">
                        sollte den Wert <code>{{attributeResult.awaitedContent}}</code> haben.
                        Gefunden wurde <code>{{attributeResult.maybeFoundContent}}</code>.
                      </ng-container>
                      <ng-container *ngIf="!attributeResult.maybeFoundContent">
                        wurde nicht gefunden!
                      </ng-container>
                    </li>

                    <li *ngIf="htmlResult.textContentResult"
                        [ngClass]="htmlResult.textContentResult.isSuccessful ? 'has-text-success' : 'has-text-danger'">
                      Das Element sollte den Textinhalt <code>{{htmlResult.textContentResult.awaitedContent}}</code>
                      haben.
                      Gefunden wurde <code>{{htmlResult.textContentResult.maybeFoundContent}}</code>.
                    </li>
                  </ul>
                </li>

                <li *ngFor="let jsResult of resultQuery.correctWeb.gradedJsTaskResults">
                  <span [ngClass]="jsResult.success === 'COMPLETE' ? 'has-text-success' : 'has-text-danger'">
                   ({{jsResult.points}} / {{jsResult.maxPoints}})
                    Test {{jsResult.id}} ist {{jsResult.success === 'COMPLETE' ? '' : 'nicht'}} korrekt:
                  </span>

                  {{jsResult | json}}
                </li>
              </ul>
            </div>

          </ng-container>

        </it4all-tab>

        <it4all-tab [title]="'Live-Vorschau'"></it4all-tab>
        <it4all-tab [title]="sampleSolutionsTabTitle">
          <div class="buttons">
            <button class="button is-primary is-fullwidth" (click)="toggleSampleSolutions()">
              Musterlösung {{displaySampleSolutions ? 'ausblenden' : 'anzeigen'}}
            </button>
          </div>

          <ng-container *ngIf="displaySampleSolutions">
            <ng-container *ngFor="let sample of sampleSolutions">
              <ng-container *ngFor="let exFile of sample; let last = last">
                <it4all-exercise-file-card [exerciseFile]="exFile"></it4all-exercise-file-card>

                <br *ngIf="!last">
              </ng-container>
            </ng-container>

          </ng-container>
        </it4all-tab>
      </it4all-tabs>

    </div>
  </div>

</div>
