@(result: model.sql.SqlQueryResult)

    @colNames = @{
        result.columnNames
    }

    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                @for(colName <- colNames) {
                    <th>@colName</th>
                }
                </tr>
            </thead>
            <tbody>
            @for(row <- result.rows) {
                <tr>
                @for(cell <- row.getCells(colNames)) {
                    <td @if(cell.different) {
                        class="danger"
                        }>@cell.content</td>
                }
                </tr>
            }
            </tbody>
        </table>
    </div>