@(sqlExercise: model.tools.sql.SqlExercise)

<table class="table">
    <tr>
        <th>ID</th>
        <td>@sqlExercise.id</td>

        <th>SzenarioID</th>
        <td>@sqlExercise.collectionId</td>

        <th>Autor</th>
        <td>@sqlExercise.author</td>
    </tr>
    <tr>
        <th>Status</th>
        <td colspan="2">@sqlExercise.state</td>

        <th>Aufgabentyp</th>
        <td colspan="2">@sqlExercise.exerciseType</td>
    </tr>
    <tr>
        <th>Text</th>
        <td colspan="5">@sqlExercise.text</td>
    </tr>
    <tr>
        <th>Hinweis</th>
        <td colspan="5">@sqlExercise.hint.getOrElse("--")</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td colspan="5">@sqlExercise.tags.map(_.entryName).mkString(", ")</td>
    </tr>
</table>

@for(sample <- sqlExercise.samples) {
    <div class="form-group">
        <div class="card">
            <div class="card-body bg-light">
                <pre>@sample.sample</pre>
            </div>
        </div>
    </div>
}
