@(sqlCompleteEx: model.sql.SqlCompleteEx)

<div class="row">
    <div class="col-md-6">
        <h3>Standardwerte</h3>

        <table class="table">
            <tr>
                <th>ID</th>
                <td>@sqlCompleteEx.ex.id</td>
            </tr>
            <tr>
                <th>SzenarioID</th>
                <td>@sqlCompleteEx.ex.collectionId</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>@sqlCompleteEx.ex.title</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>@sqlCompleteEx.ex.author</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>@sqlCompleteEx.ex.text</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>@sqlCompleteEx.ex.state</td>
            </tr>
            <tr>
                <th>Aufgabentyp</th>
                <td>@sqlCompleteEx.ex.exerciseType</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>@sqlCompleteEx.tags.map(_.entryName).mkString(", ")</td>
            </tr>
            <tr>
                <th>Hinweis</th>
                <td>@sqlCompleteEx.ex.hint.getOrElse("--")</td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <h3>Musterlösungen</h3>

        @for(sample <- sqlCompleteEx.samples) {
            <pre>@sample.sample </pre>
        }
    </div>
</div>

