@(user: model.User, exercise: model.sql.SqlCompleteEx, oldOrDefSol: String, tables: Seq[model.sql.SqlQueryResult],
        scenario: model.sql.SqlScenario, numOfExes: Int, toolMainObject: model.sql.SqlToolMain)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <script>
            SystemJS.import('@routes.Assets.versioned("app/sql/sqlExercise.js")');
    </script>

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                font-size: 14px;
                height: 150px;
            }
    </style>
}

@main("SQL", Some(user), scripts) {
    <div class="container-fluid">

        <input type="number" hidden id="collId" value="@scenario.id" title="hidden">
        <input type="number" hidden id="exerciseId" value="@exercise.ex.id" title="hidden">

        <div class="row">
            <div class="col-sm-3">
                <section>
                    <h2 class="text-center">Info</h2>

                    <div class="form-group">
                        <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#databaseSchema">
                            Datenbankschema</button>
                    </div>

                    @for(tableTuple <- tables grouped 2) {
                        <div class="form-group">
                            <div class="row">
                            @for(table <- tableTuple) {
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#@table.tableName">@table.tableName</button>
                                </div>
                            }
                            </div>
                        </div>
                    }

                    @core.helperTemplates.modal("Datenbankschema", "databaseSchema", "lg") {
                        <img class="img-rounded img-responsive center-block" src="@routes.Assets.versioned(s"images/sql/${scenario.shortName + ".png"}")" alt="Datenbankschema">
                        }

                    @for(table <- tables) {
                        @core.helperTemplates.modal("Tabelle: " + table.tableName, table.tableName, "lg") {
                            @views.html.collectionExercises.sql.resultTable.render(table)
                        }
                    }
                </section>
            </div>

            <div class="col-sm-4">
                <h2 class="text-center">Aufgabe &quot;@exercise.ex.title&quot;</h2>

                <div class="well">
                    <p>@exercise.ex.text</p>
                    @exercise.ex.hint match {
                        case Some(hint) => {
                            <p><i>Hinweis:</i>
                                @hint</p>
                        }
                        case None => {}
                    }
                </div>

                <div class="form-group">
                    <div class="btn-group d-flex">
                        @if(exercise.id > 1) {
                            <a href="@routes.CollectionController.exercise(toolMainObject.urlPart, scenario.id, exercise.id - 1)"
                            class="btn btn-outline-secondary w-100"><span class="octicon octicon-arrow-left"></span></a>
                        } else {
                            <a class="btn btn-outline-secondary w-100 disabled"><span class="octicon octicon-arrow-left"></span></a>
                        }
                        <button class="btn btn-success w-100" id="testBtn">Lösung testen</button>
                        <a class="btn btn-secondary w-100" href="@routes.CollectionController.collection("sql", scenario.id)">
                            Bearbeitung beenden</a>
                        @if(exercise.id < numOfExes) {
                            <a href="@routes.CollectionController.exercise(toolMainObject.urlPart, scenario.id, exercise.id + 1)"
                            class="btn btn-outline-secondary w-100"><span class="octicon octicon-arrow-right"></span></a>
                        } else {
                            <a class="btn btn-outline-secondary w-100 disabled"><span class="octicon octicon-arrow-right"></span></a>
                        }
                    </div>
                </div>

                <textarea id="sqlEditor" title="Editor">@oldOrDefSol</textarea>

            </div>

            <div class="col-sm-5">
                <h2 class="text-center">Korrektur</h2>

                <div id="correctionDiv" hidden>
                    <div id="correction"></div>
                </div>
            </div>

        </div>

        <hr>

        <div id="executionResultsDiv"></div>

    </div>

}
