@(sqlCompleteEx: model.sql.SqlCompleteEx)

<table class="table">
    <tr>
        <th>ID</th>
        <td>@sqlCompleteEx.ex.id</td>

        <th>SzenarioID</th>
        <td>@sqlCompleteEx.ex.collectionId</td>

        <th>Autor</th>
        <td>@sqlCompleteEx.ex.author</td>
    </tr>
    <tr>
        <th>Status</th>
        <td colspan="2">@sqlCompleteEx.ex.state</td>

        <th>Aufgabentyp</th>
        <td colspan="2">@sqlCompleteEx.ex.exerciseType</td>
    </tr>
    <tr>
        <th>Text</th>
        <td colspan="5">@sqlCompleteEx.ex.text</td>
    </tr>
    <tr>
        <th>Hinweis</th>
        <td colspan="5">@sqlCompleteEx.ex.hint.getOrElse("--")</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td colspan="5">@sqlCompleteEx.tags.map(_.entryName).mkString(", ")</td>
    </tr>
</table>

@for(sample <- sqlCompleteEx.samples) {
    <div class="form-group">
        <div class="card">
            <div class="card-body bg-light">
                <pre>@sample.sample</pre>
            </div>
        </div>
    </div>
}
