@(user: model.user.User, exercises: List[model.SpreadExercise])

@main("Spread: Aufgabenübersicht", user) {
<div class="container">
  <div class="page-header">
    <h1>Verf&uuml;gbare Aufgaben</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Text</th>
        <th>Typ</th>
        <th>Fixed Start</th>
        <th>Referenzdateiname</th>
      </tr>
    </thead>
    <tbody>
    @for(ex <- exercises) {
      <tr>
        <td>@ex.getId</td>
        <td>@ex.getTitle</td>
        <td>@ex.getText</td>
@*        <td>@ex.exerciseType</td>
        <td>@if(ex.fixedStart.isEmpty()) {--} else {<pre>@ex.fixedStart</pre>}</td>
        <td>@ex.referenceFileName</td>
*@      </tr>
    }
    </tbody>
  </table>
</div>
}