@(user: model.user.User, exercise: model.SpreadExercise)

@main("Spread-Test", user) {
<div class="container">
  <form action="#@*@spread.routes.SpreadController.correct(exercise.id)*@" method="post" onsubmit="prepareFormForSubmitting();">
  
    <div class="row">
      <div class="col-md-6">
        <div class="page-header">
          <h1>Aufgabenstellung</h1>
        </div>
  
        @exercise.getText
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-md-12">
        <h2>Bemerkungen</h2>
        <div id="correction"></div>
      </div>
    </div>
    
    <hr>
    
    <button type="button" class="btn btn-primary btn-block"
      onclick="@*testTheSolution('@spread.routes.Spread.correctLive(exercise.id)');*@">L&ouml;sung testen</button>
    <input type="submit" class="btn btn-success btn-block" value="L&ouml;sung abgeben">
  
  </form>
</div>
}
