@(solution: String, results: List[model.XMLError], user: model.user.User)

@main("XML-Test", user) {
<div class="container-fluid">

  <div class="alert alert-success">
    Ihre L&ouml;sung wurde gespeichert. Sie k&ouml;nnen sich nun <a href="
      @controllers.core.routes.UserManagement.logout()">ausloggen</a> oder weitere <a href="
      @controllers.xml.routes.XML.index()">Aufgaben bearbeiten.</a>
  </div>


      <div class="panel panel-default">
        <div class="panel-heading">Ihre L&ouml;sung</div>
        <div class="panel-body">
          <pre>@for(sol <- solution.split("\n")) {@sol
}</pre>
        </div>
      </div>
      
    </div>

  </div>
</div>
</div>
}
