@(user: model.user.User, exercise: model.XmlExercise, referenceFile: String, oldSolution: String)

@main("XML-Test", user) {
<div class="container">
  <form action="@xml.routes.XmlController.correct(exercise.getId)" method="post" onsubmit="prepareFormForSubmitting();">
  
    <div class="row">
      <div class="col-md-6">
        <div class="page-header">
          <h1>Aufgabenstellung</h2>
        </div>
  
        @exercise.getText
      
        <section id="refFileSection">
          <pre>@referenceFile</pre>
        </section>
      </div>
      
      <div class="col-md-6">
        @editor(oldSolution, "xml", 30, 50, false)
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col-md-12">
        <h2>Bemerkungen</h2>
        <div id="correction"/>
      </div>
    </div>
    
    <hr>
    
    <button type="button" class="btn btn-primary btn-block"
      onclick="testTheSolution('@xml.routes.XmlController.correctLive(exercise.getId)');">L&ouml;sung testen</button>
    <input class="btn btn-success btn-block" value="L&ouml;sung abgeben">
  
  </form>
</div>
}
