@(user: model.user.User, exercises: List[model.XmlExercise], filters: List[model.XmlExType])

@main("XML-Test", user) {
<div class="container">
  <div class="page-header">
    <h1 class="page-title">&Uuml;bersicht &uuml;ber verf&uuml;gbare Aufgaben</h1>
  </div>
  
  <div class="panel panel-default">
    <a class="btn btn-primary btn-block" href="@xml.routes.XmlController.playground">Web-Playground</a>
  </div>
  
  <hr>
  
  <form class="form" method="get" action="@xml.routes.XmlController.index()">
    <div class="panel panel-default">
      <div class="panel-heading">Filter nach Aufgabentyp</div>
      <div class="panel-body">
        @for(tag <- model.XmlExType.values) {
        <div class="col-sm-3 col-xs-6">
          <label><input type="checkbox" name="filter" value="@tag" @if(filters.contains(tag)){checked}>
          @Html(tag.getTag)</label>
        </div>
        }
      </div>
      <div class="panel-footer">
        <a href="@xml.routes.XmlController.index()" class="btn btn-default">Filter zurücksetzen</a>
        <input value="Filter anwenden" class="btn btn-default">
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Typ</th>
        <th>Nummer</th>
        <th>Titel</th>  
      </tr>
      </thead>
      <tbody>
        @for(exercise <- exercises) {
        <tr>
          <td>@Html(exercise.getTag)</td>
          <td>@exercise.getId</td>
          <td>
            <a href="@xml.routes.XmlController.exercise(exercise.getId)" class="btn btn-primary btn-block">
            @exercise.getTitle</a>
          </td>
        </tr>
        }
      </tbody>
    </table>  
</div>
}
