@(user: model.user.User)

@main("XML: Playground", user) {
<div class="container">
  <div class="page-header">
    <h1>XML: Playground</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      @editor(controllers.xml.XmlController.STANDARD_XML_PLAYGROUND, "xml", 25, 50, false)
    </div>

    <div class="col-md-6">
      <div id="correction"></div>
    </div>
  </div>

  <hr>
  
  <button onclick="testTheSolution('@xml.routes.XmlController.playgroundCorrection');"
    class="btn btn-primary btn-block">Gegen DTD in Dokument testen...</button>
</div>
}