@(user: model.user.User)

@statistics = {
<li>
  Es gibt insgesamt @model.exercise.SqlScenario.finder.all().size() Szenarien
  <ul>
  @for(scenario <- model.exercise.SqlScenario.finder.all()) {
    <li>Das Szenario &quot;<a href="@sql.routes.SqlAdmin.scenarioAdmin(scenario.getId)">@scenario.getTitle</a>&quot;
    hat @scenario.getExercises.size Aufgaben</li>
  }
  </ul>
</li>
}

@strs = @{scala.collection.Map(
  "app" -> "Sql",
  "pluralName" -> "Szenarien"
)}

@calls = @{scala.collection.Map(
  "index" -> sql.routes.SqlAdmin.index(),
  "newExerciseForm" -> sql.routes.SqlAdmin.newExerciseForm(),
  "export" -> sql.routes.SqlAdmin.exportExerciseCollections(),
  "import" -> sql.routes.SqlAdmin.importExerciseCollections(),
  "jsonSchema" -> sql.routes.SqlAdmin.getJSONSchemaFile(),
  "upload" -> sql.routes.SqlAdmin.uploadFile()
)}

@admin.collectionAdminMain(user, strs, statistics, calls) { }
