@(scenario: model.exercise.SqlScenario)

<!-- Szenariobeschreibung -->
<div class="panel panel-default">
  <div class="panel-heading">Szenariobeschreibung</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2"><b>ID</b>: @scenario.getId</div>
      <div class="col-sm-2"><b>Titel</b>: @scenario.getTitle</div>
      <div class="col-sm-2"><b>Autor</b>: @scenario.getAuthor</div>
      <div class="col-sm-3"><b>Tabellenname</b>: @scenario.shortName</div>
      <div class="col-sm-3"><b>Skriptdatei</b>: @scenario.scriptFile</div>
    </div>
    <div class="row">
      <div class="col-sm-4"><b>Beschreibung:</b></div>
      <div class="col-sm-8">@scenario.getText</div>
    </div>
  </div>
</div>

<hr>

<!-- Exercises -->
@for((exercise, index) <- scenario.exercises.zipWithIndex) {
@if(index % 2 == 0) {<div class="row">}
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">@{exercise.key.exerciseId}. @exercise.text</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2"><b>Typ:</b></div>
          <div class="col-sm-2">@exercise.exerciseType</div>
          <div class="col-sm-2"><b>Autor:</b></div>
          <div class="col-sm-2">@exercise.author</div>
          <div class="col-sm-2"><b>Tags:</b></div>
          <div class="col-sm-2">@exercise.tags</div>
        </div>
        <div class="row">
          <div class="col-sm-12"><b>Musterl&ouml;sungen:</b></div>
        </div>
        @for(sample <- exercise.samples) {
        <div class="row">
          <div class="col-sm-12">
            <pre>@sample.sample</pre>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
@if(index % 2 == 1) {</div>}
}
