
body {
    /* Deactivate scrolling? */
    overflow: hidden;
}

img {
    width: auto;
    height: 100vh;
}

#rightblock {
    overflow-y: auto;
    height: 800px;
}

#preCode {
    min-height: 60vh;
}

#scroll {
    height: 100%;
    overflow-y: scroll;
}

#list_error {
    color: red;
}

#precode {
    overflow: scroll;
}

.line {
    height: 1em;
}

h4 {
    text-align: center;
}