
body {
    /* Deactivate scrolling? */
    overflow: hidden;
}

.drawingElements div {
    text-align: center;
}

img {
    width: auto;
    height: 100%;
}

#preCode {
    text-align: left;
    overflow: scroll;
    height: 40vh;
}

#scroll {
    height: 100%;
    overflow-y: scroll;
}

#list_error {
    color: red;
}

#precode {
    overflow: scroll;
}

.line {
    height: 1em;
}

h4 {
    text-align: center;
}