<div class="container">

  <h1 class="title is-3 has-text-centered">Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="field">
      <label for="username" class="label">Nutzername</label>
      <div class="control">
        <input type="text" id="username" formControlName="username" class="input" placeholder="Nutzername" autofocus>
      </div>
    </div>

    <div class="field">
      <label for="password" class="label">Passwort</label>
      <div class="control">
        <input type="password" formControlName="password" placeholder="Passwort" id="password" class="input">
      </div>
    </div>

    <div class="notification is-danger" *ngIf="submitted && inValid">
      Kombination aus Nutzername und Password ist nicht valide!
    </div>

    <br>

    <div class="field">
      <div class="control">
        <button class="button is-link">Login</button>
      </div>
    </div>

  </form>
</div>
