@(user: model.user.User)

@main("it4all: Administrator", user) {
<div class="container">
  <div class="page-header">
    <h1>Erstellung neuer Aufgaben</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Einlesen der Aufgaben in <code>conf/resources/...</code></div>
    <div class="panel-body">
      <a href="@controllers.js.routes.JsAdmin.readStandardExercises()" type="button" class="btn btn-default btn-block">Javascript-Aufgaben</a>
      <a href="@controllers.python.routes.PythonAdmin.readStandardExercises()" type="button" class="btn btn-default btn-block">Python-Aufgaben</a>
      <a href="@controllers.sql.routes.SQLAdmin.readStandardExercises()" type="button" class="btn btn-default btn-block">SQL-Aufgaben</a>
      <a href="@controllers.spread.routes.SpreadAdmin.readStandardExercises()" type="button" class="btn btn-default btn-block">Tabellenkalulations-Aufgaben</a>
      <a href="@controllers.web.routes.WebAdmin.readStandardExercises()" type="button" class="btn btn-default btn-block">Web-Aufgaben</a>
      <a href="@controllers.xml.routes.XmlAdmin.readStandardExercises()" type="button" class="btn btn-default btn-block">Xml-Aufgaben</a>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Upload neuer Aufgaben</div>
    <div class="panel-body">
      <a href="@controllers.js.routes.JsAdmin.uploadForm()" type="button" class="btn btn-default btn-block">Javascript-Aufgaben</a>
      <a href="@controllers.python.routes.PythonAdmin.uploadForm()" type="button" class="btn btn-default btn-block">Python-Aufgaben</a>
      <a href="@controllers.sql.routes.SQLAdmin.uploadForm()" type="button" class="btn btn-default btn-block">SQL-Aufgaben</a>
      <a href="@controllers.spread.routes.SpreadAdmin.uploadForm()" type="button" class="btn btn-default btn-block">Tabellenkalkulations-Aufgaben</a>
      <a href="@controllers.web.routes.WebAdmin.uploadForm()" type="button" class="btn btn-default btn-block">Web-Aufgaben</a>
      <a href="@controllers.xml.routes.XmlAdmin.uploadForm()" type="button" class="btn btn-default btn-block">Xml-Aufgaben</a>
    </div>
  </div>
  
  <hr>
  <a type="button" href="@controllers.routes.AdminController.evaluation()" class="btn btn-default">Auswertung der Evaluation</a>
  
</div>
}
