@(user: model.User)

@title = @{
    "Blockly Test"
}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/blockly-2018-10-16/blockly_compressed.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/blockly-2018-10-16/blocks_compressed.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/blockly-2018-10-16/python_compressed.js")"></script>

    <script src="@routes.Assets.versioned("javascripts/blockly-2018-10-16/msg/js/en.js")"></script>

    <script src="@routes.Assets.versioned("app/blockly/blocklyTest.js")"></script>

    <style>
            #blocklyDiv {
                width: 100%;
                height: 600px;
            }
    </style>
}

@main(title, Some(user), scripts) {
    <div class="container">

        <div id="blocklyContainer">
            <div id="blocklyDiv"></div>
        </div>

        <xml id="toolbox" style="display: none">
            <category name="Logik" colour="210">
                <block type="logic_boolean"></block>
                <block type="controls_if"></block>
                <block type="controls_ifelse"></block>
                <block type="logic_compare"></block>
                <block type="logic_operation"></block>
                <block type="logic_negate"></block>
                <block type="logic_null"></block>
                <block type="logic_ternary"></block>
            </category>
            <category name="Schleifen" colour="120">
                <block type="controls_repeat_ext"></block>
                <block type="controls_repeat"></block>
                <block type="controls_whileUntil"></block>
                <block type="controls_for"></block>
                <block type="controls_forEach"></block>
                <block type="controls_flow_statements"></block>
            </category>
            <category name="Math" colour="270">
                <block type="math_number"></block>
                <block type="math_arithmetic"></block>
                <block type="math_single"></block>
                <block type="math_trig"></block>
                <block type="math_constant"></block>
                <block type="math_number_property"></block>
                <block type="math_change"></block>
                <block type="math_round"></block>
                <block type="math_on_list"></block>
                <block type="math_modulo"></block>
                <block type="math_constrain"></block>
                <block type="math_random_int"></block>
                <block type="math_random_float"></block>
            </category>
            <category name="Variablen" colour="330">
                <block type="variables_get"></block>
                <block type="variables_set"></block>
            </category>
            <category name="Listen" colour="290">
                <block type="lists_create_empty"></block>
                <block type="lists_repeat"></block>
                <block type="lists_reverse"></block>
                <block type="lists_isEmpty"></block>
                <block type="lists_length"></block>
            </category>
            <category name="Text" colour="410">
                <block type="text"></block>
                <block type="text_join"></block>
                <block type="text_create_join_container"></block>
                <block type="text_create_join_item"></block>
                <block type="text_append"></block>
                <block type="text_length"></block>
                <block type="text_isEmpty"></block>
                <block type="text_indexOf"></block>
                <block type="text_charAt"></block>
                <block type="text_print"></block>
            </category>
        </xml>

        <hr>

        <button class="btn btn-primary btn-block" id="generateCodeBtn">Generate!</button>

        <pre id="blocklyCode"></pre>

    </div>
}