@import model.User
@import model.ideTest.IdeFile

@(user: User, fileNames: Seq[String], maybeActiveFile: Option[IdeFile])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@title = @{
    "IDE Test"
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <script>SystemJS.import('@routes.Assets.versioned("app/ideTest.js")');</script>

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                font-size: 14px;
                height: 700px;
            }
    </style>
}

@main(title, Some(user), scripts) {
    <div class="container-fluid">

        @helper.CSRF.formField

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <div class="btn-group d-flex">
                    @for(fileName <- fileNames) {
                        <button class="fileBtn btn @{
                            if(maybeActiveFile.map(_.name) contains fileName) "btn-primary" else "btn-outline-secondary"
                        } w-100" data-filename="@fileName">
                            @fileName @* <span class="octicon octicon-check"></span> *@
                        </button>
                    }
                    </div>
                </div>

                <textarea id="myTextEditor" title="Initialized to CodeMirror Editor">@maybeActiveFile.map(_.content).getOrElse("")</textarea>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-success btn-block" id="uploadBtn">
                        <span class="octicon octicon-cloud-upload"></span> Hochladen...
                    </button>
                </div>
            </div>
        </div>

    </div>
}