@(user: model.User, isDev: Boolean)

@main("HTML-Test", Some(user)) {
    <div class="container">

        <section>
            <h2>Tipps &amp; Tricks</h2>
            <div class="well">@model.TippHelper.getRandom.str</div>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button class="btn btn-default" disabled>Vorheriger Tipp</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" disabled>Nächster Tipp</button>
                </div>
            </div>
        </section>

        <hr>

        <h2>Verf&uuml;gbare Aufgabentypen</h2>
        @for(tools <- controllers.exes.SingleExerciseController.ToolMains.grouped(3)) {
            <div class="row">
            @for(tool <- tools) {
                <div class="col-md-4">
                @tool match {
                    case a: controllers.exes.AExerciseToolMain => {
                        <a class="btn btn-default btn-block" href="@controllers.exes.routes.ExerciseController.index(a.urlPart)">
                            <span class="text-capitalize">@a.toolname</span>
                        </a>
                    }
                    case b: controllers.exes.AExCollectionToolMain => {
                        <a class="btn btn-default btn-block" href="@controllers.exes.routes.CollectionController.index(b.urlPart)">
                            <span class="text-capitalize">@b.toolname</span>
                        </a>
                    }
                    case c: controllers.exes.AFileExerciseToolMain => {
                        <a class="btn btn-default btn-block" href="@controllers.exes.routes.FileExerciseController.index(c.urlPart)">
                            <span class="text-capitalize">@c.toolname</span>
                        </a>
                    }
                }
                </div>
            }
            </div>
                &nbsp;
        }

    </div>
}
