@(user: model.User)

@main("Startseite", Some(user)) {
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h2>Tipps &amp; Tricks</h2>
            </div>
            <div class="card-body">@model.TippHelper.getRandom.str</div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn w-100" disabled>Vorheriger Tipp</button>
                    <button class="btn w-100" disabled>Nächster Tipp</button>
                </div>
            </div>
        </div>

        <hr>

        <h2>Verfügbare Aufgabentypen</h2>

        @for(tools <- model.toolMains.ToolList.AllToolMains.grouped(3)) {
            <div class="form-group">
                <div class="row">

                @for(tool <- tools) {
                    <div class="col-md-4">
                        <a class="btn btn-secondary btn-block" href="@tool.indexCall">
                            <span>@tool.toolname @tool.toolState.badge</span>
                        </a>
                    </div>
                }

                </div>
            </div>
        }

        <hr>

    </div>
}
