@(student: model.user.User)

@main("HTML-Test", student) {
  <div class="container">
  
    <div class="panel panel-default">
      <div class="panel-heading">Webtechnologie</div>
      <div class="panel-body">
        <a type="button" class="btn btn-default btn-block" href="@controllers.web.routes.HTML.index()">Html &amp; Css</a>
        <a type="button" class="btn btn-default btn-block" href="@controllers.web.routes.JS.index()">JavaScript</a>
        <a type="button" class="btn btn-default btn-block" href="@controllers.sql.routes.SQL.index()">SQL</a>
      </div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">Excel</div>
      <div class="panel-body">
        <a type="button" class="btn btn-default btn-block" href="@controllers.spread.routes.Excel.index()">Tabellenkalkuation</a>
      </div>
    </div>
  
  </div>
}
