@(message: String = "")

    @main("Login", None) {
        <div class="container">

            <div class="page-header">
                <h1>Einloggen</h1>
            </div>

            @helper.form(routes.LoginController.authenticate, 'role -> "form", 'class -> "form-horizontal") {

                <div class="form-group has-feedback">
                    <label class="control-label col-sm-3" for="@model.core.CoreConsts.NAME_NAME">Nutzername:</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="@model.core.CoreConsts.NAME_NAME" name="@model.core.CoreConsts.NAME_NAME" placeholder="s-Nummer" required>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hidden" id="span_@model.core.CoreConsts.NAME_NAME"></span>
                        <p class="help-block">
                            Da it4all keinen Zugriff auf das Login-System der Universität Würburg hat, müssen Sie Sich erst
                            <a href="@routes.LoginController.register" tabindex="-1">registrieren</a>.</p>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label col-sm-3" for="@model.core.CoreConsts.PW_NAME">Passwort:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" name="@model.core.CoreConsts.PW_NAME" id="@model.core.CoreConsts.PW_NAME" placeholder="Passwort" required>
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback hidden" id="span_@model.core.CoreConsts.NAME_NAME">@message</span>
                    </div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="form-control">Einloggen</button>
                    </div>
                </div>
            }

        </div>
    }