@(title: String, maybeUser: Option[model.User], scripts: Html = Html(""))(content: Html)
<!DOCTYPE html>

<html lang="de">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>it4all: @title</title>


            <!-- Favicons... -->
        @* <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">*@
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        @* <link rel="manifest" href="/site.webmanifest">*@
        @* <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">*@
        @* <meta name="msapplication-TileColor" content="#da532c">*@
        <meta name="theme-color" content="#ffffff">

            <!-- JQuery, Bootstrap (CSS und JS) -->

        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/dist/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/octicons/build/font/octicons.css")">

        <script src="@routes.Assets.versioned("lib/jquery/dist/jquery.js")"></script>
        <script src="@routes.Assets.versioned("lib/popper.js/umd/popper.js")"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/dist/js/bootstrap.js")"></script>

        @scripts
    </head>

    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center mb-3">
            <a class="navbar-brand" href="@routes.Application.index">it4all<sup>BETA</sup></a>


            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="@routes.Application.index()">Aufgabenbereiche</a>
                </li>
            </ul>

            <span class="navbar-text"><strong>@title</strong></span>

            <ul class="navbar-nav ml-auto">
            @maybeUser match {
                case Some(user) => {

                    @if(user.isAdmin) {
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="@routes.AdminController.index()">
                                <span class="octicon octicon-mark-github"></span> Administrator <span class="caret"></span>
                            </a>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">
                            <span class="octicon octicon-mortar-board"></span>
                            @user.username <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@routes.UserController.myCourses">Meine Kurse</a>

                            <a class="dropdown-item" href="@routes.UserController.preferences">Präferenzen</a>

                            <a class="dropdown-item" href="@routes.LoginController.logout">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        </div>
                    </li>
                }

                case None => {
                    <li class="nav-item">
                        <a class="nav-link" href="@routes.LoginController.loginForm"><span class="glyphicon glyphicon-log-in"> Login</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@routes.LoginController.register"><span class="glyphicon glyphicon-new-window"> Registrieren</span> </a>
                    </li>
                }
            }
            </ul>
        </nav>

        @content

    </body>
</html>
