@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="de">
<head>
<title>@title</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap/additional.css")">
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.11.3.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">it4all</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/html">HTML</a></li>
            <!-- <li><a href="/css">CSS</a></li>
            <li><a href="/js">JS</a></li>
            <li><a href="/sql">SQL</a></li>
            <li><a href="/php">PHP</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
    @content
  </div>
</body>
</html>
