@(user: model.User, courses: Seq[model.Course])

    @main("Meine Kurse", Some(user)) {
        <div class="container">
            <h1 class="text-center">Meine Kurse</h1>

            @if(courses.isEmpty) {
                <div class="alert alert-info">Sie sind momentan für keine Kurse eingeschrieben.</div>
            } else {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Kurs-Id</th>
                            <th>Kursname</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(course <- courses) {
                        <tr>
                            <td>@course.id</td>
                            <td>@course.courseName</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }

        </div>
    }