@(title: String, user: model.User)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/preferences.js")"></script>
}

@main(title, user, scripts) {
    <div class="container">
        <div class="page-header">
            <h1>Präferenzen</h1>
        </div>

        @helper.form(controllers.routes.UserController.saveOptions, 'class -> "form-horizontal", 'onsubmit -> "return false;") {

            <div class="form-group">
                <label class="control-label col-sm-3" for="posTests">Bestandene Tests</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <select class="form-control" id="posTests" onchange="update(this.id)" data-std="@user.todo">
                        @for(todo <- model.Enums.ShowHideAggregate.values) {
                            <option value="@todo" @todo.isSelected(user.todo)>@todo.german </option>
                        }
                        </select>

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btn_posTests" disabled onclick="savePreferences('posTests')">
                                Speichern...</button>
                        </span>
                    </div>
                </div>
            </div>

            <hr>
            }

    </div>
}
