@import model.core.StringConsts

@()

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/users/register.js")"></script>
    <script>
            var nameVal = '@StringConsts.NAME_NAME';
            var pw1Val = '@StringConsts.PW_NAME';
            var pw2Val = '@StringConsts.PW2_NAME';
            var pw1, pw2;

            $(document).ready(function () {
                pw1 = $('#@StringConsts.PW_NAME');
                pw2 = $('#@StringConsts.PW2_NAME');
            });
    </script>
}

@main("Registrierung", null, scripts) {

    <div class="container">
        <div class="page-header">
            <h1>Registrierung</h1>
        </div>


        @helper.form(routes.LoginController.register, 'role -> "form", 'class -> "form-horizontal", 'onsubmit -> "return testFields();") {

            <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="@StringConsts.NAME_NAME">Nutzername:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="@StringConsts.NAME_NAME" name="@StringConsts.NAME_NAME" data-taken="false" placeholder="s-Nummer" required
                    onchange="checkUserName('@controllers.routes.LoginController.checkUserName()')">
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback hidden" id="span_@StringConsts.NAME_NAME"></span>
                    <p id="help_@StringConsts.NAME_NAME" class="help-block hidden">
                        Dieser Nutzername scheint bereits vergeben zu sein.</p>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="@StringConsts.PW_NAME">Passwort:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="@StringConsts.PW_NAME" name="@StringConsts.PW_NAME" placeholder="Gew&uuml;nschtes Passwort"
                    onchange="checkPws()" required>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback hidden" id="span_@StringConsts.PW_NAME"></span>
                    <p id="help_@StringConsts.PW_NAME" class="help-block">
                        Das Passwort muss mindestens 8 Zeichen enthalten.</p>
                </div>

            </div>

            <div class="form-group has-feedback">
                <label class="control-label col-sm-3" for="@StringConsts.PW2_NAME">Passwort wiederholen:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="@StringConsts.PW2_NAME" name="@StringConsts.PW2_NAME" placeholder="Passwort wiederholen"
                    onchange="checkSecondPw()" required>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback hidden" id="span_@StringConsts.PW2_NAME"></span>
                    <p id="help_@StringConsts.PW2_NAME" class="help-block hidden">
                        Dieses Passwort muss mit dem ersten &uuml;bereinstimmen.</p>
                </div>
            </div>

            <hr>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="form-control">Registrierung vornehmen</button>
                </div>
            </div>

        }

    </div>

}