@(user: model.user.User, users: List[model.user.User])

@main("Nutzerübersicht", user) {
<div class="container">
  <div class="page-header">
    <h1>Nutzer&uuml;bersicht</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Standardrolle</th>
        <th>Kurse</th>
      </tr>
    </thead>
    <tbody>
    @for(user <- users) {
      <tr>
        <td>@user.name</td>
        <td>@user.stdRole</td>
        <td>
          <ul>
          @for(course <- user.getCourses()) {
            <li>@course.name</li>
          }
          </ul>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
}