@(user: model.User, toolMain: model.toolMains.AToolMain, learningPaths: Seq[model.learningPath.LearningPath])

@title = @{
    toolMain.toolname
}

@main(title, Some(user)) {
    <div class="container">

        @if(learningPaths.nonEmpty) {
            <section>
                <h2>Lernpfade</h2>

                @for(learningPath <- learningPaths) {
                    <a href="@routes.MainExerciseController.learningPath(toolMain.urlPart, learningPath.id)"
                    class="btn btn-secondary btn-block">Lernpfad: @learningPath.title</a>
                }
            </section>

            <hr>
        }

        <section>
            <h2>Übungsaufgaben</h2>

            @toolMain.exercisesOverviewForIndex
        </section>

        <hr>

        @if(toolMain.hasPlayground) {
            <section>
                <h2>Playground</h2>

                <div class="form-group">
                    <a class="btn btn-secondary btn-block" href="@routes.MainExerciseController.playground(toolMain.urlPart)">
                        Playground für dieses Tool</a>
                </div>
            </section>

            <hr>
        }

        <section>
            <h2>Evaluation</h2>

            <div class="form-group">
                <a class="btn btn-success btn-block" href="@routes.MainExerciseController.evaluate(toolMain.urlPart)">
                    Dieses Tool evaluieren</a>
            </div>
        </section>

    </div>
}
