@(user: model.User, dataForUserExesOverview: model.toolMains.UserExOverviewContent, toolObject: model.toolMains.ASingleExerciseToolMain, currentPage: Int)

@urlFunc = @{
    toolObject match {
        case _: model.toolMains.IdExerciseToolMain => {
            index: Int => exes.routes.ExerciseController.exerciseList(toolObject.urlPart, index)
        }
        case _: model.toolMains.FileExerciseToolMain => {
            index: Int => routes.FileExerciseController.exerciseList(toolObject.urlPart, index)
        }
    }
}

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>SystemJS.import('@routes.Assets.versioned("app/userExercisesOverview.js")');</script>
}

@main(toolObject.toolname, Some(user), scripts) {
    <div class="container">
        <h1 class="text-center">Übersicht über verfügbare Aufgaben</h1>

        @if(dataForUserExesOverview.exesAndRoutes.isEmpty) {
            <div class="alert alert-danger">
                Es existieren bisher keine Aufgaben in der Kategorie @toolObject.toolname.
                Wenden Sie Sich bitte an den Administrator.</div>
        } else {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        @if(toolObject.hasTags) {
                            <th>Tags</th>
                        }
                        <th>Titel</th>

                        <th>Version</th>
                        <th>Link(s)</th>
                    </tr>
                </thead>

                <tbody>
                @for(exAndRoute <- dataForUserExesOverview.exesAndRoutes.sortBy(_.ex.ex.id)) {
                    <tr>
                        <td>@exAndRoute.ex.ex.id</td>
                        @if(toolObject.hasTags) {
                            <td>@for(tag <- exAndRoute.ex.tags) {
                                @tag.render
                            }</td>
                        }
                        <td>@exAndRoute.ex.ex.title</td>
                        <td>@exAndRoute.versions match {
                            case Seq() => {--}
                            case Seq(head) => {
                                @head.asString
                            }
                            case other => {
                                <select class="form-control version_select" data-id="@exAndRoute.ex.ex.id" title="Versionswahl">
                                @for(version <- other.sorted.reverse) {
                                    <option>@version.asString</option>
                                }
                                </select>
                            }
                        }
                        </td>
                        <td>
                            <div class="btn-group d-flex">
                            @for(exRoute <- exAndRoute.routes) {
                                <a class="btn btn-outline-primary w-100 ex_link_@exAndRoute.ex.ex.id" @if(exRoute.enabled) {
                                    href="@exRoute.call"
                                } else {
                                    title="Vorbedingungen nicht erfüllt!"
                                    }>@exRoute.exPart.partName</a>
                            }
                            </div>
                        </td>
                    </tr>

                }

                </tbody>
            </table>

            @core.helperTemplates.bsPager(currentPage, urlFunc, dataForUserExesOverview.numOfExes, step = dataForUserExesOverview.exesAndRoutes.size)

        }
    </div>
}
