@import model.{CompleteCollection, User}

@(user: User, collection: CompleteCollection, exes: Seq[model.core.overviewHelpers.UserCollEx],
        toolMainObject: model.toolMains.CollectionToolMain, currentSite: Int, step: Int, numOfExercises: Int)

    @title = @{
        s"""${toolMainObject.collectionSingularName} "${collection.coll.title}""""
    }

    @colCount = @{
        3
    }

    @main(title, Some(user)) {
        <div class="container">
            <h1 class="text-center">@title</h1>

            <br>

            @if(toolMainObject.usersCanCreateExes) {
                <div class="form-group">
                    <a href="@coll.routes.CollectionController.newExerciseForm(toolMainObject.urlPart, collection.coll.id)"
                    class="btn btn-info btn-block">Neue Aufgabe erstellen</a>
                </div>
            }

            @for(exBatch <- exes grouped colCount) {
                <div class="form-group">
                    <div class="row">
                    @for((compEx, successType) <- exBatch.map(s => (s.ex, s.solved))) {
                        <div class="col-sm-@{
                            12 / colCount
                        }">
                        @for(exPart <- toolMainObject.theExParts) {
                            <a href="@coll.routes.CollectionController.exercise(toolMainObject.urlPart, collection.coll.id, compEx.id, exPart.urlName)"
                            class="btn @successType.btnOutline btn-block">
                                <div>@{
                                    compEx.id + ". " + compEx.title
                                }</div>
                                <span>@Html(
                                    Option(compEx.tags.map(_.render).mkString("&nbsp;")).filter(_.nonEmpty).getOrElse("&nbsp;")
                                )</span>
                            </a>
                        }
                        </div>
                    }
                    </div>
                </div>
            }

            <hr>

            @core.helperTemplates.bsPager(currentSite,
                index => coll.routes.CollectionController.collection(toolMainObject.urlPart, collection.coll.id, index),
                numOfExercises, step)

        </div>
    }
