@import model.{User, CompleteEx}
@import model.core.CoreConsts

@(user: User, exerciseForm: Form[_ <: CompleteEx[_]], isCreation: Boolean, toolMainObject: model.toolMains.AToolMain,
        specialFields: Html, additionalScripts: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@scripts = {
    <style>
            textarea {
                resize: vertical;
            }
    </style>

@additionalScripts
}

@title = @{
    s"${if(isCreation) "Erstellen" else "Bearbeiten"}  einer ${toolMainObject.toolname}-Aufgabe"
}

@statusField = @{
    exerciseForm(CoreConsts.statusName)
}

@majorField = @{
    exerciseForm(CoreConsts.semanticVersionName + "." + CoreConsts.majorName)
}

@minorField = @{
    exerciseForm(CoreConsts.semanticVersionName + "." + CoreConsts.minorName)
}

@patchField = @{
    exerciseForm(CoreConsts.semanticVersionName + "." + CoreConsts.patchName)
}

@main(title, Some(user), scripts) {


    @core.helperTemplates.modal("Semantische Versionierung", "semVerInfoModal", "lg") {
        <h3>Erklärung von <a href="https://semver.org/lang/de/">Semantic Versioning:</a></h3>
        <p>Auf Grundlage einer Versionsnummer von <code>MAJOR</code>.<code>MINOR</code>.<code>PATCH</code>
            werden die einzelnen Elemente folgendermaßen erhöht:</p>
        <ul>
            <li><code>MAJOR</code> wird erhöht, wenn API-inkompatible Änderungen veröffentlicht werden,</li>
            <li><code>MINOR</code>
                wird erhöht, wenn neue Funktionalitäten, welche kompatibel zur bisherigen API sind, veröffentlicht werden, und</li>
            <li><code>PATCH</code>
                wird erhöht, wenn die Änderungen ausschließlich API-kompatible Bugfixes umfassen.</li>
        </ul>
        <p>Außerdem sind Bezeichner für Vorveröffentlichungen und Build-Metadaten als Erweiterungen zum <code>
            MAJOR</code>.<code>MINOR</code>.<code>PATCH</code> Format verfügbar.</p>
        @* FIXME: Erklärung aufgabenspezifisch... *@
    }

    <div class="container">

    @helper.form(exes.routes.ExerciseController.newExercise(toolMainObject.urlPart), 'class -> "form") {

        <fieldset>
            <legend class="text-center">Standardangaben</legend>

            @helper.CSRF.formField

            <div class="form-group row">
                @myhelpers.inputWithLabel(exerciseForm(CoreConsts.idName), "ID", "number", 2, 2, isRequired = true, isReadOnly = true)

                @myhelpers.inputWithLabel(exerciseForm(CoreConsts.authorName), "Autor", "text", 1, 2, isRequired = true, isReadOnly = true)

                @if(user.isAdmin) {
                    @myhelpers.selectWithLabel(statusField, "Status", model.ExerciseState.values.map(e => (e.entryName, e.german)), 1, 4)
                } else {
                    <input type="hidden" name="@statusField.name" value="@statusField.value.getOrElse(model.ExerciseState.RESERVED.entryName)">

                        @myhelpers.selectWithLabel(statusField, "Status", model.ExerciseState.values.map(e => (e.entryName, e.german)), 1, 4, isDisabled = true)
                    }
            </div>

            <div class="form-group row">
                <label class="col-form-label col-md-2" for="@CoreConsts.semanticVersionName">Version:</label>

                <div class="col-md-2">@myhelpers.input(majorField, "number", isRequired = true)</div>
                <label class="col-form-label col-md-1" for="@majorField.id">(Major)</label>

                <div class="col-md-2">@myhelpers.input(minorField, "number", isRequired = true)</div>
                <label class="col-form-label col-md-1" for="@minorField.id">(Minor)</label>

                <div class="col-md-2"> @myhelpers.input(patchField, "number", isRequired = true)</div>
                <label class="col-form-label col-md-1" for="@patchField.id">(Patch)</label>

                <div class="col-md-1">
                    <button type="button" class="btn btn-outline-info btn-block" title="Infos zur Versionierung"
                    data-toggle="modal" data-target="#semVerInfoModal">
                        <span class="octicon octicon-info"></span>
                    </button>
                </div>
            </div>

            <div class="form-group row">
            @myhelpers.inputWithLabel(exerciseForm(CoreConsts.titleName), "Titel", "text", 2, 10,
                isRequired = true, placeHolder = Some("Titel der Aufgabe"))
            </div>

            <div class="form-group row">
            @myhelpers.textareaWithLabel(exerciseForm(CoreConsts.textName), "Text", rowCount = 5, 2, 10,
                isRequired = true, placeHolder = Some("Text der Aufgaben"))
            </div>

        </fieldset>

        @specialFields

        <button class="btn btn-primary btn-block">Aufgabe @if(isCreation) {erstellen} else {bearbeiten}</button>

        <br>
        }

    </div>
}



