@import model.toolMains.ASingleExerciseToolMain
@import model.{CompleteEx, ExPart, User}

@(user: User, exerciseText: Html, exercise: CompleteEx, part: ExPart, oldSolution: String,
        toolMainObject: ASingleExerciseToolMain, additionalScripts: Html, solutionPreview: Option[Html] = None,
        remainingExDef: Option[Html] = None, remainingPage: Html = Html(""))(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <script>SystemJS.import('@routes.Assets.versioned("app/textExercise.js")');</script>

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                font-size: 14px;
                /*height: 700px; */
            }

            #preview {
                border: 1px solid lightgrey;
            }

    </style>
    @* FIXME: @core.helperTemplates.fullScreenScripts.render() *@
@additionalScripts

}

@main(toolMainObject.toolname, Some(user), scripts) {
    <div class="container-fluid" id="fullsc">

        <div class="row">

            <div class="col-xl-4 col-sm-6">
                <h3 class="text-center">Aufgabenstellung</h3>

                <div class="card">
                    <div class="card-body bg-light text-justify">@exerciseText</div>
                </div>

                <br>

                @remainingExDef
            </div>

            <div class="col-xl-4 col-sm-6">
                <h3 class="text-center">Editor</h3>

                <textarea id="textEditor" title="Editor">@oldSolution</textarea>

                <br>

                <div class="form-group">

                    @helper.CSRF.formField

                    <div class="btn-group d-flex">
                        @*<button type="button" class="btn w-100" onclick="toggleFullscreen()">*@
                        @*Toggle Fullscreen <span class="glyphicon glyphicon-resize-full" id="fullscBtnSpan"></span>*@
                        @*</button>*@
                        <button class="btn btn-primary w-100" id="testBtn" data-url="@exes.routes.ExerciseController.correctLive(toolMainObject.urlPart, exercise.id, part.urlName)">
                            Lösung testen</button>
                        <a href="@exes.routes.ExerciseController.reviewExercisePartForm(toolMainObject.urlPart, exercise.id, part.urlName)"
                        id="endSolveBtn" class="btn btn-secondary w-100">Bearbeitung beenden</a>
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-sm-12">

                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#correctionTab" id="showCorrectionTabA">
                            Korrektur</a>
                    </li>
                    @if(solutionPreview.isDefined) {
                        <li class="nav-item">
                            <a class="nav-link" data-url="@exes.routes.ExerciseController.updateWebSolution(exercise.id, part.urlName)"
                            data-toggle="tab" href="#previewTab" id="previewTabBtn">Live-Vorschau</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#sampleSolTab">Musterlösung</a>
                    </li>
                </ul>

                <br>


                <div class="tab-content">
                    <div id="correctionTab" class="tab-pane fade show active">
                        <div id="correctionDiv">
                            <div id="correction">
                                <div class="alert alert-warning">
                                    Starten Sie die Korrektur mit einem Klick auf den Knopf &quot;Lösung testen&quot;</div>
                            </div>
                        </div>
                    </div>

                    @solutionPreview match {
                        case None => {}
                        case Some(prev) => {
                            @prev
                        }
                    }

                    <div id="sampleSolTab" class="tab-pane fade">
                        <button data-url="@exes.routes.ExerciseController.sampleSolutionsForPart(toolMainObject.urlPart, exercise.id, part.urlName)"
                        id="showSampleSolBtn" class="btn btn-outline-success btn-block">Musterlösung anzeigen</button>

                        <div id="sampleSolDiv"></div>
                    </div>
                </div>

            </div>
        </div>

        @remainingPage

    </div>
}