<div class="container is-fluid">

  <div class="columns">
    <div class="column is-half-desktop">
      <it4all-exercise-files-editor [exerciseFileFragments]="exerciseFileFragments" [mode]="'xml'">
      </it4all-exercise-files-editor>
    </div>

    <div class="column is-half-desktop">
      <it4all-tabs>
        <it4all-tab [title]="'Aufgabenstellung'">

          <div class="notification is-light-grey">
            <ng-container *ngIf="isGrammarPart; else documentTextBlock">
              <p class="has-text-weight-bold">Erstellen Sie eine DTD zu folgender Beschreibung:</p>
              <p>{{contentFragment.grammarDescription}}</p>
              <p class="is-italic has-text-info">
                Hinweis: Benutzen Sie die in Klammern angegebenen Element- bzw. Attributnamen. Falls nichts anderes
                angegeben ist, sollen die Elemente nur Text enthalten.
              </p>
            </ng-container>
            <ng-template #documentTextBlock>{{exerciseFragment.text}}</ng-template>
          </div>

          <div class="columns">
            <div class="column">
              <button class="button is-link is-fullwidth" [class.is-loading]="isCorrecting" (click)="correct()">
                Korrektur
              </button>
            </div>
            <!--
            FIXME: show sample solution for xml exercise!
           -->
            <div class="column">
              <a [routerLink]="['../..']" class="button is-dark is-fullwidth">Bearbeiten beenden</a>
            </div>
          </div>
        </it4all-tab>
        <it4all-tab [title]="correctionTabTitle">

          <div class="message is-danger" *ngIf="queryError">
            <div class="message-header">Es gab einen Fehler bei der Korrektur:</div>
            <div class="message-body">
              <pre>{{queryError.message}}</pre>
            </div>
          </div>


          <ng-container *ngIf="resultQuery">
            <div class="my-3">
              <it4all-solution-saved [solutionSaved]="correctionResult.solutionSaved"></it4all-solution-saved>
            </div>

            <div class="my-3">
              <it4all-points-notification
                *ngIf="isGrammarPart && xmlResult"
                [points]="xmlResult.points"
                [maxPoints]="xmlResult.maxPoints">
              </it4all-points-notification>
            </div>

            <div class="my-3" *ngIf="documentResult">
              <!-- Document correction! -->
              <it4all-xml-document-correction [result]="documentResult"></it4all-xml-document-correction>
            </div>
            <ng-container *ngIf="documentResult && documentResult.errors.length === 0">
              <!-- todo: what is missing here? -->
            </ng-container>

            <div class="my-3" *ngIf="grammarResult">
              <!-- Grammar correction -->

              <div *ngFor="let parseError of grammarResult.parseErrors" class="message is-danger">
                <div class="message-header">
                  Fehler beim Parse von &quot;<code>{{parseError.parsedLine}}</code>&quot;:
                </div>
                <div class="message-body">
                  <pre>
                    <code class="has-text-danger">{{parseError.msg}}</code>
                  </pre>
                </div>
              </div>

              <it4all-xml-element-line-match-result [result]="grammarResult.results">
              </it4all-xml-element-line-match-result>

            </div>

          </ng-container>

        </it4all-tab>
        <it4all-tab [title]="sampleSolutionsTabTitle">
          <div class="buttons">
            <button class="button is-primary is-fullwidth" (click)="toggleSampleSolutions()">
              Musterlösung {{displaySampleSolutions ? 'ausblenden' : 'anzeigen'}}
            </button>
          </div>

          <div class="overflowHiddenDiv" *ngIf="displaySampleSolutions">
            <div *ngFor="let sampleSolution of sampleSolutions; let last = last">
              <pre>{{isGrammarPart ? sampleSolution.grammar : sampleSolution.document}}</pre>

              <br *ngIf="!last">
            </div>
          </div>

        </it4all-tab>
      </it4all-tabs>

    </div>
  </div>

</div>
