@(user: model.User, exercise: model.web.WebCompleteEx, exType: String, tasks: Seq[model.web.WebCompleteTask], oldSolution: String)

@scripts = {
    <style>
        .pre-scrollable {
            max-height: 500px;
            overflow-y: scroll;
        }
    </style>
}

@main("Web", user, scripts) {
    <div class="container-fluid">
        <form method="post" onsubmit="prepareFormForSubmitting();" action="@controllers.exes.idPartExes.routes.WebController.correct(exercise.ex.id, exType)">
            <div class="row">
                <div class="col-md-4 col-sm-6">

                    <h2>Aufgabenstellung</h2>

                    <hr>

                    <p class="text-justify">@exercise.ex.text</p>
                    @if(exType.equals("html")) {
                        <p>@Html(exercise.ex.htmlText getOrElse "")</p>
                    } else {
                        <p>@Html(exercise.ex.jsText getOrElse "")</p>
                    }

                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" id="testButton"
                            onclick="testTheSolution('@controllers.exes.idPartExes.routes.WebController.correctLive(exercise.ex.id, exType)')">
                                L&ouml;sung testen</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success">L&ouml;sung abgeben</button>
                        </div>
                    </div>

                    <hr>

                    <div id="correction" class="pre-scrollable">
                    @for(task <- tasks) {
                        <div class="alert">@{task.task.id + "." + task.task.text}</div>
                    }
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h2>Editor</h2>

                    <hr>

                    @views.html.core.editor(oldSolution, "html", 25, 45, updatePrev = true)
                </div>

                <div class="col-md-4 col-sm-12">
                    <h2>Live-Vorschau</h2>

                    <hr>

                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="about:blank" id="exPreview"></iframe>
                    </div>

                    <hr>
                    <div class="alert alert-info">
                        Die Vorschau wird bei &Auml;nderungen in der L&ouml;sung automatisch aktualisiert.</div>
                </div>
            </div>

        </form>

    </div>
}