@(user: model.User, exercise: model.web.WebExercise)

@main("", user) {
    <div class="container">
        <div class="page-header">
            <h1>Tasks Aufgabe @exercise.id</h1>
        </div>

        <h2>Html-Text</h2>
        <pre>@exercise.htmlText</pre>

        @*@if(exercise.htmlTasks.nonEmpty) {*@
            @*<h2>Html-Tasks</h2>*@
            @*<table class="table">*@
                @*<thead>*@
                    @*<tr>*@
                        @*<th>ID</th>*@
                        @*<th>Text</th>*@
                        @*<th>XPath</th>*@
                        @*<th>Attribute</th>*@
                        @*<th>Text Content</th>*@
                    @*</tr>*@
                @*</thead>*@
                @*<tbody>*@
                @*@for(task <- exercise.htmlTasks) {*@
                    @*<tr>*@
                        @*<td>@task.id</td>*@
                        @*<td>@task.text</td>*@
                        @*<td>@task.xpathQuery</td>*@
                        @*<td><ul>*@
                        @*@for(attr <- task.getAttributes.map(_.forDB)) {*@
                            @*<li>@attr</li>*@
                        @*}*@
                        @*</ul>*@
                        @*</td>*@
                        @*<td>@task.textContent</td>*@
                    @*</tr>*@
                @*}*@
                @*</tbody>*@
            @*</table>*@
        @*}*@

        @*<hr>*@

        @*<h2>Js-Text</h2>*@
        @*<pre>@exercise.jsText</pre>*@

        @*@if(exercise.jsTasks.nonEmpty) {*@
            @*<h2>Js-Tasks</h2>*@
            @*<table class="table">*@
                @*<thead>*@
                    @*<tr>*@
                        @*<th>ID</th>*@
                        @*<th>Text</th>*@
                        @*<th>XPath</th>*@
                        @*<th># Bedingungen</th>*@
                        @*<th>Aktion</th>*@
                    @*</tr>*@
                @*</thead>*@
                @*<tbody>*@
                @*@for(task <- exercise.jsTasks) {*@
                    @*<tr>*@
                        @*<td>@task.id</td>*@
                        @*<td>@task.text</td>*@
                        @*<td>@task.xpathQuery</td>*@
                        @*<td>@task.conditions.size</td>*@
                        @*<td>@task.action …</td>*@
                    @*</tr>*@
                @*}*@
                @*</tbody>*@
            @*</table>*@
        @*}*@

    </div>
}