@(user: model.User, exercise: model.web.WebCompleteEx, part: model.web.WebExParts.WebExPart, tasks: Seq[model.web.WebCompleteTask], oldSolution: String)

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/web/webExercise.js")"></script>
    <style>
            .pre-scrollable {
                max-height: 500px;
                overflow-y: scroll;
            }
    </style>
}

@main("Web", user, scripts) {
    <div class="container-fluid">
        <form action="javascript:testSol('@controllers.exes.idPartExes.routes.WebController.correct(exercise.ex.id)', '@part.urlName')">
            <div class="row">
                <div class="col-md-4 col-sm-6">

                    <h2>Aufgabenstellung</h2>

                    <hr>

                    <p class="text-justify">@exercise.ex.text</p>
                    @if(part == model.web.WebExParts.HtmlPart) {
                        <p>@Html(exercise.ex.htmlText getOrElse "")</p>
                    } else {
                        <p>@Html(exercise.ex.jsText getOrElse "")</p>
                    }

                    <button class="btn btn-primary btn-block">L&ouml;sung testen</button>

                    <hr>

                    <div id="correction" class="pre-scrollable">
                    @for(task <- tasks) {
                        <div class="alert">@{
                            task.task.id + "." + task.task.text
                        }</div>
                    }
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h2>Editor</h2>

                    <hr>

                    @core.editor(oldSolution, "html", 25, 45, updatePrev = true)
                </div>

                <div class="col-md-4 col-sm-12">
                    <h2>Live-Vorschau</h2>

                    <hr>

                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="about:blank" id="preview"></iframe>
                    </div>

                    <hr>
                    <div class="alert alert-info">
                        Die Vorschau wird bei &Auml;nderungen in der L&ouml;sung automatisch aktualisiert.</div>
                </div>
            </div>

        </form>

    </div>
}