@(user: model.User)

@scripts = {
    <style>
            #live {
                border: 1px solid black
            }
    </style>
}

@main("Web-Playground", user, scripts) {
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            @views.html.core.editor(model.web.WebConsts.STANDARD_HTML_PLAYGROUND, "html", 40, 50, updatePrev = true)
            </div>

            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-4by3" id="live">
                    <iframe class="embed-responsive-item" src="about:blank" id="exPreview"></iframe>
                </div>
            </div>
        </div>
    </div>
}
