@(results: Seq[model.web.WebResult])

@for(result <- results) {
    <div class="panel panel-@result.getBSClass">
        <div class="panel-heading" data-toggle="collapse" href="#task@result.task.task.id">
            @{
                result.task.task.id
            }.@result.task.task.text
        </div>

        <div id="task@result.task.task.id" class="panel-collapse collapse @if(!result.isSuccessful) {in}">
            <div class="panel-body">

            @result.render

            </div>
        </div>
    </div>
}