<it4all-uml-class-selection
  *ngIf="isClassSelection()"
  [exerciseFragment]="exerciseFragment"
  [exerciseContent]="contentFragment">
</it4all-uml-class-selection>

<it4all-uml-diagram-drawing
  *ngIf="isDiagramDrawing()"
  [exerciseFragment]="exerciseFragment"
  [contentFragment]="contentFragment">
</it4all-uml-diagram-drawing>

<it4all-uml-member-allocation
  *ngIf="isMemberAllocation()"
  [exerciseFragment]="exerciseFragment"
  [contentFragment]="contentFragment">
</it4all-uml-member-allocation>
