@(user: model.User, users: Seq[model.User], toolList: model.toolMains.ToolList)

@scripts = {

    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <script>
            SystemJS.import('@routes.Assets.versioned("app/users/userOverview.js")');
    </script>
}

@admin.adminMain("Nutzerübersicht", user, toolList, None, scripts) {
    <div id="reply"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rolle</th>
            </tr>
        </thead>
        <tbody>
        @for(user <- users) {
            <tr>
                <td>@user.username</td>
                <td>
                    <div class="input-group">
                        <select class="form-control" id="sel_@user.username" data-username="@user.username" data-stdrole="@user.stdRole" title="Rolle">
                        @for(role <- model.Role.values) {
                            <option @{
                                if(role == user.stdRole) "selected" else ""
                            }>@role </option>
                        }
                        </select>
                        <div class="input-group-append">
                            <button data-url="@routes.AdminController.changeRole" class="btn btn-info" disabled
                            id="btn_@user.username" data-username="@user.username">
                                <span class="octicon octicon-cloud-upload"></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}