@(user: model.User, exercise: model.rose.RoseCompleteEx, oldSolution: String, toolMainObject: model.rose.RoseToolMain)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <script>
            SystemJS.import('@routes.Assets.versioned("app/rose/roseExercise.js")');
    </script>

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                font-size: 14px;
                height: auto;
            }
    </style>
}

@main("Rose Test", Some(user), scripts) {

    @core.helperTemplates.modal("API des Roboters", "robot_api", "lg") {
        @views.html.idExercises.rose.roseAPI.render()
    }

    <div class="container" id="fullsc">

        <input type="number" hidden id="exerciseId" value="@exercise.ex.id" title="hidden">

        <div class="row">
            <div class="col-md-6">
                <h2>Aufgabenstellung</h2>

                <div class="card">
                    <div class="card-body">@exercise.ex.text</div>
                </div>

                <hr>

                <div class="form-group">
                    <div class="btn-group d-flex">
                        <button class="btn btn-info w-100" data-toggle="modal" data-target="#robot_api">
                            Roboter API</button>
                        <button class="btn btn-primary w-100" id="testBtn">Lösung testen</button>
                        <a class="btn btn-secondary w-100" href="@routes.MainExerciseController.index(toolMainObject.urlPart)">
                            Bearbeitung beenden</a>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <h2>Editor</h2>

                <textarea id="roseEditor" title="Editor">@oldSolution</textarea>
            </div>

        </div>

        <hr>

        <div id="correction"></div>

        <div id="fieldDiv" hidden>

            <div class="form-group">
                <div class="btn-group d-flex">
                    <button class="btn w-100" id="stepBackBtn" disabled>&lt;</button>
                    <button class="btn btn-primary w-100" id="playBtn" disabled>Play</button>
                    <button class="btn btn-secondary w-100" id="pauseBtn" disabled>Pause</button>
                    <button class="btn w-100" id="stepOnBtn" disabled>&gt;</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>Lernerroboter (<span id="userCurStepSpan">0</span> / <span id="userMaxStepSpan">0</span>)</h2>
                    <div id="userField"></div>
                </div>

                <div class="col-md-6 text-center">
                    <h2>Musterroboter (<span id="sampleCurStepSpan">0</span> / <span id="sampleMaxStepSpan">0</span>)</h2>
                    <div id="sampleField"></div>
                </div>
            </div>
        </div>

    </div>
}
