@(exercise: model.rose.RoseExercise)

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Schlüssel</th>
                    <th>Wert</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>@exercise.id</td>
                </tr>
                <tr>
                    <th>Titel</th>
                    <td>@exercise.title</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>@exercise.author</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>@exercise.text</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>@exercise.state</td>
                </tr>
                <tr>
                    <th>Feldbreite x -höhe</th>
                    <td>@exercise.fieldWidth x @exercise.fieldHeight</td>
                </tr>
                <tr>
                    <th>Multiplayer?</th>
                    <td>@if(exercise.isMultiplayer) {Ja} else {Nein}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">

    </div>
</div>