@(user: model.User, exercise: model.rose.RoseCompleteEx, oldSolution: String, toolMainObject: model.rose.RoseToolMain)(
        implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

    @additionalScripts = {
        <script>SystemJS.import('@routes.Assets.versioned("app/rose/roseExercise.js")');</script>
    }

    @remainigExerciseDef = {

        @core.helperTemplates.modal("API des Roboters", "robot_api", "lg") {
            @views.html.idExercises.rose.roseAPI.render()
        }

        <div class="form-group">
            <div class="btn-group d-flex">
                <button class="btn btn-outline-info w-100" data-toggle="modal" data-target="#robot_api">
                Roboter API</button>
            </div>
        </div>

    }

    @remainingPage = {
        <div class="container" id="fieldDiv" hidden>

            <div class="form-group">
                <div class="btn-group d-flex">
                    <button class="btn w-100" id="stepBackBtn" disabled>&lt;</button>
                    <button class="btn btn-primary w-100" id="playBtn" disabled>Play</button>
                    <button class="btn btn-secondary w-100" id="pauseBtn" disabled>Pause</button>
                    <button class="btn w-100" id="stepOnBtn" disabled>&gt;</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    <h2>Lernerroboter (<span id="userCurStepSpan">0</span> / <span id="userMaxStepSpan">0</span>)</h2>
                    <div id="userField"></div>
                </div>

                <div class="col-md-6 text-center">
                    <h2>Musterroboter (<span id="sampleCurStepSpan">0</span> / <span id="sampleMaxStepSpan">0</span>)</h2>
                    <div id="sampleField"></div>
                </div>
            </div>
        </div>

    }

    @idExercises.textExercise(user, Html(exercise.ex.text), exercise, model.rose.RoseExParts.RoseSingleExPart, oldSolution,
        toolMainObject, additionalScripts, Some(remainigExerciseDef), remainingPage = remainingPage)
