@(user: model.User, exercise: model.rose.RoseCompleteEx, oldSolution: String)

@scripts = {
    <script src="@routes.Assets.versioned("lib/systemjs/dist/system.js")"></script>
    <script type='text/javascript' src="@routes.Assets.versioned("systemjs.config.js")"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/codemirror/lib/codemirror.css")">

    <script>
            SystemJS.import('@routes.Assets.versioned("app/rose/roseExercise.js")');
    </script>

    <style>
            .CodeMirror {
                border: 1px solid lightgrey;
                font-size: 14px;
                height: auto;
            }
    </style>
}

@main("Rose Test", Some(user), scripts) {

    @core.helperTemplates.modal("API des Roboters", "robot_api", "lg") {
        @views.html.idExercises.rose.roseAPI.render()
    }

    <div class="container" id="fullsc">

        <input type="number" hidden id="exerciseId" value="@exercise.ex.id" title="hidden">

        <div class="row">
            <div class="col-md-6">
                <h2>Aufgabenstellung</h2>

                <div class="well">@exercise.ex.text</div>


                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#robot_api">
                            Roboter API</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="testBtn">Lösung testen</button>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <h2>Editor</h2>

                <textarea id="roseEditor" title="Editor">@oldSolution</textarea>
            </div>

        </div>

        <hr>

        <div id="correction"></div>

        <div class="row" id="fieldDiv" hidden>
            <div class="col-md-5 text-center">
                <h2>Lernerroboter (<span id="userCurStepSpan">0</span> / <span id="userMaxStepSpan">0</span>)</h2>
                <div id="userField"></div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="form-control btn-default" id="stepBackBtn" disabled>&lt;</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="form-control btn-default" id="stepOnBtn" disabled>&gt;</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" id="playBtn" disabled>Play</button>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default btn-block" id="pauseBtn" disabled>Pause</button>
                </div>
            </div>

            <div class="col-md-5 text-center">
                <h2>Musterroboter (<span id="sampleCurStepSpan">0</span> / <span id="sampleMaxStepSpan">0</span>)</h2>
                <div id="sampleField"></div>
            </div>
        </div>

    </div>
}
