<div class="container">
  <h1 class="title is-3 has-text-centered">{{part.name}}</h1>

  <div class="columns">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">

      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered" *ngFor="let variable of formula.getVariables()">{{variable.variable}}</th>
            <th class="has-text-centered">{{sampleVariable.variable}}</th>
            <th class="has-text-centered">{{learnerVariable.variable}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of formula.getAllAssignments()"
              [class.has-text-danger]="corrected && (assignment.get(learnerVariable.variable) !== assignment.get(sampleVariable.variable))"
              [class.has-text-success]="corrected && (assignment.get(learnerVariable.variable) === assignment.get(sampleVariable.variable))"
          >
            <td class="has-text-centered"
                *ngFor="let variable of formula.getVariables()">{{displayAssignmentValue(assignment, variable)}}</td>
            <td class="has-text-centered">{{displayAssignmentValue(assignment, sampleVariable)}}</td>
            <td
              class="has-text-centered">{{displayAssignmentValue(assignment, learnerVariable)}}</td>
          </tr>
        </tbody>
      </table>

      <hr>

      <div class="field has-addons">
        <div class="control">
          <label for="solution" class="button is-static">{{sampleVariable.variable}} = </label>
        </div>
        <div class="control is-expanded">
          <input type="text" class="input" id="solution" autocomplete="false" placeholder="Boolesche Formel"
                 autofocus [(ngModel)]="solution">
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-third-desktop">
          <button class="button is-link is-fullwidth" (click)="correct()">Korrektur</button>
        </div>
        <div class="column is-one-third-desktop">
          <button class="button is-primary is-fullwidth" (click)="update()">Nächste Aufgabe</button>
        </div>
        <div class="column is-one-third-desktop">
          <a class="button is-dark is-fullwidth" [routerLink]="['/randomTools', tool.id]">Bearbeiten beenden</a>
        </div>
      </div>

      <div class="buttons">
        <button class="button is-info is-fullwidth" (click)="showInstructions = !showInstructions">
          Hilfe anzeigen
        </button>
      </div>

    </div>
  </div>

  <ng-container *ngIf="showInstructions">
    <it4all-bool-create-instructions></it4all-bool-create-instructions>
  </ng-container>
</div>
