<div class="container">
  <h1 class="title is-3 has-text-centered">{{part.name}}</h1>

  <div class="columns">
    <div class="column is-half-desktop is-offset-one-quarter-desktop">

      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered" *ngFor="let variable of formula.getVariables()">{{variable.variable}}</th>
            <th class="has-text-centered">{{sampleVariable.variable}}</th>
            <th class="has-text-centered">{{learnerVariable.variable}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of assignments">
            <td class="has-text-centered"
                *ngFor="let variable of formula.getVariables()">{{displayAssignmentValue(assignment, variable)}}</td>
            <td class="has-text-centered">{{displayAssignmentValue(assignment, sampleVariable)}}</td>
            <td [class.has-background-danger]="corrected && !isCorrect(assignment)"
                [class.has-background-success]="corrected && isCorrect(assignment)"
                [class.has-text-white]="corrected" class="has-text-centered">
              {{displayAssignmentValue(assignment, learnerVariable)}}
              &nbsp;
              <span class="has-text-white" *ngIf="corrected && !isCorrect(assignment)">&#10008;</span>
              <span class="has-text-white" *ngIf="corrected && isCorrect(assignment)">&#10004;</span>
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <div class="field has-addons">
        <div class="control">
          <label for="solution" class="button is-static">{{sampleVariable.variable}} = </label>
        </div>
        <div class="control is-expanded">
          <input type="text" class="input" id="solution" autocomplete="off" placeholder="Boolesche Formel"
                 autofocus [(ngModel)]="solution">
        </div>
      </div>

      <!-- FIXME: show current solutions... -->
      <div class="notification has-text-centered" *ngIf="oldSolution">
        <code [innerHTML]="'y = ' + oldSolution.asHtmlString()"></code>
      </div>

      <div class="notification has-text-centered is-danger" *ngIf="corrected && !formulaParsed">
        &#10071; Ihre Formel konnte nicht geparst werden!
      </div>
      <div class="notification has-text-centered is-danger" *ngIf="corrected && formulaParsed && !completelyCorrect">
        &#10008; Die Formel ist nicht korrekt.
      </div>
      <div class="notification has-text-centered is-success" *ngIf="corrected && formulaParsed && completelyCorrect">
        &#10004; Die Formel ist korrekt.
      </div>

      <br>

      <it4all-random-solve-buttons (correctEmitter)="correct()" (nextEmitter)="update()" (endEmitter)="end()">
      </it4all-random-solve-buttons>

      <br>

      <div class="columns">
        <div class="column is-half-desktop">
          <button class="button is-primary is-fullwidth" (click)="showSampleSolutions = !showSampleSolutions">
            Musterlösungen anzeigen
          </button>
        </div>
        <div class="column is-half-desktop">
          <button class="button is-info is-fullwidth" (click)="showInstructions = !showInstructions">
            Hilfe anzeigen
          </button>
        </div>
      </div>

      <div class="card" *ngIf="showSampleSolutions">
        <header class="card-header">
          <p class="card-header-title is-centered">Musterlösungen</p>
        </header>
        <div class="card-content">
          <code>{{formula.asString()}}</code>
        </div>
      </div>

    </div>
  </div>

  <it4all-bool-create-instructions *ngIf="showInstructions"></it4all-bool-create-instructions>
</div>
